[2021-07-27 01:27] patelaryan7751 commented on #290
Actually my health is not good so i am not able to focus on it.

On Tue, Jul 27, 2021, 02:57 Kriti Godey ***@***.***> wrote:

[2021-07-27 05:04] dhruvkb commented on #171
I'm working on it. I should be able to wrap this up during the upcoming weekend as I didn't get much time during the last.

[2021-07-27 12:39] kgodey commented on #290
@patelaryan7751 sorry to hear that. I'll un-assign this issue for now. Please let me know when you have more time and we'll find you a new one. I hope you feel better soon.

[2021-07-27 12:40] kgodey commented on #171
Sounds good, thanks!

[2021-07-27 12:40] kgodey commented on #437
Tagging in @andyharley-cci to help.

[2021-07-27 12:51] andyharley-cci commented on #437
@eito-fis we're running `postgresql 11.12`. This appears to be the default for the version of debian. I can install a different version if required, but I think this should be correct. I'll message you directly to help with some troubleshooting.

[2021-07-27 13:13] #485 closed

[2021-07-27 13:59] #365 closed

[2021-07-27 14:17] kgodey commented on #302
I talked to @mathemancer about this issue on a call and we decided against implementing it #326 supersedes this. We don't need a column level unique constraint, we can make all constraints at the table level.

[2021-07-27 14:17] #302 closed

[2021-07-27 16:44] powellc commented on #387
Nope. Got a lot of clarity on how the type system works from Brent. Will dig into this later today. Thanks @kgodey

[2021-07-27 17:25] kgodey opened #491 "New CSV imports use autogenerated column names."
## Description

According to #459, newly imported CSVs are supposed to use the first row as headers by default. However, newly uploaded CSVs are showing autogenerated column names.

## Expected behavior

The first row of the CSV should be used as header names by default.

## To Reproduce

Upload a CSV from the Mathesar UI. Column names will be of the form `column_0`, etc.

[2021-07-27 21:28] obulat commented on #491
I would like to submit a PR for this issue.

The problem is that when receiving HTML-encoded data, Django treats any omitted Boolean fields as `False`. This means that the `DataFile` model's `header` field is set to `False`, instead of the default value of `True`. [Here is a link DRF's documentation describing this behavior of the Boolean fields](https://www.django-rest-framework.org/api-guide/fie

[2021-07-27 23:31] kgodey commented on #491
@obulat Hey Olga! Please go ahead and submit a PR, I've assigned the issue to you. I didn't know that about DRF and boolean fields, thanks for the explanation.

[2021-07-28 05:01] obulat commented on #491
Hi @kgodey 😄 I didn't know that either, it took some debugging to find out.

[2021-07-28 07:07] mathemancer commented on #470
We could start there, but we'll need to add to the functionality eventually to get as many views as possible to be updatable.  The PostgreSQL definition is pretty conservative.

We'll also want to probably check on nullable columns (for some reason, this isn't in the definition given in the PostgreSQL docs).
 Here's the link to the PostgreSQL docs that were cut-and-pasted by that infernal tutorial

[2021-07-28 08:47] mathemancer commented on #442
@kgodey
Continuing the conversation from #471 :

One problem is going to be that if the purpose for having views is to be able to put a table back together that's been normalized into its constituent atoms, this will fall outside of what PostgreSQL will be able to deal with automatically.  Note from the [docs](https://www.postgresql.org/docs/13/sql-createview.html):

This means we won't be able to

[2021-07-28 08:54] mathemancer commented on #491
Ah, I forgot to check with defaults!

[2021-07-28 09:14] pavish commented on #197
These comment from @zackkrida from https://github.com/centerofci/mathesar/pull/492#pullrequestreview-716263987 on locking other operations and showing save status, will be handled as part of this issue.

[2021-07-28 10:30] #196 closed

[2021-07-28 10:48] kgodey commented on #491
@obulat The issue is still happening even after your PR was merged (try uploading a CSV using the UI, observe that column names are `column_0`, etc. and the first row is treated as data)

[2021-07-28 11:07] kgodey opened #494 "DB and API work for adding a default value to columns"
## Problem

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) includes the ability to set a default value for columns. We need to support this on the backend.

## Proposed solution

Postgres supports assigning default values to columns. We should:
- add functions to the `db` module to get, create, update, and delete default values for columns.

[2021-07-28 11:08] obulat commented on #491
Oh no. I probably broke something while trying to fix tests, let me see what happened

[2021-07-28 11:08] kgodey opened #495 "Implement adding a new column, resizing columns"
## Problem

Users might want to add a new column to their table. Users would also want to resize the column widths.

## Proposed solution

### Adding a column
The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) has a solution for adding a new column, which we need to implement on the frontend.

### Resizing columns
The frontend has a set of disp

[2021-07-28 11:08] kgodey opened #496 "Implement deleting a column"
## Problem

Users might want to delete a new column from their table.

## Proposed solution

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) has a solution for this, which we need to implement on the frontend.

## Additional context

- Backend work: #199
- Design issue: #324
- Design discussion: #436

[2021-07-28 11:09] kgodey opened #497 "Implement renaming a column"
## Problem

Users might want to rename an existing column on their table.

## Proposed solution

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) has a solution for this, which we need to implement on the frontend.

## Additional context

- Backend work: #199
- Design issue: #324
- Design discussion: #436

[2021-07-28 11:09] kgodey opened #498 "Implement showing and changing a column's type"
## Problem

Users might want to change the data type of an existing column on their table.

## Proposed solution

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) has a solution for showing and changing column types, which we need to implement on the frontend.

Please note that we're only implementing changing the Mathesar data type in this m

[2021-07-28 11:09] kgodey opened #499 "Implement setting a column as non-nullable or unique"
## Problem

Users might want to set a column to not allow empty values or not allow duplicates.

## Proposed solution

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) has a solution for this, which we need to implement on the frontend.

Sub-tasks:

- [x] #771
- [x] #772
- [x] #770

Related but moved to a later milestone:
- #775
- #789
- #773

[2021-07-28 11:09] kgodey opened #500 "Implement setting a default value for a column"
## Problem

Users might want to set a default value for a column.

## Proposed solution

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) has a solution for this, which we need to implement on the frontend.

We should make sure to handle:
- Adding, updating, and deleting a default value.
- Validation errors for default values.

## Additional

[2021-07-28 11:21] kgodey opened #501 "Add filter to show records with duplicate values in a set of columns"
## Problem

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) adds a filter for duplicate values for a column, to assist users with resolving non-unique values when they want to set a unique constraint for a column.

## Proposed solution

We need to add a filter for this to our Record API filters.

## Additional context

- Blocked by database

[2021-07-28 14:05] #491 closed

[2021-07-28 14:22] kgodey commented on #470
@mathemancer Thanks for the link, I've updated the link in the issue description. I did look for the information in the Postgres docs but apparently not very well.

For the scope of this issue, let's use the PostgreSQL definition. I'll create a separate issue for making more views updatable. I'm not sure if it's worth doing for the MVP yet, since there will be significant complexity involved.

[2021-07-28 14:26] kgodey commented on #442
@mathemancer That makes sense. I'd like us to build out the product a little more before we decide whether we need to provide functionality to update views that don't meet the PostgreSQL definition of updatable. I'll create an issue for it but put it in "future" for now. We can reevaluate when to schedule it in a few weeks.

[2021-07-28 14:26] mathemancer commented on #437
@andyharley-cci The current version of PostgreSQL is 13.x .  This is what we were using in the docker images, and what a number of assumptions are based on.  Is it possible to use that version?

[2021-07-28 14:31] kgodey opened #504 "Backend spec for updating data in views that don't meet PostgreSQL "updatable" status"
## Problem

We'd like to offer Mathesar users the capability to update data in views that don't meet the criteria for PostgreSQL "updatable" status. For instance, if a user splits a table into smaller normalized tables, they may want to see all their data in one place and edit their data from that view.

## Proposed solution

We'll need to figure out how we could implement this and which types of

[2021-07-28 14:48] kgodey opened #505 "Decide which Postgres versions we want to support."
## Problem

We currently assume that the PostgreSQL version used with Mathesar is 13.x. This was an assumption we made during prototyping and we may want to support more versions.

## Proposed solution

Research most common versions of PostgreSQL, decide what we want to support, and make code changes if necessary.

## Additional context

- #437
- Marking as blocked since we should work on some mor

[2021-07-28 17:04] eito-fis commented on #452
Should this only copy data, or would we also like to preserve constraints? Also, what should the naming scheme look like? I'm imagining just `col_name(1)`, `col_name(2)` ... `col_name(n)`

[2021-07-28 17:08] kgodey commented on #452
Good questions!
(1) We should preserve constraints
(2) That naming scheme sounds fine

[2021-07-28 23:01] eito-fis commented on #437
I got setup on the staging server (thanks @andyharley-cci) and can confirm the issue is caused by the postgres version. [v11 has OID as a hidden attribute](https://www.postgresql.org/docs/11/catalog-pg-namespace.html), which seems to causes sqlalchemy to not pick up the column. I'm not sure what resolution would look like here - maybe I should until we decide on what versions to support?

[2021-07-28 23:03] kgodey commented on #437
For now, I think it makes sense to upgrade the version used on the staging server to 13. I'll reassign to @andyharley-cci to make that change.

[2021-07-28 23:25] eito-fis commented on #449
If we don't care about human readability, python's `uuid.uuid4` seems like it would do the job.

If we do care about readability, a decent general solution might be to just name it something like `New Table n`, where `n` starts as `len(Tables.objects.all())` and increments until we find an unused name. Another solution specific to tables generated from data files is to use the data file name, sinc

[2021-07-28 23:28] kgodey commented on #449
We do care about readability, since it shows up in UIs. I like using data file names when we have them and `Table n` when we don't (I don't think we need the `New`, since it'll show up on the UI, brevity is better).

[2021-07-28 23:28] #190 closed

[2021-07-28 23:30] kgodey commented on #295
This is still blocked until #506 is merged.

[2021-07-29 11:35] andyharley-cci commented on #437
Ahh that makes sense - thanks for investigating @eito-fis !

I'll upgrade the postgres version. Is this something I should document in the mathesar wiki around supported db versions?

[2021-07-29 15:47] mathemancer commented on #501
I think that simply finding the rows that have duplicate values should probably be its own issue in the backend.  It will be a bit complex (the best way I know of involves a window function at the DB level).

[2021-07-29 15:52] mathemancer commented on #470
Unfortunately, the PostgreSQL docs' SEO is not as strong as the tutorial site you linked.  That site seems to wash the relevant docs page out of the first page of google results pretty regularly for me.

[2021-07-29 16:00] mathemancer commented on #442
Another quick note about views:  When implementing, note that they _do_ have OIDs (and are available the same way as tables in the `pg_catalog.pg_class` system catalog table).  So, the implementer setting up the views could probably create a model similar to the `Table` model, using the same `id` -- `oid` mapping.

[2021-07-30 00:15] #437 closed

[2021-07-30 01:11] eito-fis commented on #203
Before I start on this, is anyone familiar with possible security risks posed by this kind of operation? Downloading random files off the web does make me a little nervous. Although, I guess it isn't too different from just uploading a file manually and given the self-hosted context, maybe we don't have to worry much?

[2021-07-30 03:41] mathemancer commented on #452
W.r.t. preserving constraints:  Should this include `UNIQUE` constraints involving the duplicated column?  I think we could run into some weird issues there.  For example, if there's a uniqueness constraint on the columns `A, B`, what does it mean when we copy `B` so we now have a table with `A, B, B'`?  Should this tuple be required to be unique, or should each of `A, B` and `A, B'` be unique (se

[2021-07-30 03:48] mathemancer commented on #449
@eito-fis Django doesn't guarantee uniqueness of table names from data file names.  The user could have tables that _aren't_ from data files that have a similar name (especially for common names like "data").

[2021-07-30 12:18] kgodey commented on #452
I think copying constraints means that `A, B`, and `A, B'` should be unique (separately). `B'` is a copy of `B`, `B'` should not have any other relationship to `B`.

No.

Separately, now that I think about it more, I think it would be good for the function to take an argument about copying constraints. That way, we can have an option in the UI that allows the user to copy constraints or not. I thi

[2021-07-30 12:23] kgodey commented on #203
I can't think of any security risks inherent to downloading the file from a URL, it's just a convenience so that the user doesn't have to download the file onto their computer and upload it manually.

We should treat all incoming files with the same suspicion, whether from a URL or uploaded manually. I'll create an issue to do an evaluation of security issues with uploaded files in the future.

[2021-07-30 12:26] kgodey opened #509 "Evaluate potential security issues with file uploads"
## Problem

We allow users to upload files to Mathesar (via remote URL or manually). We haven't thoroughly considered the security issues involved in this process.

## Proposed solution

We should evaluate security risks and come up with a plan for code or functionality changes if necessary.

## Additional context

- #203
- #62
- #204

[2021-07-30 14:53] kgodey commented on #501
@mathemancer It seems fairly simple according to this Stack Overflow answer: https://stackoverflow.com/questions/2594829/finding-duplicate-values-in-a-sql-table. Do you see any issues with the recommended approach?

[2021-07-30 18:55] kgodey opened #510 "Split up API and serializer code by object"
## Problem

Currently, our API code and serializer code are in one file each (`views/api.py` and `serializers.py`). These files are getting long.

## Proposed solution

We should split this up per-object (e.g. `views/api/tables.py` and `serializers/tables.py`). It'll be easier to find code and it will be consistent with how we organize our code in other places.

[2021-07-30 23:26] eito-fis commented on #452
What would not copying data look like? Set nullable to true and just copy constraints?

[2021-07-31 09:00] aaditkamat commented on #395
Hi @kgodey, can I take up this issue?

[2021-07-31 14:02] aaditkamat opened #511 "Svelte errors displayed during the preprocessing step while running the UI container"
## Description
When I start the UI container using the `docker exec -it mathesar_ui_1 bash` command, Svelte compiler throws some errors.

## Expected behavior
I expected the docker container to run without any issues

## Environment
 - Docker Desktop Version: 3.5.2.18
 - Docker CLI Version: 20.10.7, build f0df350

## Additional context
[code]

[2021-07-31 14:20] pavish commented on #511
@aaditkamat Thanks for reporting this!

[2021-07-31 14:28] #511 closed

[2021-07-31 18:08] kgodey commented on #395
@aaditkamat Yes, go ahead!

[2021-07-31 21:09] kgodey commented on #452
@eito-fis Yes, copy the data type and constraints and set nullable to true if needed. Once we have column-specific formatting/display options, those should copy over too.

[2021-08-02 09:39] mathemancer commented on #501
The problem with the queries from that post will be that you won't be able to `SELECT` all the columns (as noted in some of the comments) in the resulting table.  From the PostgreSQL [docs](https://www.postgresql.org/docs/13/sql-select.html#SQL-GROUPBY):

In the case where we want to find entire rows that are duplicates (shouldn't happen for tables with `mathesar_id`), this works.  If we want to f

[2021-08-02 12:24] kgodey opened #515 "DB function to get rows with duplicate values"
## Problem

The ["Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns) adds a filter for duplicate values for a column, to assist users with resolving non-unique values when they want to set a unique constraint for a column.

## Proposed solution

We need to add a way to get columns with duplicate values in our `db` module. Please see #501 for relevant

[2021-08-02 12:25] kgodey commented on #501
@mathemancer Thanks! I created a separate DB issue.

[2021-08-02 16:21] rootxnet commented on #244
Working on it.

[2021-08-02 23:24] eito-fis opened #517 "Uncaught 404s in record viewsets and pagination classes"
## Description
The record viewset, column viewset and paignation classes regularly call `Table.objects.get(id=table_pk)`, which throws a `mathesar.models.Table.DoesNotExist: Table matching query does not exist.` when an invalid table id is passed.

To recreate, run `client.get(f'/api/v0/tables/3000/records/')`.

## Expected behavior
We should ensure that the table exists before querying, or catch

[2021-08-03 07:39] pavish opened #518 "Schema list page interactivity"
Users should be able to create a new schema, edit schema names, and delete schemas.

As part of https://github.com/centerofci/mathesar/issues/171, the UI will be handled. This issue to track the interactivity: calls to backend, store updates, error handling

I've not detailed out this issue, because https://github.com/centerofci/mathesar/issues/171 contains the required information. This issue is

[2021-08-03 12:59] #364 closed

[2021-08-03 14:35] #171 closed

[2021-08-03 17:29] #201 closed

[2021-08-03 17:33] kgodey commented on #295
This is now unblocked. Please refer to https://wiki.mathesar.org/engineering/architecture/import-preview-api for the various APIs that will back this page.

[2021-08-03 18:55] #449 closed

[2021-08-03 20:07] #479 closed

[2021-08-04 06:54] ghislaineguerin commented on #324
Prototype and notes posted at : https://wiki.mathesar.org/en/design/specs/working-with-columns

[2021-08-04 06:54] #324 closed

[2021-08-04 10:37] #397 closed

[2021-08-04 14:01] #326 closed

[2021-08-04 15:03] pegnott commented on #495
Hello! I can help with this.

[2021-08-04 15:09] kgodey commented on #495
Thanks @pegnott! Assigned to you.

[2021-08-04 22:02] #203 closed

[2021-08-05 19:53] pavish opened #524 "Switch open tables when schema is changed"
As part of #362 and #525, a navigation menu and layout changes are to be implemented to facilitate switching between schemas.

As per our design specs, when schemas are switched, the open tables should change based on the selected schema. This issue is created inorder to track that behaviour.
* Should retain open table information and load based on selected schema
* tabs store needs to be refactor

[2021-08-05 20:55] pegnott commented on #495
I will be getting started on this tonight or tomorrow and will comment with status updates as they are pertinent. Thanks!

[2021-08-06 13:30] powellc commented on #387
Juist a quick update here. I finally got my head around the API design and basics of adding and updating things and have implemented the ability to alter a column type to Boolean. This utilizes some functions that already existsed so it was really just turning on the feature in the `PATCH` method for Tables.

The `type_suggestions` endpoint already provides a guess at the right column type if ther

[2021-08-06 16:58] ghislaineguerin commented on #234
Specs posted at https://wiki.mathesar.org/e/en/design/specs/data-types-text

[2021-08-06 16:58] #234 closed

[2021-08-06 23:44] kgodey commented on #387
Sounds good, @powellc!

[2021-08-06 23:44] kgodey commented on #495
Sounds good, @pegnott! Please let us know if you have questions along the way.

[2021-08-06 23:47] kgodey commented on #524
@pavish Please note what this is blocked by so I know when to update the status to ready.

[2021-08-07 00:25] eito-fis commented on #452
I've started writing code for this, which has brought up some additional questions:
* We can't duplicate primary key constraints, but we could get similar behavior with a unique and non-nullable constraint. Is this desirable? It feels like a primarily UX question.
* Should I go ahead and create functions to create the other, non unique constraints? Or should I only copy unique constraints right no

[2021-08-07 02:35] kgodey commented on #452
(1) I think we shouldn't try to get similar behavior by using other constraints since that's not duplicating the column. It's probably better to have a warning in the UI saying that we won't duplicate the PK constraint.

(2) No, just copy unique and not-null constraints for now.

[2021-08-08 05:24] dhruvkb opened #528 "Storybook does not resolve paths from TS config"
## Description
The TypeScript config file `tsconfig.json` defines `paths` as follows:
[code]
which allows us to import using a much cleaner syntax:
[code]

These paths are not resolved by Storybook and thus stories written for components that use such imports do not compile.

## Expected behavior
Storybook should use the same TS config and resolve paths.

## To Reproduce

0. Add the `.svelte` exte

[2021-08-09 05:01] pavish commented on #524
@kgodey This is blocked by the open PR for schema selector, https://github.com/centerofci/mathesar/pull/525. It should be ready to pick up, when the PR is merged.

[2021-08-09 11:00] pavish commented on #528
We do have paths at each level (at TS, vite and jest levels). Currently we read it only from TS config, convert to respective formats while using them at the various levels. This ensures that we have a single source of truth.

We have to follow the same approach for Storybook. However, since storybook supports reading the vite config as mentioned in the above description, just adding that would su

[2021-08-09 11:14] #377 closed

[2021-08-09 14:48] mathemancer commented on #381
@kgodey Please note that PostgreSQL treats `DECIMAL` as `NUMERIC`.  That is, when you create a column of type `DECIMAL` (even in SQL), a column of type `NUMERIC` is actually created (and reflected).  (This is similar to the behavior for `FLOAT`, which creates a column of type `DOUBLE PRECISION`).

[2021-08-09 15:22] kgodey opened #531 "Frontend work for adding multi-column unique constraints"
## Problem

Users may want to create unique constraints on tables.

## Proposed solution

We should provide a way to create unique constraints from the UI following [the "Working with Columns" design spec](https://wiki.mathesar.org/en/design/specs/working-with-columns).

This covers allowing the addition of a new unique constraint, including auto-complete for column names.

Adding other types of c

[2021-08-09 18:05] kgodey commented on #483
@mr-gabe49 How's this coming? Any questions?

[2021-08-09 18:15] mr-gabe49 commented on #483
@kgodey I'm moving a little slow since I'm only working on this in the evenings. I showed @pavish a draft and he suggested some changes. I was adding the style and properties directly and he suggested having a private property on top. I think I got that right. I'm currently trying to figure out how to remove a hovered class from list items.

[2021-08-09 18:19] kgodey commented on #483
@mr-gabe49 Sounds good, thanks for the update!

[2021-08-09 18:57] kgodey commented on #367
@mathemancer I thought about this more while implementing and I think your initial instinct was right, having a model seems like over-optimizing at this point. We can easily refactor to create a model if it becomes expedient to do so.

[2021-08-09 19:01] #312 closed

[2021-08-09 19:01] #316 closed

[2021-08-09 19:01] #362 closed

[2021-08-09 22:30] pegnott commented on #495
Here's what's done so far and where you can check it out:

- **ui/src/stores/TableData.ts:** added addColumn function
- **ui/src/sections/table-view/TableView.svelte:** added columnAdd func
- **ui/src/sections/table-view/Header.svelte:** add UI for basic column creation

**My forked branch:**
https://github.com/pegnott/mathesar/tree/add_column

**Still to do:**
- open/close state on add_column dro

[2021-08-09 22:52] kgodey commented on #495
Thanks @pegnott! Feel free to open a draft pull request whenever you'd like feedback.

[2021-08-10 08:31] andyharley-cci opened #534 "Staging deploys failing at host verification step"
## Description
Github action for the automated deploy to staging is failing:

[code]

## Expected behavior
Action should run successfully

## To Reproduce
Rerun a failing stage, e.g. https://github.com/centerofci/mathesar/runs/3288557864?check_suite_focus=true

## Environment
github

## Additional context

[2021-08-10 09:08] ghislaineguerin commented on #238
Specs posted at: https://wiki.mathesar.org/e/en/design/specs/number-data-type

[2021-08-10 09:08] #534 closed

[2021-08-10 12:03] kgodey opened #537 "Design for data types that are not "Mathesar types""
## Problem

We have several types designated as "Mathesar types" which we're providing custom behavior for. However, there may be columns of other types in the database, and we need to figure out how to work with those in the UI.

## Proposed solution

We have two categories of database types that are not handled by Mathesar:
- Known Postgres types that we have not yet chosen to handle in the MVP.

[2021-08-10 12:07] kgodey opened #538 "Create design and backend issues for Data Modeling milestone"
Milestone [Data Modeling](https://github.com/centerofci/mathesar/milestone/24) is not yet specced out. We need design and backend issues to define it.

[2021-08-10 16:42] #381 closed

[2021-08-10 16:42] #382 closed

[2021-08-10 16:42] #383 closed

[2021-08-11 11:49] kgodey opened #546 "import_verified field missing in table resource"
## Description

The Table API does not include the `import_verified` field.

## Expected behavior

The frontend needs the `import_verified` field to figure out which tables to show in preview mode and which tables to show normally.

[2021-08-11 13:34] #378 closed

[2021-08-11 15:45] #546 closed

[2021-08-11 21:39] pavish opened #548 "Change in url by browser back/forward buttons do not change current db and schema"
## Description
When the browser url changes using the back and forward buttons, the current db and schema do not change.

## Expected behavior
The current db and schema should be in two-way sync with the url.

[2021-08-12 13:24] kgodey opened #552 "Update implementation issues for Initial Data Types milestone"
Design for the [Initial Data Types](https://github.com/centerofci/mathesar/milestone/11) milestone is almost complete. We need to create or update appropriate backend and frontend issues based on the design once the designs are finalized.

[2021-08-12 23:47] eito-fis opened #555 "Column API should support creating columns without names"
## Problem
The `name` parameter for the column API shouldn't be required.

## Proposed solution
We should auto-generate a name if it was not specified.

## Additional context
Similar to #449. Please follow a similar naming scheme of `Column n`.

[2021-08-13 11:53] kgodey commented on #434
Per discussion with @mathemancer, we're not going to do a custom type for percentages. It will be a display option for other number types. Closing this issue.

[2021-08-13 11:53] #434 closed

[2021-08-13 12:42] ghislaineguerin commented on #238
Reopening issue to merge number and percentage types into a single type

[2021-08-13 14:33] #409 closed

[2021-08-13 15:17] kgodey opened #557 "Update filtering issues to cover storing filter/group information in the backend."
## Problem

We should store filter and group information in the backend so that the frontend doesn't need to know anything about types.

## Proposed solution

The currently open filtering tickets should be updated to account for this.

## Additional context

From @pavish on Matrix:

[2021-08-13 15:30] kgodey opened #558 "Set up user defined types for Postgres types that aren't reflected in SQL Alchemy"
## Problem

SQLAlchemy doesn't reflect all Postgres data types (e.g. `XML`, `POLYGON`, `POINT`, etc.), so columns of these types are not handled currently in Mathesar despite being Postgres native types.

## Proposed solution

We should write basic user defined types for these so that they're known to Mathesar.

## Additional context

This is a placeholder. More details will be added to the issue

[2021-08-15 14:59] pavish opened #559 "Duplicate tables are present with the same oid in mathesar_table"
## Description
Duplicate tables are reflected in `mathesar_table` with the same oid, when trying to import a file. This is not regular. Happens intermittently.

<img width="812" alt="Screenshot 2021-08-15 at 8 09 57 PM" src="https://user-images.githubusercontent.com/11850603/129482617-af69fe8c-3fc4-4442-a6b5-ab4c460490f0.png">

The actual database only contains one table with that oid, as expected

[2021-08-15 18:16] pavish opened #560 "Define common error structure"
## Description
Currently, there is no common error structure on the backend.

* Most requests with bad input return 500, while they should return 400.
* The current 400 errors do not follow a common structure. In some observed cases:
  * they return a JSON array of strings
  * they don't return anything
  * they return a JSON object with a property named `detail`

## Expected behaviour
* There nee

[2021-08-15 22:09] kgodey commented on #560
@pavish Any 500 errors you encounter are bugs, please create individual issues for each 500 error you encounter. Thanks!

[2021-08-16 12:25] kgodey commented on #559
The best way to fix this would be to make `oid` a `unique` field in the model.

[2021-08-16 13:47] pavish opened #562 "Tables PATCH endpoint does not update column properties"
## Description
As per the [import preview api documentation](https://wiki.mathesar.org/engineering/architecture/import-preview-api), a patch request to Tables endpoint, with different values for column properties (name, type) should update specified properties.

This is not working at the moment. The request results in a 200, but the column properties are not updated.

## Expected behavior
The spe

[2021-08-16 13:54] kgodey commented on #562
@pavish Can you post the `PATCH` request body you're sending and the response body you're receiving?

[2021-08-16 14:16] pavish opened #563 "Previews endpoint casts a column and returns 200, while column patch endpoint fails with 500"
## Description
When type is changed to a type that a column cannot be cast to, the patch endpoint results in 500, instead of 400.
The previews endpoint succeeds, when trying to cast the values for the same column. Ideally the previews endpoint should also return a 400.

When type is changed from varchar to bigint (where some values are cannot be cast to bigint):
<img width="1051" alt="Screenshot 2

[2021-08-16 14:21] pavish opened #564 "Call to columns patch endpoint with both name and type results in 500"
## Description
When trying to call the patch endpoint for a column with multiple properties (name and type), it results in a 500.

When doing both individually (name separately and then type separately), it succeeds.

Here, Patent Number is castable to BIGINT. The rows only contain bigint values.

<img width="1393" alt="Screenshot 2021-08-16 at 7 49 03 PM" src="https://user-images.githubuserconten

[2021-08-16 14:27] pavish commented on #562
@kgodey

`http://localhost:8000/api/v0/tables/79/`

Sample PATCH request:

[code]

Response:

[code]

Note: Combinations of sending both name and type, and empty objects for certain columns, have no effect. The column properties returned are original values of the columns.

[2021-08-16 14:30] pavish opened #565 "Updating import_verified in tables patch endpoint results in a 400"
## Description
When trying to perform a patch on a table, updating `import_verified`, it results in a 400.

<img width="1155" alt="Screenshot 2021-08-16 at 7 59 44 PM" src="https://user-images.githubusercontent.com/11850603/129580123-f467c984-0a34-4de7-baab-4c04637aabbf.png">

## Expected behavior
`import_verified` should be updatable.

[2021-08-16 14:37] pavish opened #566 "Patch on a table, with same name results in a 500"
## Description
When trying to patch a table, with the same name, it results in a 500.

While there may be reason to return a 400, it would be best if the request resulted in a 200. Patching any object with same values for their properties should not result in an error.

Scenario:

Table with id 79, has the name: 'patents 17'.

PATCH `/api/v0/tables/79/`
Request:
[code]

Error:

[code]

## Expected

[2021-08-16 16:50] kgodey commented on #562
We somehow missed implementing this while implementing the preview APIs, so this functionality will have to be implemented from scratch. The current DB` update_table` function only handles renaming the table.

[2021-08-16 16:57] mathemancer commented on #562
To be specific, we need to be able to:
- rename table
- rename columns
- change column types
- drop columns
in the same request.

@pavish @kgodey please confirm.

[2021-08-16 16:58] kgodey commented on #562
@mathemancer Yes, confirmed.

[2021-08-16 17:04] #565 closed

[2021-08-16 17:41] #367 closed

[2021-08-16 17:41] #368 closed

[2021-08-16 17:41] #369 closed

[2021-08-16 17:44] kgodey commented on #269
Closing this since all sub-issues are closed.

[2021-08-16 17:44] #269 closed

[2021-08-16 18:10] kgodey commented on #391
Duplicate of #494

[2021-08-16 18:10] #391 closed

[2021-08-16 18:31] eito-fis commented on #501
What should the actual interface for this look like? Is setting `get_duplicate=True` on the record list endpoint, then returning the appropriately paginated and offset duplicates alright?

[2021-08-16 18:40] kgodey commented on #501
@eito-fis I think it should be a filter like everything else, it should just be another type of filter. I think currently those are being passed in as a `filters` argument, right?

[2021-08-16 19:14] kgodey commented on #557
This is done.

[2021-08-16 19:14] #557 closed

[2021-08-16 19:17] kgodey opened #568 "Use suggested types in import preview step"
## Problem

Currently the import preview step uses `VARCHAR` for all types. We should use inferred types instead.

## Proposed solution

Get inferred types from the table's `type_suggestions` endpoint and use those as inputs to the `previews` endpoint.

## Additional context

- #561

[2021-08-16 19:18] #296 closed

[2021-08-16 19:18] #524 closed

[2021-08-16 19:18] #548 closed

[2021-08-16 19:37] asharonbaltazar commented on #498
Please assign this to me, @kgodey

[2021-08-16 20:25] eito-fis commented on #501
@kgodey Having gotten started, I'm again unsure on how to implement this. I think the core issue is that all of the currently supported filtering parameters are things that could fit inside of a `WHERE` condition, and as a result all work with our conjunctions and nesting of conditionals.

To support the duplication filter in the nested structure we could:
* Allow it to appear anywhere in the filt

[2021-08-16 20:46] kgodey commented on #501
If it's easier to do a single top level condition (which it sounds like it is), let's do that. We can refactor if needed when we are finalizing our API v1 structure.

[2021-08-16 21:28] eito-fis commented on #501
@kgodey as a separate parameter, or as part of the filters?

[2021-08-16 22:34] kgodey commented on #501
If it's the same effort to implement, let's make it part of the filters.

[2021-08-17 09:31] arvind-1 commented on #510
@kgodey Can i work on this or any other issue you would think priority

[2021-08-17 14:20] asharonbaltazar opened #570 "README commands fail on Windows machine"
## Description
README commands don't work on WSL2.

## Expected behavior
The README commands aren't difficult to follow. One command starts everything up on `localhost:8000`

## To Reproduce

1. Open a WSL terminal in the root folder of the project
2.

## Environment
 - OS: Windows 10, version 21H1
 - Other info: WSL2 is enabled on Windows

## Additional context
I suspect these errors are the culp

[2021-08-17 15:31] asharonbaltazar commented on #421
I've used a small 2kb sample file I found on the web and it failed with this error:

`Unable to tabulate data`

Here's the file I used:

[grades.csv](https://github.com/centerofci/mathesar/files/7000995/grades.csv)

[2021-08-17 15:48] kgodey commented on #510
@arvind-1 You're welcome to work on this. Please be aware that you might end up having to resolve a few merge conflicts along the way, since this refactor touches a lot of the codebase. If you're not comfortable with that, I suggest one of these instead:
- https://github.com/centerofci/mathesar/issues/313
- https://github.com/centerofci/mathesar/issues/559

[2021-08-17 15:53] kgodey commented on #570
Thanks for reporting this, @asharonbaltazar. I don't think we have anyone developing on Windows yet.

[2021-08-17 16:04] arvind-1 commented on #313
@kgodey Thanks. I will start work on this one then. I will start setting up my code.

[2021-08-17 16:06] kgodey commented on #313
Thanks @arvind-1! Please feel free to [join us on Matrix](https://wiki.mathesar.org/en/community) and ask questions either there or on the issue.

[2021-08-17 16:47] eito-fis commented on #421
The grades file seems to cause the `Unable to tabulate data` error due to a missing comma on line 10. However, after fixing that, we still get an error - it seems like having quotes in the column name also breaks things. I'll open a new issue for this.

[2021-08-17 16:53] eito-fis opened #572 "Double quotes in file headers break CSV import"
## Description
A CSV file with double quotes in its header names will cause the CSV import to break. This is because we directly insert the CSV header names into the SQL statement that creates the new, imported table.

## Expected behavior
Quotes should either be ignored or included in the column name. Regardless, the import should not fail.

## To Reproduce
Make a copy of any testing CSV, and add

[2021-08-17 17:06] #452 closed

[2021-08-17 17:16] asharonbaltazar commented on #498
I have some suggestions in regards to the implementation. Figma linked in the wiki wasn't very helpful, unfortunately. If I shouldn't be asking this here, let me know.

1. Within the column dropdown, have another dropdown listing all available valid data types. Clicking a dropdown option will close the dropdown and change the data type.
2. Allow the small indicator (i.e. **T** mathesar id) to be c

[2021-08-17 17:24] kgodey commented on #498
@asharonbaltazar could you elaborate on Figma not being helpful? it's a clickable prototype that shows you different actions you can take, and there should indeed be list of types in the column dropdown. Here are some screenshots I took from the prototype:

![▶_Column_Mathesar_MVP](https://user-images.githubusercontent.com/287034/129772448-aa123843-a3d3-4885-a83d-1d1fdb82585a.png)

![▶_Column_Math

[2021-08-17 17:27] asharonbaltazar commented on #498
Oh, sorry about that. I was referring to the Figma linked in the Working with Columns wiki page.

Thank you for this.

[2021-08-17 17:28] kgodey commented on #498
@asharonbaltazar This is the same Figma prototype linked from the page. :)

[2021-08-17 17:37] asharonbaltazar commented on #570
### New issue:

Saving frontend changes doesn't reload the application. @pavish explained why:

His temporary solution:

I can confirm this works.

[2021-08-17 20:19] pavish opened #576 "Patch request for schema with same name results in 500"
## Description
Trying to patch a schema, with the same name results in a 500.

Endpoint: PATCH `/api/v0/schemas/:id`

Name of existing schema: 'sc142'. Sending a patch request to this schema with the same name results in the following error:
[code]

## Expected behavior
Backend should check the name before executing alter query for renaming schema. This request should result in a 200, and should n

[2021-08-17 21:09] #515 closed

[2021-08-17 21:10] kgodey commented on #501
Fixed by #569. @eito-fis FYI you need to have the word "Fixes" before each issue number to auto-close issues.

[2021-08-17 21:10] #501 closed

[2021-08-17 21:11] eito-fis commented on #501
I think I had 'fixes' instead of 'Fixes' ):

[2021-08-17 21:13] kgodey commented on #501
@eito-fis You had both issues comma separated (Fixes A, B), you need to have "fixes A, fixes B".

[2021-08-18 10:13] arvind-1 commented on #313
@kgodey i am facing following error while trying run app. Could you help me on this?
[code]

[2021-08-18 11:01] kgodey commented on #313
@arvind-1 Did you run all the local development steps in the README: https://github.com/centerofci/mathesar#local-development? It looks like you may not have run the `migrate` step.

[2021-08-18 11:15] #494 closed

[2021-08-18 12:07] arvind-1 commented on #313
@kgodey I haven't run that. I tried right after  docker-compose up. Now that i followed other two steps it works alright now. Thanks.

[2021-08-18 13:07] pegnott commented on #495
Am in the final stretch, switching the initial resize implementation to an action. Will have that ready for review later today.

[2021-08-18 13:46] aaditkamat opened #577 "Error importing CSV file through the frontend"
## Description

There is an error sending the XHR request when I try to import the `patents.csv` file from the `test/data` folder through the frontend.

## Expected behavior

I expected to see the contents of the CSV file rendered as a table.

## To Reproduce

1. Click on the New table button that appears in the header of the Mathesar frontend interface
2. Click to browse file from computer
3. Imp

[2021-08-18 14:10] arvind-1 commented on #313
@kgodey I went through all the change that have made for this. To be clear here i have to delete file `mathesar/database/utils.py`
is that correct or am i doing wrong ?

[2021-08-18 14:16] kgodey commented on #313
@arvind-1 That is not correct. You have to delete all the code related to serving the `/api/v0/database_keys/` API, which includes the URL, viewset, serializer, and tests. You should also ensure that any functions called in any of those are used in other places in the code, otherwise you should delete those. You can see the API locally at `http://localhost:8000/api/v0/database_keys/`.

[2021-08-18 15:14] pavish commented on #577
@aaditkamat Could you please open developer tools -> network tab, choose the request that is fired when Next button is clicked, and show what is displayed in the response?

[2021-08-18 15:37] pavish opened #579 "New setup fails during the install step"
## Description
When starting mathesar new (without a pre-initialized db), it fails when executing:
`docker exec -it mathesar_web_1 python install.py`

Traceback:
[code]

## Expected behavior
There should be no errors during this step.

## To Reproduce
Clean up mounted volume for postgres data, and run a fresh setup.

[2021-08-18 16:07] Lucasmiguelmac commented on #500
Hello there! Please assign me this issue.

[2021-08-18 17:56] #518 closed

[2021-08-18 20:40] kgodey opened #582 "Reorganize code in `db` and set some standards for imports"
## Problem

We have a lot of interrelated code in the `db` module that imports from each other and is prone to circular import errors/

## Proposed solution

We need to reorganize the code so that import paths are tree-like and don't result in circular imports. We should clearly document how the code is organized and where new code should go so that new contributors can easily figure out where cod

[2021-08-18 20:51] kgodey opened #583 "Set up logging in the backend code"
## Problem

We currently do not use much logging in the backend code. We should set some up so that problems are easier to debug in the future.

## Proposed solution

- Create and document standard logging format
- Implement utilities to help with logging if needed.
- Update existing code with logs (perhaps not the entire code, but at least a sample file or two in both the Django and the database

[2021-08-18 22:13] #579 closed

[2021-08-19 01:12] raduab commented on #328
I'm ready to work on this issue. Haven't been able to spin up mathesar on my Linux box though. I get an error of file not found when running `docker-compose up`:

`File "/usr/lib/python3.9/site-packages/docker/transport/unixconn.py", line 43, in connect
    sock.connect(self.unix_socket)
FileNotFoundError: [Errno 2] No such file or directory`

[2021-08-19 01:40] powellc commented on #387
Moving this back to `To do` before talking with @kgodey tomorrow about PATCH verb on a `columns` endpoint. That's the only piece missing, as we already correctly infer Boolean column types.

[2021-08-19 04:58] powellc commented on #388
This seems to be functional already. Adding tests and the available filters on the type endpoint.

[2021-08-19 05:25] eito-fis commented on #388
@powellc You might've seen this already, but there are already some tests for filtering at `db/tests/records/test_filtering.py`. It lists all the operators that are implemented by `sqlalchemy-filters` which might be useful.

And if you need to update our fork of `sqlalchemy-filters`, I've been working off [this branch](https://github.com/centerofci/sqlalchemy-filters/tree/models_to_tables). If it

[2021-08-19 05:31] powellc commented on #388
That's great. I hadn't see the filter tests yet. Do you think it makes sense to still test the filtering via the API, or would these test suffice to cover that logic?  I think I'm leaning towards also adding tests to the `mathesar/tests/views//api/test_records_api.py` file, but I could be conviced not to 😄

[2021-08-19 07:52] eito-fis commented on #388
I was previously testing all the filtering on the backend and then just ensuring the API called the function with the right arguments. At the time it wasn't very principled, but I liked that the db tests ran faster than the API tests (django db gets reset between api tests) so I went with that.

[2021-08-19 09:31] kgodey commented on #388
@powellc @eito-fis I think it makes sense to add tests to the API for each data type to ensure that we support the specific filters for that data type.

[2021-08-19 09:33] kgodey commented on #328
@raduab I've assigned this to you.

That seems like an error with Docker. This issue might help: https://github.com/docker/compose/issues/7896

[2021-08-19 10:52] raduab commented on #328
Thanks, it runs now. I am ready to start working on this issue, please assign it to me.

[2021-08-19 10:52] kgodey commented on #328
@raduab already done :)

[2021-08-19 11:35] pegnott commented on #495
I have moved the resizable functionality (and because it can do all sorts of moveable things, renamed it to moveable) into common/actions following the popper example.

The pull request asks also for a tableColumn component, and that is the next step. Today (through 08/22) I am interrupted by travel, and today I'll be mostly driving. I will be able to work, but be a little slower in response times

[2021-08-19 11:36] kgodey commented on #495
@pegnott Thanks for the update! Monday evening is fine.

[2021-08-19 12:41] powellc commented on #388
Sounds good! I'll push up some API tests for filtering around booleans in a bit. Thanks!

[2021-08-19 18:22] pavish commented on #559
@kgodey Could we prioritize this? I'm facing this quite often, when importing CSVs, after which Mathesar becomes unusable. It doesn't block me (as I can just clear up the duplicate entries), but new contributors may face this and could be a blocker for them.

[2021-08-19 18:24] kgodey commented on #559
@pavish I'll get to it after #578, unless @eito-fis you want to knock it out really quickly?

[2021-08-19 18:45] kgodey commented on #562
We can't rename the table in the same `PATCH` request, but we'll be able to:

- rename columns
- change column types
- drop columns

[2021-08-19 18:52] pavish commented on #562
@kgodey In that case, I'm not sure using the table PATCH for this is a good idea. Maybe we can create a new endpoint for these column operations?

Separately, it might be better to have a specific endpoint that updates everything (columns, table name, import_verified) in one transaction. As of now, on saving we might have to send two requests (which is fine).
1. Request to update the columns.
2. R

[2021-08-19 18:59] kgodey commented on #562
@pavish The table `PATCH` will work fine since you'll only need to `PATCH` the `columns` key for all the operations to work.

Renaming the table and updating columns in the same transaction will be a hard problem to solve. The alter table statements in SQL for updating columns use the table name to identify the table, so we can't change the table name during that process.

I'll create a new issue

[2021-08-19 19:01] kgodey commented on #562
@pavish Also, I'd do the requests like so:

1. Request to update the table name
2. Request to update columns and import_verified together

[2021-08-19 19:11] pavish commented on #562
@kgodey Is there a reason for placing import_verified with the columns?
I thought it was a propery of the table, and makes more sense to send with the table name update.

[2021-08-19 19:13] linzhou-zhong commented on #572
I'll fix this bug.

[2021-08-19 19:17] kgodey commented on #562
@pavish it is a property of the table but so are the columns, they're both top level properties of the table.

I think UX-wise it would make more sense to synchronously verify the import in the same transaction as the column updates, that way if there's an error with the column updates and they don't actually save, import verified doesn't get set to True.

[2021-08-19 19:24] pavish commented on #562
@kgodey I agree. What I meant by saying that the requests will be synchronous was:

The approach I had in my mind was,
* First the columns will be updated, if it fails, the error is shown immediately.
* Only if it succeeds, we'll send a request to update the table name and import_verified.

import_verified will not be set to True if either of these requests fail.

I thought it might be better to h

[2021-08-19 21:29] linzhou-zhong commented on #572
[update]:

I tried these 3 solutions above:

1. `list(map(lambda col: col.replace('"', ""), reader.fieldnames))`

2. `list(map(lambda col: col.strip('\"'), reader.fieldnames))`

3. `list(map(lambda col: eval(col), reader.fieldnames))`

All three solutions can handle our issue **Double quotes in file headers**. But **solution 2** and **solution 3** cannot deal with the specific corner case: `'" col

[2021-08-20 10:27] #425 closed

[2021-08-20 11:00] kgodey commented on #562
@pavish That makes sense, thanks. I thought you meant simultaneous requests when you said "synchronous".

I think `PATCH` to a list view wouldn't be RESTful either. Django REST Framework only supports `GET` and `POST` requests to list views out of the box.

We're returning an error that says two specific keys in a resource cannot be updated simultaneously. Not every key in a resource can be update

[2021-08-20 11:13] #528 closed

[2021-08-20 13:14] raduab commented on #328
@kgodey Were exactly should I add the "Table Actions" button?

The design prototype differs from the current implementation:

![design_proposal](https://user-images.githubusercontent.com/64026120/130238700-ad80a2fe-bd15-465b-8913-e108ed94e314.png)

versus:

![current_implementation](https://user-images.githubusercontent.com/64026120/130238714-cc482015-cc53-47b4-8949-e21a50aea7ef.png)

[2021-08-20 13:19] kgodey commented on #328
@raduab You can add it either before or after the Filters, Sort, Group fields, thanks for checking.

The design prototype and frontend are somewhat out of sync for a couple of reasons:
- the designs are ahead of the frontend by a few features so they include things the frontend doesn't have yet (like adding records)
- we also had to make some improvised decisions while implementing the frontend be

[2021-08-20 13:29] raduab commented on #328
@kgodey Thanks for clarifying this for me!

[2021-08-20 15:50] aaditkamat commented on #577
Never mind, I'll close this. I think that I had run this from my branch 🤦🏾‍♂️

[2021-08-20 15:50] #577 closed

[2021-08-20 23:21] #559 closed

[2021-08-21 15:41] kgodey opened #592 "Refactor `db` code to work with existing connections"
## Problem

In #578, we updated some of the code in the `db` module to use existing connections so that we could perform multiple operations in a single transaction. This was done in an ad-hoc basis and isn't easy to read or extend.

## Proposed solution

We should figure out an idiomatic and clear way to pass connections and tables around between functions and refactor the code accordingly.

This

[2021-08-21 15:44] kgodey opened #593 "`PATCH` requests to the Table API should support changing the table's name and columns at the same time"
## Problem

The current implementation of the table API does not allow you to update both the `name` and `columns` at the same time. This is counterintuitive and it would be ideal if you could update both at once.

## Proposed solution

We need to figure out how to update the name first, use the updated table name in the column-related changes and roll the whole thing back if any of the operations

[2021-08-22 10:00] kgodey commented on #322
@Dhruvi16 Thanks for your work on this! I'm going to close this issue for now because as we discussed, we realized that Mathesar's design is not mature enough that we can document the full component, including intent and variations. at this time. I'll create separate issues for new tasks.

[2021-08-22 10:00] #322 closed

[2021-08-22 10:00] kgodey commented on #334
I'm going to close this issue for now because we realized that Mathesar's design is not mature enough that we can document the full component, including intent and variations. at this time.

[2021-08-22 10:00] #334 closed

[2021-08-22 10:01] kgodey commented on #330
I'm going to close this issue for now because we realized that Mathesar's design is not mature enough that we can document the full component, including intent and variations. at this time.

[2021-08-22 10:01] #330 closed

[2021-08-22 10:01] kgodey commented on #331
I'm going to close this issue for now because we realized that Mathesar's design is not mature enough that we can document the full component, including intent and variations. at this time.

[2021-08-22 10:01] #331 closed

[2021-08-22 10:02] kgodey commented on #333
I'm going to close this issue for now because we realized that Mathesar's design is not mature enough that we can document the full component, including intent and variations. at this time.

[2021-08-22 10:02] #333 closed

[2021-08-22 10:02] kgodey commented on #332
I'm going to close this issue for now because we realized that Mathesar's design is not mature enough that we can document the full component, including intent and variations. at this time.

[2021-08-22 10:02] #332 closed

[2021-08-22 19:13] asharonbaltazar opened #594 "CellHeader dropdown floats above the sidebar"
## Description
The `<CellHeader />` dropdown appears above the sidebar

## Expected behavior

The dropdown should slide underneath the menu.

## To Reproduce
Open a dropdown and scroll left.

## Environment
 - OS: Windows 10 21H1
 - Browser: Edge (Chromium)
 - Browser Version: v92

## Additional context
![image](https://user-images.githubusercontent.com/58940073/130367179-b7987556-4043-4367-bbf1-d

[2021-08-22 19:14] asharonbaltazar commented on #594
Assuming issues can be fixed in semi-related features, I can fix this in my PR (#584)

[2021-08-23 09:12] #238 closed

[2021-08-23 09:53] ghislaineguerin commented on #235
Specs for this issue can be found here: https://wiki.mathesar.org/en/design/specs/email-data-type

[2021-08-23 09:53] #235 closed

[2021-08-23 09:54] ghislaineguerin commented on #236
Specs for this issue can be found here: https://wiki.mathesar.org/en/design/specs/url-data-type

[2021-08-23 09:54] #236 closed

[2021-08-23 11:56] #562 closed

[2021-08-23 12:07] pavish commented on #594
@asharonbaltazar This issue can be taken up and fixed separately. Thanks for reporting this!

[2021-08-23 12:22] asharonbaltazar commented on #594
Can I take it then? Please assign it to me.

[2021-08-23 13:03] kgodey commented on #594
@asharonbaltazar Sure, assigned to you, thanks!

[2021-08-23 16:42] pavish commented on #559
@kgodey @eito-fis

I'm facing `Table OID is not unique` validation error, when creating a table using a data_file. This error is intermittent.

[code]

@kgodey Should we re-open this issue, or create a new one for this?

[2021-08-23 16:44] pavish commented on #559
I assume this error is related to https://github.com/centerofci/mathesar/issues/577

[2021-08-23 16:44] kgodey commented on #559
@pavish Please open a new issue, also put the request body that you're sending in there.

[2021-08-23 16:51] pavish opened #595 "Table OID is not unique validation error, when creating a table using a data_file"
## Description
When importing a file, we create a new table without explicitly specifying the name.
Endpoint: `http://localhost:8000/api/v0/tables/`
Request body:
[code]

This intermittently results in a 500, with the following error:

[code]

## To Reproduce
This error is intermittent, and occurs while uploading a new file from the frontend, and clicking the Next button.

I assume this has someth

[2021-08-23 16:56] kgodey commented on #595
I'm assuming the culprit is this line:

`table, _ = Table.objects.get_or_create(oid=db_table_oid, schema=schema, import_verified=False)`

Using `objects` re-reflects the table from the database, which will result in a race condition for creating this table. We should use `Table.current_objects` instead, which won't trigger reflection.

@pavish when this error happens, does the created table end up

[2021-08-23 17:24] pavish commented on #595
@kgodey Yes, the `import_verified` is `null`, when this happens.

[2021-08-23 17:43] kgodey commented on #538
There were issues already. I updated them to include more detail:
- #222
- #223

I don't think we need any more at this point.

[2021-08-23 17:43] #538 closed

[2021-08-23 18:52] kgodey opened #597 "Create helper functions for quoting raw SQL"
## Problem

We need to use raw SQL at various places in our code. We're currently using different methods of quoting them.
- #591 uses `psycopg2`'s `sql.SQL` and `sql.Identifier` wrappers.
- We use SQLAlchemy's `IdentifierPreparer` in some places in the `db` module (try `git grep preparer`)

## Proposed solution

We should have a standard way to wrap and use raw SQL everywhere in the code and crea

[2021-08-23 20:48] asharonbaltazar commented on #594
Would you want to dropdown to slide only underneath the menu? Or the cell indexes as well?

![image](https://user-images.githubusercontent.com/58940073/130517294-e6fbf948-d25c-4f53-a0b9-9ab50eb9b29e.png)

[2021-08-24 09:21] pavish commented on #594
@asharonbaltazar I presume for positioning the dropdown, you are passing down the target to the portal action.

In this particular case, it's okay for the dropdown to not slide under the cell indexes.

[2021-08-24 19:05] ghislaineguerin commented on #237
Specs posted on https://wiki.mathesar.org/en/design/specs/boolean-data-type

[2021-08-24 19:05] #237 closed

[2021-08-24 20:16] mr-gabe49 commented on #474
@kgodey could you assign me this issue, please?

[2021-08-24 20:19] kgodey commented on #474
@mr-gabe49 Done! Thanks :)

[2021-08-24 21:07] ghislaineguerin commented on #239
Specs posted on: https://wiki.mathesar.org/en/design/specs/money-data-type

[2021-08-24 21:07] #239 closed

[2021-08-25 13:15] kgodey opened #602 "Set up Vulture to scan for unused Python code"
## Problem

We should ensure that the codebase does not have unused code to make maintenance easier.

## Proposed solution

Set up `vulture` to run on a GitHub Action for all PRs so that we can remove dead code.

We should also do a one-time PR that removes existing dead code.

## Additional context

Here's a GitHub Action: https://github.com/marketplace/actions/python-vulture-action

[2021-08-25 13:20] kgodey opened #603 "Set up automatic code-coverage reporting for the backend"
## Problem

We should ensure that our backend code is tested thoroughly.

## Proposed solution

It seems like it would be useful to set up automatic code coverage reports.

## Additional context

We could use:
- `coverage`
- `figleaf`
- A service like Codecov

[2021-08-25 14:45] #576 closed

[2021-08-25 15:38] #572 closed

[2021-08-25 16:20] #313 closed

[2021-08-25 16:41] arvind-1 commented on #570
@kgodey @asharonbaltazar I did setup on windows machine, haven't faced any issue.

[2021-08-27 10:51] pavish opened #608 "Select component: When scrollbar is present within the dropdown, active option should always be visible"
## Description
This issue occurs when there are several options for Select menu, which leads to a scrollbar within the dropdown.
When the user presses arrow keys up or down, the active option changes accordingly, as handled in PR #541. If the active option is later in the list, and hidden by the scroll, it is not visible to the user.

**Here the option 'Patent Expiration Date' is active**

<img wi

[2021-08-28 01:59] mr-gabe49 opened #609 "UpArrow does not work in the group section dropdown when data is grouped."
## Description

- When a user groups data by more than one column, the UpArrow in the 'add new group column' button does not work initially.

## Expected behavior

- When the dropdown is open and a user clicks the upArrow the last item in the dropdown list should be focused.

## To Reproduce

- Group data by a specific column
- Click on 'add new group column' button
- Click to open dropdown
- Pres

[2021-08-30 08:48] dmos62 commented on #498
I'm trying to figure out the broad algorithm of changing a type from frontend's perspective. As I see it at the moment:

1. Given any column, present user with a choice of the same set of Mathesar types that are fully implemented at the moment (i.e. Number and Text);
2. Given a column, let the user request changing its type to one of above;
3. If user requests to change a column's type to some Mat

[2021-08-30 09:32] pavish commented on #498
@dmos62 There are multiple points here. I'll cover them individually.

### The algorithm on the frontend:
The steps you've mentioned is mostly correct. However, we also need to factor in `valid_target_types`.
Step 1 changes into:
1. Given any column, we will present the user with Mathesar types that have db type mappings, which are present in `valid_target_types`.
If the user tries to change to a

[2021-08-30 10:46] dmos62 commented on #498
@pavish you answered my queries.

### Moving type logic to backend

That brings up another concern. If the backend has all information necessary to fulfil column type conversion requests that are parametrized in Mathesar types, it might be preferable to move that logic to backend.

This could be exposed to the frontend together with what is now `valid_target_types`. You'd have `valid_target_db_typ

[2021-08-30 11:20] pavish commented on #498
@dmos62 We work incrementally, and often come up with refactors and new ideas with the entire scope of a feature, while implementing a smaller portion. Suggesting refactors and bringing in a new perspective is more than welcome :)

Regarding your points:

### Moving type logic to backend
I do not think it is essential to provide both `valid_target_db_types` and `valid_target_mathesar_types`.
* We

[2021-08-30 11:51] dmos62 commented on #498
Central issue seems to be whether or not Mathesar types are specific to the frontend. If they are, backend ideally wouldn't be aware of them (and wouldn't hold related definitions). If they aren't specific to the frontend, it would be desirable to centralize the definitions and logic on the backend. The situation I'm trying to side-step is where we have logic and definitions split between front an

[2021-08-30 12:17] pavish commented on #498
@dmos62 The logic and definitions are supposed to be only on the backend, as mentioned earlier.

The only logic portion on the frontend is mapping between the db types -> backend types (bi-directional). This information is also fetched from the backend, nothing is hardcoded on the frontend.

I do not see the logic and definition overlap you're mentioning.

[2021-08-30 12:21] pavish commented on #498
As per your point, fetching this data avoids the overlap.

[code]

But, `valid_target_types` are currently fetched from the backend in the columns endpoint, and the mapping between mathesar_types and db_types are fetched from the `types` endpoint. We use them both to determine what to show.

I do not see any co-depended information split between the frontend and backend here.

[2021-08-30 12:52] kgodey commented on #498
I just caught up on this conversation, the idea of adding a `default_target_type` parameter to the `types` endpoint makes sense to me. @dmos62 if you want to do that as part of this work, go ahead.

Mathesar types are a convenience that the API provides, they can be used by other clients as well and are not limited to the frontend. However, we do not want clients to _have_ to use Mathesar types, t

[2021-08-30 13:11] dmos62 commented on #498
@pavish If all the information needed for constructing the bi-directional mapping between Mathesar and DB types (which includes the default target DB type) is put in the backend, the overlap between front and back ends is that the backend holds the Mathesar type definitions (information necessary for converting to and from it) and the frontend holds the (sole) logic for using those definitions.

H

[2021-08-30 13:32] kgodey commented on #498
@dmos62 There are a couple of reasons to have Mathesar type-related things in the backend:
(1) It allows users to extend the Mathesar types concept to add new types or rearrange the existing mapping of types in the future without having to re-write frontend code.
(2) It allows developers to build alternate Mathesar clients (e.g. a mobile application) and use the same type mappings that they would

[2021-08-30 13:40] pavish commented on #498
@dmos62 All the information needed for the bi-directional mapping, is already in the backend.
The types endpoint gives it as mathesar_type -> db type. Constructing the db type -> mathesar_type can be done using the same data. It's just the reverse.

We don't have to hardcode anything on the frontend.

The only information we need to hardcode is the `default_target_type`. This is temporary, as alre

[2021-08-30 13:49] dmos62 commented on #498
@kgodey's last comment covers my concerns.

@pavish the hardcoding I suggested in the last comment is moving everything Mathesar type related out of the backend and into the frontend. The rationale was that both the information required for conversions and the conversion logic would be in the same place.

I'll see if I can salvage @asharonbaltazar's draft PR.

[2021-08-30 15:20] kgodey commented on #498
Thanks @dmos62. FYI (in case it wasn't clear), implementing the type conversion logic to types other than the `default_target_type` is out of scope for this issue, we'll do that in future issues (e.g. #258). We're waiting to finalize the design work on database options before opening those up for work.

[2021-08-30 15:33] pavish commented on #498
@dmos62 I hope you're referring to the [latest UX](https://www.figma.com/proto/Uaf1ntcldzK2U41Jhw6vS2/Mathesar-MVP?node-id=4270%3A39549&scaling=min-zoom&page-id=4260%3A37440&starting-point-node-id=4270%3A39549&show-proto-sidebar=1).

We missed to update the issue description with it. If you could please take a look at the above link,
1. The scope of this issue is to only implement the 'Set column

[2021-08-30 16:15] dmos62 commented on #498
I did miss the latest design. Thanks for catching me up. I think this covers everything :+1:

[2021-08-30 19:28] #563 closed

[2021-08-30 19:28] #564 closed

[2021-08-30 20:45] #295 closed

[2021-08-30 20:45] #568 closed

[2021-08-31 09:15] ghislaineguerin commented on #241
Specs posted on https://wiki.mathesar.org/en/design/specs/data-type-duration

[2021-08-31 09:15] #241 closed

[2021-08-31 09:16] ghislaineguerin commented on #240
Specs posted on https://wiki.mathesar.org/en/design/specs/date-time-data-type

[2021-08-31 09:16] #240 closed

[2021-08-31 11:40] #358 closed

[2021-08-31 11:50] kgodey commented on #517
@linzhou-zhong Let us know if you need any help with this issue or if you have questions.

[2021-08-31 12:57] kgodey commented on #247
Since this is a meta-issue, I'm unassigning and moving back to the backlog.

[2021-08-31 14:13] #474 closed

[2021-08-31 19:21] #609 closed

[2021-08-31 20:52] linzhou-zhong commented on #517
@kgodey Yes, sorry for the late reply. I'm working on it and I'll let you know if I need some help. Appreciate !

[2021-08-31 22:53] linzhou-zhong commented on #270
@kgodey Can I try this one ?

[2021-09-01 08:55] kgodey commented on #270
@linzhou-zhong Sure! Assigned to you. I also updated the issue description with more details.

[2021-09-01 09:33] pavish opened #619 "Enable TypeScript strict mode"
## Description
[strictNullChecks](https://www.typescriptlang.org/tsconfig#strictNullChecks) are currently not enabled, as they tend to increase boilerplate condition checks. It may lead to the code getting more verbose and being forced to check `null` and `undefined`, when we know for certain those values will not occur in certain scenarios.

However, considering that our contributors would be wor

[2021-09-01 09:53] mathemancer commented on #417
@kgodey I'm going back-and-forth on whether to restrict the currencies allowed by the `MATHESAR_TYPES.MONEY` type.  If we restrict, we won't support fantasy currencies, and many historical currencies (e.g., a number of pre-Euro European currencies) would probably not be supported.  On the other hand,  if we _don't_ restrict, trying to infer whether a column is a 'money' column will probably be a b

[2021-09-01 10:01] mathemancer commented on #417
Regarding precision:

We can't set the precision of the numeric portion of a composite type on a column-by-column basis.  Thus, in order  to support storing in different precision levels depending on the currency, we'd need to have a different type for (at a minimum) each group of currencies with a given precision.  I did a (small) bit of reading, and it seems that the standard for financial calcu

[2021-09-01 10:23] kgodey commented on #417
We should not restrict currencies, but we should ship Mathesar with a curated list of currencies that people can use. It's okay if we can only infer money within our curated list of currencies.

I'm not sure what this means in practical terms, but it sounds fine to me.

That sounds fine to me.

[2021-09-01 13:04] mathemancer commented on #417
In that case, I think it would make sense to use an actual table in the `MATHESAR_TYPES` schema.  That way, we can also store other info about the currencies (symbol, "friendly name", etc.), and try to use it for inference.

[2021-09-01 14:30] powellc commented on #387
@kgodey may I close this with your work work on the `columns` endpoint done?  The inference of Boolean types works as expected and with the updating of column types from your work we should be good here.

[2021-09-01 14:51] kgodey commented on #417
@mathemancer I think we should use something like https://github.com/kalaspuff/stockholm to source currency data so that we don't have to manage it ourselves. I assume having it in Python won't allow us to use it in inference, so that's why we'd need to create a table? Will it involve any more user permissions that we otherwise needed?

[2021-09-01 14:53] kgodey commented on #387
@powellc I think it would be good to add some `BOOLEAN` specific tests for both inference and column alteration at the API layer. I think our tests are currently only at the `db` layer.

[2021-09-01 15:27] mr-gabe49 commented on #608
I would like to take this issue :)

[2021-09-01 15:30] kgodey commented on #608
Thanks @mr-gabe49! Assigned.

[2021-09-01 19:13] powellc commented on #387
@kgodey sounds good! I'll work on that this evening.

[2021-09-01 21:39] linzhou-zhong commented on #270
![截屏2021-09-01 下午11 37 26](https://user-images.githubusercontent.com/15726680/131748658-2c7270f2-c6e2-4284-aeac-97a1d7d56006.png)

@kgodey If one ticket is labeled as `status: ready` and `type: meta`, it should be kept in `Ready` column or `Meta issues` column ?

[2021-09-01 22:47] mathemancer commented on #417
Yes, that's correct.  The testing of a type for a given value is done completely on the DB.  Python just manages the looping and whatnot.

The user needs access to `SELECT` on tables in the `MATHESAR_TYPES` schema, which is new.  We can easily grant that access to all users, since Mathesar "owns" that schema.  OTOH, there may be a reason at some point in the future we'd want to deny that for some

[2021-09-01 23:00] kgodey commented on #417
@mathemancer That works for now, please document the permission in #130 for future reference.

[2021-09-02 10:25] kgodey opened #623 "Handle validation, errors, and business logic in the API consistently"
## Problem

Currently, we have validation, error handling, and business logic spread across the `db` module, models, viewsets, and serializers to make the API work. This is confusing to work with.

## Proposed solution

- Organize the code with a clear separation of concerns.
- Document how the code is organized for reference.

## Additional context

Related to:
- #582
- #560
- #823

[2021-09-03 09:40] #510 closed

[2021-09-03 12:01] dmos62 commented on #498
@pavish I'm trying to get the database ID. Is the intended way to do that to take the database name, as derived from the URL in `App.svelte` or as provided by `utils/preloadedData.ts`, and check it against the list of database objects, as provided by `utils/preloadedData.ts` or `GET /api/v0/databases`?

[2021-09-03 12:18] pavish commented on #498
@dmos62 It can be obtained from the `databases` store from `/stores/databases.ts`. It contains all the databases that are preloaded, and if it is fetched manually, the store gets automatically updated.

You could create a new method in the file, `getByName`, which finds and returns the database from `databases.data` array.

[2021-09-04 01:10] mr-gabe49 commented on #570
@asharonbaltazar Thanks for this information. I'm new to Docker, I've located the `docker-compose.yml`  file and I don't recognize the ui service. I've played around with deleting some sections with no success. Which specific lines do I need to remove?

[2021-09-04 12:09] kgodey commented on #570
@mr-gabe49 The Docker setup changed in #476 and these instructions are no longer valid. What's the error you're running into?

[2021-09-04 13:04] mr-gabe49 commented on #570
@kgodey Saving changes in the front-end does not reload the application. When making changes I currently have to stop and start container again. This is taking a lot of time. I'm on Windows with WSL. I just downloaded Node and npm locally.

I also tried the instruction for running the front-end locally in the README.md Manual section but did not have any success.

[2021-09-05 17:01] eito-fis opened #626 "Permissions Issues Within Docker Containers"
## Description
Weird permissions errors are cropping up within containers. The UI fails to startup entirely, and the most of the API level tests are broken. Some relevant snippets

Pre-install:
[code]

Vite build:
[code]

Running API tests:
[code]

Also worth noting that I've already followed the [post install instructions](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as

[2021-09-05 18:44] pavish commented on #626
@eito-fis Could you please try this branch: https://github.com/centerofci/mathesar/tree/docker_container_root_user

I assume most such issues are occurring due to poor support in docker for non-root users to use bound volumes. This branch runs both our backend and frontend as root user, within the container.

Please let us know if this works.

[2021-09-05 18:46] pavish commented on #570
@mr-gabe49 Could you please try this branch: https://github.com/centerofci/mathesar/tree/docker_container_root_user?

This could be related to https://github.com/centerofci/mathesar/issues/626#issuecomment-913205028.

[2021-09-05 19:42] eito-fis commented on #626
The new branch works, both containers are running with no issues and all tests pass now.

[2021-09-06 02:17] mr-gabe49 commented on #570
No it didn't help with this issue.

[2021-09-06 04:35] pavish commented on #570
This seems to be an issue with WSL, as mentioned here: https://github.com/microsoft/WSL/issues/4739

There are a few different workarounds that can be done:
1. As mentioned in this comment https://github.com/microsoft/WSL/issues/4739#issuecomment-571688826, you can move the project to the linux filesystem, and work from there.
   - Instead of cloning the repo in windows and then running in WSL, yo

[2021-09-06 12:03] #270 closed

[2021-09-06 16:37] mr-gabe49 commented on #570
Thanks @Pavish! This is amazing, it updates instantaneously! I followed the first recommendation  . This is what I did for future contributors:

1. Installed VS code
2. Opened Linux filesystem by clicking 'ctrl-shift-p' and typing Remote-WSL: New Window
3. Cloned project
4. Updated Ubuntu to 2.0 with this command in PowerShell:  `wsl.exe --set-version Ubuntu 2`
5. Downloaded Remote-Containers exte

[2021-09-06 17:11] kgodey commented on #392
The spec I'm proposing for storing display options is pretty simple:
- Create a `Column` Django model with a `display_options` JSON field to store display options.
  - Update `/api/v0/columns/` to use the Django model.
  - Implement automatic DB reflection of columns.
- Set up allowed display options for each Mathesar type somewhere in the code and validate them when creating a column.
- While ref

[2021-09-06 17:13] kgodey commented on #392
@mathemancer I'm going to move this to "Needs discussion", let me know what you think. If that approach looks good, I'll create/update tickets for implementation.

[2021-09-06 18:07] #626 closed

[2021-09-06 21:29] #517 closed

[2021-09-07 03:56] #444 closed

[2021-09-07 10:03] pavish commented on #608
As mentioned in the comment: https://github.com/centerofci/mathesar/pull/621#issuecomment-914168654, we need to define the proper UX for scroll behaviour.

[2021-09-07 11:19] kgodey commented on #608
@pavish I watched the video, I agree with you that the behavior in the Ant Design dropdown is more intuitive.

[2021-09-07 12:58] seancolsen opened #631 "Ensure the Tables list is sorted after adding a new empty table"
## Description

The list of tables on the left should be sorted alphabetically, even after adding a new empty table.

## To reproduce

1. Begin with a list of tables such as `Table 0` and `Table 1`.
1. Choose "New table", then "Empty table".
1. Expect the "Tables" list to read `Table 0`, `Table 1`, `Table 2`.
1. Observe it to be `Table 0`, `Table 2`, `Table 1`.
1. Refreshing the page will reload t

[2021-09-07 13:00] seancolsen commented on #631
From @pavish [here](https://github.com/centerofci/mathesar/pull/617#issuecomment-913970143):

[2021-09-07 13:57] kgodey commented on #631
I don't think we have sorting parameters for the table on the backend yet, we'll need a separate issue for that.

[2021-09-07 14:10] dmos62 opened #632 "Preserve table scroll across live table updates"
## Problem
At the moment, while browsing a table in the UI, when a table update is performed (for example a column type is changed or a sort is added) the scroll state of the table view is reset to top left. In terms of UX that might not be desirable or expected.

After some table updates the vertical scroll might lose meaning (for example after changing row sort) and therefore it could be argued

[2021-09-07 14:17] pavish commented on #632
@dmos62 Thanks for reporting the issue!
1. I do not think persisting vertical scroll makes sense for table updates. We can persist it while moving to a different tab and getting back. For filters/sort etc., the whole table data changes, so it is essential to reset vertical scroll.
2. I agree that we can persist horizontal scroll. Resetting it does not make sense.

[2021-09-07 14:28] dmos62 commented on #632
@pavish might make sense to persist vertical scroll selectively. For example when changing the type of a column, but not when chaning sorts, filters or groups.

[2021-09-07 15:13] mr-gabe49 commented on #448
I would like to take this issue!

[2021-09-07 17:57] pavish commented on #632
@dmos62 That's a good point. We can preserve vertical scroll if table/column definitions change, but not when only the records change.

[2021-09-07 20:01] kgodey commented on #448
Thanks @mr-gabe49! Let us know if you have any questions about the API or design associated with the issue.

[2021-09-07 20:05] kgodey opened #635 "Table, Database, & Schema APIs should support sorting by ID & name"
## Problem

The table, database, and schema APIs don't currently support sorting results.

## Proposed solution

All three APIs should support sorting by ID and name.

## Additional context

We can use `django-filter` / `django-property-filter` for this.

[2021-09-07 20:06] kgodey commented on #631
I created #635, marking this issue as blocked until that's complete.

[2021-09-07 20:15] kgodey opened #636 "Design for loading, error, and retry states"
## Problem

We need consistent loading indicators, error messages, and retry buttons/messaging throughout the product.

## Proposed solution

We need a design to handle all of these for:
1. Left pane
2. Databases and schema
3. New empty table creation
4. While table initially loads (columns + records)
5. While fetching table records (including when filter is applied, pagination is done)
6. Deletin

[2021-09-07 20:17] kgodey opened #637 "Implement design for loading, error, and retry states"
Placeholder, will be filled out once #636 is defined.

[2021-09-07 20:30] kgodey opened #638 "Review existing UI and create tickets for changes needed"
## Problem

The UI we've implemented has deviated from the Figma prototypes for various reasons, including anticipating future features and improvising designs where the prototypes did not define needed states.

The UI and prototypes need to get back in sync.

## Proposed solution

Once the staging server is up, please review all existing features and identify issues. Please make GitHub issues for

[2021-09-07 20:37] kgodey opened #639 "Set up integration testing environment"
## Problem
We need to setup an integration test environment for Mathesar, to test all user action scenarios.

## Proposed solution
Based on the discussions we've had previously (#89), the most suitable choice for us is [Playwright](https://playwright.dev/).

Integ tests require a complete mathesar setup, including a database. We should be able to test `user action -> api calls -> changes in db`.

[2021-09-07 20:40] kgodey opened #640 "Write integration tests for some important user scenarios"
## Problem

We need integration tests written for each user scenario so far so that we don't break things as we develop new features.

## Tests to add

- [ ] Add new empty table
- [ ] Import via clipboard
- [ ] Import via file
- [ ] Add schema
- [ ] Add column
- [ ] Add row
- [ ] Sort table by column
- [ ] Edit existing record
- [ ] Open tab
- [ ] Close tab
- [ ] Delete two records
- [ ] Increment

[2021-09-07 20:42] kgodey opened #641 "Unit tests for stores"
## Problem

We need unit tests for our stores.

## Proposed solution

_Placeholder, @pavish will add a task list with multiple issues here._

[2021-09-07 20:43] kgodey opened #642 "Unit tests for all reusable components"
## Problem

We need unit tests for our reusable components.

## Proposed solution

_Placeholder, @pavish will add a task list with multiple issues here._

[2021-09-07 20:45] kgodey opened #643 "Move filter pane to dropdown"
## Problem

Currently Mathesar's filter/sort/group options are in a left panel. The new design specs move this to a dropdown.

## Proposed solution

We need to implement the new specs.

_@pavish will add details._

## Additional context

_@pavish will add details._

[2021-09-08 17:29] mr-gabe49 opened #646 "Cancel import does not eliminate table under the left pane"
## Description

When an user is importing data, on ' Add Table Step 2 of 2' titled Confirm your data, the cancel button works as expected. However, if the user would then add an empty table, the previous cancelled imported data would show up as a table under the  left pane. In this state, the  cancel button does not work.

## Expected behavior

- One would expect the cancel button to eliminate the

[2021-09-08 19:07] mathemancer opened #648 "Translate `server_default` values"
## Problem

For SQLAlchemy columns, `server_default` can only be a string (or a default clause).  This implies needing to know the actual DB representation of values for columns where we want to set a `server_default` value.  In particular, this is a problem for custom (or any) types where the python representation of values for that type is different from the DB representation.

## Proposed solut

[2021-09-09 14:31] pavish opened #651 "Refactor frontend stores for table-data"
## Purpose of this refactor:
1. Our tableData store handles colums, records and meta information needed for parameters and display purposes. It also includes the type definitions for all of them. This makes it cluttered, and there is an overlap of different concerns.
A better approach would be to split it into separate stores, and have a parent store which maintains the rest.
2. Currently, logic o

[2021-09-09 15:25] pavish commented on #651
@dmos62 Thanks. Your comments make a lot of sense.

This is a cleaner structure, and I did consider it while starting on the stores. But that would have been premature optimization. These were my reasons:

The major issue with making modules thin on the frontend is that it eventually leads to a larger build size. The approach module bundlers use to bundle frontend code results in a set of boilerpl

[2021-09-09 15:46] mathemancer commented on #417
Continuing a conversation from #647

I'd prefer to just use the ISO standard, which is available in XML format from [the standards body](https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=current-historical-lists).  According to ISO, the standards are [free-to-use](https://www.iso.org/iso-4217-currency-codes.html).  I've already written a script that

[2021-09-09 17:43] mathemancer commented on #392
I think this makes sense.  As long as it's only display options in the models (and those should be easy for the user to redo if necessary), I think it's okay that we can't guarantee we won't lose them if the table is significantly changed by another client.

I still think it would be wise to avoid giving an "id" that's used by the API for each client.  The reason is that this will actually _create

[2021-09-09 17:55] mathemancer commented on #417
After some discussion, I've updated the main description to reflect the intended implementation.

[2021-09-09 18:07] kgodey commented on #392
@mathemancer Could you elaborate on the issues you see with this?

[2021-09-09 18:10] kgodey commented on #417
As @mathemancer mentioned, we talked on a call and decided to update the issue description. The confusion was that the implementation detail of each column having only a single currency (as decided in #118) was lost and we ended up with a type that could support a different currency for each record.

We also decided that since we have the "mixed" money type already implemented, we will leave it as

[2021-09-09 21:46] mr-gabe49 commented on #496
Hey @kgodey, I have two questions regarding this issue:
1. What type of warning should a user receive when deleting a column? I didn't see one in the Figma prototype.  A modal similar to the one a user gets when deleting a table?
2. Will users be able to delete the mathesar id column?

[2021-09-10 07:07] #608 closed

[2021-09-10 13:22] mathemancer commented on #392
Unfortunately, a column isn't a stable entity of its own in the DB, as we've discussed before.  There's no way to detect whether (for example) a column was deleted or renamed by reflecting the DB.  If we give an `id` number to the column with (for example) a given name / index combo, we'll be implying a stability and identity that doesn't actually exist.  An example of where this could create seri

[2021-09-10 15:16] kgodey commented on #392
@pavish I remember you had an argument for why columns should have IDs, but I can't remember what it was. Can you review @mathemancer's comments and let me know what you think? If you still think columns should have IDs, please explain your reasoning.

@mathemancer I'll review @pavish's reasoning before responding.

[2021-09-10 15:55] kgodey commented on #496
@mr-gabe49

1. Yes, similar to the one gets for deleting a table. We don't have a way of figuring out column dependencies yet, but a column can have dependencies (e.g. it may be used in a view, or linked via foreign key).
2. Yes, see #439 for more information. We don't have a design for this yet, though, I'll defer to @pavish on the best thing to do as a stop-gap.

Should I assign this issue to yo

[2021-09-10 16:07] mr-gabe49 commented on #496
Thanks! Yes please, I'll take it.

[2021-09-10 17:21] pavish commented on #392
@kgodey @mathemancer

The client cannot make use of index to perform any reliable user action on columns. Here's a scenario on top of my head. There may be more serious effects. I can put more thought into this.

Let's assume that we have two clients that work on the same table:

* Client A deletes a column, causing a shift in index
* Client B tries to update any other column, after the deleted co

[2021-09-10 17:30] kgodey commented on #392
The issue with having a name as an identifier is that names need to be properly quoted if they have double quotes or things like that.

I think it would be best to modify my spec above to have an `id` that's based on the name and index. If either changes, we destroy the Column object and create a new one with a new `id` (we never update Column objects). We can copy display options over to the new

[2021-09-10 17:38] pavish commented on #392
This does pose one concern with optimization. If a column gets deleted, the index of all the columns after it will change. This will result in destroying all those Column objects and recreating them.

Autogenerating an id based on only the column name could be more advantageous.

One can argue that we may have race conditions if we only use the name to generate id, eg., if the user switches the na

[2021-09-10 17:53] kgodey commented on #392
I think @mathemancer's concern about a false sense of stability would apply if we just used the name; a column with a different index but the same name just isn't the same column in the DB and shouldn't have the same `id`.

If we run into optimization concerns down the line, we can update the implementation, but it seems like premature optimization to focus on it now in lieu of representing the DB

[2021-09-10 18:03] pavish commented on #392
@kgodey Makes sense.

[2021-09-12 20:33] mr-gabe49 commented on #651
I'm so sorry, I don't know what I did. I was playing around.

[2021-09-13 09:19] mathemancer commented on #392
I can get behind this.

After thinking about @pavish 's comment a bit, I think he has some good points about referring to columns by name, not index.  Perhaps I was trying too hard to have a number to pass back and forth without generating one.
 To put a point on it, for modifying or deleting a _column_ in actual SQL, you need to know the column's name, but not its index (in fact there's no syntax

[2021-09-13 11:04] kgodey commented on #392
I'll go ahead with the implementation I suggested. Thanks!

[2021-09-13 11:05] kgodey commented on #651
@mr-gabe49 No worries.

[2021-09-13 14:09] kgodey opened #655 "Update design for money data type options"
## Problem

During implementation of the money type, we realized that decimal precision should be a display option for money, not a database option.

## Proposed solution

The data type options for money should be updated to have decimal precision as a display setting, not a database setting.

## Additional context

- #417

[2021-09-13 14:23] kgodey opened #656 "Support per-record currency types"
## Problem

Due to a misunderstanding in requirements, we accidentally ended up implementing a custom money type that can have a different currency in each record. Since we already have the backend for this, we might as well use it.

## Proposed solution

We need a design for using the multi-currency money type. It's similar to the existing money type with the following changes:
- Users should be

[2021-09-13 14:24] kgodey opened #657 "Frontend for multi-currency money type"
Placeholder for implementation of #656. Details TBD.

[2021-09-13 14:25] kgodey commented on #417
I've made the following issues to track work coming out of this issue:
- #655
- #656
- #657

[2021-09-13 14:37] kgodey opened #658 "Set up `Column` Django model with support for display options"
## Problem

Some of our data types have display options. We need to store these display options associated with columns of those data types.

## Proposed solution

(1) Create a `Column` Django model with a `display_options` JSON field to store display options.
  - Update `/api/v0/columns/` to use the Django model, including using the auto-generated `id` for the ID.
  - Implement automatic DB refle

[2021-09-13 14:39] kgodey commented on #392
The following issues will be updated to implement this issue:
- #658
- #390
- #433
- #386
- #428

I'll also create more for any other types with display options.

[2021-09-13 14:39] #392 closed

[2021-09-13 14:51] ghislaineguerin commented on #655
@kgodey I have updated the prototype and added a note to the global data types document https://wiki.mathesar.org/en/design/specs/eding-view-records

[2021-09-13 15:40] kgodey commented on #655
@ghislaineguerin I don't see a display tab here: https://www.figma.com/proto/Uaf1ntcldzK2U41Jhw6vS2/Mathesar-MVP?page-id=4260%3A37440&node-id=4270%3A40881&viewport=324%2C48%2C0.29&scaling=contain&starting-point-node-id=4270%3A40881&show-proto-sidebar=1, only a database tab.

[2021-09-13 21:20] kgodey opened #659 "Frontend implementation for non-Mathesar data types"
## Requirements

Users should be able to:
- view data in columns that have data types that aren't mapped to Mathesar types
- be blocked from changing data type to and from non-Mathesar types
- ~~view, set, and change data type options related to non-Mathesar data types~~ (Removed after [clarification](https://github.com/centerofci/mathesar/issues/659#issuecomment-1111383608))
- edit data in column

[2021-09-13 21:26] kgodey opened #660 "Create implementation issues for Working with Views milestone"
Once the design specs for the "Working with Views" milestone are complete, we will need to create (or update existing) frontend and backend implementation issues to track the work.

Related issues:
- #442
- #263

Marking as blocked until design work is complete:
- #243
- #443
- #466
- #454
- #455
- #456

[2021-09-13 21:30] kgodey commented on #384
@powellc FYI I updated the issue description with more details.

[2021-09-13 21:31] kgodey commented on #552
I think this is done.

[2021-09-13 21:31] #552 closed

[2021-09-14 05:57] pavish opened #661 "Store icon, labels, and input options for types on the backend"
## Requirements
The frontend should be able to dynamically construct the view for displaying type options. The information related to this should be stored and obtained from the backend.

The backend should provide a JSON representation of the display properties essential to construct the dom and make requests on the frontend. It should cover:
   * Icon information (Links or base64 encoded icons.

[2021-09-14 09:47] kgodey commented on #661
Marking as draft until the spec for how to represent things is fleshed out.

[2021-09-14 17:22] pavish commented on #651
This issue has the following tasks:
- [x] Update svelte and vite to latest versions
- [x] Handle segregation needed for views
- [x] Create dedicated stores for columns, records, meta, display
- [x] Handle records re-request directly in store bypassing component layer
- [x] Handle column position recalc directly in store bypassing component layer
- [x] Handle record deletion directly from store
- [

[2021-09-14 18:59] mr-gabe49 opened #663 "IndexError when deleting a column"
## Description

An indexError occurs when deleting a column through the API. Most of the time the error occurs when deleting the first or second column of a table. Deleting the last columns in a table does not seem to produce this error.

## Expected behavior

- A column should be deleted

## To Reproduce

1. Delete the first  or second column of a table via API. Example: api/v0/tables/1/columns/1

[2021-09-14 20:50] kgodey commented on #663
@mr-gabe49 Can you post the full traceback? In the error message page that you posted, next to the "Traceback" header, there's a link that says "Switch to copy and paste view". If you click that, it should give you the full traceback in an easy-to-copy format.

[2021-09-14 20:57] mr-gabe49 commented on #663
@kgodey
[code]

[2021-09-14 21:01] kgodey commented on #663
Thanks!

[2021-09-14 21:17] mr-gabe49 commented on #663
@kgode Were you able to replicate the error? I wasn't sure if it was local to my environment or not.

[2021-09-15 17:55] mr-gabe49 opened #668 "Deleting all columns in a table results in a NoSuchTableError"
## Description

- Deleting all columns in a table results in a NoSuchTableError

## Expected behavior

- There are two possible scenarios I can think of:
     1.  The table is deleted entirely
     2. The table remains empty

## To Reproduce

- Delete all columns from a table through the API

## Environment
 - OS: (_eg._ macOS 10.14.6; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Browser Vers

[2021-09-17 09:30] ghislaineguerin commented on #655
The prototype is fixed now.

[2021-09-17 09:30] #655 closed

[2021-09-17 13:55] dmos62 opened #670 "Stores are unexpectedly invalidated when subscriber count drops to 0 and goes up to 1"
This is a low urgency problem. More like something to digest concerning frontend reactivity.

In [this PR](https://github.com/centerofci/mathesar/pull/627#issuecomment-917023226) we ran into a bug where a derived store was calling its update/invalidation callback even though the stores derived by that store had not updated. It turns out that this is intended behaviour when the number of subscriber

[2021-09-17 15:32] pavish commented on #670
@dmos62 The workaround we are looking at, to have a dummy subscription requires more thought. This would always keep the stores active, which inturn may result in a memory leak.

In our case, the table-data related stores are created dynamically. It is essential that each instance of the dynamic stores get garbage collected when they are no longer required. If we create a dummy subscription, it wi

[2021-09-17 16:20] dmos62 commented on #670
@dmos62 I propose to only apply dummy subscriptions to stores that are singleton across the app, and that do suffer from erronious invalidations, like `currentDBMathesarTypes`. In the case of this store garbage collection is irrelevant. Maybe most problematic stores will be like this.

The problem with explicit caching is that it adds conflicts to the reactive model. Part of the role of the state

[2021-09-18 19:29] silentninja commented on #421
### Proposal
---
Use encoding detection libraries like [Charset Normalizer](https://pypi.org/project/charset-normalizer/) or [cChardet](https://pypi.org/project/cchardet/).

### Issues
---
Blocking request - Encoding detection is not instant and must be dealt asynchronously. This is also the case with creating data from csv(will be blocking for huge csv files) and solving it should also solve this

[2021-09-19 13:02] pavish commented on #670
@dmos62 We have additional caching for a separate purpose. If you noticed some top level stores, you could find that data is preloaded initially through django templates instead of making an API call. This is an optimization to render the pages as fast as possible without additional network calls during initial load. The plan is to eventually have it for all top level stores.

Also, we have suppor

[2021-09-20 07:42] mathemancer commented on #668
It appears SQLAlchemy can't handle reflection of tables which have no columns.  I've reproduced this issue on my machine.  We'll need to write a custom reflection function if we want to be able to handle this.  I think this would be best, since it's a valid state for the DB that we'll want to be able to work with eventually.

[2021-09-20 08:46] dmos62 commented on #670
I won't be pushing the point, but for the sake of completeness I'll list some points of conflict between our points of view.

RxJS is capable of handling all state while staying fully within its intended operating scope. The preloaded data can be a subscribable.

I do not think that a bundle size gain of such magnitude over improved state management is a good compromise. I am impressed by the will

[2021-09-20 09:32] mathemancer commented on #663
@mr-gabe49 I'm not able to replicate it.  Is this still occurring?  To double-check (while I attempt to replicate):  This occurs when you delete columns from different tables in sequence?

[2021-09-20 10:27] pavish commented on #670
@dmos62 I really appreciate all the points and thought you've put forward in this conversation. They make perfect sense considering long term maintainability of the project. I would have been inclined to go with it if it had a smaller impact on end user experience.

As mentioned earlier, I'd still like to keep this issue open and labelled status:future, and we could circle back to it when the code

[2021-09-20 14:22] mr-gabe49 commented on #663
@mathemancer Thanks for looking into this. I'm still seeing the error, even after pulling the latest master. Yes, you are correct. If I have two tables, and I delete the first column of table 1 this is what happens to the columns of table 2: The first and second **indexes** are both 0. If I then delete either column 0 or 1 of table 2, I get an IndexError.
<h1>Table 2: Before deleting a column in T

[2021-09-20 16:33] #195 closed

[2021-09-21 11:33] mathemancer commented on #663
@mr-gabe49 I've managed to replicate the problem.  I actually had state in _my_ local setup that kept the bug from happening.

[2021-09-22 12:54] pavish commented on #197
These operations require detailed UX definitions, which are beyond the scope of this issue. I will create a new issue for them.

[2021-09-22 15:14] bohemia420 commented on #453
@kgodey there can be 3 possibilities IMO,
- clone (schema, constraints only) clone (schema, constraints+data)
- (deep) copy

agree? or is it just clone and reference, to begin with?

[2021-09-22 15:31] bohemia420 commented on #438
Someday, file uploads can be a few GBs, and it anyways can be a p >> n problem (e.g files with 10k columns), and inferring schema globally may begin taking ages (bereft of threading/routines and distributed data processing libs e.g spark).

Will not a "best effort" mining the closest data type besides a datatype hierarchy/ontology be the best strategy (by 10% randomly sampled indices/top N)? i.e i

[2021-09-22 15:38] bohemia420 commented on #394
can we adopt the pandas way, they'll always introduce "index" if otherwise forbidden in `read_csv`. We can default to create an index (i.e rn/rownum) but a user should cleverly (maybe exoplicitly) know means to just skip a mathesar id being created and pass/specify unique identifier)?

[2021-09-22 15:42] bohemia420 commented on #668
@kgodey @mathemancer can I work on this?

[2021-09-22 17:54] mr-gabe49 commented on #668
Hey @bohemia420, @kgodey will be offline for some time, and it's very late in Hong Kong for @mathemancer. I'll assign it to you. Let us know if you have any questions. Thanks!

[2021-09-23 05:01] #663 closed

[2021-09-23 11:34] bohemia420 opened #679 "mathesar stuck in an infinite reload on deleting postgres tables"
Owing to issue https://github.com/centerofci/mathesar/issues/398, I had he "NoSuchTableError at /mathesar_tables/1/
" after deleting all its columns via API.

while restarting docker containers was bringing me to the same issue above on firing `localhost:8000` in the browser,

I decided to connect to postgres, and clear/truncate the tables, and now while I have truncated the tables:
`mathesar_data

[2021-09-26 17:04] bohemia420 commented on #668
this is the catch in **sqlalchemy** `reflections.py` that's breaking it:
[code]
firstly, `found_table = True if len(self.get_columns) else False` would have been a better handling rather than redundantly setting `found_table = True`for say, 1000+ columns in a table.

@mathemancer rather than diverting it to a custom reflections, better to "tweak" the "sqlalchemy" and replace it in our docker image

[2021-09-26 18:15] bohemia420 commented on #635
can it be a simple KW supplied i.e
`/api/v0/tables/2/columns?sort=-name` for descending order w.r.t names?

Can I work on this?

[2021-09-27 07:30] mathemancer opened #681 "Unknown server_default settings silently deleted"
## Description

When the column-type-altering function doesn't understand a `server_default` value for a column (the DB-level default setting), it silently removes / deletes that default when altering the column type.  This has the potential to lose metadata about a column that we'd be unable to recover.  Further, there would be no warning to the user in this case.

## Expected behavior

If we try

[2021-09-27 08:01] mathemancer opened #682 "Some `server_default` constants are not handled"
## Description

Currently, we should be able to handle any constant `server_default` setting.  This is not happening, since any cast applied to a server default results in our `db.columns.operations.select.get_column_default` function deciding that the default is dynamic (and that it can't be handled).  In particular, there are entire types where the `server_default` value is always stored as a `C

[2021-09-27 13:04] kgodey commented on #651
@pavish It seems like there's one item left to do on your list, so I'm reopening this. Feel free to close if the URL sync is already done.

[2021-09-27 13:21] pavish commented on #651
@kgodey Thanks. I missed the fact that the issue got closed. It's not yet been handled, I will handle it in future PRs.

[2021-09-27 16:08] kgodey commented on #635
@bohemia420 Sure, I'll assign it to you. Thanks!

The easiest thing would be to use `django-filter`'s `OrderingFilter`: https://django-filter.readthedocs.io/en/stable/ref/filters.html?highlight=sort#orderingfilter

This should apply to:
- `/api/v0/tables/`
- `/api/v0/schemas/`
- `/api/v0/databases/`

This issue doesn't cover adding filters to the columns API (e.g. `/api/v0/tables/2/columns/`)

[2021-09-27 16:11] kgodey commented on #679
@bohemia420 Could you please post the traceback in this issue? There's a "Switch to copy and paste view" next to the "Traceback" header that should give you easily pasteable text.

[2021-09-27 16:12] kgodey commented on #394
@bohemia420 I don't understand what you are suggesting. Can you explain in more detail?

[2021-09-27 16:14] kgodey commented on #438
@bohemia420 The implementation details for this issue are not yet defined. It's a placeholder issue to make sure that we improve our inference algorithm beyond the naive "one row at a time" approach that we're currently taking.

[2021-09-27 16:16] kgodey commented on #453
@bohemia420 What do you anticipate being copied in a "deep copy" that isn't covered by the first two options?

[2021-09-27 16:18] kgodey commented on #421
@silentninja That sounds good to me. If you're still interested, please feel free to send a PR.

We've put off handling operations asynchronously for now in order to avoid adding additional dependencies such as a task queue, etc. for Mathesar. Let's handle this synchronously for now and create a separate issue for handling it asynchronously.

[2021-09-27 16:19] kgodey commented on #661
Assigning to myself to flesh out backend implementation.

[2021-09-27 16:28] bohemia420 commented on #453
say a table A with shape -[100,4] i.e 100 rows 4 cols. creating a table B could be:
- table B shaped [0, 4] i.e just copied the schema.
- table B shaped [100, 4] i.e copied schema + data. Should there be filters/parameters, shape may be [x, 4] where x <= 100
these are the first two options.

the "deep copy" may actually be more of a "view", which albeit [100, 4] or as per a filter say [x, 4] where

[2021-09-27 16:46] bohemia420 commented on #394
@kgodey just like Panda's `read_csv` e.g `df = pd.read_csv(index_col = 'Column A')`
[code]

should the index_col be missing, just like pandas, do indices `df.index` way.

Technically, it is the same as you suggested, but rather than implicitly trying to infer an `id` column and renaming/repurposing it, can we just ask during upload for uniqueness-PK/composites?

bereft of these inputs, instead of

[2021-09-27 17:10] kgodey commented on #453
@bohemia420 We'd want users to make a view for cases where they want data automatically updated from other tables, see #442 for issues related to that. This issue already covers the first two options so we should be good.

[2021-09-27 17:26] bohemia420 commented on #394
this could be implicit too (e.g props) just that not displayed. Nevertheless I second the thought on not asking users too much, and users can delete it anyway 👍
thanks for [convention over configuration](https://en.wikipedia.org/wiki/Convention_over_configuration), love it. Anyways feedbacks can bring remediations, always.

[2021-09-27 17:31] kgodey commented on #394
Another general design decision we've made (although I'm not sure if it's documented anywhere) is that Mathesar doesn't hide the database's details from users. We'd rather educate users about what things mean so that they can learn about various concepts and become advanced users over time (if they choose). If they didn't want to see the ID, we would guide them towards making a view that doesn't i

[2021-09-28 09:27] #495 closed

[2021-09-28 13:56] pavish opened #683 "Bump tmpl to latest version when npm audit raises alert"
## Description
Dependabot has raised a PR, force updating tmpl: https://github.com/centerofci/mathesar/pull/675, due to a security vulnerability in the version our packages depend on.

This package is used by one of the dependencies of the entire dependency tree. Forcing a version update might break any of those packages silently.

npm audit has not raised a warning yet. This vulnerability is a ma

[2021-09-28 14:57] kgodey commented on #555
@arvind-1 How's this issue going? Do you need any help?

[2021-09-28 15:04] arvind-1 commented on #555
@kgodey working on it following the other PR which was similar to this. I will let you know if needed any help. Thank you.

[2021-09-28 19:56] kgodey opened #685 "Move to new GitHub Project setup"
We're now in [the new GitHub Issues](https://github.blog/2021-06-23-introducing-new-github-issues/) beta so I'm going to be moving Mathesar to the new project structure from our current [Active](https://github.com/centerofci/mathesar/projects/1), [Backlog](https://github.com/centerofci/mathesar/projects/2), and [Future](https://github.com/centerofci/mathesar/projects/3) boards.

I've started setti

[2021-09-29 13:28] pavish commented on #213
@kgodey This issue was created earlier when we hadn't decided on the testing structure.

As discussed, we will use integ tests for testing user actions. This issue is entirely based on user actions and will be covered by https://github.com/centerofci/mathesar/issues/640

Can we close this issue?

[2021-09-29 13:34] pavish commented on #651
@kgodey We have a dedicated milestone for [Sharing](https://github.com/centerofci/mathesar/milestone/39).

I think URL sync belongs in that milestone. Let me know your thoughts.

[2021-09-29 13:55] kgodey commented on #213
@pavish Sure, go ahead.

[2021-09-29 14:08] #213 closed

[2021-09-29 20:53] kgodey commented on #225
The staging server now works!

[2021-09-29 20:53] #225 closed

[2021-09-29 21:00] kgodey opened #687 "Columns API is failing on staging"
## Problem

Table CSV uploads are failing at the import step. Upon inspection, the following API call is failing.

## Traceback

[code]

[2021-09-30 03:35] mathemancer commented on #687
The `|` operator for merging dictionaries was added  in python 3.9.0 (the current stable releases are 3.9.x) as per [PEP 584](https://www.python.org/dev/peps/pep-0584/).  I suspect the python version on the staging server is out of date.

[2021-09-30 07:07] bohemia420 commented on #668
@kgodey
In addition to my proposal above being painful syncing/maintaining cherrypicked files, it could 've had other problems:
- replacing select file(s) may totally break or not reflect new capabilities/amendments as we upgrade.
- explicitly getting rid of `table_found` variable may also let in FPs i.e tables that just never got created, say "Table 999999"

remediating afresh as I played with SQ

[2021-09-30 17:23] bohemia420 commented on #668
**Interestingly**, this issue had already been reported to SQLAlchemy, and they've asked us to track the [earlier raised issue on this note](https://github.com/sqlalchemy/sqlalchemy/issues/3247) and closed [our issue raised](https://github.com/sqlalchemy/sqlalchemy/issues/7117). My PR which they are likely to consider owing to agreeing at fixing `found_table` in reflection.py for handling "tables

[2021-09-30 18:04] kgodey commented on #668
Thanks for the detailed debug steps @bohemia420! I'll mark this as blocked until the upstream PR is merged.

[2021-09-30 18:42] kgodey commented on #651
@pavish What is the current state of URL sync? If there's broken functionality, I think it would be better to fix it sooner.

[2021-09-30 19:39] kgodey commented on #687
It looks like Python 3.9 is the default on the newest Debian stable (`bullseye`), so I'm going to redeploy staging on a new server with an updated OS.

[2021-10-01 08:56] #404 closed

[2021-10-01 08:56] #405 closed

[2021-10-01 08:56] #407 closed

[2021-10-01 15:13] silentninja opened #689 "Tests that depend on schema fixture in import/test_csv throws up integrity error when run individually"
## Description

Test cases that use schema fixture in mathesar/tests/imports/test_csv fail when run individually or the first test fails when run as a group.

## Expected behavior
Test cases should be pass irrelevant of the order.

## To Reproduce
`docker exec mathesar_service_1 pytest mathesar/tests/imports/test_csv.py::test_csv_upload` - Run individual test
`docker exec mathesar_service_1 pytest

[2021-10-01 15:41] silentninja commented on #689
The reason it happens is due to database reflection creating a missing schema, which is followed by the Schema object being created again by the create function causing integrity error. The solution would be to use get_or_create function for objects which could be created by the reflection.

The issue does not occur when running as a whole set due to the reflection cache key being set by others an

[2021-10-01 16:24] kgodey commented on #687
I redeployed staging on a new server running Debian 11 (Bullseye), which is the new `stable`. It comes with Postgres 13 and Python 3.9, so no additional PPAs were necessary. This bug is fixed.

[2021-10-01 16:24] #687 closed

[2021-10-04 10:57] bohemia420 commented on #635
Hi @kgodey
This looks done - I have tested it for all the specified api endpoints:
[code]

and it seems to sort the entries by either the field i.e "id" or the property i.e "name" (for `schemas` and `tables`). As of now, the capability is basis the assumptions:
- In the Django API, the Label is set to a standard **"Sort By"** followed by drop-down options (`id`, `id(desc)`, `name`, `name(desc)`)
-

[2021-10-04 21:18] kgodey commented on #635
Thanks @bohemia420. I'll review the PR.

[2021-10-04 22:17] kgodey commented on #638
Marking this as unblocked since the staging server is up.

[2021-10-05 11:23] rajeshkumarrs commented on #394
@kgodey ... I will work on this issue. Thanks!

[2021-10-05 12:50] kgodey commented on #394
thanks @rajeshkumarrs! assigned.

[2021-10-05 22:00] kgodey opened #694 "Test issue"
Will be deleted, please ignore.

[2021-10-05 22:09] kgodey opened #696 "ignore"

[2021-10-05 22:19] kgodey opened #697 "please ignore"

[2021-10-05 22:25] kgodey opened #698 "ignore"
## Question

## Environment
 - OS: (_eg._ macOS 10.14.6; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Browser Version: (_eg._ 13; 73)
 - Other info:

## Additional context

[2021-10-05 22:40] kgodey opened #700 "ignore"
## Problem

## Proposed solution

## Additional context

[2021-10-05 22:45] kgodey opened #702 "ignore"
## Description

## Expected behavior

## To Reproduce

## Environment
 - OS: (_eg._ macOS 10.14.6; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Browser Version: (_eg._ 13; 73)
 - Other info:

## Additional context

[2021-10-05 22:47] kgodey opened #703 "ignore"
## Description

## Expected behavior

## To Reproduce

## Environment
 - OS: (_eg._ macOS 10.14.6; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Browser Version: (_eg._ 13; 73)
 - Other info:

## Additional context

[2021-10-05 22:56] kgodey opened #705 "ignore"
## Problem

## Proposed solution

## Additional context

[2021-10-05 22:58] kgodey opened #706 "ignore"
## Problem

## Proposed solution

## Additional context

[2021-10-05 23:01] kgodey opened #707 "ignore"
## Description

## Expected behavior

## To Reproduce

## Environment
 - OS: (_eg._ macOS 10.14.6; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Browser Version: (_eg._ 13; 73)
 - Other info:

## Additional context

[2021-10-06 11:07] mathemancer opened #708 "Support multiple PostgreSQL versions"
## Problem

We currently only support Postgres version 13.  However, version 14 has just been released.  Also, admins often prioritize stability over features for database installations, so there are _many_ versions of Postgres used in production in the wild.  For example, Amazon's AWS RDS supports Postgres versions 13, 12, 11, 10, 9.6, and 9.5 (and minor versions of those).  One assumes this is b

[2021-10-06 11:55] kgodey opened #709 "Will delete, please ignore"

[2021-10-06 12:12] kgodey opened #710 "Will delete, please ignore."
## Problem

## Proposed solution

## Additional context

[2021-10-06 12:16] kgodey opened #711 "Will delete, please ignore"
## Problem

## Proposed solution

## Additional context

[2021-10-06 12:20] kgodey opened #712 "Will delete, please ignore."
## Problem

## Proposed solution

## Additional context

[2021-10-06 12:25] kgodey opened #713 "ignore"
## Problem

## Proposed solution

## Additional context

[2021-10-06 13:16] #685 closed

[2021-10-06 13:51] kgodey opened #715 "Will delete, please ignore"
## Problem

## Proposed solution

## Additional context

[2021-10-06 19:07] #681 closed

[2021-10-06 19:07] #682 closed

[2021-10-07 06:28] pavish commented on #651
@kgodey URL sync currently does not retain pagination, filters, groups and sort. These parts need to be re-implemented based on the new stores. I was thinking it belongs more in the Sharing milestone, but now I agree that it's better to fix it sooner.

[2021-10-07 11:15] github-actions[bot] opened #716 "npm audit found vulnerabilities"
[code]

[2021-10-07 11:57] #716 closed

[2021-10-07 11:59] github-actions[bot] opened #717 "npm audit found vulnerabilities"
[code]

[2021-10-07 12:02] #717 closed

[2021-10-07 12:03] github-actions opened #718 "npm audit found vulnerabilities"
[code]

[2021-10-07 12:04] #718 closed, assigned to nobody

[2021-10-07 12:06] github-actions[bot] opened #719 "npm audit found vulnerabilities"
[code]

[2021-10-07 12:13] #719 closed

[2021-10-07 12:15] github-actions[bot] opened #720 "npm audit found vulnerabilities"
[code]

[2021-10-07 22:00] kgodey commented on #651
@pavish I'll leave it in here then.

[2021-10-08 18:01] kgodey commented on #715
Testing

[2021-10-11 12:23] pavish opened #722 "Design specifications for adding records"
When user adds a new record, the following scenarios need to be detailed out, along with user interactions, response and success/error/loading states.
  - [ ] Behaviour when records are grouped.
  - [ ] Clear/Revert action, to revert a erroneous cell value.
  - [ ] Behaviour w.r.t. pagination.
  - [ ] Content and count shown in pagination bar.
  - [ ] Behaviour w.r.t. sorting and filtering.
  - [

[2021-10-11 12:34] pavish opened #723 "Left pane UX improvements"
## Requirements
1. All tables and views from the db are listed on the left pane. This would become impractical to use if the number of tables/views is large (>50). We require an improved UX where we do not show all the tables/views.
2. We need to allow closing and opening of the left pane.
3. We need to consider how graphs, apps etc., would fit into the left pane.

@ghislaineguerin please feel fre

[2021-10-13 14:27] kgodey commented on #384
@mathemancer That sounds fine to me. I think we'll want different frontend experiences for grouping by distinct tuples vs. range-based grouping, but there's no reason why the API can't be the same for both.

[2021-10-13 15:42] seancolsen opened #729 "For private class properties in TypeScript, use the `private` keyword instead of underscore prefix"
On a call today @pavish and I agreed that we should refactor TypeScript class properties prefixed with underscores to use the [`private` keyword](https://www.typescriptlang.org/docs/handbook/2/classes.html#private) instead of the underscore.

For example, this...

[code]

should be rewritten as...

[code]

This refactoring is low-priority, but has the following benefits:

- More consistent with co

[2021-10-14 05:16] bohemia420 commented on #668
there's actually a discussion thread on the PR https://github.com/sqlalchemy/sqlalchemy/pull/7118 accompanied by a Gerrit and still under review - somewhere it's being contemplating that the fix in this PR be a part of settings which is bound to raise `NoSuchTableError` exception by default

[2021-10-14 20:52] #197 closed

[2021-10-15 19:07] seancolsen opened #732 "Add support for nested Dropdown components"
## Problem

If we want to place a Dropdown component within another Dropdown component, it's problematic because the outer Dropdown will close when the user clicks within the content of the inner Dropdown.

For example:

![Peek 2021-10-15 14-58](https://user-images.githubusercontent.com/42411/137539055-6fcf6a5d-0024-40d5-8bb6-43e56f7f68cc.gif)

## Summary of potential solutions

### Store-based ap

[2021-10-18 08:41] pavish commented on #729
@gagan2005 Thanks! I've assigned this issue to you. Let us know if you require any help from our end. Feel free to join our matrix channels: https://wiki.mathesar.org/community

[2021-10-18 14:37] seancolsen commented on #732
Pavish and I have been discussing various ways to implement this feature, and that discussion has been taking place in multiple threads. I'm consolidating the discussion here.

Recap:

1. [Sean](https://github.com/centerofci/mathesar/pull/730#issuecomment-943705003) lays out problem at proposes either (A) passing a store through context which holds references to child dropdown content elements or

[2021-10-18 15:18] seancolsen commented on #732
@pavish would it be okay with you if I take a stab at the store-based approach and see where it leads? I have a hunch that it'll be quite a bit simpler than what you're describing. I could be wrong though. If I'm able to quickly produce a working PR using the approach then we can discuss further?

[2021-10-18 20:49] seancolsen commented on #732
@Pavish

A few thoughts about my [PR for the store-based approach](https://github.com/centerofci/mathesar/pull/734) in relation to your concerns:

- Regarding the need for a tree

    You said:

    I think we can. I'm using the same context key everywhere.

    The Svelte docs [say](https://svelte.dev/docs#getContext) that `getContext`:

    I think we should be fine here because the deeply neste

[2021-10-18 21:25] #732 closed, assigned to seancolsen

[2021-10-19 07:48] mathemancer opened #736 "Support for larger data sets"
## Problem

For ease of use and implementation, we've made some decisions that will likely make performance a problem for large data sets.

## Proposed solution

- We need to set up some large data sets, and do some performance profiling.
  - #83 should cover part of this.
- We need to analyze our methods of filtering and grouping.  These are likely to be performance drains at scale.
- We need to

[2021-10-19 12:30] mathemancer opened #737 "Container names should be specified"
## Description

The names of the various containers created by `docker-compose up` are dependent on local state.  This can have unexpected consequences for Github actions that depend on a given container name (and any other script that depends on the same).

## Expected behavior

The docker containers created via `docker-compose up` or `docker compose up` should have the same names every time, in

[2021-10-21 13:20] seancolsen opened #742 "Create Menu component"
From what I can tell, we're going to end up with multiple places throughout the app where we want dropdown menus which behave similar to the typical "File" menus atop a desktop application.

From [a discussion about styling dropdown menus](https://github.com/centerofci/mathesar/discussions/741), @ghislaineguerin proposed this mockup:

![mockup](https://user-images.githubusercontent.com/845767/1382

[2021-10-22 15:58] #729 closed, assigned to gagan2005

[2021-10-22 20:36] fkarg opened #748 "Follow Dockerfile best practices regarding apt"
## Problem

The current Dockerfile does not follow the recommended [best practices regarding usage of apt](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#run). This leads to increased docker image/layer size and potential gotchas.

## Proposed solution
Following the recommended best practices.

[2021-10-23 15:01] seancolsen opened #750 "Refactor Modal component"
## Problem

Our current `Modal` component is very simplistic and could use some improvements.

## Proposed improvements

- UX:
    - Add a close button in the top right.
    - Close when clicking on the overlay.
- DX:
    - Refactor component design to provide more abstraction in holding the modal's `isOpen` state, eliminating the need hold that state in local variables within consuming components

[2021-10-23 16:27] seancolsen opened #751 "Improve naming of some symbols in TypeScript"
Use singular nouns for classes and interfaces -- e.g. `ColumnsDataStore` instead of `Columns`.

Ref: [Motivating discussion][1] with support from @pavish

[1]: https://github.com/centerofci/mathesar/pull/743#discussion_r734107106

[2021-10-24 17:01] mr-gabe49 opened #753 "Error response from daemon"
## Description

- Running into the following error when starting `docker-compose up` on Windows 10 with WSL2 enabled:
   - Error: `Error response from daemon: path /home/gabe/mathesar is mounted on / but it is not a shared mount.`

- Eliminating the trailing slash in lines 20 and 21 of `docker-compose.yml` file fix the problem on my machine
- From:
[code]
to
[code]

[2021-10-25 08:26] ghislaineguerin opened #754 "Design for Table Relationship"
Placeholder design issues for setting up Table Relationships

- [ ] Design for record lookup dropdown
- [ ] Design for deleting a linked record
- [ ] Design for record edit dropdown
- [ ] Design for adding a record from a view
- [ ] Design for setting up table relationship with a new table
- [ ] Design for setting up table constraints
- [ ] Design for linking a non-empty column

[2021-10-25 10:42] pavish opened #755 "Improvements for table deletion flow"
## Description
From the PR https://github.com/centerofci/mathesar/pull/650, we identified certain improvements we could do for the UX for deleting table.

Quoting points from this comment: https://github.com/centerofci/mathesar/pull/650#pullrequestreview-787938023
* Show loading inside the modal when deletion is in progress
* Close the modal only after deletion completes
* Keep modal open, if the

[2021-10-25 11:06] #737 closed, assigned to fkarg

[2021-10-25 18:42] seancolsen opened #757 "TypeScript problem in TableView component"
In `src/sections/table-view/TableView.svelte` the line reading

[code]

has the following problem:

## More details

- This problem makes sense to me, given that `activeTab` is a `MathesarTab`

[code]

    and `deleteTable()` wants a `number`.

- I don't see any linting errors or build errors related to this problem -- it's just showing up in VS Code.

## Thoughts

- I'm surprised that a TS proble

[2021-10-25 21:07] seancolsen opened #758 "Create toast system"
We need a way for the front end to display toast messages.

For example, if an AJAX API request fails, throwing a toast message with info about the failure is often the easiest way to support graceful failure. We might want to display success toast messages in some cases too.

Here's a library that seems to be popular: [svelte-toast](https://github.com/zerodevx/svelte-toast). I'd lean towards roll

[2021-10-25 21:48] seancolsen opened #759 "Build a more ergonomic abstraction for UI confirmation modals"
## Problem

- Currently displaying a modal confirmation message is a lot of work.
- When adding a new modal confirmation, I don't want to have to touch the template section of any components. I definitely don't want to create any new components.

## End goal

- Example for the most common case:

    Within the `<script>` of a component

[code]

- If confirmation content requires markup, we'd pass

[2021-10-26 16:59] #751 closed, assigned to seancolsen

[2021-10-28 09:40] pavish opened #765 "Allow resizing of columns"
## Problem
We need columns to be resizable inorder to make it easier for the user to view and work with their data.

## Proposed solution
For each column, we would need to provide a drag indicator which the user could use to resize the column. The frontend has a set of display stores. The `columnPosition` store contains the position and width of each column, which is currently defaulted to 160px.

[2021-10-28 17:07] seancolsen opened #767 "Improve frontend code linting/formatting"
## Problems

- I get linting errors that are difficult to fix, which slows me down. [example](https://github.com/centerofci/mathesar/pull/760/commits/f3f37e1db47794c9d0290c7e000159d8b3b6f23e)
- I regularly need to use otherwise unnecessary TS "`as`" type-assertions just to appease the linter. [example](https://github.com/centerofci/mathesar/blob/e16553501a62dc3665238e2be0e147cf45f61fde/mathesar_ui

[2021-10-28 21:45] seancolsen opened #770 "Add UI to filter on the presence of duplicate values in one column"
## Problem

User wants to add a filter condition that shows duplicate values for one column.

## Proposed solution

![image](https://user-images.githubusercontent.com/42411/139340390-088c655e-2769-4c10-b957-78e30fc6be17.png)

## Additional context

- Backend issue: #501

## Out of scope

- filtering on duplicates across multiple columns

[2021-10-28 22:51] seancolsen opened #771 "Add "Allow NULL" toggle option to column header menu"
- [Specs](https://wiki.mathesar.org/en/design/specs/working-with-columns)

- [Mockup](https://www.figma.com/proto/Uaf1ntcldzK2U41Jhw6vS2/Mathesar-MVP?page-id=2750%3A17660&node-id=2846%3A20398&viewport=2205%2C368%2C0.5616371035575867&scaling=contain&starting-point-node-id=2816%3A18654&show-proto-sidebar=1)

    ![image](https://user-images.githubusercontent.com/42411/139346354-10e78a71-2625-453e-98

[2021-10-28 22:53] seancolsen opened #772 "Add "Allow Duplicates" toggle option to column header menu"
- [Specs](https://wiki.mathesar.org/en/design/specs/working-with-columns)

- [Mockup](https://www.figma.com/proto/Uaf1ntcldzK2U41Jhw6vS2/Mathesar-MVP?page-id=2750%3A17660&node-id=2846%3A20398&viewport=2205%2C368%2C0.5616371035575867&scaling=contain&starting-point-node-id=2816%3A18654&show-proto-sidebar=1)

    ![image](https://user-images.githubusercontent.com/42411/139346354-10e78a71-2625-453e-98

[2021-10-28 23:02] seancolsen opened #773 "Prompt user to add a filter that displays problematic values when it's not possible to set a column constraint"
When adding a column constraint, either through #772 or #771, there's a possibility that the constraint will fail because the table values do not already support it. In this case, we should display a modal dialog with a button that sets the filter clauses to show the problematic values

![image](https://user-images.githubusercontent.com/42411/139347343-d432addf-e70a-4d69-ac3f-eb9ca994e3ca.png)

##

[2021-10-29 00:34] seancolsen opened #775 "Improve UX when adding new records to a table with a NOT NULL column"
## Reproduce

1. Set up a table with a NOT NULL column that doesn't have a default value.
2. Click "New Record".
3. Observe new row with yellow background, spinner that spins several seconds, finally a "Couldn't save changes" error.

![image](https://user-images.githubusercontent.com/42411/139354253-40fc87e5-9a4b-4c58-9154-ca01824a9f43.png)

I'm not sure what the expected behavior would be here. I

[2021-10-30 00:56] seancolsen opened #780 "UX to allow user to set value to NULL within a cell"
## Problem

There is no way, as far as I can tell, for the user to edit a row and set the value of a particular cell to `NULL`.

## Proposed solution

We need to define the UX for this.

[2021-10-30 21:44] kgodey commented on #754
@ghislaineguerin Is this issue still relevant given the new plan in #243?

[2021-10-30 22:16] kgodey commented on #467
I'm closing this issue. Backend work will be tracked in these issues once design work has been completed:
- #455
- #466

[2021-10-30 22:16] #467 closed

[2021-10-30 22:21] kgodey commented on #455
@ghislaineguerin @pavish @mathemancer @seancolsen This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-10-30 22:47] kgodey commented on #466
@ghislaineguerin @pavish @mathemancer @seancolsen This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-10-30 22:54] kgodey commented on #454
@ghislaineguerin @pavish @mathemancer @seancolsen This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-10-30 22:56] kgodey commented on #469
I'm closing this issue. Backend work will be tracked in these issues once design work has been completed:
- #454

[2021-10-30 22:56] #469 closed

[2021-10-30 23:12] kgodey opened #781 "Support for creating a database view from scratch"
The Mathesar UI should allow users to create a new database view from scratch. The flow should be as follows:

1. The user clicks on a "new view" button (or something similar).
2. We open the Data Explorer (see #1065)
    1. There should be some indication that the data explorer was opened in response to a View creation request.
3. The user can save the output as a View.

## Scenarios
1. The flow

[2021-10-30 23:14] kgodey opened #782 "Support for creating a view based on an existing table or view"
Placeholder, TBD.

[2021-10-30 23:15] kgodey commented on #465
I'm closing this issue. Backend work will be tracked in these issues once design work has been completed:
- #781
- #782

[2021-10-30 23:15] #465 closed

[2021-10-30 23:15] kgodey commented on #464
I'm closing this issue. Backend work will be tracked in this issue once design work has been completed:
- #781

[2021-10-30 23:15] #464 closed

[2021-10-30 23:16] kgodey commented on #781
@ghislaineguerin @pavish @mathemancer @seancolsen This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-10-30 23:18] kgodey opened #783 "Support for editing the structure of a database view"
Placeholder, TBD.

[2021-10-30 23:18] kgodey commented on #468
I'm closing this issue. Backend work will be tracked in this issue once design work has been completed:
- #783

[2021-10-30 23:18] #468 closed

[2021-10-30 23:19] kgodey commented on #470
I'm closing this issue. Backend work will be tracked in this issue once design work has been completed:
- #456

[2021-10-30 23:19] #470 closed

[2021-10-30 23:21] kgodey opened #784 "Support for adding unrelated columns to a view"

[2021-10-30 23:26] kgodey commented on #660
Closing this given the discussion in #763.

[2021-10-30 23:27] #660 closed

[2021-10-30 23:28] kgodey commented on #443
Closing this issue since many-to-many will be covered in the following issues:
- #243
- #784

[2021-10-30 23:28] #443 closed

[2021-10-31 19:57] github-actions[bot] opened #785 "npm audit found vulnerabilities"
[code]

[2021-11-01 05:20] pavish commented on #780
@ghislaineguerin Since UX needs to be defined for this issue, I've assigned it to you. Please feel free to post a mockup or provide your thoughts on what would be a good design for this, so that we can move ahead.

After the UX is decided upon, as we discussed in [New issue format discussion #763](https://github.com/centerofci/mathesar/discussions/763), we will work on the frontend with the same i

[2021-11-01 05:44] pavish opened #787 "Install.py script assumes database to exist"
## Description
The install.py script has a hard check on the hostname to check if we're using the docker created postgres container and only creates the databases if we do.

`if DATABASES[database_key]["HOST"] == "db":`

In https://github.com/centerofci/mathesar/pull/747, we gave our containers persistent names. The db container's name was set as `mathesar_db`.

This leads to all fresh setup of ma

[2021-11-01 08:56] pavish commented on #455
* > Users should be able to browse through a list of all available views in the currently open schema. This should probably happen in a different page with a paginated view.

   I think instead of a new page for views of the open schema, we can add an option/link in the schemas listing page to list each schema's tables and views.

* Views and tables exist on the same namespace in database i.e the

[2021-11-01 09:01] #787 closed

[2021-11-01 10:45] seancolsen opened #789 "Add UI to filter on a value being NULL"
## Problem

User has no way to add a filter condition specifying that a value should be NULL.

## Proposed solution

In addition to "Equals" and "Not Equals", we should have an "Is NULL" option when setting a filter condition.

[2021-11-01 11:55] ghislaineguerin commented on #754
@kgodey I think we can close it. It is no longer relevant.

[2021-11-01 13:05] pavish commented on #789
@seancolsen The filters are meant to be dynamic i.e anything related to column types is meant to be dynamic.

For eg., for the type Number, the server should provide what kind of filters are applicable for number, what input type should be shown within the table, the grouping options we should allow for it, the icons required for it etc., This way we can easily add and remove types without having

[2021-11-01 14:14] kgodey commented on #789
@pavish I think you should hardcode them for now and we can remove the hardcoding once #661 is completed. That way, we have the freedom to put off #661 until after the alpha release if needed.

[2021-11-01 14:14] #754 closed

[2021-11-01 14:16] pavish commented on #789
@kgodey Thanks. Sounds good to me.

[2021-11-02 01:14] seancolsen commented on #781
Before I get deeper into formulating feedback, I have a question...

Say I have the following schema:

[code]

Will it be possible for me to create a view that displays this?

[code]

I've crafted this example to have a view that meaningfully references the same column twice in two different ways.

The proposed design reads:

That makes it seem to me as though the a set of columns (perhaps ordered

[2021-11-02 04:21] mathemancer commented on #454
There's a subtle detail we'll need to handle on the back end w.r.t. scenarios 2 and 4.  For 4, we'll want to be using `CASCADE` for safety, i.e., so we can roll back if the deletion of the object _or its dependencies_ fails.  However, 2 would be safest if we deleted every dependency ourselves (without `CASCADE`) in a recursive fashion.  That way, we guarantee we don't ever delete an object that we

[2021-11-02 06:57] mathemancer commented on #466
One use for a view is to provide an interface for less-privileged users to be able to query a subset of the data (for example, you could create a view that excludes student grades, but leaves their ID numbers and emails).  Access to view the underlying query, while it wouldn't create access to the underlying tables, is an information leak.  On a user experience front, we'd need to check what privi

[2021-11-02 09:00] mathemancer commented on #781
@seancolsen has a great example there.  Many `JOIN`s require some understanding of what the data is and how it relates.  Perhaps we could start by only handling very simple cases, then extend the UI to be more featureful.  I fear we'll very quickly run up against the boundaries of the simple cases, though.  @seancolsen's example isn't that exotic, and I'd expect joins of that type to be semi-commo

[2021-11-02 09:05] mathemancer commented on #781
One idea would be to only be able to do very basic views through the described flow, and have more advanced views via:
- show preview of other table when interacting with foreign key column (somehow).
- Let the user add columns _from that preview_.  This would essentially specify the join used.
- If they want to do the same from another preview for another foreign key column, they can.

So, for @s

[2021-11-02 13:27] pavish commented on #781
Instead of thinking in terms of adding columns from a linked table, I think we should think in terms of adding columns from a link i.e. treating the link as the primary input.

i.e In the example @seancolsen provided, if the user tries creating the view from the address table instead of the shipments table, we could show 2 options like:
* Add column from shipments using link address.id -> shipment

[2021-11-02 16:57] kgodey commented on #781
I like the idea of thinking in terms of adding columns from a link. I've updated the description.

I do think it should be possible to reference the same column twice in different ways.

[2021-11-03 01:48] seancolsen commented on #560
I [bumped into today](https://github.com/centerofci/mathesar/discussions/793) and would like to help move this issue towards completion. As I see it, we can close this issue once we've agreed upon a standard behavior for API error responses. We would then use subsequent tickets to track the work of transforming specific API endpoints into conformance with that structure.

I'd like to propose the f

[2021-11-03 03:25] mathemancer commented on #560
I think we should additionally have a mathesar-specific (maybe optional) error code (beyond the HTTP status code).  This will help mapping DB-layer problems to more user-friendly error messages without string parsing, and enable custom error message generation logic in the front end if desired.

[2021-11-03 08:28] #394 closed

[2021-11-03 17:25] #748 closed

[2021-11-03 21:40] kgodey commented on #560
I have lots of thoughts and this is in my queue but I might not get to it for a couple of days.

[2021-11-04 12:31] seancolsen commented on #661
What's the rationale for delegating icon choice responsibility to the back end?

I would think we'd want to leave that choice up to the front end. Maybe we want to refactor all the icons to improve visual consistency. Maybe we want to apply CSS to change the icon color in certain contexts. Maybe we want to serve the icons as inline SVG. While these would all be _possible_ with icon choices in the

[2021-11-04 12:56] kgodey commented on #661
@seancolsen Yes, the idea is to provide a user-defined type system at some point. People might have all sorts of custom Postgres types installed on their database and they might want to implement custom functionality for those types. The idea behind this issue is to allow the frontend to be type-agnostic and load whatever types the backend offers with all the information it needs for each type. It

[2021-11-04 14:35] seancolsen commented on #661
@pavish and I chatted about the icons issue on a call today, and he helped me understand more.

As I understand it now, it's not _users_ who define the icons for new types, but _plugin authors_. That sounds great to me. Pavish and I chatted about various approaches that would allow the API communicate information about icons to the front end. The approach that I like the best is one where the `typ

[2021-11-04 15:27] #498 closed

[2021-11-04 15:51] mathemancer opened #798 "API Integration tests for combinations of filters and groups"
## Problem

Our testing is currently a bit light when it comes to combinations of group counts and filters in the API.  This makes it difficult to determine what the desired behavior is, and whether the API conforms to that desired behavior.

## Proposed solution

We should add such integration tests.  These tests should specify what will happen when both filtering and grouping with different type

[2021-11-04 16:02] mathemancer commented on #798
We should probably also throw `order_by` into the mix.  I.e., if we're grouping by different columns than we're ordering by, what's the expected behavior?  I'm tempted to just disallow that entirely.

[2021-11-04 16:16] kgodey commented on #798
Grouping should take precedence over order by. We should definitely allow that, I use it all the time in other tools (e.g. our GitHub project's Backlog view is grouped by milestone and ordered by status).

[2021-11-04 16:59] pavish commented on #798
From the frontend, we add a sort column for the grouped column before sending the request, which takes precedence over the rest.

[2021-11-04 17:56] mathemancer commented on #798
I've noticed that.  Was it because odd things happened when not sorting by the grouped column?  I'd like the API to stand on its own, i.e., it needs to handle such things without help from the front end.

[2021-11-04 18:13] VFermat commented on #603
@kgodey I would love to tackle this issue!

[2021-11-04 18:33] seancolsen commented on #455
@kgodey I suggest that at first we _do show all_ the views in the left pane. Then, in the process of working on #723 we re-design the left pane to handle longer lists of views and tables. I recon that designing an intuitive way to manage large sets of tables and views might present some tricky UX questions, and I don't think we should let it get in the way of building the more important parts of t

[2021-11-05 05:18] pavish commented on #798
I agree that the API needs to handle this on it's own.

I do not remember exactly why I had to add the grouped column as a sort column, but I think it was because the result was not sorted as the frontend expected it to be.

From the UI perspective, order_by should apply only within each group and within each sub-group if the user grouped by multiple columns. Inorder to achieve this, we treat grou

[2021-11-05 06:56] silentninja opened #800 "Pytest does not respect environment variables"
## Description
Pytest is using hardcoded configuration variables like database host etc and environment variables don't seem to override the configuration variables.
## Expected behavior
Since we use environment variables for specifying database configuration when running a django server, environment variables should also be used for pytest when available and the test configuration defaults should

[2021-11-05 07:42] mathemancer commented on #798
I think I'm in agreement with @kgodey and @pavish for group and order combos, and that works for non-ranged grouping, since the group divisions aren't order-dependent (i.e., equality is symmetrical, and so the ordering between group keys just affects order between groups).  But there's a subtle detail to consider for ranged grouping.
 Grouping and ordering are both asymmetrical when we have ranged

[2021-11-05 07:46] mathemancer commented on #798
I actually think we should allow all three behaviors eventually; it could be possible to configure somehow.  The implementation for example (3) would get kind of wonky, but is certainly doable.

[2021-11-05 08:02] mathemancer commented on #603
I also like [`pytest-cov`](https://pypi.org/project/pytest-cov/).

[2021-11-05 08:08] mathemancer commented on #455
There are a number of kinds of "update" that might be more-or-less useful in different situations:
- The user has updated data that feeds a view in the table using Mathesar, then wants to navigate easily to the view.
- The user recently updated the view definition (e.g., which columns, etc.) in Mathesar.
- The user bulk loaded more data into a table that feeds the view through a different client (

[2021-11-05 09:45] pavish commented on #455
Reading @mathemancer's comment, I think this should rather be recently _accessed_ views. This would be specific to each user. We can store this on the local storage for the alpha release, and think of user specific storage on the backend when we get to it.

[2021-11-05 13:03] silentninja commented on #658
I will go with the approach @mathemancer mentioned.

I am planning to model it just like the existing `Django Table model`. The column model will be a wrapper over the MathesarColumn and will be using `DatabaseObject` as a base. Since Django doesn't have composite primary keys support we will have to store attrelid and attnum as two different columns and use a unique together constraint.

`Oid` fi

[2021-11-05 15:06] seancolsen commented on #603
Thanks for helping out, @VFermat! I've assigned this ticket to you. Let us know if you have any questions. Feel free to reach out within this ticket or in the `Code` channel on [Matrix](https://wiki.mathesar.org/community)

[2021-11-05 17:19] kgodey commented on #658
@silentninja Your plan generally sounds good. Some notes:
- I don't think we should reuse the `oid` field for anything else. I think we should refactor `DatabaseObject` so that `oid` is optional or create another base model without `oid`. `attnum` should be named `attnum`.
- JSON fields are queryable in Django using regular syntax. See https://pganalyze.com/blog/postgres-jsonb-django-python

[2021-11-05 17:22] kgodey commented on #800
@silentninja The environment variables used in `pytest` are specified in the `setup.cfg` file. We're using this package: https://github.com/MobileDynasty/pytest-env

[2021-11-05 17:40] kgodey commented on #798
@mathemancer I'm not sure if you have a question or if you're just posting some thoughts. To simplify implementation for the first version, I am okay with disabling order-by for _ranged_ groups but not other groups.

[2021-11-05 17:53] kgodey commented on #661
@seancolsen that makes sense, thanks!

I've moved this to the API v1 milestone (which is scheduled for post-alpha). I don't think it should block our implementation of data types.

[2021-11-05 21:34] silentninja commented on #658
I wasn't comfortable using oid either(oid will be unique and can be described  but wont be possible with attnum) but I was thinking of it as a identifier, moreover columns are the only objects without a oid and thought of going with it. I will create a different base model instead of making oid as optional as that would unnecessarily remove constraints of other objects.

While it is true jsonb can

[2021-11-05 23:19] VFermat commented on #603
@seancolsen Awesome!
Do you prefer if we go with `coverage`/`pytest-cov` (`pytest-cov` is just a plugin for `coverage`), or with Codecov?

From what I know and researched, Codecove is more complete and it's easier to integrate with the repository. If we end up choosing to go with it, I will need one of you guys to give Codecov the necessary permission!

[2021-11-05 23:28] seancolsen commented on #603
@kgodey can you help @VFermat answer the above questions?

[2021-11-07 10:46] silentninja commented on #603
@VFermat I think you need both. Coverage tools help in generating the test coverage report, [which would be used by CodeCov](https://about.codecov.io/language/python/), correct me if I'm wrong.

[2021-11-08 05:36] #328 closed

[2021-11-08 07:45] silentninja opened #802 "Prefetch SqlAlchemy property objects when querying Django Objects"
## Problem
Django objects are a thin layer over the reflected database objects, so many fields are just properties that point to an equivalent SqlAlchemy object. The problem is that those underlying objects are generated only when an individual Django object is accessed, resulting in an N+1 query when fetching a list of Django objects.

## Proposed solution
Property fields that do not belong to Dj

[2021-11-08 08:13] mathemancer commented on #802
Do you have some examples of where this library would improve things?  Most of the attributes that we loop through (e.g., when listing tables) aren't related to the model via some foreign key relationship.  To solve the problem, we'd need to write a (very complicated) fetcher that could get, e.g., all column details for all columns of each table in the page.  I.e., the column details won't be stor

[2021-11-08 08:14] #800 closed

[2021-11-08 08:59] silentninja commented on #802
Let's take the `tables/` get api. We fetch all the tables from the django database and the relevant _sa_table is reflected each time the property of the Django table is used(caching reduces this to reflect on first access only). But this could be made better by prefetching when querying for a list of tables using the library.

` _sa_tables = Prefetcher(
            filter = lambda ids: reflect_tab

[2021-11-08 16:25] kgodey commented on #531
This is ready for work now that #328 is done.

[2021-11-08 16:59] kgodey commented on #603
@silentninja is correct, we should start with `pytest-cov` and then evaluate CodeCov once we have that running.

[2021-11-08 17:01] kgodey commented on #802
I think this sounds like a good idea. @silentninja I think you should spec out the specific queries you see us using the library for so that we can evaluate it more thoroughly before implementation.

[2021-11-08 19:07] mathemancer commented on #798
I'm just trying to record some thoughts and details while I'm working through the grouping logic while they're fresh.  I'm hoping they'll be useful when we get to implementing these tests, and that the picture is clear enough to let the implementer write tests that really cover intended behavior.

Totally agree that there's no need to disable order-by for other groups.

[2021-11-08 21:50] #375 closed

[2021-11-09 00:22] kgodey commented on #466
I added an error scenario for the case where a user has permissions to view the view itself but not the query underlying it.

[2021-11-09 00:31] kgodey commented on #455
I've updated the issue to say that we'll show all views for now and update the design to handle hundreds of tables/views in #723. I've also updated #723 to point to the discussion on this issue.

I'm marking this as ready and moving to the backlog for @ghislaineguerin to take up when she has the time.

[2021-11-09 00:32] kgodey commented on #454
I'm marking this as ready and moving to the backlog for @ghislaineguerin to take up when she has the time.

[2021-11-09 00:47] kgodey commented on #782
@ghislaineguerin @pavish @mathemancer @seancolsen @silentninja This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-11-09 01:30] HenryRocha commented on #376
Just to give an update, almost done writing the tests. Should be finished either tomorrow or the day after.

[2021-11-09 07:15] mathemancer commented on #782
There is no way to save most relevant changes to a pre-existing view at the DB layer.  From [the docs](https://www.postgresql.org/docs/13/sql-alterview.html):

What this means is that you can't drop or add columns in a view without creating a new view, for example, or change the row order, or filter.  You _can_ rename the view, and alter some of its other metadata.

For most changes to views that

[2021-11-09 12:52] silentninja commented on #782
There are two types of views, Temporary views and Materialized views, and we should split the uses cases(when we suggest views) based on those.

Temporary views should be suggested for most (disposable) use cases and materialized views very rarely as this helps in keeping views lightweight making them really flexible and helpful in a lot of use cases.

When it comes to updating, views should be tr

[2021-11-09 13:02] pavish commented on #782
On points 2 through 5 (both inclusive):

I don't think we should prompt the user to create a new view, for these usecases. I do think we should allow creating a view after these options, however the user should be able to do them on the table/view itself.

These operations do not make sense as global settings but ideally user specific settings, which is specific to mathesar clients.

[2021-11-09 16:49] kgodey commented on #631
This is now unblocked since the backend work has been merged.

[2021-11-09 17:23] kgodey opened #805 "Support for renaming a view"
The Mathesar UI should allow users to rename existing views.

## Scenario
The user wants to rename a view. We allow them to enter a new name and rename the view.

### Error scenarios:
- The name entered is an invalid name for the view. Cases for invalid name include:
  - View name is too long
  - View name is already taken by another object
- View rename fails in the backend.

## Additional contex

[2021-11-09 17:23] kgodey opened #806 "Support for working with summaries of multiple related records in a view"

[2021-11-09 19:50] silentninja opened #807 "Fix database ordering test to remove database created during test."
## Description
Fix database ordering test to remove test databases created while test.

## Expected behavior
The test databases should be removed once test case is completed
## To Reproduce
Running pytest will throw up error

[2021-11-09 20:39] #807 closed

[2021-11-09 21:00] #772 closed

[2021-11-09 23:02] silentninja opened #810 "Remove flaky test cases when testing for database ordering"
## Description
Testing Database ordering was leading to random failing test case, due to the underlying data structure

## Expected behavior
The test cases should be reproducible and not be failing randomly

## To Reproduce
Run pytest multiple times

[2021-11-10 01:02] seancolsen commented on #782
Regarding the limitations which prevent the user from saving the changes they make to the view:

- Are all these limitations just for short-term task prioritization? If so, that's fine with me. If some of the limitations are part of the intentional product design, then I'd like to discuss further.
- Sort/filter/group seems useful without saving, if only marginally.
- Reordering columns and hiding

[2021-11-10 11:41] #635 closed

[2021-11-10 11:42] silentninja commented on #635
Created a new bug fix issue for the failing test cases that got merged along with PR related to this issue

[2021-11-10 13:12] silentninja commented on #810
The main branch checks are failing randomly due to this issue, so this should be resolved asap to avoid blocking other PRs

[2021-11-10 13:54] pavish commented on #445
@kgodey Do we need to support this for alpha or can we de-prioritize this issue?

[2021-11-10 15:24] pavish commented on #445
@kgodey Sounds good. Thanks.

[2021-11-10 15:31] #810 closed

[2021-11-10 15:41] silentninja opened #813 "Use Django rest framework client instead of django client when testing"
## Problem
The test cases are using Django client which is much suited for emulating a browser, so the default request body is priority content type is multipart instead of json which is what we are using mostly on the frontend

## Proposed solution
DRF [test client](https://www.django-rest-framework.org/api-guide/testing/) should be used instead of django client in order to emulate an API call ra

[2021-11-10 15:47] #496 closed

[2021-11-10 15:59] ghislaineguerin commented on #813
@silentninja Thanks for opening this issue. Is this ready to be worked on, or do you need to include additional details?

[2021-11-10 16:07] silentninja commented on #813
This is ready to be worked on but have to check if there is any feedback before marking it ready

[2021-11-10 16:07] #421 closed

[2021-11-10 16:09] kgodey commented on #813
@silentninja if you'd like feedback on an issue, the best way to get it is tag the people you need feedback from in a issue comment or bring the issue up on Matrix.

I think it's a good idea to switch to the DRF test client.

[2021-11-10 22:43] ghislaineguerin commented on #466
@ppii775
Figma Walkthrough part 1: https://www.loom.com/share/cd11d43509ad4c2fae997e1b6e6193d2
Figma Walkthrough part 2: https://www.loom.com/share/9d58a5c5c16f45f0bfec85d2ab50b5f2

[2021-11-10 22:44] VFermat commented on #603
Awesome! Already installed `pytest-cov` and got it running!

I have two questions:

- Do you think it should be a workflow that is run for every merged pull request?
- Should we generate an extra report aside from the .coverage file?

[2021-11-11 02:35] mr-gabe49 commented on #753
@kgodey @pavish I'm no longer experiencing this issue with latest VS update.

[2021-11-11 02:35] #753 closed

[2021-11-11 08:07] silentninja commented on #603
It should run along with the test workflow, so each time a pull request is created and merged.

[2021-11-11 08:20] silentninja commented on #603
Codecov does not support .coverage so you will need to generate report in the [format supported by codecov](https://docs.codecov.com/docs/supported-report-formats). You can refer to the [example](https://github.com/codecov/example-python)

[2021-11-11 17:23] VFermat commented on #603
@silentninja @kgodey
Started working on this (draft pull request is [here](https://github.com/centerofci/mathesar/pull/817))

I think it would be great if we already integrated with Codecov!
For that I will need a maintainer of the repository to register the project on Codecov website.

[2021-11-11 17:52] silentninja commented on #603
@VFermat Awesome! @kgodey should help you out with CodeCov part. Btw I think you would need to include db directory too as part of coverage directories.

[2021-11-12 11:40] silentninja commented on #658
This spec brings breaking change to the API(referring to django column id instead of column index), will it be okay to introduce display options along with the breaking changes or should I make display options backward compatible and then introduce the breaking change.

It is possible to make it backward compatible by referring to SQL alchemy column index in the apis and using it to get the Django

[2021-11-12 12:01] pavish commented on #658
@silentninja I think it would be better to first change column reference to id instead of index in a separate PR. We'll make changes on the frontend and add commits to the same PR. The display options PR can base off that branch.

[2021-11-12 12:31] silentninja commented on #658
Display options is an optional field and an enhancement , so it won’t affect anything I can add it in the same PR

[2021-11-12 14:34] seancolsen commented on #773
@kgodey I would be inclined to move this to a later milestone. What do you think? Without this feature implemented, users will still be able to set constraints. If the action fails, the user will see a toast message explaining the reason. The feature in this ticket is definitely worth implementing, but I think it's lower-priority than some of the other features that we have have in our queue for t

[2021-11-12 15:59] #771 closed

[2021-11-12 16:37] kgodey commented on #773
@seancolsen Good point, I moved it to the "Improvements for Non-Technical Users" milestone.

[2021-11-12 16:48] kgodey commented on #658
I don't think we need backwards compatibility at this stage. Our API is v0 because it's unstable, see our [API standards](https://wiki.mathesar.org/en/engineering/architecture/api-standards) page.

[2021-11-12 19:17] #651 closed

[2021-11-15 16:31] silentninja commented on #392
@kgodey Are display options frontend settings, as in are they used by the frontend to format the data or does the backend need to send formatted data based on the display options. I can see valid use cases for both options.

For example, in the case of a boolean type label or a date format, the use case would be to set a default representation of the value when it gets out of the database either t

[2021-11-15 17:55] kgodey commented on #392
@silentninja They are used by the frontend to format the data. The backend should avoid taking responsibility for presentational aspects as much as we can since the API is designed to support building new clients.

Please see [this design spec](https://wiki.mathesar.org/design/specs/global-data-type-components) for what we plan to use the display options for. We'll be using it for anything under "

[2021-11-16 11:59] silentninja commented on #434
@kgodey Any link to that discussion?

[2021-11-16 12:44] silentninja opened #823 "Spec for a better way to pass data between service layer and data layer"
## Problem
We need to pass data back and forth between the service layer(django, drf, and model methods) and the data layer(db module for now).

Right now the data is passed as function arguments, but it lacks a proper structure, is hard to pass polymorphic objects, lacks validation. This would enable us to have a valid contract(interface) with other modules and prevent leaks.

## Proposed solutio

[2021-11-16 12:52] dmos62 commented on #385
Since "between" is ambiguous about its symmetry and inclusiveness, maybe instead let's have the user create/compose two simpler filters where these properties are explicit: `a >= x AND a <= y` instead of `a BETWEEN x AND y`. I doubt there's a performance concern, but if there were we could use pattern matching to optimize the filter behind the scenes. Seems desirable to not have the user wonder wh

[2021-11-16 13:12] seancolsen opened #824 "Create Label component"
## Problem

We don't have a great way to associate form labels with our input components.

Nesting them like this

[code]

will work but the svelte a11y linter complains.

Also W3C [says](https://www.w3.org/WAI/tutorials/forms/labels/):

## Proposed solution

- Create a utility function

[code]

    It will return a string containing an auto-incrementing intger each time the function is called.

[2021-11-16 13:13] seancolsen commented on #824
I've marked this as ready since @pavish and I discussed the design over private chat. Pavish, feel free to weigh in with additional clarifications or further ideas.

[2021-11-16 14:34] dmos62 commented on #823
I'm happy you're bringing this up and I fully support it. I arrived at the same conclusion and I think we should get on this earlier rather than later.

I created a dataclass model for constraints when doing the interview task and it was a big productivity boost. Here's [a link](https://github.com/centerofci/mathesar-dmos62/blob/1dc6354f3a84624f7967a87a9745aeb4e7d7ebbc/db/constraints/base.py). It

[2021-11-16 15:05] mathemancer commented on #385
I definitely think we should have the former, but I'm not convinced that should be in lieu of the latter.  Maybe initially, though.  @kgodey I note that `sqlalchemy-filters` doesn't include a `between` operator, so we'd have to write one custom for that.  I guess I'm ambivalent w.r.t. whether `BETWEEN` should be prioritized at the moment.

[2021-11-16 15:15] kgodey commented on #434
@silentninja It was on a call, sorry. Do you have any specific questions about it?

[2021-11-16 15:21] kgodey commented on #823
This issue is somewhat related: #623

[2021-11-16 15:21] mathemancer commented on #823
We should agree on
- where the classes (or namedtuples) should be defined (i.e., in the DB layer, or in the Service layer), and
- where validation should be handled (i.e., should we move some validation into these classes?  will that get confusing with some done by serializers?)
- What the classes should represent (I'm partial to a `RecordsRequest` class that has things like `Grouping` and `Filter

[2021-11-16 15:35] kgodey commented on #385
I'm fine with skipping `between`.

[2021-11-16 17:45] #639 closed

[2021-11-16 18:15] silentninja commented on #560
Would like to add a few points to @mathemancer comments. This could be achieved by

1.  [Extending ApiException](https://www.django-rest-framework.org/api-guide/exceptions/#apiexception) - This could allow us to raise exceptions other than validation errors
2. [Using context managers](https://rednafi.github.io/digressions/python/2020/03/26/python-contextmanager.html#abstract-away-exception-handlin

[2021-11-16 20:01] silentninja commented on #623
1.  [Extending ApiException](https://www.django-rest-framework.org/api-guide/exceptions/#apiexception) - This could allow us to raise exceptions other than validation errors
2. [Using context managers](https://rednafi.github.io/digressions/python/2020/03/26/python-contextmanager.html#abstract-away-exception-handling-monstrosity-with-context-managers) - This is more Java-esque, but should suit our

[2021-11-16 21:15] kgodey commented on #603
I've registered the repository with CodeCov and set up the token as a secret called `CODECOV_TOKEN`. It should be available for GitHub Actions.

Let me know if there's any other action needed.

[2021-11-16 21:25] kgodey commented on #668
This is fixed upstream, so we just need to upgrade to SQLAlchemy 1.4.26 or higher. Marking as unblocked.

[2021-11-17 00:11] seancolsen commented on #619
@pavish What do you think about enabling [strict](https://www.typescriptlang.org/tsconfig#strict) instead of strictNullChecks?

[2021-11-17 09:01] silentninja commented on #390
@kgodey @pavish @seancolsen Do we actually need to `use_custom_columns` field, shouldn't `custom_labels` be enough, you either set it or you don't

[2021-11-17 09:34] mathemancer commented on #623
I like the context manager setup, but I don't see how it's exclusive with the `ApiException` idea.

[2021-11-17 10:17] pavish commented on #390
I don't think we require the `use_custom_labels` field.

[2021-11-17 11:04] pavish commented on #376
PR #812 handles majority of test cases. Tests yet to be handled:
* The list scrolls automatically to display the currently selected option
   - Comment with additional information on how to write this test: https://github.com/centerofci/mathesar/pull/812#issuecomment-967194874

[2021-11-17 11:15] pavish commented on #742
@seancolsen I think we may have to rethink the design for this.

I think Menu should be a separate low level component of it's own and we can slot it within Dropdown whenever required.

For eg., the column dropdown menu changes it's structure _entirely_ when we try to switch column type. Having a separate Menu component would give us more flexibility.

I'm thinking of something like:
[code]

This

[2021-11-17 11:55] silentninja commented on #623
ApiException is limited to Django rest and cannot be used outside the service layer, while context manager is useful for capturing Custom errors imported from other modules

[2021-11-17 13:46] seancolsen commented on #742
@pavish That sounds good

[2021-11-17 13:48] dmos62 commented on #623
I feel good about using context managers for error handling.

[2021-11-17 14:06] dmos62 commented on #823
I agree that the data layer (`db` namespace) should provide these basic data structures. I think dataclasses are superior to namedtuples for the use case. I agree that their correctness/validation should be part of their definition.

What's the refactor strategy? I see these being implemented opportunistically. For example if I'm doing a PR that does anything more than the most trivial juggling of

[2021-11-17 18:55] kgodey commented on #823
I think that someone should assign this issue to themselves and write a spec for it, once we've all reviewed and agreed on the approach, we can either refactor opportunistically or create new issues for implementation. I've tagged this issue as `restricted: maintainers` and updated the issue to reflect that the expected output is a spec.

I would like to finish backend work on the data types miles

[2021-11-17 18:56] kgodey commented on #623
Now that we have a larger backend team, I think it would be good for whoever takes this issue to write up a technical spec and get it reviewed before proceeding with the refactor.

[2021-11-17 18:57] kgodey commented on #376
@HenryRocha are you working on the remaining tests as well?

[2021-11-17 18:59] kgodey commented on #390
According to our [API standards](https://wiki.mathesar.org/en/engineering/architecture/api-standards), we need to always include all keys in responses:

So as long as we don't ever skip the `custom_labels` key in the response, I'm good.

[2021-11-17 19:42] silentninja commented on #390
Got into a [nasty bug](https://github.com/encode/django-rest-framework/issues/3847) with nested serializer partial update. JsonField default update method makes it even worse as partial update ends up replacing the whole object on the database but acts as a partial object on the serializer.

 Do we need partial update for display_options , I am thinking of disabling partial update for the custom c

[2021-11-17 19:54] kgodey commented on #390
@silentninja I'm not sure what you mean by partial update for `display_options`, could you elaborate?

[2021-11-17 20:04] silentninja commented on #390
Should we support updating certain fields of display_options instead of specifying the complete options during a patch request to columns API

For example:
Should this API request be allowed:
PATCH - table/id/columns/id - {'display_options': {'"custom_labels": {
    "TRUE": "yes",
    "FALSE": "no"
  }}
or should the display options be specified only as a whole object(acts like a put request for t

[2021-11-17 20:13] kgodey commented on #390
We should not allow nested partial serialization. `display_options` should only be specified as a full object. We're following this pattern elsewhere as well.

[2021-11-17 21:10] yankevn commented on #770
Hi, I'd like to work on this issue!

[2021-11-18 03:13] mathemancer commented on #623
One thing to keep in mind when speccing this out is that assuming multiple context managers that we'd want to potentially combine to catch different groups of exceptions (for example, we could have one exclusive to the Django part of the code that just deals in the `APIException` children), we'll need to think a bit about how to make them compose associatively and (hopefully) symmetrically.  We do

[2021-11-18 04:57] mathemancer commented on #770
Go for it, @yankevn .  Please ask if you have any questions!

[2021-11-18 10:07] pavish commented on #619
@seancolsen Sounds good to me, we can enable strict. We can consider disabling specific rules if we run into issues in the future.

[2021-11-18 10:40] agrawalanshul053 commented on #292
I am trying to setup this repository in my local. I am using Windows OS. I have installed docker. I am facing difficulty in the following step.
Clone the repository and then copy the .env.example file to .env like so:
cp .env.example .env
Please help me.

[2021-11-18 10:57] silentninja opened #830 "Facing issues in setting up repo on Windows"
I am trying to setup this repository in my local. I am using Windows OS. I have installed docker. I am facing difficulty in the following step.
Clone the repository and then copy the .env.example file to .env like so:
cp .env.example .env
Please help me.

_Originally posted by @agrawalanshul053 in https://github.com/centerofci/mathesar/issues/292#issuecomment-972744504_

[2021-11-18 11:00] pavish commented on #292
@agrawalanshul053 These commands are to copy files in a posix-like environment.

In windows, you can copy the `.env.example` to a new file and name it `.env`.

Alternatively, you can use your WSL (Windows subsystem for Linux) shell, and use posix-like commands.

[2021-11-18 11:00] silentninja commented on #292
@agrawalanshul053 This issue is for the frontend component, I have moved this to a new issue here #830. Please use it for further discussion

[2021-11-18 11:01] pavish commented on #830
@silentninja Linking to: https://github.com/centerofci/mathesar/issues/570 to keep track of it there as well.

[2021-11-18 11:03] silentninja commented on #830
@agrawalanshul053  Please use the above solution suggested by @pavish and see if it works for you

[2021-11-18 11:12] dmos62 opened #831 "Consider updating to Python 3.10"
## Problem
Our currently used Python version is 3.9, released 2020-10. In 2021-10 Python 3.10 was released. It offers some interesting improvements.

## Proposed solution

Here's a 3.10 [what's new document](https://docs.python.org/3/whatsnew/3.10.html). Among other things, it adds structural pattern matching, and more importantly it iterates over the [`dataclasses` module](https://docs.python.org

[2021-11-18 12:32] dmos62 commented on #385
I'm starting to draft a design. The idea at the moment is to formalize the filters on the `db` namespace using `dataclasses`. In some ways this will be a test bed for #823.

[2021-11-18 13:01] dmos62 commented on #385
Actually, since the filtering will target Mathesar types (correct?), which the `db` namespace is oblivious of, and which are defined in `mathesar.database`, filters should probably be defined there too.

[2021-11-18 14:40] kgodey commented on #831
I don't think we should have Mathesar depend on Python 3.10. We're trying to make it easy for users to install on their systems and some users have older servers that don't come with 3.10.  e.g. Debian stable currently uses 3.9.

I'm already iffy about depending on 3.9, I think we should support a larger range of Python versions.

[2021-11-18 14:42] kgodey commented on #831
Marking this as a draft because it's not actionable yet cc @mathemancer since he's on comms this week.

[2021-11-18 14:49] dmos62 commented on #385
Oh, what led me astray was that the Boolean filters are defined on Mathesar Types. It's not a big deal, I was going to rewrite them anyway.

[2021-11-18 14:51] kgodey commented on #385
Yes, please rewrite them to fit, thanks!

[2021-11-18 16:25] HenryRocha commented on #376
@kgodey If no else wants to take them up, yes, I plan on working on the remaining ones.

[2021-11-18 18:15] #446 closed

[2021-11-18 19:49] silentninja commented on #831
I agree with @kgodey on supporting older versions that are being [supported by python](https://endoflife.date/python). A refactor proposal that describes how an upgrade might help the codebase could help us in weighing the advantage of an early upgrade before the python version gets deprecated(or a few months before it).

[2021-11-18 20:24] kgodey commented on #376
@HenryRocha great thanks! I'll leave the issue assigned to you.

[2021-11-19 07:10] mathemancer commented on #831
We've also had discussion around which Postgres versions to support.  See  #505 and #708 .

I think it's _much_ more reasonable to require fairly new versions of Python than PostgreSQL.  If needed, an administrator of a server could:
- Use downloadable Python binaries + virtualenv to install any version of Python we desire, and use that for Mathesar, or
- Use docker for the service.

To contrast,

[2021-11-19 11:01] dmos62 commented on #831
If running in Docker, using 3.10 is painless. Do we expect early adopters to use Docker? For local development you probably will have to fiddle with your Python install to get 3.10, but that's pretty standard.

The thing about 3.10 is that it brings important improvements over 3.9 in an area we care about: `dataclasses`. It has improvements relating to context managers too (not sure if significant

[2021-11-19 14:17] silentninja commented on #390
Should the endpoint return just the keys of the supported display_options or the complete list with the values/choices allowed(something like Entity value attribute)?

Entity value attribute would mean something like

[code]

Not sure if this would work for options that need nested data.

[2021-11-19 16:53] mathemancer commented on #831
Not sure.  My point with that is that there are a number of options for managing python versions that make it easier than managing PostgreSQL versions.

I _do_ think it's reasonable to expect someone to be able to set up a non-system installation of python for Mathesar if needed.

[2021-11-19 19:10] kgodey commented on #390
I like the entity value attribute option. Our eventual goal is for the frontend to be completely unaware of types (see #661) so I think we'll need that.

[2021-11-19 19:24] kgodey commented on #831
I'm not disputing that using 3.10 might make things easier for us, but I don't want to make Mathesar harder for people to deploy. I don't think we should be opinionated about how Mathesar is deployed and I also think that we should make it as easy as possible to deploy it across a variety of scenarios.

We do not expect _all_ early adopters to use Docker.

I don't think we should prioritize suppor

[2021-11-19 19:32] silentninja commented on #831
For someone not that technical, it is easier to run `pip install` if they are using a unix system compared to creating a new virtualenv. Moreover not every managed server out there would be having support for the latest python. For example [Elastic beanstalk supports only python 3.8 and 3.7](https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platforms-supported.html#platforms-supported.

[2021-11-19 20:00] kgodey commented on #782
Responding to various comments:

---
@mathemancer:

I think this is exactly what we should do. In addition, we should transfer dependent objects from the old view to the new one, and if we cannot do that automatically, then we don't allow the view to be updated.

If we do everything in a single transaction, then there won't be a failure state where the new view has been created but the old view is

[2021-11-19 20:02] kgodey commented on #782
Marking as ready and moving to the backlog. Please feel free to add comments if any of you have additional concerns.

[2021-11-19 20:04] kgodey commented on #781
Marking this as ready and moving to backlog.

[2021-11-19 20:06] kgodey opened #834 "Support for knowing which views are materialized"

[2021-11-19 20:12] kgodey commented on #805
@ghislaineguerin @pavish @mathemancer @seancolsen This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-11-19 20:17] kgodey commented on #834
@dmos62 @ghislaineguerin @pavish @mathemancer @seancolsen @silentninja This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-11-19 21:27] andruwwwka commented on #813
Hi!
Can I help you with this issue?

[2021-11-19 22:05] silentninja commented on #813
Hey! @andruwwwka Sure, I have assigned it to you.

[2021-11-19 22:07] andruwwwka commented on #813
@silentninja thx!

[2021-11-19 22:11] silentninja commented on #813
There is a slight change in the issue, it seems like we are already using [DRF test client](https://github.com/centerofci/mathesar/blob/e55088bf7100c9ca4347c2a251ac0e424f71573b/mathesar/tests/api/conftest.py#L22). But the test cases are not using correct options for sending json data, let me know if you are okay to work on it I will update the issue

[2021-11-19 22:16] silentninja commented on #813
My IDE was pointing to the wrong client fixture, but the seems to be using the correct API client in [contest](https://github.com/centerofci/mathesar/blob/e55088bf7100c9ca4347c2a251ac0e424f71573b/mathesar/tests/api/conftest.py#L22), the problem seems to be with improper settings

[2021-11-22 08:24] mathemancer commented on #782
"Failure state" was the wrong word on my part, sorry.  I'm talking about the feedback to the user; If they have no clue what's going on under the hood, it's likely we'll fail sometimes for reasons that make no sense to them:  If they get an error message that says "could not update `my_view`.  Details: `my_view` could not be dropped because it has dependent objects", they may be confused, and worr

[2021-11-22 10:03] #831 closed

[2021-11-22 10:46] dmos62 commented on #805
This might be tangential, but what's our strategy for dealing with database object names (e.g. view names)? Postgres puts constraints on names that might not necessarily make sense for a Mathesar user (right?). We can hide that inconvenience by using a mapping from user-specified-alias to database-object-name. The database-object-name can be automatically generated or chosen by the user. A user-sp

[2021-11-22 12:25] silentninja commented on #834
So we don't support creating or modifying a materialized view but allow them to be read and used just like a normal view. Is that right?

[2021-11-22 20:17] #750 closed

[2021-11-22 20:26] kgodey commented on #834
Yes, that's correct.

[2021-11-22 20:30] seancolsen commented on #782
@kgodey

There are three occurrences of the text "not be saved" in the ticket description. That's what I'm referring to. I'd expect that if I adjust the filter in a view, I'd have a way to save my new filter settings within the view I already created. It sounds like I won't be able to save those filter adjustments (and other adjustments), and I'd call that a limitation. Are those limitations short

[2021-11-22 20:35] kgodey commented on #782
I think I wasn't clear enough in my description, I meant that the changes would not be saved _automatically_. The user will need to manually save the changes, but they should be able to save them. e.g. if I drag and drop columns, the frontend should not send a request to the backend to update the query that powers the View. Instead, the columns should be reordered in the frontend and there should

[2021-11-22 20:39] kgodey commented on #805
Currently, we're using the names that Postgres uses. We considered having the concept of "human readable names" but discarded it for simplicity. I think we can add aliases in the future (post-alpha) if needed.

[2021-11-22 21:26] seancolsen commented on #782
Thanks @kgodey that explains it

[2021-11-22 21:48] kgodey commented on #783
@dmos62 @ghislaineguerin @pavish @mathemancer @seancolsen @silentninja This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-11-23 00:58] yankevn commented on #770
Just to clarify, is this issue purely frontend work, so all I do is add an additional filter to the dropdown menu? How much is expected from this issue in terms of integration with the rest of the backend and db?

[2021-11-23 05:27] silentninja opened #839 "Replace column index usage with attnums and Column model `id`"
## Problem
Column index that is being used now is not robust and has few bugs related to its usage. For example `db.constraints.operations.select.get_column_constraints` will break if columns have been deleted.

## Proposed solution
PR #658 introduces the Column model which uses attnum, a robust alternate to column index. Hence column model `id` or `attnum` should be used in the place of column in

[2021-11-23 08:18] andruwwwka commented on #813
@silentninja You are right, DRF test client is already being used.
The request format is not specified in the test cases. For example:
[code]
It works fine if we set `format` parameter for `post`, `patch`, `put` methods:
[code]
However, for `get` method if we use nested dict it not works. This is because [get method of APIRequestFactory](https://github.com/encode/django-rest-framework/blob/3.12.4/

[2021-11-23 15:25] silentninja commented on #813
@andruwwwka That's correct, `get` request can only accept strings, so the nested dictionary needs to be converted into a json string and parsed into a json on the backend. This is the reason GraphQL and such use  `post` request

[2021-11-23 15:37] andruwwwka commented on #813
@silentninja Is the issue still relevant? Fix test cases without nested dict in `get` requests?

[2021-11-23 15:51] seancolsen commented on #770
@yankevn Thanks for clarifying. Yes, this issue is purely front-end. The back-end work to filter by duplicate values should already be complete. See the [this Python test](https://github.com/centerofci/mathesar/blob/e4c0fbf63d4249d3fcca7ad9c724bc3ebd63bbf7/mathesar/tests/api/test_record_api.py#L88-L88) for an example of the API filtering by the presence of duplicates.

Yes.

It's also worth noting

[2021-11-23 16:45] silentninja commented on #813
Yes the underlying problem is still the same, so I have edited the issue title and description to reflect the problem correctly

[2021-11-23 17:17] #758 closed

[2021-11-23 22:01] kgodey commented on #456
@dmos62 @ghislaineguerin @pavish @mathemancer @seancolsen @silentninja This issue has been updated and is ready for review. Please look through it and unassign yourself after you've added any feedback that you might have.

[2021-11-24 01:03] yankevn commented on #770
I see. After some investigation, it looks like the current API expects a url of the format "/tables/2/records/..." while the url to invoke the duplicate filter requires an additional prefix: "/api/v0/tables/2/records/...". Is this intentional, and is this within the scope of this issue?

[2021-11-24 01:14] kgodey commented on #770
@yankevn All API calls require the `/api/v0/` prefix. I'm not sure where you're seeing the API calls without the prefix.

[2021-11-24 01:35] yankevn commented on #770
Sorry about that, looks like it was a false alarm, you can ignore my last message!

[2021-11-24 01:57] yankevn commented on #770
I do notice that I can filter by duplicates when I pass in a hardcoded API call uri, but the API returns error 400 if there's an "and".

In other words,
`'/tables/2/records/?limit=500&offset=0&filters=[{"field": "", "op": "get_duplicates", "value": ["Patent Expiration Date"]}]'`

will work, but

`'/tables/2/records/?limit=500&offset=0&filters={"and": [{"field": "", "op": "get_duplicates", "value":

[2021-11-24 02:05] kgodey commented on #770
@yankevn Yes, it's a known issue, see https://github.com/centerofci/mathesar/issues/501#issuecomment-899795976

[2021-11-24 02:22] seancolsen commented on #447
This [comment thread in our weekly discussion](https://github.com/centerofci/mathesar/discussions/840#discussioncomment-1691057) had me thinking more about this ticket.

This ticket seems like it should be quick, but it unfortunately requires some refactoring which has been a bit tricky for me so far. Pavish and I have already discussed it a couple times. I originally opened #764 with the aim of d

[2021-11-24 02:26] kgodey commented on #447
That sounds good to me. I'll defer to @ghislaineguerin in case she has any UX concerns.

[2021-11-24 03:17] mathemancer commented on #834
Note that materialized views can't be `INSERT`ed into or `UPDATE`d under any circumstances (that I'm aware of; see https://www.postgresql.org/docs/13/rules-materializedviews.html). This means that some of our view logic won't work.  Given that, I think we should precisely specify what we mean by "used just like a normal view".  Unless we're ready to change their definitions and update them using t

[2021-11-24 03:41] mathemancer commented on #805
@dmos62

Not quite.  The traditional SQL constraints on identifiers are still in play, but PostgreSQL has a way to get around them.  Any character included in the DB's character set (except the `null` character) is valid in a name if it's a so-called 'quoted identifier' in the DB.  For input of such an identifier, you need to wrap it in double-quotes.  We're doing this quoting silently.  So, the u

[2021-11-24 03:50] mathemancer commented on #805
@kgodey relevant to my other comment:  By "invalid name", do you just mean a view with the same name as another named object?  Or were you thinking of other ways the name could be invalid?  I'm assuming based on previous conversations you don't want to restrict users to traditional valid names as per the SQL standard.

[2021-11-24 07:54] #658 closed

[2021-11-24 08:54] mathemancer commented on #839
I think the `db` layer identifier for the column should be the `attnum`, and the `mathesar` service layer should map between the column id used in the API and the `attnum` used by the database.

[2021-11-24 12:39] dmos62 commented on #426
@mathemancer I think that having the backend do parsing that is likely to fail, like parsing human-readable time-related expressions, is problematic because of the roundtrip time: when inputing a time-expression you want the parsing to happen on the frontend so that feedback isn't delayed.

I see the backend providing a simple and robust interface and the frontend providing some more exotic output

[2021-11-24 14:31] mathemancer commented on #456
I thought we were going to start with only supporting views which can be automatically inserted to / updated in the DB.  In that case, we need to restrict the scope to only views which are very simple selects from a single table.  If we want to do more than that, the implementation will get quite intense, and I suggest we break this into multiple different stories based on different scenarios.  Se

[2021-11-24 14:53] pavish commented on #447
I am okay with this. Editing the tab directly for rename involves considerable work which I don't think is essential right away for this particular usecase.

@ghislaineguerin I like the UX where we can edit the tab directly. Is it okay if we went with @seancolsen's suggestion for now and put down the original UX as low priority and come back to later at a later stage in time?

[2021-11-24 16:19] ghislaineguerin commented on #783
@kgodey How would we handle this for views where we cannot edit the structure or know what the dependencies are? I'm assuming this will be read-only or not accessible?

[2021-11-24 16:57] ghislaineguerin commented on #456
@kgodey Do we need to consider editing a record from a view that references another view rather than a table and how that would look like?

[2021-11-24 18:32] kgodey commented on #839
Marking as ready since the prerequisite work has been merged.

[2021-11-24 18:47] kgodey commented on #805
@mathemancer I was thinking about view names either having a name collision or being too long (over 63 bytes).

[2021-11-24 19:26] ghislaineguerin commented on #447
@seancolsen I think the plan works. It is not worth implementing something if we can't ensure a good user experience. What you describe will work consistently and make it easier to display any error information if needed.

[2021-11-24 23:27] kgodey commented on #426
@dmos62 I agree with you, but this issue is referring to inferring data types when importing data in bulk (via CSVs, etc.) We don't provide real time feedback in that case and we need to be able to suggest the correct data type.

Please also look at the PR for this issue: #628

[2021-11-25 03:13] yankevn commented on #770
Was there a reason for requiring that the "value" field needs to be an array instead of just a string? It seems to be causing problems with regards to casting as well as the db commands.

![image](https://user-images.githubusercontent.com/43934572/143373388-3ec5a43c-0167-4c3d-b4ae-2964b407094f.png)

[2021-11-25 05:22] yankevn commented on #770
Also, sorry, if this is a silly question, I think I've got code that I'd like someone to take a look at, but I can't find my branch anywhere when trying to create a pull request. Am I missing something when creating my branch, or do I have to fork the repo to create a pull request?

[2021-11-25 05:37] pavish commented on #770
@kgodey This filter seems to function very differently compared to the rest.

1. The UI has a column selector which is used to identify the field to filter, however in 'get_duplicates' case, it is empty and the columns are mentioned on the value param. This will require special handling.
2. This filter cannot work with the other filters together at the moment making the entire filter pane UI non-f

[2021-11-25 05:38] pavish commented on #770
@yankevn Yes, you will have to fork the repo to create a PR.

[2021-11-25 05:44] pavish commented on #770
@yankevn

This particular filter requires special handling for now, which includes `value` having to be an array, and `field` having to be empty string. This is not the same as other filters (the other filters work on the WHERE clause while this doesn't), but we have it as part of the `filter` param in the api request for now. @kgodey might offer better insight into why and how to structure this l

[2021-11-25 05:52] pavish commented on #783
@kgodey
This is a technical concern. I know this was discussed, I just want to re-iterate that when the structure is modified and the view is saved, the backend should handle deleting the old view and creating the new one with the same id, name and dependencies. As far as the clients are considered, the same view gets updated.