[2022-03-07 12:26] dmos62 commented on #1138
Thanks for bringing this up. I've been killing pytest mid-run to bypass casting tests, since they take a lot of time.

Tests that test multiple things at once are common in our suites, which is inefficient, as you've pointed out. I've definitely contributed to that. I think more care during PR reviews and general opportunistic refactoring should be welcomed.

For the time being, I'll add `--ignore

[2022-03-07 14:31] kgodey commented on #1121
@mathemancer Agreed on using `TEXT` for the default textual database type.

I don't have a preference for `VARCHAR` vs. `TEXT` from a backend perspective. During a call with @seancolsen and @pavish last week, it seemed like the logic for the frontend type selection would be simplified if they could use `VARCHAR` for things that had a length and `TEXT` for things that did not have a length. I don't

[2022-03-07 17:22] mathemancer opened #1145 "API should validate input type for number columns"
## Description

Currently, the API accepts strings for values input to number-typed columns. In this case, numbers are parsed according to the DB locale, regardless of client settings.

## Expected behavior

Columns which use a number type for storage at the DB layer should only accept number values as input at the API layer.

## To Reproduce

- Create a table with a number-typed column (e.g., `IN

[2022-03-07 17:29] pavish commented on #1135
@seancolsen Okay, let me try explaining this with an example.

1. Open `ConfirmationController.ts`.
2. Comment out line 3: `import type { Writable } from 'svelte/store';`. Note that we have line  4 which imports `writable`.
3. Now, in line 53: `confirmationProps: Writable<ConfirmationProps>;`, edit `Writable` and let VS code auto-import it.
4. You can notice now that line 4 has changed from `impor

[2022-03-07 17:30] mathemancer opened #1146 "Check whether API accepts strings for boolean columns"
## Description

As in #1145 , we're not doing any validation in the serializer layer to prevent a string being input for the value in a `BOOLEAN` column. Unlike #1145, I can't find any examples where the API is actually accepting a string for a boolean.

## Expected behavior

We should guarantee that we don't accept strings for boolean column values.

## Additional context

This issue is a draft u

[2022-03-07 17:52] pavish commented on #1145
@mathemancer I think the api should accept string for number-types, atleast for types like 'BIGINT'.

Javascript can only represent BigInt using a dedicated class for it and there's no way to represent it as a number in JSON. It can only be a represented as a string.

[2022-03-07 18:08] seancolsen commented on #1135
Ok I see what you're talking about now. Thank you for providing the example. Yes I already encounter that problem daily-ish. It's a nuisance, and I can see how it would get worse, were we to put all the re-exports in the same file. I support splitting the re-exports up into separate files -- a file `index.ts` containing all the re-exported values (including enums), and a file `types.ts` containing

[2022-03-07 18:13] seancolsen commented on #1135
I've marked this as "ready" now that we seem to be in agreement about the next steps.

`find src -name \*.d.ts`

[code]

I'm not sure we can change all the `.d.ts` files to `.ts` files straight away though. For cases like `Icon.d.ts`, I think it will present some problems to have `Icon.svelte` and `Icon.ts` (as I mentioned in the "Easier auto-imports" section of the ticket body). So I'd like to ch

[2022-03-07 18:42] kgodey commented on #1145
I think that we should enforce that the number doesn't have any non-digit characters, but the actual input can be string or numeric. @mathemancer, I'm assigning this to you and removing the `help wanted` labels until this is no longer a draft.

[2022-03-07 19:40] kgodey commented on #805
Closing this issue in favor of #466

[2022-03-07 19:40] #805 closed

[2022-03-07 19:40] kgodey commented on #454
Closing this issue in favor of #466

[2022-03-07 19:41] #454 closed

[2022-03-07 20:12] kgodey commented on #1140
@seancolsen I'll leave it to you and @pavish to figure out a solution here, since I don't have enough information to speak to frontend architecture. My general opinions are:

- Let's do what we need to do to unblock current work.
- I don't think a modal is the best pattern in the long run for configuring a column because it makes sense for the table to be visible while you're applying configuratio

[2022-03-08 10:12] mathemancer commented on #1145
@pavish It won't just be `BIGINT`. `NUMERIC` is arbitrary-precision, so we'd need to be able to handle large numbers with decimal points. The problem with that is we can't know the locale settings and so on for the front end. Thus, in order to accept strings for numbers, we should probably establish a "canonical style" for numbers, and require the front end to submit any numbers in that style (if

[2022-03-08 13:00] #994 closed

[2022-03-08 13:30] #960 closed

[2022-03-08 14:19] #896 closed

[2022-03-08 15:38] mathemancer commented on #1145
Okay, it should be ready for work now; @kgodey Re-adding the good first issue and help wanted labels, since it they should still apply and the issue is no longer a draft.

[2022-03-08 16:38] kgodey commented on #1145
Sounds good, thanks @mathemancer.

[2022-03-08 16:46] kgodey commented on #260
Backend work is merged, so removing `blocked` label.

[2022-03-08 23:10] #1094 closed

[2022-03-09 01:24] seancolsen commented on #1145
Agreed. Better to be strict here, not forgiving.

[2022-03-09 05:15] sahilsaini110 commented on #1146
@mathemancer I would like to work on this issue, please assign this to me.

[2022-03-09 05:34] silentninja commented on #1146
@sahilsaini110 This issue is still a draft and not to be worked on until the `status` label is changed to `ready`.

[2022-03-09 06:07] sahilsaini110 commented on #1146
Sure, I am looking forward grt some issues.

[2022-03-09 06:24] silentninja commented on #1146
@sahilsaini110, the issues listed below would be good candidates to work on.

- #1145
- #1107

[2022-03-09 06:54] sahilsaini110 commented on #1074
Hey @seancolsen may u assign this to me. I would love to work on this issue.

[2022-03-09 07:12] silentninja commented on #1074
Thanks, @sahilsaini110!.I've assigned this ticket to you. Let us know if you need any help.

[2022-03-09 07:45] sahilsaini110 commented on #1074
Thanks @silentninja i will surely connect to you if i needed any help.

[2022-03-09 09:14] mathemancer commented on #1146
After a bit of research, it seems SQLAlchemy _does_ validate that input is a proper boolean.

[2022-03-09 09:14] #1146 closed

[2022-03-09 09:20] mathemancer commented on #1121
I don't see any harm either.

To the implementer: This change needs to be made in the inference logic. The back end does not currently set default database types for Mathesar types.

[2022-03-09 09:51] ManishShah120 commented on #1145
Hi, @kgodey @mathemancer I am interested in working on this issue, Can I please be assigned to it. This would be my first issue with this Org and I am interested in adding some useful patches in future.

--Thank You :smile:

[2022-03-09 14:10] seancolsen commented on #1121
I've updated the ticket description to be more specific about the expected behavior -- specifying `TEXT` instead of "`TEXT` or `VARCHAR` with a length"

[2022-03-09 18:12] ManishShah120 commented on #1145
Hi @pavish Thank you, I am trying to understand the issue and tested by entering string in the column with `number type`,  but it's
 handling the error nicely and we are not able to input string to it. Can I get a more brief about this issue, with example inputs.

 --Thank you

[2022-03-09 18:19] pavish commented on #1145
@ManishShah120 This issue focuses only on the backend work. You can see the reproduction steps in the above issue description, which might give you a better idea of the issue.

The string should strictly confirm to the JSON number spec.
You may have to do these steps directly on the db, since the frontend does not allow these operations at the moment.

@mathemancer looping you in, if you have addi

[2022-03-09 19:05] kgodey commented on #1145
@ManishShah120 I updated the "To Reproduce" step in the [issue description](https://github.com/centerofci/mathesar/issues/1145#issue-1161705041) with details on how to send ad-hoc API requests, that might help.

[2022-03-09 20:06] silentninja opened #1151 "Error handler should not capture exceptions in DEBUG mode"
## Description
Based on the [conclusion from the discussion](https://github.com/centerofci/mathesar/discussions/1150).

Improve backend's debugability via two changes:
1. when backend is in debug-mode, add a pretty-printed stacktrace alongside the current error JSON;
2. stop wrapping unhandled exceptions in 4999 errors.

For some context, we're catching backend exceptions and wrapping them in cust

[2022-03-10 06:04] ManishShah120 commented on #1145
Thank you @kgodey this helped me alot in debuggin and understanding the flow.

I tested with this values via the browsable API:-
[code]
and with this values:-
[code]
the query looks something like this:-
[code]
with this as an ERROR response:-
[code]
But is this not what we would expect?? If i can understand it correctly, I am required to add a validation in the API level that it should only accep

[2022-03-10 07:26] silentninja commented on #1145
The expected behaviour states that

So the API can accept input as a string, but the format should be a JSON spec number. The reason is to avoid conflicts based on locale. For example, let's say I want to set the value as for `99900`(Ninety Nine thousand and Nine hundred)

If the frontend is using a US locale, it would be sending `99,900`, if the backend happens to be using a locale that uses a co

[2022-03-10 07:59] mathemancer commented on #1145
@ManishShah120 What does the API error show in that case?

[2022-03-10 08:42] mathemancer commented on #1145
@ManishShah120 I've updated the issue description with some more details and clarifications. The goal is to avoid letting the database even see a number which doesn't conform to the JSON number spec (as a string or number). It's important that we do the checking ourselves in a locale-independent way.

[2022-03-10 09:59] A1O commented on #1123
I’d like to work on this issue.

[2022-03-10 10:05] silentninja commented on #1123
Thanks, @A1O! I have assigned you the issue. Let us know if you need any help. Feel free to ask questions here or in [Matrix](https://wiki.mathesar.org/en/community#matrix) (our chat system).

[2022-03-10 10:52] ManishShah120 commented on #1145
@mathemancer
here's the response to the below data:-
[code]

Response of the API endpoint(with CURL cmd):-
[code]

Response (from the docker instance)
[code]

[2022-03-10 10:54] ManishShah120 commented on #1145
Okay got it.

[2022-03-10 11:57] ManishShah120 commented on #69
Hi @pavish I too felt the need of this feature while trying to understand all the present API endpoints and its allowable parameters.  May be we can also think of [Swagger](https://swagger.io/)!

[2022-03-10 12:39] dmos62 commented on #593
Since the operations of changing a table's name and changing its columns are somewhat distinct (order-sensitive, one depends on the other), maybe let's not try to create a transaction out of it and just expose an API for doing these things separately. Something like `PUT tables/1/name` and something similar for the columns sub-resource.

[2022-03-10 16:39] kgodey commented on #593
@dmos62 We already have an API for doing those things separately, this issue was created to help us follow the REST paradigm for the Table resource better. Please see the linked discussion under "additional context" for how this issue came about.

[2022-03-10 16:42] #742 closed

[2022-03-10 19:58] kgodey commented on #431
Reopening this since it was on @dmos62's standup today.

[2022-03-10 23:17] silentninja opened #1156 "URI type does not allow NULL value to be set."
## Description
A column with the `URI` type does not allow `null` value to be set after creation even though the column `nullable` option is enabled

## Expected behaviour
Allow setting a null value to a nullable `URI` type column without throwing up an error

## To Reproduce
1. Create a new column with the type `URI`.
2. Try setting a null value to the column by creating a new row and not enterin

[2022-03-11 00:05] silentninja commented on #1064
Blocked by #1156

[2022-03-11 02:31] ManishShah120 opened #1158 "[docs] Document the steps to set up the project locally"
## Problem
Presently, we only have the steps in the documentation to get started with development with docker container, which doesn't allow us to install third-party extensions to the project only for development or debugging purpose, and also it's a bit challenging for any beginner to work on the project with the docker instances.

## Proposed solution
It would be nice if we could document the s

[2022-03-11 02:33] ManishShah120 commented on #1158
As discussed on the IRC channel, I am working on it, once I am able to set it up, I'll open a PR for this.

--Thank You

[2022-03-11 08:40] dmos62 commented on #431
Closing. I double checked and the linked PR indeed makes sure that the `interval` DB type is supported, also the `duration` UI type is properly declared where appropriate in the `filters` endpoint.

[2022-03-11 08:40] #431 closed

[2022-03-11 09:14] pavish commented on #500
Blocked until all data type implementations are complete on the frontend.

[2022-03-11 12:24] sahilsaini110 commented on #765
Hey, @pavish I would like to work on this issue. I don't have have exact idea on how to do it so i am exploring it and will solve it in few days.

[2022-03-11 12:34] pavish commented on #765
@sahilsaini110 Sure! I've assigned this issue to you. There's a closed PR which might give you a better idea of previous approaches: https://github.com/centerofci/mathesar/pull/649

Feel free to ask us anything to help you with this issue.

[2022-03-11 15:33] A1O commented on #1124
I’d like to work on this issue.

[2022-03-11 16:17] ManishShah120 commented on #1125
I would like to take up this issue.

[2022-03-11 17:44] seancolsen commented on #1125
Thanks @ManishShah120 I've assigned it to you.

[2022-03-11 18:48] #1074 closed

[2022-03-11 19:26] seancolsen commented on #1124
Thanks @A1O! I've assigned it to you. Let us know if you have any questions.

[2022-03-11 19:54] kgodey commented on #1158
Thanks for opening this issue @ManishShah120. I've assigned it to you since you're working on it.

[2022-03-11 19:57] sahilsaini110 commented on #1107
@mathemancer may u assign this to me. I would like to work on it.

[2022-03-11 20:08] kgodey commented on #1107
@sahilsaini110 Sure, I've assigned it to you. I also updated the issue description to link to the relevant PR with the custom casting code for money, you'll want to emulate that code.

[2022-03-11 20:54] ManishShah120 opened #1161 "[UI] Error message gets displayed even when the table name is set to its prior name"
## Description
When we try to rename a table, but later undo the field with the name of the table as before the error message is still displayed, which should not be expected.

## Expected behavior
The error message should not be displayed as soon as the table name is set to its prior name.

## To Reproduce
[code]
## Environment
 - OS: (_eg._ macOS 10.14.6; Fedora 32)
 - Browser: (_eg._ Safari; Fi

[2022-03-11 21:57] ManishShah120 commented on #1129
I would like to work on this issue, :+1:

[2022-03-11 21:59] kgodey commented on #1129
Thanks @ManishShah120, go ahead.

[2022-03-12 07:02] sahilsaini110 commented on #1127
@seancolsen I would like to work on this issue may you please assign this to me.

[2022-03-12 08:19] ManishShah120 commented on #1128
I would like to take up this issue. :+1:

[2022-03-12 08:19] Cronus1007 commented on #1115
@pavish Shall I work upon this issue?

[2022-03-12 08:26] ManishShah120 commented on #1130
I would love to take up this issue. :smiley:

[2022-03-12 08:29] sahilsaini110 commented on #1127
@seancolsen may you assign this issue to me.

[2022-03-12 08:32] sahilsaini110 commented on #1127
Also, I want to ask one thing, how can we add true false entries in textarea while writing the test. As we are adding 2 and 3. May you please guide me with that.

[2022-03-12 08:49] vrutik2809 opened #1165 "Permission denied error"
## Description
While setting up the codebase in my local windows machine following the readme using [WSL](https://docs.microsoft.com/en-us/windows/wsl/), I encountered the following error after running the command- `docker-compose up` :
`mathesar_service  | 2022/03/11 22:25:04 Error starting command: ./[run.sh](http://run.sh/) - fork/exec ./[run.sh](http://run.sh/): permission denied`.
I tried `su

[2022-03-12 09:18] vrutik2809 commented on #1165
While resolving the issue, i come to know that it was occurring because the permission status of  `run.sh` was `-rw-r--r--`. So after running `chmod a+rwx run.sh` , the issue has been resolved.

[2022-03-12 09:20] vrutik2809 commented on #1165
One thing I would like to add that windows user make sure that the EOL of file is `LF` rather than `CRLF` (default of windows) else you will face the following error while running the command `docker-compose up`:
[code]

[2022-03-12 09:20] #1165 closed

[2022-03-12 11:06] sahilsaini110 commented on #984
@seancolsen please assign this to me.

[2022-03-12 11:37] silentninja commented on #984
Thanks, @sahilsaini110 I have assigned the issue to you.

[2022-03-12 12:05] nk183 commented on #1161
@kgodey @ManishShah120 can I work on this issue?

[2022-03-12 14:42] nk183 commented on #1134
hi @seancolsen  can I work on this issue

[2022-03-12 15:29] kgodey commented on #1128
Thanks @ManishShah120, assigned to you.

[2022-03-12 15:30] kgodey commented on #1115
@Cronus1007 nice to see you here :)

I've assigned the issue to you, please go ahead and work on it.

[2022-03-12 15:31] kgodey commented on #1130
@ManishShah120 I assigned you #1128, please work on that first (we have a limited supply of `good first issue` tickets and would like to spread them across different contributors).

[2022-03-12 15:33] kgodey commented on #1127
@sahilsaini110 I've assigned this to you. I see you have a few issues assigned already, please complete them first before asking to be assigned more issues.

[2022-03-12 15:34] kgodey commented on #1134
Go ahead @nk183

[2022-03-12 15:47] sahilsaini110 commented on #1107
Thanks, @kgodey for assigning this issue to me. Also, I will go through the pr you have linked and try to fix this issue.

[2022-03-12 16:28] hanuasfaw commented on #1161
Hello, there. I am working on a solution to this issue!

[2022-03-13 10:29] Cronus1007 commented on #1131
@seancolsen Shall I work upon this issue?

[2022-03-13 10:56] silentninja commented on #1131
Thanks! @Cronus1007, I have assigned the issue to you. Let us know if you need any help.

[2022-03-13 13:35] nimishbongale commented on #1054
Hello @kgodey, can I work on this issue?

[2022-03-13 13:39] nimishbongale commented on #376
Hello @kgodey @pavish, can I take this up?

[2022-03-13 14:57] ManishShah120 commented on #1128
Hi @seancolsen, I am trying to write the test, but I am getting the error, as `Unable to change column.`

Attached a GIF of it:
![clipped_Giff](https://user-images.githubusercontent.com/45564404/158065479-4f35def8-7307-4612-a0d5-8cff49e00afe.gif)

[2022-03-13 15:58] kgodey commented on #1054
Sure, go ahead @nimishbongale. I'll defer to @pavish on whether it should be configurable.

[2022-03-13 15:59] kgodey commented on #376
Sure, go ahead @nimishbongale.

[2022-03-13 17:36] vrutik2809 commented on #1096
@silentninja I would like to work on this issue. Can you please elaborate on this issue and how to get started?

[2022-03-14 05:13] Anish9901 commented on #555
Hey @kgodey, I would like to take up this issue, can you please point me to some docs related to the project that would help me solve this issue. I have already taken a look at #449.

[2022-03-14 05:34] pavish commented on #555
@Anish9901 I've assigned this issue to you. We do not have enough docs documenting code level architecture at the moment. Please feel free to ask your questions on our [matrix channels](https://wiki.mathesar.org/en/community/matrix).

It's night at @kgodey's part of the world, she might have additional pointers for you when she's back online.

[2022-03-14 05:51] pavish commented on #1096
@vrutik2809 I've assigned this issue to you. @silentninja will get back to you when he's back online. In the meanwhile, please feel free to ask your questions directly on our [matrix channels](https://wiki.mathesar.org/en/community/matrix).

[2022-03-14 05:58] pavish commented on #1054
@nimishbongale

No, we do not need it to be configurable at the moment.

[2022-03-14 06:10] pavish commented on #1128
@ManishShah120 Could you please open a separate issue for this?

@silentninja It looks like our integ environment is missing certain db functions, probably because migrations did not run. The error:
[code]

Do you have any quick suggestions to resolve this so that @ManishShah120 can continue his work on the test case?

[2022-03-14 06:13] ManishShah120 commented on #1128
Sure, On it

[2022-03-14 07:35] Anish9901 commented on #555
ok, @pavish

[2022-03-14 07:41] silentninja opened #1167 "Batch updating column using `/tables/` api should reference column using `id` instead of `column_index`"
## Problem
Batch updating Columns using the `columns` field in the `patch` method of the `/tables/{id}/` does not use `id` of the column rather the column to update is identified based on the position of the column objects. This is not ideal due to the following reasons:
- Similar to the `column_index` which is [deprecated in favour](https://github.com/centerofci/mathesar/issues/839) of `id`.
- Co

[2022-03-14 08:49] vrutik2809 commented on #1096
Thank you

[2022-03-14 09:03] silentninja commented on #1096
@vrutik2809 I think this issue needs some in-depth knowledge about the codebase, I was wrong about tagging this as a `good first issue`. I have unassigned you, Please feel free to work on some other issue. Really sorry for the inconvenience

[2022-03-14 09:22] silentninja commented on #1128
I think `mathesar_types` schema is not installed. Are you calling `install.install_mathesar_on_database(engine)`, please refer `patent_schema` (mathesar.tests.conftest.patent_schema) for example

[2022-03-14 09:40] mathemancer commented on #555
@Anish9901 Please see `db/columns/operations/create.py` for the db-layer part of the code. You'll need to add a bit of logic there. Please let us know here or on Matrix if you have some specific questions. The developer docs are a bit light as we're moving quickly to get this released.

[2022-03-14 10:21] vrutik2809 commented on #1096
No problem. I will look for another issue

Thanks

[2022-03-14 10:34] pavish commented on #1128
@silentninja Ah, makes sense. I believe it does not pertain to this issue but rather an issue with the common `go_to_patents_data_table` fixture.

I'll defer to @silentninja and @seancolsen for information on the changes required. I think it's best to move this discussion to the PR: https://github.com/centerofci/mathesar/pull/1164.

[2022-03-14 10:45] #1161 closed

[2022-03-14 11:33] silentninja commented on #1105
Installing os locale package seems to be the best option, there are very few options and we would anyway end up creating a subset of the locale

[2022-03-14 14:37] vrutik2809 commented on #1121
I would like to work on this issue. Can anyone please elaborate on this issue and how to get started?

[2022-03-14 14:57] ManishShah120 opened #1168 "Install `mathesar_types` to full-fill some of the important db functions to work with e2e integ Testing"
## Description
While running the e2e integration testing, integ environment is missing certain db functions, which doesn't allow the e2e environment to work with.

## Expected behavior
All the front-end functionality should work exactly the same manner as working with any browser in the playwright browser or e2e testing environment.

## To Reproduce
This issue was found while working on these e2e

[2022-03-14 16:01] sahilsaini110 commented on #1127
## Here is my code for the test.
I am unable to test it due to some errors may you tell me if it looks good to you or if there are any changes.

page.goto(base_schema_url)
[page.click](http://page.click/)("[aria-label='New Table']")
[page.click](http://page.click/)("button:has-text('Import Data')")
[page.click](http://page.click/)("text=Copy and Paste Text")
page.fill("textarea", "foo,bar\ntrue,fa

[2022-03-14 16:15] kgodey commented on #1105
@silentninja Examples of these are given in the issue, e.g. "Whenever the "Format Type" setting is changed to a currency code, this should be set to the appropriate currency symbol for that code."

I agree with this, mostly. I think if the user is using a predefined format and then after that, they change another display option, we should allow them to do so but also change the "format type" to cu

[2022-03-14 16:17] kgodey commented on #1168
@ManishShah120 are you working on this? I saw some messages in Matrix that might indicate that you are.

[2022-03-14 16:29] kgodey commented on #1168
Great thanks @ManishShah120, assigned to you.

[2022-03-14 18:26] priyang12 commented on #1130
hi, can I work on this issue if no one is working on it? @seancolsen @kgodey

[2022-03-14 18:42] kgodey commented on #1130
Go ahead @priyang12!

[2022-03-14 20:38] ForchaGlen commented on #1140
Please may I work on this issue ?

[2022-03-14 20:45] seancolsen commented on #1140
@ForchaGlen No, we don't have a consensus on the path forward here, which is why the issue is still labeled with `status: draft`. Pavish and I need to chat more to resolve our disagreement. If we side with Pavish, then we'll be closing this ticket without any further work.

[2022-03-14 20:50] ForchaGlen commented on #1140
@seancolsen  okay , thank you.

[2022-03-14 21:03] kgodey commented on #1140
@ForchaGlen Please look at our [issues labeled `good first issue`](https://github.com/centerofci/mathesar/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+no%3Aassignee). Those are suitable for people to contribute to, please comment on one of those.

[2022-03-14 21:24] Forchapeatl commented on #1126
Please , May I work on this issue ?

[2022-03-14 21:25] Forchapeatl commented on #1140
@kgodey thank you

[2022-03-14 22:03] kgodey commented on #1126
Go ahead @Forchapeatl

[2022-03-15 03:42] pavish commented on #1054
A bit more information on this issue:

Whenever we make a request from the frontend (In places where we call methods like `postAPI`, `getAPI` etc.,), the `appendUrlPrefix` method checks if the full path is specified, if yes, it does not append any prefix, otherwise it appends the `db` prefix by default.

As mentioned in the issue description above, this is no longer desired since we now deal with

[2022-03-15 03:52] nimishbongale commented on #1054
I think I have a clearer understanding now, will make the necessary changes! Thanks @pavish!

[2022-03-15 07:28] nk183 commented on #1134
hi @seancolsen @pavish  @kgodey
I this issue, When text type is selected for a column component : TextArea is called (which is implemented using "textarea"), if we apply char limit  to it, component : TextInput is called (which is implemented using "input").
In case of "input" tag, we can't add new line in it, but we can in "textarea".
But I am not able to understating [code](https://github.com/ce

[2022-03-15 11:20] priyang12 commented on #1130
hi, I am having an issue Inspecting the page during a test. I followed [readme](https://github.com/centerofci/mathesar/tree/master/mathesar/tests/integration#readme) Page and when i run the
`docker exec mathesar_service pytest --headed --no-cov -k test_page_shows_welcome_text
 ` Command
I got this error
[code]
I am using a mac machine and I installed XQuartz and change the security permission has

[2022-03-15 11:42] dmos62 commented on #1097
In https://github.com/centerofci/mathesar/discussions/1154 we decided to delay this issue's implementation until a better query engine is available to the service layer, which is also a prerequisite of the query builder (data explorer).

[2022-03-15 11:45] pavish commented on #1134
@nk183 That logic is currently being changed to be not based on length, but based on the db type.

There are two types of text input:
1. inputs like uri, email etc., where new lines are not allowed, and
2. text where new lines should be allowed.

For this issue, we need to only consider case 2 and handle the events within the `TextAreaCell`. This issue does not deal with `TextBoxCell`.

There is n

[2022-03-15 11:55] dmos62 commented on #1151
Made changes to top post to include changes decided upon in linked discussion.

[2022-03-15 12:32] #1156 closed

[2022-03-15 12:55] nk183 commented on #1134
Hi @pavish ,Thanks for the reply
I am sure that this logic is returning TextBoxCell when theres a limit on text field.

[2022-03-15 13:03] #1064 closed

[2022-03-15 13:15] pavish commented on #1134
@nk183 What I meant is that it behaves that way on the master, but it is being updated on a different branch. I've mentioned the draft PR above: https://github.com/centerofci/mathesar/pull/1144. For Text type, we will never get a TextBoxCell when that PR is merged.

For this particular issue, that logic does not matter. We only need this change to made for TextAreaCell. I can see your confusion ar

[2022-03-15 13:22] vrutik2809 commented on #1121
While adding the column named `test` in my table, I got the following object as `request.data` :
[code]
So, I need to change the type from `varchar` to`text` in this.
@mathemancer Please correct me if I'm wrong

[2022-03-15 13:45] dmos62 commented on #1100
@mathemancer I think we could use a convention for how to deal with Enum instance values, or, rather, whether to convert an Enum instance to its value early or late. I've been doing it one way and you another and now we're having interop problems. Maybe a quick sync call at your convenience?

[2022-03-15 13:50] silentninja commented on #1130
Have you tried setting the ip for the `$DISPLAY` environment variable?

[2022-03-15 13:51] pavish commented on #1130
@priyang12

Please make sure all the steps are followed. You might have missed a few:
1. Identify your host's ip address. You can run `ifconfig` to obtain it. Assume your ip is `192.168.29.194`
2. Modify docker-compose.yml.  Change `DISPLAY=${DISPLAY}` to `DISPLAY=${IP}:0` eg., `DISPLAY=192.168.29.194:0`. Notice that you have to add `:0` after your ip.
3. `Run xhost +{your ip}` on your host. Eg.,

[2022-03-15 14:16] pavish opened #1175 "Update common-issues wiki to mention common issues with Windows dev environment setup"
## Problem
Our windows dev environment setup is rather tricky and developers may run into a range of issues when trying to set it up. While we have documented the steps in our readme, missing any of those steps lead to errors which make it harder for new contributors.

## Proposed solution
We have to update commonly faced problems when such steps are missed, in our [common-issues](https://wiki.mat

[2022-03-15 15:05] #1125 closed

[2022-03-15 16:53] dmos62 commented on #1036
Casing presumptions turned out more ingrained in our code than first thought. Retreated to just uppercasing the endpoint's output, so as to conform with current policy to avoid doing technical debt work where possible. See PR https://github.com/centerofci/mathesar/pull/1176.

@kgodey can you help pick an appropriate milestone to move this to?

[2022-03-15 17:28] kgodey commented on #1036
@dmos62 I made a new milestone, [[v1] Technical Debt](https://github.com/centerofci/mathesar/milestone/49). Let's use that one.

[2022-03-15 18:08] seancolsen opened #1177 "Fix undefined displayed during import preview for values in column named with a trailing space"
## Reproduce

(Use the front end, with Dev Tools open to inspect API requests.)

1. "New Table" > "Import Data" > "Copy and Paste Text"
1. Paste the following text and click "Continue"

[code]

    (Notice that the second column has a trailing space in the column name.)

1. During the data preview, expect to see `100` and `200` in the second column.

1. Instead, observe `undefined`.

    ![image](

[2022-03-15 18:09] seancolsen commented on #1177
@silentninja do you think this would make a good first issue?

[2022-03-15 18:15] kgodey commented on #1177
Quick reminder that we can mark issues as `help wanted` even if they're not good first issues (i.e. if they're suitable for community contributors, but not as an introduction to the codebase).

[2022-03-15 18:42] vrutik2809 commented on #1121
Sure I will definitely look into that.

Thank you

[2022-03-15 21:01] #1129 closed

[2022-03-15 21:51] #1054 closed

[2022-03-16 06:19] mathemancer commented on #1036
Sorry, I didn't see this earlier. I want to make sure the `db` module functions also take type names case-insensitively. Just upper-casing from the API layer doesn't accomplish this. Recall that the `db` module should be able to stand alone.

[2022-03-16 09:14] A1O opened #1181 "A new column not visible after a table rename"
## Description

A new column not visible after a table rename. The column only appears after the page has reloaded.
## Expected behavior

The new column should be visible without page reload.

## To Reproduce

1. Rename a table
2. Add a new column "Col1"
3. The new column "Col1" is not visible
4. Hit F5 (page reload)
5. The "Col1" is visible.

## Environment
 - OS: Ubuntu
 - Browser:  chromium, fi

[2022-03-16 17:36] seancolsen commented on #1181
Thanks for reporting this and providing such an excellent description @A1O!

[2022-03-16 18:36] shrey27tri01 commented on #1120
Hello, I am a new contributor to Mathesar and I would like to work on this issue.

[2022-03-16 18:39] kgodey commented on #1120
Go ahead @shrey27tri01. Let us know here or in Matrix if you need any help.

[2022-03-16 20:44] #1118 closed

[2022-03-16 21:03] seancolsen opened #1185 "Columns re-ordered after type change"
## Reproduce

1. "New Table" > "Import Data" > "Copy and Paste Text"

1. Paste the following data and proceed to create and view the table (by clicking "Continue" and then "Finish Import").

[code]

1. Click on the column header for column `a` and change the type from "Number" to "Text", clicking "Save".

1. Expect columns to be ordered `id`, `a`, `b`.

1. Once I did this and observed the columns

[2022-03-16 21:19] kgodey commented on #1185
@seancolsen I think it would be ideal for the API to return the column's index as a property and the frontend should order by that. Please make an issue for that; until then, it's fine to order by `id`.

[2022-03-16 21:22] kgodey commented on #996
I realized that column index is not extraneous, it should still be used by the frontend to order columns for display. See: https://github.com/centerofci/mathesar/issues/1185.

I do think we need to make sure nothing in the `db` module depends on the `column_index` attribute of the `MathesarColumn` class, but I don't think we should remove it, we need to be able to send it to the frontend easily.

[2022-03-16 21:39] seancolsen commented on #1185
I started a [discussion](https://github.com/centerofci/mathesar/discussions/1186) about how to communicate explicit column order, beyond the `id`.

[2022-03-17 02:02] seancolsen opened #1187 "Refactor storage of icon definitions"
## Current code

- In `mathesar_ui/src/sections/table-view/actions-pane/ActionsPane.svelte` we have:

[code]

    Here, `{ data: faTrashAlt }` is an object of type `IconProps`. Search the codebase for the literal string `{ data: fa` and you'll see more objects like this.

- And we have some plain `<Icon />` component instances like this code in `mathesar_ui/src/component-library/help/Help.svelte`:

[2022-03-17 06:38] pavish commented on #1187
@seancolsen Sounds good to me.

[2022-03-17 08:56] rskbansal commented on #1187
May I do this one ?

[2022-03-17 09:33] pavish commented on #1187
Sure @rskbansal, go ahead.

[2022-03-17 10:14] A1O opened #1189 "A number type column doesn't show '0' value"
## Description

A number type column shows empty cell if value is equal to 0.

## Expected behavior

A digit '0' should be visible in a cell.

## To Reproduce

1. Create a new column "col1"
2. Change "Data type" to  "Number"
3. Type digit "0" in any cell for the column "col1"

## Environment
 - OS: Docker (docker-compose.yml)
 - Browser: Chromium, Firefox

## Additional context

![Untitled](https:

[2022-03-17 12:20] jals413 commented on #1189
May i work on this issue ?

[2022-03-17 13:36] A1O commented on #985
I'm working on this.

[2022-03-17 19:23] kgodey commented on #555
@Anish9901 There's no frontend changes necessary for this issue, it's purely a backend issue to enhance the capabilities of our API.

[2022-03-17 21:31] Anish9901 commented on #555
@kgodey Ok. Also ,How should I change the incoming request.data when an empty string is added in the column name field?

[2022-03-17 21:32] kgodey commented on #555
@Anish9901 I'm not sure what you mean, could you elaborate?

[2022-03-17 21:36] Anish9901 commented on #555
Currently I am removing the disabled tag inside the html and adding the column without any name, after that I am changing the `request.data['name']` to `Column n`.

[2022-03-17 21:53] kgodey commented on #555
@Anish9901 I'm still not sure what you're referring to. You shouldn't need to make any changes in the HTML.

Could you open a draft pull request with what you have so far? I think it will be easier to discuss if we can see your code.

[2022-03-17 23:08] vorakunal commented on #1185
May I work on this issue?

[2022-03-17 23:22] silentninja commented on #1185
`column_index` is just incorrectly computed `attnum`. `attnums` is the order by the column are stored on the database, the columns should be ordered by `attnum` and not by `id`

[2022-03-17 23:27] silentninja commented on #1185
Thanks! @vorakunal I have assigned the issue to you. Let us know if you need any help.

[2022-03-18 06:32] silentninja commented on #1168
@ManishShah120 Few other issues(#1128, #1127) depend on this issue If you haven't started working on it, please let us know so that a core contributor can fix this issue.

[2022-03-18 07:51] ManishShah120 commented on #1168
Hi, @silentninja I was working on it(but not working at present), but then I found out that, the issue I faced can be solved, by passing `patent_schema` as an argument to the tests or fixture associated with it so was rethinking about this issue(may be there is no issue), and hence #1128 fixed with #1170 , I also tried to work on #1127 , in my case It got resolved, but #1182 is failing don't know

[2022-03-18 08:30] silentninja commented on #1168
@ManishShah120 That's not a proper solution, the reason why it works is that `patent scheme` is installing custom types(https://github.com/centerofci/mathesar/blob/fbdfe75f5838d8948a540a6363f20654bf62c5b1/mathesar/tests/conftest.py#L136) when it is created. The proper solution is to use a schema like `patent_schema` which installs custom types instead of `base_schema`. `base_schema` should not be

[2022-03-18 09:15] ManishShah120 commented on #1168
Ahh, I see. So do we need to do any of these:- :thinking:
[code]
OR
[code]

and then pass these fixture wherever it is required :thinking:

[2022-03-18 09:24] Anish9901 commented on #555
@kgodey I have opened a draft PR #1194 please take a look.

[2022-03-18 10:17] A1O commented on #867
I would like to work on this issue.

[2022-03-18 10:28] seancolsen commented on #867
Thanks @A1O I've assigned you

[2022-03-18 11:05] dmos62 commented on #1100
This discussion came of the above suggested sync call: https://github.com/centerofci/mathesar/discussions/1184

[2022-03-18 13:08] mathemancer commented on #996
The `attnum` of a column is _always_ in the same order as the index. I.e., if you order by `attnum`, it will always be the same as if you order by column index. If the API needs to return an index instead of `attnum`, I think we should do that as close to the actual API as possible.

[2022-03-18 13:27] mathemancer commented on #1185
Sort of, it's an incorrectly computed "dense rank" of the column `attnum`. I agree with @silentninja that we should just use `attnum`, though. For more detail see [my comment](https://github.com/centerofci/mathesar/discussions/1186#discussioncomment-2387738) in the relevant discussion.

[2022-03-18 13:48] seancolsen opened #1195 "Add ESLint rule to prohibit explicitly marking class members as public"
## Problem

- Some of our TypeScript classes have members explicit marked as `public` (e.g. in `mathesar_ui/src/component-library/common/utils/contextValidationUtil.ts`). This keyword is not necessary.

- For consistency's sake, we'd like to standardize on code that does not have `public`, and we'd like to prevent this keyword from inadvertently cropping up in the codebase going forward.

## Solut

[2022-03-18 13:48] seancolsen commented on #1195
@pavish Does this sound good to you? If so, you can set the status to ready and mark it as a good first issue.

[2022-03-18 14:56] kgodey commented on #845
This was resolved in https://github.com/centerofci/mathesar-wiki/pull/40

[2022-03-18 14:56] #845 closed

[2022-03-18 15:11] Cronus1007 commented on #1131
@silentninja @kgodey Shall I create a new file under the `tests/integration` folder for this test or is there any such file which is most relevant with this type of test.

[2022-03-18 15:16] seancolsen commented on #1131
@Cronus1007

Good question. There's not really a strict scheme for organizing these E2E tests.

Here's an idea:

1. Start a new file called `test_cells.py`.
2. Add your new test there.
3. Then also move `test_edit_cell` into that file.

[2022-03-18 16:22] seancolsen opened #1196 "Set up linting rule to ban Python typing annotations"
## Problem

- Some devs may end up submitting PRs which use Python type annotations _(points finger at nose)_
- Pending #1008, (with precedent already established in #913) we likely will not want to allow typing in Python code.

## Solution

- Instal [flake8-no-types](https://pypi.org/project/flake8-no-types/) which flags all forms of typing as a linting error.

[2022-03-18 16:27] priyang12 commented on #1195
hi, can i work on this issue?

[2022-03-18 16:28] seancolsen commented on #1195
Thanks @priyang12 I've assigned it to you.

[2022-03-18 16:40] jals413 commented on #1189
I will need some time , but surely I will try my best to solve this issue <3

[2022-03-18 16:42] #1130 closed

[2022-03-18 17:07] #1123 closed

[2022-03-18 19:00] #1124 closed

[2022-03-18 19:15] kgodey commented on #996
Okay, makes sense. Based on conversations in #1185 and #1186, I don't think the API needs to return an index, just order by `attnum`, so we can go ahead and remove the `index`.

[2022-03-18 20:07] #984 closed

[2022-03-18 20:27] seancolsen opened #1197 "Raise the default Playwright page timeout value"
## Problem

- Some E2E tests are failing intermittently. For example, [here](https://github.com/centerofci/mathesar/runs/5605572101?check_suite_focus=true) is a CI job that failed but passed when re-ran.
- I'm theorizing that we're hitting Playwright's default 5-second timeout on some operations that take longer.

## Solution

- I think we should raise the timeout value globally.
- Playwright has

[2022-03-18 22:01] kgodey commented on #1145
@ManishShah120 Are you still working on this?

[2022-03-18 22:57] tsun812 commented on #1181
Hello, I am interested in solving this issue and to get familiar with the codebase. I have about 20 hours/week for commitment. Please let me know if I can get started. Thanks!

[2022-03-19 02:26] silentninja commented on #1168
@ManishShah120 Yes, that should be the correct way forward. The correct fixture is the first one as `create_mathesar_engine` does call `_add_custom_types_to_engine` when creating the engine, so additional call for `_add_custom_types_to_engine` is not necessary as done in the second fixture.

[code]

I would also look into renaming it to something like `custom_types_schema` instead of `install_cust

[2022-03-19 04:49] ManishShah120 commented on #1145
Yes, @kgodey am working, I was required to work on certain other PR's so a bit late on this.

[2022-03-19 06:02] shrey27tri01 commented on #1120
I am a bit stuck. The way I understand the flow is as follows: after clicking the "+" button for adding a new column and entering the column name, we use the [Button component](https://github.com/centerofci/mathesar/blob/master/mathesar_ui/src/sections/table-view/header/new-column-cell/NewColumnCell.svelte#L68) inside the `NewColumnCell.svelte` file which has an `on:click` method `addColumn`. This

[2022-03-19 06:56] nimishbongale commented on #376
@pavish Just a doubt, when a certain option in the dropdown list gets selected, the dropdown container becomes null–I assume that's because the dropdown list isn't visible anymore (collapsed in). As a result, we won't be able to read the scrollTop or the clientHeight value of a null object. Is the dropdownContainer initialization correct here?

[code]

[2022-03-19 14:09] ManishShah120 commented on #1145
Hi, I need little help/hint with this, what I am thinking is to write the logic to check if the validated data number is a valid number or not (integer, float) iff the column it is updating is having the column type as NUMERIC(), in this file https://github.com/centerofci/mathesar/blob/master/mathesar/api/serializers/records.py

Can I please get any hint or help with this?

[2022-03-19 21:42] priyang12 commented on #1040
@pavish @seancolsen hi, can i work on this issue?

[2022-03-19 22:04] kgodey commented on #1040
Go ahead @priyang12, thanks!

[2022-03-20 07:40] ratika-12 commented on #1196
Can I work on this? I am new to this project and wanted to start contributing. I also want to apply for GSoC 2022 at Mathesar.

[2022-03-20 16:38] kgodey commented on #1196
Sure, go ahead @ratika-12. I've assigned it to you. If you have any questions, please ask on Matrix or here.

[2022-03-20 18:57] silentninja commented on #1145
@ManishShah120 This issue is a bit more involved compared to other `good first issues`.

You need to check if the data for a `NUMERIC` column conforms to the JSON spec and not just a numeric. For starters, in the `validate` method of the serializers I would do something like
- Get the list of column types
- For any numeric column, check if the data conforms to JSON schema format.

[2022-03-21 03:05] tsun812 commented on #1181
Hi guys, I was trying to create two columns after table rename without manual window refresh, it seems columns store is updated properly, however it doesn't re-render the UI.

I am thinking dispatch a custom event after table name, and trigger refresh() in tabularData.ts similar to column rename. if i do the refresh approach, what other data should I fetch?currently refresh button doesn't do the s

[2022-03-21 04:00] pavish commented on #1120
@shrey27tri01 Checkout the stores under `/src/stores/table-data`. These stores constitute the data layer and contain all the data and operations pertaining to the table.

When a column is added using the `add` function in `ColumnsDataStore`, we currently only fetch the columns. We'll need to fetch the rows as well. Also, have a look at the `rename` function for better clarity on this.

[2022-03-21 04:06] pavish commented on #1181
@tsun812 Part of fixing this issue is to identify _why_ the UI doesn't re-render when the store values are updated. Once the reason is identified, we can decide on the approaches to fix the bug.

[2022-03-21 04:12] pavish commented on #376
@nimishbongale

Yes, it's because the dropdown is removed from the DOM.

We don't have to read it during selection. The test case required is for the dropdown to scroll automatically to the selected element when opened. Here's the scenario:
* Have a select menu with several options so that a scrollbar is visible, and some options are hidden (they will be visible only when we scroll down).
* Scroll

[2022-03-21 04:15] #1128 closed

[2022-03-21 04:26] tsun812 commented on #1120
Hi, it seems Header.svelte(where column display is) is subscribing to columnsDataStore for update.. Am I missing anything?

[2022-03-21 04:41] nimishbongale commented on #376
That's very helpful, thanks for clarifying @pavish! Will raise a PR for the same.

[2022-03-21 04:42] tsun812 commented on #1181
Hi, It seems the Header.svelte(where column header display is) is subscribing to the columnsDataStore, am I missing anything?

[2022-03-21 05:52] pavish commented on #1181
@tsun812 Yes, it is. The code appears good but there is a race condition somewhere which is causing this bug. We need to identify that race condition and fix it. This issue is tricky and requires a better knowledge of the code base.

If you'd like a better first issue, please look for issues tagged 'good first issue'. If you'd like to continue with this issue, I'd suggest trying to figure out the

[2022-03-21 06:54] mathemancer commented on #1037
After looking through the linked PR for this issue, I realized I (we) got distracted by whether we could show aliases, and how to do it, and we forgot to consider whether we _should_. I think if we're showing two equivalent types to the UI as options for setting the type of a column, that's a bug. We should _only_ show one type string as an option for a given type, and that type string should be t

[2022-03-21 07:51] #1121 closed

[2022-03-21 11:11] tsun812 commented on #1181
Ok, thank you very much!!

[2022-03-21 15:09] seancolsen commented on #1197
Yes, thanks @Cronus1007 I've assigned it to you

[2022-03-21 16:30] silentninja opened #1206 "Add support for updating display options using tables api column field."
## Problem

#1207 adds support for suggesting display options for a column when data is imported. Once the suggested changes are finalized by the user, we would save the changes by calling the `PATCH` method of the `/tables/` api . But there is no way to save display options using the `/tables/` api.

## Proposed solution
 In order for the frontend to  save the suggested display options, `/tables/

[2022-03-21 17:34] Anish9901 commented on #876
Can I work on this ?

[2022-03-21 17:39] silentninja commented on #876
Thanks!, @Anish9901 I have assigned the issue to you.

[2022-03-21 18:00] Cronus1007 commented on #1197
@seancolsen @kgodey The solution for this problem might be while we intialize our page object using
[code]
we can use `page.set_default_navigation_timeout(10000)` in this function to raise the playwright page timeout value.
What's your opinion about this issue?

[2022-03-21 18:04] Cronus1007 commented on #1206
@silentninja Can you please elaborate the problem statement since I am not unable to clearly get the idea out of it?
Is there a need to set up your work in #1205 in order to get a better idea about this issue?

[2022-03-21 19:23] silentninja opened #1207 "Add support for suggesting display options"
## Problem
When data is imported, we infer the data and suggest certain column options instead of user having to do the manual work. We use `tables/type_suggestions` endpoint  for it.

`tables/type_suggestions` endpoint supports suggesting column `types` only, there are few display options that can be inferred from the imported data, so we should also support suggesting column `display options` as

[2022-03-21 19:29] silentninja opened #1208 "Add support to preview display options when importing data"
## Problem
We show a preview of a table along with a few records when the suggested changes inferred from the import data are applied to a table. As of now, only `types` changes can be previewed, but #1207 infers the data for suggesting `display options` as part of the `type_suggestion` endpoint. So we should add support for previewing `display options` too.

## Proposed solution
`tables/previews/

[2022-03-21 20:32] silentninja commented on #1206
Please look into #1207 for the reasoning behind this issue. Also, this issue is slightly complicated and not suitable for new contributors. Moreover, we need this issue to be completed for #1205 to be fully complete. If you are comfortable with the codebase, I would love to assign you this as it is really a step forward compared to a good first issue.

[2022-03-21 20:33] seancolsen commented on #1197
@Cronus1007 I don't quite understand your proposal. Can you describe the changes you have in-mind more specifically? Where would that code go? Alternatively, you could open a draft PR and we can discuss the approach there, even if it's not fully-functional.

Everyone on our team is new to Playwright, so I don't think any of us are going to know exactly the best way to do this off-the-bat. We'll ju

[2022-03-22 00:56] aviwad commented on #1197
hi. i'd like to take a go at this too! I forked the repo and added the following line of code to the `test_import_from_file` function:
`page.set_default_timeout(50)`
purely to test if the fix would result in more errors (meaning the setting was applied).

However, I haven't been able to run the integration tests myself. Following the integration steps:
`docker exec mathesar_service pytest --no-cov

[2022-03-22 01:17] aviwad commented on #1197
UPDATE: Turns out I hadn't properly implemented the changes to run integration tests. I wiped my Docker and restarted (This time changing docker-compose.yml)
However, result is still the same:
[code]
mathesar_service doesn't run, and hence not possible to do anything

[2022-03-22 02:45] Cronus1007 commented on #1197
@seancolsen Sure I have submitted a PR linking this issue. We can discuss it there.

[2022-03-22 05:17] aviwad commented on #929
Hello! Could I get assigned to this? Sounds interesting. I think i can fix this.

Would you know which functions are run when a cell is selected / deselected? that would help me check why NULL value is overwritten with empty string.

[2022-03-22 05:26] pavish commented on #929
Hi @aviwad, this behavior was modified in several PRs after this issue was raised, rendering this issue void. Sorry that we did not check and close this earlier.

As a followup, there are couple issues which were raised:
* https://github.com/centerofci/mathesar/issues/1134
   - This is already assigned and is being worked upon
* https://github.com/centerofci/mathesar/issues/1116
    - Would you be

[2022-03-22 05:26] #929 closed

[2022-03-22 06:20] aviwad commented on #1134
I see @nk183 is already assigned on this. I am interested in this issue too. Should I try to form a PR or is it considered rude if it's already assigned to someone?

[2022-03-22 06:23] kgodey commented on #1134
@aviwad We generally only assign one person to a task at a time. Please find an unassigned issue ([here's a list](https://github.com/centerofci/mathesar/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+first+issue%22)) and comment on it indicating your interest. A maintainer will assign it to you.

Our [contribution guide](https://wiki.mathesar.org/en/community/contributing) might also

[2022-03-22 06:31] kgodey commented on #1206
@Cronus1007 as @silentninja mentioned, this issue needs more in-depth codebase knowledge and is not a `good first issue`. Please let us know if you're still comfortable with working on it.

[2022-03-22 07:09] Cronus1007 commented on #1206
@kgodey @silentninja Currently I am looking into #1205 and #1207  so I will update whether I would be able to take this by the eod.

[2022-03-22 08:58] priyang12 commented on #1040
@kgodey hi i think i have resolved this issue here is a

https://user-images.githubusercontent.com/72823974/159443776-b7168d3e-d46e-4ec4-ac7c-e2595ab6c4ab.mov

clip of it . I have changed the color to red for better check but i have removed it later.

[2022-03-22 09:40] seancolsen commented on #1040
@priyang12

It sounds like you're making some progress. That's great! Have you opened a PR with your work? I don't see one. Make sure to link your PR to this ticket by placing the text `Fixes #1040` in the top of the description. Your above screencap would be great to include in the PR description.

[2022-03-22 09:49] priyang12 commented on #1040
I have one PR [1200](https://github.com/centerofci/mathesar/pull/1200) open so I can't make another one. should I make a new branch and make a pull request?

[2022-03-22 10:06] pavish commented on #1040
@priyang12 Yes, please create new branches for each of the issue you're working on and open separate PRs.

[2022-03-22 11:24] akshat2602 commented on #1116
I would like to work on this issue.

[2022-03-22 12:47] mathemancer commented on #1207
Doesn't this need more fleshing out? What's the intended behavior if we encounter a column with more than one currency symbol? Or with some integers and some values with a decimal point?

[2022-03-22 13:09] seancolsen commented on #1207
I'm responding here to a [Matrix thread](https://matrix.to/#/!vAyoAQoixqNrvBuIcH:matrix.mathesar.org/$KHW3qcC1mkztCofbpDbtmwFmz_Ljj6yjKpWs8fHBYmo?via=matrix.mathesar.org&via=matrix.org).

I agree with @silentninja  in that I think it's important for us to infer the currency unit during import. If the column contains multiple currency units that should be an error. I can appreciate that it may be d

[2022-03-22 13:17] silentninja commented on #1105
Answering a [comment](https://github.com/centerofci/mathesar/issues/1207#issuecomment-1075132759) on #1207, as this issue is a better place for that conversation

For now, we support inferring display options for`mathesar_money` based on the #1205 PR which supports only one currency per column.

[2022-03-22 13:18] silentninja commented on #1105
Moved @seancolsen comment from #1207 as this issue is a better place to track the information

I'm responding here to a [Matrix thread](https://matrix.to/#/!vAyoAQoixqNrvBuIcH:matrix.mathesar.org/$KHW3qcC1mkztCofbpDbtmwFmz_Ljj6yjKpWs8fHBYmo?via=matrix.mathesar.org&via=matrix.org).

I agree with @silentninja in that I think it's important for us to infer the currency unit during import. If the colu

[2022-03-22 13:19] silentninja commented on #1207
@seancolsen @mathemancer I moved the conversation to #1105 as it is a better place to track money type display options information.

[2022-03-22 13:25] mathemancer commented on #1207
If we come to an agreement on that, then we shouldn't be storing it as a display option at all.
- It's not actually stored in the user database
- It's not visible anywhere except Mathesar (e.g., through other clients)
- If we create a new column and copy the data, we now need to get the type, data and display options correct.
- If we create a foreign key column, we're now required to make decision

[2022-03-22 13:30] pavish commented on #1207
I agree with this, and I think we should make the currency unit a database option.

Unrelated, I still see value in having a mathesar ui specific endpoint that can suggest display options as I mentioned in my previous comment. But this is not at all a priority and can be taken up for future consideration.

[2022-03-22 13:31] pavish commented on #1105
Copied over from https://github.com/centerofci/mathesar/issues/1207#issuecomment-1075182829

I agree with this, and I think we should make the currency unit a database option.

Unrelated, I still see value in having a mathesar ui specific endpoint that can suggest display options as I mentioned in my previous comment (https://github.com/centerofci/mathesar/issues/1207#issuecomment-1075171701). But

[2022-03-22 13:41] mathemancer commented on #1105
As far as storing that as a database option, there are some limitations, due to other constraints. We're avoiding certain type definition methods, because they require root access to the underlying machine and aren't available in many cloud environments (e.g., it's impossible to define a custom type that takes a type option in RDS). For context, here are the ways to do money as I see it:
- Depend

[2022-03-22 13:42] silentninja commented on #1105
@mathemancer I think we had a [discussion](https://wiki.mathesar.org/en/meeting-notes/2022-02#h-2022-02-23) around this and came to a conclusion to use display options. Our options are quite limited until we have the composite money type implemented from #417

[2022-03-22 13:48] mathemancer commented on #1105
Sure, but we agreed that it's a display option for a `NUMERIC` (essentially). I.e., if you want to view your `NUMERIC` as money, you can set the database type to `MATHESAR_MONEY`, which then opens up some display options so you can add currency symbols and so on in the display. That doesn't imply that we're considering the currency and info about how that currency should be displayed to be data.

[2022-03-22 15:25] #1195 closed

[2022-03-22 15:30] mathemancer opened #1214 "Custom python class to represent `"char"` DB type"
## Problem

Currently, a columns of types `NAME` or `"char"` in the database show up as type `VARCHAR` in the API. This is because SQLAlchemy reflects these types as the `String` python class, which compiles to `VARCHAR` in the `postgres` dialect.

## Proposed solution

We should:
- create a `UserDefinedType` representing `"char"`, and another representing `NAME`.
- These types should be mapped to

[2022-03-22 15:36] mathemancer commented on #1105
I don't think we should do very heavy inference of currency symbol or other display options. I'd certainly like to avoid invalidating a column if it has `HK$100` on one line and `$100 HKD` on another (I've seen both of those ways to write Hong Kong Dollars in the wild). I suppose we could just take the first line or something, but we would need to make it _quite clear_ that the resulting display o

[2022-03-22 17:43] silentninja commented on #1207
When should we do that? The current workflow is something like

(1) Import data -> (2) Get type suggestion -> (3) Preview the data with suggested type -> (4) Make changes to incorrect suggestions if any -> (5) Update the table with the changes

[2022-03-22 18:47] #1040 closed

[2022-03-22 20:32] kgodey commented on #1207
I agree, I do think we need to handle this before our first release. I thought we could wait to handle this portion of the task until we have an updated design for the import page (with display options). The new design might result in new backend requirements.

My point was that I don't think it's a blocker for #1105, just an additional feature after #1105 is complete.

[2022-03-22 20:34] kgodey commented on #1214
Go ahead @Cronus1007

[2022-03-22 22:37] Anish9901 commented on #689
@silentninja I tried fixing this issue by changing the `objects` to `yield Schema.current_objects.create(oid=schema_oid, database=test_db_model)` is this the correct approach to solve this?

[2022-03-22 22:39] Anish9901 commented on #689
The tests are passing individually as well.

[2022-03-23 01:25] silentninja commented on #689
Yes, that is the correct way to do it.

Make sure to run the test without the fix to confirm if the problem still exists.

Since you have started working on the fix I will assign this to you, for further issues please make sure to have a maintainer assign the issue to you before starting to work on it, to prevent conflicts.

[2022-03-23 02:10] mathemancer commented on #1214
@Cronus1007 Please don't hesitate to ask if you have questions. Please get one type done (rather than both) and submit a PR, or at least a draft, so we can see how it's going.

[2022-03-23 02:19] mathemancer commented on #1207
I think it's better that dealing with display options is a separate step. It's important that the user understands what data was actually imported, and how. The display used during the "confirm import" needs to be as close as possible to what's in the database, while avoiding ambiguity. For example, when showing them dates they've imported, it might be best to show them in `YYYY-MM-DD` format, _wi

[2022-03-23 02:50] mathemancer commented on #1208
Regardless of my concerns in [this comment](https://github.com/centerofci/mathesar/issues/1207#issuecomment-1075838987) about previewing with _inferred_ display options, I think it would actually be a really good idea to let users preview imported data with their chosen display options (with some warnings when applicable). This might improve their ability to quickly assess whether the data was imp

[2022-03-23 08:31] Anish9901 commented on #689
The problem did exist before the fix.

Sure, I'll take care from next time.

[2022-03-23 08:56] Anish9901 commented on #689
@silentninja I have made the PR #1217 resolving the issue please take a look.

[2022-03-23 09:33] Cronus1007 commented on #1214
@mathemancer Sure. Thanks :+1:

[2022-03-23 12:20] silentninja opened #1218 "Convert the currency_info dataset to align with Money type Display options"
## Problem
#1205 Introduces display options for the `Mathesar_Money` type. Money type has display options like `currency symbol`, `number_format` etc.  We are able to infer the currency symbol from the imported data. Often currencies tend to follow the number formats of their country or have a predefined format which is followed when representing them, so we should set the default values for other

[2022-03-23 13:32] silentninja opened #1219 "Find a way to resolve conflicting currency symbols when inferring Money type display options"
## Problem

Based on the imported data, we infer money types and their display options. The inference is based on the currency symbol, so "$500" would be inferred as `en_us` based on `$` symbol.

Certain currencies use the same symbol to represent their currency, for example:
- "Canadian dollar" uses `$`
- "US dollar" uses `$`

So we might be inferring the wrong currency code.

## Proposed solutio

[2022-03-23 13:56] silentninja opened #1220 "Add support for inferring display options for Money type column with crypto currency data"
## Problem
`currency_info.json` dataset is used for selecting currency codes, currency symbols as display options for the `Mathesar_Money` type. The dataset contains fiat currency details only, we should extend the dataset to include cryptocurrency details too.

## Proposed solution

Crypto currency details should be added to `currency_info.json` dataset. The cryptocurrency data object should foll

[2022-03-23 14:00] mathemancer commented on #1219
This makes a number of assumptions that I don't think are quite solid:
- U.S. citizens don't make spreadsheets with Canadian dollars.
- The locale where the CSV was exported is the same as the UI when the importing happens.
- The locale of the UI will be related to a given currency symbol at all (U.S. locale users can also have EUR in their spreadsheets).

[2022-03-23 17:34] Anish9901 commented on #876
Is there a way i can test this issue locally?

[2022-03-23 18:57] silentninja commented on #1219
The issue is for resolving conflicting currency symbols.

While inferring, we are trying our best to get the correct currency symbol. If it turns out to be wrong, the user can change it anytime

Should we be looking into the locale of the csv file rather than the UI? I think that makes more sense than the locale information of the user.

@mathemancer Do you have any other ideas to resolve these co

[2022-03-23 19:57] Cronus1007 commented on #1220
@silentninja I would like to work upon this issue.

[2022-03-23 22:33] #867 closed

[2022-03-23 22:36] Anish9901 commented on #876
I have created a draft PR #1223 regarding this issue can someone please take a look.

[2022-03-23 22:38] silentninja opened #1224 "Multiple Table objects for the same table is created when a malformed CSV file is imported"
## Description
Spin-off from issue #876 as it had two issues combined as one.

I was importing some CSV files into a fresh Mathesar database. I cancelled the first imports, then some imports failed with `psycopg2.errors.BadCopyFileFormat` (which I presume was because of a malformed CSV file). Then when reloading the app, got an error

[code]

## Expected behavior
Importing malformed CSV should not

[2022-03-23 22:40] silentninja commented on #1224
@dmos62 Can you confirm if this issue still exists. If so can you add the steps to reproduce this issue along with the malformed csv(if needed to reproduce the issue)

[2022-03-23 22:46] silentninja commented on #876
@Anish9901 I made changes to the issue description to easily reproduce the error

[2022-03-24 00:33] silentninja commented on #1220
Sure @Cronus1007, I have assigned the issue to you. Please make sure to start working on it after the blocking PR #1205 is merged into master.

[2022-03-24 02:57] #689 closed

[2022-03-24 04:32] mathemancer commented on #1219
I'm aware; I was just using EUR as a stand-in for the € symbol.

Why do we need a full locale? Is it just for commas and dots and so on? Or just the symbol? I'd avoid trying to infer a locale at all, and just use the international default. Anyone not in such a locale is probably used to needing to adjust a configuration.

If we really want to try, I'd start with any locale the user has set for oth

[2022-03-24 06:48] ratika-12 commented on #1167
Can I work on this?

[2022-03-24 11:17] Cronus1007 commented on #1220
@silentninja Sure :+1:

[2022-03-24 13:05] silentninja commented on #1219
Just to be clear, by locale I meant locale code, which can be fetched from the `Accept language` header.

There isn't any need for it as most of the conflicting currencies have the same display values, it is just their human-readable name and the resulting(perceived) fiat value of the currency will be different(CAD vs USD), which won't affect anything unless we have currency conversion in place.

[2022-03-24 15:19] Anish9901 commented on #876
@silentninja I don't seem to be getting an exception.
[code]

[2022-03-24 15:38] kgodey commented on #1208
This should first be a design issue before it goes to the backend.

[2022-03-24 15:42] kgodey commented on #1207
@silentninja Can you create a design issue for showing display options in the preview page and mark the related backend issues as blocked on it? Make sure to include all the design concerns raised in the discussions.

[2022-03-24 15:43] ratika-12 commented on #1218
@silentninja can I work on this?

[2022-03-24 15:45] kgodey commented on #876
@Anish9901 Reproducing the bug depends on the race condition. `Table.objects.get_or_create(oid=db_table_oid, schema=schema)` needs to be run very quickly after `db.tables.operations.create.create_mathesar_table` is run. You may need to run it a few times to reproduce the race condition.

[2022-03-24 16:00] silentninja commented on #1218
Sure @ratika-12. I have assigned the issue to you. Since the issue depends on #1205, please use `mathesar-1105-money-display-option` as your base branch. Thanks for the help!

[2022-03-24 16:08] silentninja commented on #1207
@kgodey Sure, I will do it.

[2022-03-24 16:18] silentninja commented on #1167
@ratika-12 This issue needs some understanding of the codebase and Django. I confirm in a few minutes, sorry for the wait.

[2022-03-24 18:30] silentninja commented on #876
@kgodey @Anish9901 I am not able to reproduce this issue, there are various checks that prevent a duplicate object from being created. For example:

https://github.com/centerofci/mathesar/blob/68a12dcb2961bf22dc123c7e344f9d66716738f1/mathesar/models.py#L180
https://github.com/centerofci/mathesar/blob/68a12dcb2961bf22dc123c7e344f9d66716738f1/mathesar/reflection.py#L63

I think `mathesar.models.Tabl

[2022-03-24 18:48] kgodey commented on #876
@silentninja I think a DB constraint makes sense, it looks like https://github.com/centerofci/mathesar/issues/1218#issuecomment-1077770639 is already taking that approach.

[2022-03-24 19:35] silentninja commented on #1167
@ratika-12 I have assigned the issue to you, thanks!

[2022-03-24 19:35] silentninja commented on #1167
@ratika-12 I have updated the proposed solution to make it easier to understand. Let me know if anything is not clear.

[2022-03-24 22:01] kgodey commented on #1105
@silentninja No, because (unlike Numbers), our design ([see here](https://www.figma.com/proto/Uaf1ntcldzK2U41Jhw6vS2/Mathesar-MVP?page-id=7552%3A83433&node-id=7590%3A84021&viewport=241%2C48%2C0.46&scaling=contain) allows for customization of all of those other details.

[2022-03-25 00:53] silentninja opened #1227 "Design for suggesting display options"
## Problem

When users import data into Mathesar, we are able to infer the imported data and suggest Column types.

We also have [display options](https://github.com/centerofci/mathesar/issues/392) that can be set for a Column. These display options can also be inferred from the imported data. Moreover, certain Column Types like `Mathesar_Money` need the display options to be inferred during the i

[2022-03-25 02:57] #555 closed

[2022-03-25 08:12] #930 closed

[2022-03-25 09:48] #985 closed

[2022-03-25 10:00] Anish9901 commented on #876
@silentninja should I create a unique constraint in Database model on (oid, current_objects) or (oid, objects)? This would ensure uniqueness on db level right?

[2022-03-25 11:09] nk183 commented on #927
hi @seancolsen @kgodey can I work on this

[2022-03-25 11:11] #1177 closed

[2022-03-25 11:32] silentninja commented on #927
Thanks! @nk183 I have assigned the issue to you.

[2022-03-25 11:45] nk183 commented on #927
Hi @silentninja  @pavish @seancolsen
i was thinking if in edit mode color may be light red  i guess ( as of color of Mathesar icon but may be more light )

https://user-images.githubusercontent.com/58779460/160114958-fe793536-41c5-4cdb-9e87-b3d1628ccddb.mp4
or should I stick with black

[2022-03-25 12:07] #996 closed

[2022-03-25 12:31] seancolsen commented on #927
Red looks a little bit too much like an error I think.

[2022-03-25 12:34] pavish commented on #927
@nk183 The red border seems to me like the cell has an error. I personally think retaining the blue border is better since the width changes, and we could probably only have a drop shadow additionally.

This issue involves experimenting with different styles (border colors, dropshadows etc.,) and referring similar products. Please post a list of suggestions that you feel are good so that the team

[2022-03-25 13:44] #1197 closed

[2022-03-25 15:37] #1168 closed

[2022-03-25 16:05] dmos62 commented on #1214
Hey @Cronus1007, this has become a dependency for a refactor I'm working on. I'd like to collaborate. Can we discuss this on matrix? My handle is `@dominykas:matrix.mathesar.com`.

[2022-03-25 18:09] pavish opened #1228 "Internal server error after column type is converted from text to boolean with display options"
## To Reproduce
* Create a new text column
* Patch the column from text to boolean with display options.
[code]
* Notice that the request succeeds.
* Send a subsequent request to get all columns of the table. Notice the 500 error.
* Try loading the frontend, a debug page with the error message appears.
* **This does not happen always, happens intermittently and I end up having to drop the table di

[2022-03-25 18:32] nk183 opened #1230 "Show message/alert if limit exceed on restricted length column cell"
## Current Behavior
If user tries to enter value after reaching the limit, on a Cell  with restricted length on Column, Currently it just shop writing
no message for user that they have reached the limit
there is no way user can distinguish between restricted column with normal, without seeing a the setting of column

## Desired Behavior
There should be a message/alert for user if it tries to exce

[2022-03-25 19:32] pavish opened #1231 "Handle serving static images and display new Mathesar logo in the header"
This issue comprises of 2 tasks:
* Handle serving static image files - **This involves some research**.
* Use the new Mathesar logo in the header

## Handling static files
* Static files can included by two ways:
  * Include them within the `mathesar_ui` folder and import them where needed. Refer [Vite static asset handling docs](https://vitejs.dev/guide/assets.html).
     * This method requires s

[2022-03-25 22:41] silentninja commented on #876
@Anish9901 `current_objects` and `objects` are not columns of a table rather they are [queryset managers](https://docs.djangoproject.com/en/4.0/topics/db/managers/), it is not possible to add constraints to queryset managers. Currently, we have validation at the Django service layer and but it is not enforced on the database using database constraints. But the problem is that the service layer val

[2022-03-25 22:53] silentninja commented on #876
The reason why we are using a service layer validation currently is that it is not possible to establish a unique constraint across tables. So an alternate way should be considered to ensure integrity at the database level. @mathemancer Can you confirm this?

[2022-03-26 03:17] tsun812 opened #1234 "Blank row cells were added before user click add new row"
## Description

Blank cells were pre-filled next to add new record button before user click on them. It doesn't match the pattern for adding new columns, and a bit confusing as blank cells should appear after user click add new icon.
## Expected behavior

Blank row cells will be added after user click add new row.
## To Reproduce

![mathesar_record_add_before](https://user-images.githubusercontent

[2022-03-26 03:22] tsun812 commented on #1234
pull request that fix this issue: https://github.com/centerofci/mathesar/pull/1235

[2022-03-26 05:24] #906 closed

[2022-03-26 06:46] pavish opened #1237 "Improve typing of table Row interface"
## Problem
Table rows currently (at the time of creating this issue) comprise 6 different types:
* Record row
* Group header row
* Dummy row (for loading states) - This is also a type of Record row
* New row (newly added rows) - This is also a type of Record row
* New placeholder row (this is the placeholder row shown at the end) - This is also a type of Record row
* New help text row (this is the

[2022-03-26 14:58] pavish commented on #1230
The UX and interaction for this should be consistent with the UX for showing an error in the cell being implemented as part of #775 .

I'm marking this issue as blocked until #775 is resolved.

We could add differentiating factors in the styling based on whether the error is a validation error on the frontend or one returned from the backend. Anyone working on this issue should experiment and sugg

[2022-03-26 15:46] naveenvarma600 commented on #1231
I'm interested in doing this one.
as mentioned in the second way, we can simply add the image in the images folder(in static folder) and use it in the frontend. Below are the steps:
1) making a static directory which has an images directory(contains the logo and any images if added in future) inside it
2) giving the STATIC_URL in settings.py
3) Loading the static image(LOGO) into svelte file (Head

[2022-03-26 17:07] pavish commented on #1231
@naveenvarma600 Sounds good to me. A few notes on top of my mind:

* We already have the STATIC_URL pointing to the `/static/` directory in settings.py.
* Our frontend source gets built to `/static/mathesar` which will get cleared everytime `vite build` runs on `mathesar_ui`. Refer build config in `/mathesar_ui/vite.config.js`.
* The images should not be placed within `/static/mathesar`. It can ho

[2022-03-26 19:41] Cronus1007 commented on #1214
@dmos62 Sure :+1:

[2022-03-26 20:13] pavish commented on #1099
I'm picking this up because this refactoring makes things easier for #257

[2022-03-26 20:24] Cronus1007 commented on #1214
@mathemancer Can you please elaborate this statement?

[2022-03-26 23:04] vorakunal commented on #1185
@seancolsen I am not able reproduce the error, I followed the instruction but order is consistent after the type-change operation for both the column.
I'm attaching screenshot of the table after performing operation.

![Screenshot (140)](https://user-images.githubusercontent.com/22933921/160259919-71329a0e-caa6-45bc-b38c-7260c116c808.png)

[2022-03-27 06:11] nk183 commented on #927
hi @seancolsen  @pavish  I am suggesting some designs :
a)
select mode - same
edit mode - border change
![image](https://user-images.githubusercontent.com/58779460/160268570-ce56db3e-ab8a-4a96-81f3-8c2eff702b50.png)
b)
select mode - same
edit mode - border change   &&  background-color : blue

![image](https://user-images.githubusercontent.com/58779460/160269012-1cc3d537-bf3e-4d2d-b33f-0235db3c147

[2022-03-27 08:31] naveenvarma600 commented on #1231
I had created the images folder and also included it in the STATICFILES_DIRS in settings.py, but when I'm trying to load it in the 'header.svelte' file, using {% load static %} , it's throwing the following 2 errors:
1) cannot find name 'static'
2)  ; expected

![header svelte](https://user-images.githubusercontent.com/72015821/160273424-cb605398-ea25-4c18-8782-7a72314ffa61.png)
![settingspy](http

[2022-03-27 15:38] aditmehta9 opened #1244 "Functionality to select all rows at once"
## Problem
We can select one row at a time right now but if we add checkbox near id column to select all rows at once it would be great if I want to select majority of rows and keep only few

## Proposed solution
Addition of one checkbox to select all rows near ID column

[2022-03-27 15:47] aditmehta9 opened #1245 "Data type of ID"
## Problem
Right now we can select only integer for the datatype of ID. But if a user clicks on ID dropdown -> Number-> Number Type. In Number Types, multiple options are shown i.e Float, decimal, integer. But can't select the other 2 number type. Either this option should not be shown or the user should be able to define this data type.

## Proposed solution
Either this option should not be shown

[2022-03-27 16:52] aditmehta9 opened #1246 "Sorting bug"
## Description
First add 7 rows only in ID column then add another column- 'xyz' data type- date and time with null and no duplicates. Then sort the column using xyz and add another column for sorting that is id and now clear the XYZ from sorting or even delete the XYZ column the whole xyz

## Expected behavior
Rows should be sorted in ascending order.

## To Reproduce
See below video or descripti

[2022-03-27 17:49] #1099 closed

[2022-03-28 06:57] mathemancer commented on #876
@silentninja This is correct. I suggest creating a proper model of `DatabaseObject` (or something descriptive) that has an `oid` and a database, a uniqueness constraint on the `oid` in that model, and referencing it from the `Schema`, `Table`, `View`, etc. models. We'd want to reflect the OID to that model, and then the other stuff to the specific model as appropriate. Deletion should happen from

[2022-03-28 07:10] mathemancer commented on #1214
If you create an SQLAlchemy `engine` with the `postgresql` dialect (all engines in this project have that dialect), it has a `dialect.ischema_names` attribute that will be a dictionary. When reflecting a column, that dictionary defines the python class that will represent a given type. The types come from the DB as strings which are the keys of that dict. Notice that the `'name'` and `'"char"'` ke

[2022-03-28 08:06] Cronus1007 commented on #1214
@mathemancer Any specific file where this code should be placed or shall I create a new file?

[2022-03-28 08:40] Anish9901 commented on #876
@mathemancer Currently I have added a `database` column inside the `Table` model which is referencing from `Database` model and I am adding the unique constraint on the `oid` of Table and the `database` #1223. Is this ok or should I create another model inheriting `DatabaseObject` model which will have `database, schema and table` which are ForeignKey fields on their own models respectively and ad

[2022-03-28 09:26] mathemancer commented on #1214
You'll need to create two new files in the `db/types/` directory (see other files like `email.py` or `uri.py` in that directory for examples of how we're organizing things). Of course, there'll be some other changes to wire things up to the API. Look for how other custom types are wired up for help (or ask if you get stuck).

[2022-03-28 12:08] mathemancer commented on #876
This solves part of the problem, but has some weaknesses.

First, the table is already associated with a database through its schema. This needs to be represented in the ORM modeling, lest these links get out of sync (what if the table is associated with a schema associated with database A, but the database attribute of the model points to database B?).

The broader problem is that `oid` is unique

[2022-03-28 12:10] silentninja commented on #1245
We don't support changing the type of columns with dynamic defaults. In this case, `id` column has a `autoincrement` default, so the request gets rejected by the backend. The frontend should not allow such an operation to happen or show an error proper response.

[2022-03-28 14:36] dmos62 commented on #1214
@Cronus1007 as I mentioned in Matrix, this isn't a dependency of mine anymore, but here's something I came up with while I thought that it was. I didn't test this. You should be able to use the same setup for `NAME` and `"CHAR"`.

[code]

[2022-03-28 15:23] muhsinkamil commented on #1246
@silentninja Could you please assign this to me, I can take a look at it. Thanks

[2022-03-28 15:28] silentninja commented on #1246
Thanks, @muhsinkamil. I have assigned the issue to you

[2022-03-28 19:04] pavish commented on #970
Handled in https://github.com/centerofci/mathesar/pull/1155

[2022-03-28 19:06] seancolsen opened #1247 "Add support for scientific notation in number input components"
## Current behavior

- Entering numbers like `8E9` into a `NumberInput` (or `StringifiedNumberInput`) is not possible.

## Desired behavior

- `NumberInput` and `StringifiedNumberInput` accept a prop `allowScientificNotation` which defaults to `false`. When `true` the user can enter numbers in scientific notation and the component will display numbers in scientific notation when appropriate.

## A

[2022-03-28 19:06] seancolsen opened #1248 "Retain cursor position when changing text within FormattedInput"
## Current behavior

1. In Storybook, open the NumberInput story.
1. Set the input to contain text `134`.
1. place the cursor between `1` and `3`.
1. Type `2`.
1. Expect the cursor to be between `2` and `3`.
1. Observe the cursor to be after `4`.

    This happens because the value of the input gets reformatted to add the comma.

## Desired behavior

- After modifying the input (via inserting text

[2022-03-28 19:07] seancolsen opened #1249 "For numeric inputs, research the possibility of setting the inputmode attribute when allowing negative numbers"
- In In `src/component-library/number-input/numberInputUtils.ts` we have a function, `getInputMode` which derives the value of the [`inputmode` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode) to set on the `<input>` element within our `NumberInput` and `StringifiedNumberInput` components. This helps the user's device display the correct software keyboard w

[2022-03-28 19:12] pavish opened #1250 "Lower-order selection list component and headless selection utilities"
## Requirement
* We have a Select component, which is capable of handling most of the native select menu capabilities.
* We require a TypeAhead component, for cases like configuring Foreign Keys.
* We require a MultiSelect component, for cases like list data type.
* We need headless utilities and a lower-order component which all the above components can compose upon.
    - This will also need to

[2022-03-28 19:58] Anish9901 commented on #1096
@silentninja In the function `alter_column` inside `db/columns/operations/alter.py` each method are given `column_attnum` and those methods get the name of the column using attnum how can this lead to referencing a wrong column?

[2022-03-28 20:30] A1O commented on #1003
I'd like to work on this issue.

[2022-03-28 23:07] kgodey commented on #1003
Go ahead @A1O

[2022-03-29 00:09] kgodey commented on #1244
@aditmehta9 We have [a future milestone for performing bulk operations on records](https://github.com/centerofci/mathesar/milestone/9). We need to think through the user experience of working with multiple records. I've marked this issue as a draft until we have a design for it.

[2022-03-29 00:11] kgodey commented on #224
I'm going to close this, we'll create more detailed tickets once we have a design for this.

[2022-03-29 00:11] #224 closed

[2022-03-29 00:11] kgodey commented on #223
I'm going to close this, we'll create more detailed tickets once we have a design for this.

[2022-03-29 00:11] #223 closed

[2022-03-29 00:12] kgodey commented on #401
I'm going to close this, we'll create more detailed tickets once we have a design for this.

[2022-03-29 00:12] #401 closed

[2022-03-29 00:26] kgodey commented on #876
I don't think we should be enforcing `oid` uniqueness as as a database constraint, but I do think we can enforce it in _Django_ by overriding the `Table` model's `save` method to check if there's another object with the same `oid` before saving the `Table`. See [this Stack Overflow answer](https://stackoverflow.com/questions/54244869/how-to-enforce-database-constraints-between-two-foreign-keys-on-

[2022-03-29 00:29] kgodey commented on #441
I'll close this issue, we can figure out more detailed tickets once design work is done.

[2022-03-29 00:29] kgodey commented on #440
I'll close this issue, we can figure out more detailed tickets once design work is done.

[2022-03-29 00:29] #440 closed

[2022-03-29 00:30] kgodey commented on #396
I'll close this issue, we can figure out more detailed tickets once design work is done.

[2022-03-29 00:30] #396 closed

[2022-03-29 00:30] kgodey commented on #395
I'll close this issue, we can figure out more detailed tickets once design work is done.

[2022-03-29 00:30] #395 closed

[2022-03-29 00:30] #441 closed

[2022-03-29 00:32] kgodey commented on #1245
We have [a design issue for handling primary keys](https://github.com/centerofci/mathesar/issues/439). We'll handle the problems listed in this issue there, I've linked to this issue in the issue description for #439. I'm going to close this issue since there's no work to be done here yet.

[2022-03-29 00:32] #1245 closed

[2022-03-29 00:34] kgodey commented on #1245
I wanted to add: Thanks for reporting, @aditmehta9! Some of our features are still unfinished since we're still working towards our first release. Please continue to report any issues you see.

[2022-03-29 01:00] kgodey commented on #1116
@akshat2602 I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:01] kgodey commented on #1115
@Cronus1007 I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:02] kgodey commented on #1126
@Forchapeatl I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:02] kgodey commented on #1189
@jals413 I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:03] kgodey commented on #1145
@ManishShah120 Do you need any more help here?

[2022-03-29 01:03] kgodey commented on #1158
@ManishShah120 any update on this?

[2022-03-29 01:05] kgodey commented on #1187
@rskbansal I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:05] kgodey commented on #1107
@sahilsaini110 I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:06] kgodey commented on #765
@sahilsaini110 I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:06] kgodey commented on #1120
@shrey27tri01 I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:07] kgodey commented on #1181
@tsun812 I wanted to follow up on this issue since it's been a few days and I don't see a PR yet. Please let us know if you need any help or if you are no longer working on the issue.

[2022-03-29 01:12] kgodey commented on #1234
@tsun812 This is an intentional design choice. We'd like users to be able to add a new record easily by adding data directly in the blank row.

In a database, adding new records and adding new columns are very different operations. Adding a new column alters the _structure_ of the data (it is a [DDL operation](https://wiki.mathesar.org/en/engineering/specs/ddl)) so it should be harder to do than a

[2022-03-29 01:12] #1234 closed

[2022-03-29 04:12] Forchapeatl commented on #1126
@kgodey , I am sorry, I forgot. I have been busy with exams. I am sorry. Please assign it to someone else, I am sorry.

[2022-03-29 04:18] kgodey commented on #1126
@Forchapeatl no problem, I'll unassign you. If you're interested in contributing in the future when you have time, please feel free to comment on an issue.

[2022-03-29 04:49] jals413 commented on #1189
I am currently busy with my personal and college work so don't know when I will be able to work on the issue , So better unassign me for this issue , Once I get free I will try to contribute on some other issue

[2022-03-29 04:59] kgodey commented on #1189
Thanks for the update @jals413, I've unassigned you.

[2022-03-29 05:42] Cronus1007 commented on #1115
@kgodey I am currently working upon this issue. Will raise a draft pr ASAP

[2022-03-29 07:28] muhsinkamil commented on #1246
@silentninja It seems not to reproduce anymore after recent pull.
Could you please confirm with latest pull.

https://user-images.githubusercontent.com/62111075/160556848-7e1b4362-ae66-467f-a63f-0ef532dd8f80.mov

[2022-03-29 08:24] mathemancer commented on #876
I guess using @kgodey's suggestion, we could also make "model sets" of objects where the uniqueness should be enforced over multiple models (e.g., `Table` and `View` models would be in the same set). Or were you thinking of just enforcing it model-by-model, and letting the DB tell us if there's a broader problem?

[2022-03-29 10:34] shrey27tri01 commented on #1120
@kgodey I was caught up with uni work, hence couldn't work on this. Will surely raise a PR by tomorrow. Really sorry for the delay.

[2022-03-29 10:39] ghislaineguerin opened #1252 "Support for Adding Formula Columns in Data Explorer"
As part of the flow for #1065, UI to support various formula settings is required.

## Formula settings
The user should be able to select a formula and define the parameters for that formula. The UI elements for each formula might vary and could include different types of selectors and custom components for actions such as column selection.

Additionally, these settings will include descriptions t

[2022-03-29 11:34] seancolsen commented on #1185
@vorakunal Yeah, the fact that you can't reproduce it is not too surprising, given that I was observing some inconsistent behavior.

@silentninja and @mathemancer  since you have a deeper understanding of the root cause of the problem, would you be able to provide more resilient reproduction steps?

[2022-03-29 11:35] ManishShah120 commented on #1145
Yes, I am trying to achieve it, we had a discussion on this in the office hour call. it's a bit more challenging.

[2022-03-29 11:45] pavish commented on #927
@ghislaineguerin You may want to take a look at this as well.

[2022-03-29 11:45] seancolsen commented on #927
@nk183 For reference, here is how Google Sheets behaves:

![Peek 2022-03-29 07-37](https://user-images.githubusercontent.com/42411/160602965-52c8fca2-760e-42d0-beb3-3a503874a603.gif)

Your screenshots above appear to be using a blue drop shadow, which looks more like a glowing effect. I'd like for the drop shadow to behave similarly to Google Sheets. It's subtle, but present. And it has no saturat

[2022-03-29 12:54] silentninja commented on #876
@kgodey We are already doing this by validating before saving the object https://github.com/centerofci/mathesar/blob/68a12dcb2961bf22dc123c7e344f9d66716738f1/mathesar/models.py#L180

The problem happens when there is an exception during reflection(not really sure) or incorrect use of reflection managers. Since it is a race condition issue, an easier option would be to have a unique database constr

[2022-03-29 12:55] aditmehta9 commented on #1246
You are right this is working now.

[2022-03-29 13:00] aditmehta9 commented on #1038
@kgodey @dmos62 @mathemancer I really want to work on this project and I have been trying to understand this issue. For the past couple of days, I have been reading and trying to understand different files but I'm not getting it. Can you please guide how should I start or what things to understand before I dive into this issue? It would be really helpful.

[2022-03-29 13:09] silentninja commented on #1185
@vorakunal By default, Postgres uses random order, most of the time it is based on the order it is on the disk(creation order) but it cannot be relied upon as per [postgres docs](https://www.postgresql.org/docs/7.4/queries-order.html) It is a random issue and cannot be deterministically reproduced. It is better to have an explicit sorting order than reply on random ordering as some of our use case

[2022-03-29 13:11] silentninja commented on #1185
@seancolsen Are there any features on the frontend that rely on the order of the columns, if so can't they be replaced(or reference a column) by column `id`

[2022-03-29 13:23] akshat2602 commented on #1116
Hey, I have been trying to work on the issue but I can't figure my way into Svelte and am also having issues taking out time to work on the PR. You can remove me as an assignee for now. I will try to work but I can't commit to fully fixing the bug.

[2022-03-29 13:27] silentninja commented on #1246
@muhsinkamil @aditmehta9 I am not able to reproduce the issue, maybe it was fixed by a recent merge. I am closing this as this is fixed. @pavish @seancolsen Can you point out the PR responsible for the fix, so that it is easier to track incase the issue occurs again.

[2022-03-29 13:36] muhsinkamil commented on #1189
Hey @kgodey,  I can take a look. Please assign to me

[2022-03-29 13:40] mathemancer commented on #876
I could get onboard with a hybrid solution like what @silentninja is proposing

[2022-03-29 13:40] seancolsen commented on #1185
@vorakunal just to clarify (from chatting with @silentninja) there is no need to successfully reproduce the bug before applying a fix where you order the columns by the `attnum` property.

[2022-03-29 14:08] seancolsen commented on #1116
Thanks @akshat2602 no worries. I've unassigned you.

[2022-03-29 14:09] seancolsen commented on #1189
Thanks @muhsinkamil I've assigned you. Let us know if you need any help.

[2022-03-29 14:51] kgodey commented on #1038
@aditmehta9 This issue is marked `draft`, which means that it doesn't have enough details to get started on yet. It's intended to be fleshed out during the GSoC project. We have a [very detailed project description](https://wiki.mathesar.org/en/community/mentoring/project-ideas/automatic-hint-reflection) that provides more details about the general problem.

As @mathemancer pointed out, it's best

[2022-03-29 15:00] seancolsen commented on #1246
I'm also not able to reproduce this bug in the current `master` branch.

@silentninja

Good idea.

In the video, at 0:44 we have the sort direction selected as `desc`. Then at 0:45 after applying the sort direction, it displays as `asc`. That's the first indication of this bug. I'm able to reproduce that in 7a98cfd25e2e3d325c899a1046ce12c02e8c3ccf. Then in 77ad8ca3ab92c02a382970536e5ae1ecc3c189ab

[2022-03-29 17:31] silentninja commented on #1246
I was suspecting #1240 too. Thanks @seancolsen

[2022-03-29 17:51] Anish9901 commented on #876
@silentninja initially my PR https://github.com/centerofci/mathesar/pull/1223/ applied constraint over oid and schema but then I updated my PR based on @mathemancer's feedback. Now it looks like we have a consensus on going ahead with constraint on oid and schema.

Here's my commit that makes the required changes: https://github.com/centerofci/mathesar/pull/1223/commits/99c771a975bf70357307c36ff87

[2022-03-29 18:10] silentninja commented on #876
@Anish9901 https://github.com/centerofci/mathesar/commit/99c771a975bf70357307c36ff87a9afbcc83255d looks like the correct way forward. Please revert the PR to https://github.com/centerofci/mathesar/commit/99c771a975bf70357307c36ff87a9afbcc83255d also don't forget to run `makemigration` command after adding the constraint

[2022-03-29 19:59] Anish9901 commented on #876
@silentninja I have made these changes, this PR is ready for review.

[2022-03-30 01:29] vorakunal commented on #1185
@seancolsen @silentninja Alright, I'll look into it.
Thank you.

[2022-03-30 05:44] Cronus1007 commented on #1115
@pavish While the office hours would be open can we discuss this issue whenever you are free on a meet?

[2022-03-30 06:08] Cronus1007 commented on #1214
@dmos62 @mathemancer
The approach with which I have come up with is:-

- Declaration of User Defined Type of MATHESAR_CHAR similiar to that of MATHESAR_MONEY
- @mathemancer I am having a liitle bit of problems of how to compile the class So can you plzzz share some insights how to do it
- Including these user defined types in CUSTOM_TYPE_DICT
- Including these types in
[code]
@mathemancer @dmos62

[2022-03-30 06:34] mathemancer commented on #1214
A few things:
- Did you try just using a `TypeDecorator`? That will make sure the python class includes some extra functionality that's missing for `UserDefinedType`s.
- For compilation, you only need this if you're doing the `TypeDecorator`. I think you should try to get that part working first, and then try to emulate the example compilation above from @dmos62 .
- You're correct that you need to

[2022-03-30 06:46] Cronus1007 commented on #1214
No I was just focusing more upon the UserDefinedType as the ticket mentioned.

Sure I would go ahead I  this way.

No since I am very new to the codebase and sqlachemy so I don't have much specific questions related to the compilation but if I would have any specific error while resolving the issue then would definitely refer you. @mathemancer Can you plzz share your matrix handle for discussions?

[2022-03-30 07:25] mathemancer commented on #1214
@brent:matrix.mathesar.org

[2022-03-30 08:41] pavish commented on #1115
@Cronus1007 Sure. The next office hours is [in a few hours today](https://wiki.mathesar.org/en/community/events/2022-03-28-to-2022-03-31), for which I'll be available.

[2022-03-30 09:37] Cronus1007 commented on #1115
I am unable to detect this in the new record_insertion_row since when i set don't allow null to the boolean columns it returns an error as toast containers. So if you would be able to give me some sort of advice how this has been achieved while implementing for new record_insertion_row

[2022-03-30 09:52] Cronus1007 commented on #1115
@pavish Currently I am unable to get a very clear picture how the UX would really look like. So would want to communicate in order to get a more clear idea about this issue.

[2022-03-30 14:38] mathemancer commented on #1206
As @pavish pointed out, it's not clear that we still need columns in the tables endpoint.

[2022-03-30 14:56] kgodey commented on #1206
@mathemancer @pavish The [Import Preview spec](https://wiki.mathesar.org/en/engineering/specs/import-preview-api) says that we save finalized names and types of columns in bulk using the `/tables/` API. Is this no longer true?

[2022-03-30 15:33] #1131 closed

[2022-03-30 16:04] kgodey commented on #1206
This would not be RESTful, you would be updating multiple resources at once. We generally only use `GET` for list endpoints (and `POST` to create a new resource). We would need to use `PUT` to update all columns at once, which doesn't make sense for a list.

If we want to replace this, I think we should set up a new bulk operations endpoint but it's not worth prioritizing now.

We're not updating

[2022-03-30 16:41] seancolsen commented on #927
Ahh I meant to close this when I merged the PR. Thanks for the ping @kgodey

[2022-03-30 16:41] #927 closed

[2022-03-30 16:44] pavish commented on #1206
@kgodey Ah, now I remember why, and see the reasoning behind this issue. Thanks for the clarification.

[2022-03-30 16:47] pavish commented on #1115
This issue was discussed in one of our office hours. I am commenting a gist of what was discussed to keep track.
* The place holder row needs to be empty. There should be no input fields shown there.
* Upon clicking a cell in the placeholder row, the existing behavior of adding a new row and selecting the same cell in that new row should be retained.

[2022-03-30 17:37] Anish9901 commented on #1096
@silentninja I have understood the issue, I would like to work on fixing it, can you please assign me?

[2022-03-30 18:18] seancolsen commented on #1096
Thanks @Anish9901 I've assigned this to you.

[2022-03-30 20:04] #876 closed

[2022-03-31 10:42] shrey27tri01 commented on #1120
Okay, I understood a bit about how the `add` function first adds new Column details through the API, then waits for a response from the `fetch()` method, and finally returns the response received. Now to display the NULL values, I need to fetch the row details as well inside the `fetch()` function, similar to what happens on `refresh()` inside the `refresh()` function in `tabularData.ts`. Please l

[2022-03-31 10:54] A1O commented on #1126
I'd like to work in this issue.

[2022-03-31 11:25] pavish commented on #1120
@shrey27tri01 You'll have to dispatch an event from the columns store, to the parent tabular data class (Refer tabularData.ts). You could then fetch the rows in this class.

Refer 'columnRenamed' event in both tabularData.ts and columns.ts which utilizes a similar workflow.

[2022-03-31 12:39] silentninja commented on #1126
Sure @A1O I have assigned the issue to you.

[2022-03-31 14:05] priyang12 commented on #1248
hi, I think I have solved this issue should I make a PR, sorry I forget to ask here first and I have used the above package fast-diff but I installed it in dep should I move to devdep

https://user-images.githubusercontent.com/72823974/161074076-4b5629ca-b302-4ff5-9e69-2b0b3cd9dedb.mov

[2022-03-31 14:24] seancolsen commented on #1248
That's great @priyang12. The behavior in your demo video is exactly what we're looking for. When you open your PR we can sort out any issues with package dependencies there. Thanks!

[2022-03-31 18:17] 7saikat7 commented on #1175
Can I work on it ?? I have faced this issue and solved it now the project is running properly locally on windows 10

[2022-04-01 00:02] kgodey commented on #1116
go ahead @shrey27tri01!

[2022-04-01 00:04] kgodey commented on #1175
Sure, go ahead @7saikat7. You'll need to make the PR to https://github.com/centerofci/mathesar-wiki

[2022-04-01 03:45] kgodey commented on #1175
Sure, that's fine.

[2022-04-01 15:57] Anish9901 opened #1258 "Reduce time for preview while toggling 'Use first row as header' during import"
## Problem

Currently while importing any CSV or TSV in mathesar and toggling the 'Use first row as header' the Preview takes a lot of time to load.

## Proposed solution

To solve this, we should:
- explore ways to make the type inference and loading pipeline quicker in general.
- Figure out a way to handle the first row of a table separately when loading an imported table from a file, and inferr

[2022-04-01 17:10] pavish commented on #1258
@Anish9901 Configuration of the first row being a header should be a property of the data_file and not the imported table. I believe the APIs are structured in such a way to be REST compliant.
Also, the client cannot handle patching the column names since:
* If the user configures the first row to be the header, that particular row needs to be removed from the table.
* If the user then toggles and

[2022-04-02 11:56] nk183 commented on #936
hi @seancolsen can I work on this

[2022-04-02 14:00] Cronus1007 commented on #1115
@pavish Can you please specify the files I need to change since I went throught #1080 but unable to resolve this issue.

[2022-04-02 15:57] kgodey commented on #936
Go ahead @nk183, thanks!

[2022-04-03 05:34] kgodey commented on #1145
@ManishShah120 I assume you're no longer working on this since you unassigned yourself?

[2022-04-03 19:15] Cronus1007 commented on #1214
@mathemancer @dmos62 Is there any way I would be able to test that whether the changes I have done are working correctly?

[2022-04-04 01:22] pavish commented on #1115
@Cronus1007 Take a look at `/sections/table-view/row/Row.svelte` and `/sections/table-view/row/RowCell.svelte`.

The property `row.isAddPlaceholder` would be `true` for the placeholder row. Following this property might help you understand the code better.

[2022-04-04 02:18] kgodey commented on #1167
@ratika-12 Are you still working on this task? I figured I would follow up since it's been a while and there has not been a PR yet.

[2022-04-04 02:51] ratika-12 commented on #1167
Yes I am working on this task. I will make a pr for this asap.

[2022-04-04 03:48] mathemancer commented on #1258
Overall, @pavish is correct. The biggest problems is that the data in the first row may affect the inferred column data type, which needs to be verified by the user during import. (This inference is what takes so long).
- If we default to having the first row included as data, and it happens to be a header, we'll likely infer every column to be `TEXT` type, regardless of the actual column data. Th

[2022-04-04 03:50] mathemancer commented on #1258
The best way to reduce time when toggling that would be to default to using the first row as a header, and then hope for the best case when toggling. Toggling in the reverse direction would require re-running the inference algo in any case, though, so I'm not sure this should be worked on at this pont.

[2022-04-04 04:47] mathemancer commented on #1214
@Cronus1007 I'll answer on the PR, since that will be easier to track.

[2022-04-04 06:07] Anish9901 commented on #1258
@pavish @mathemancer Can we have the preview just as the frontend, so the frontend has 2 column names for each column
- Default column name `column_n` with type `TEXT`.
- Using the first row as headers, with the inferred types.

[2022-04-04 06:17] mathemancer commented on #1258
This is a problem in the case of a headless CSV, since then we would never do the type inference step on the full column, no?

[2022-04-04 07:15] Anish9901 commented on #1258
No, the inference step is executed the first time the user imports the data.
Maybe we can just add a check for the type of the first row if it matches the types we inferred by default when we first inferred types then we save the data with inferred types else we use `TEXT`.

[2022-04-04 10:07] pavish commented on #1126
@A1O Grouping is currently broken. There are a number of changes on the backend and it's still being worked upon. The frontend will get updated after all backend work is done. It'll take a while before we get to it.

[2022-04-04 10:11] #376 closed

[2022-04-04 11:35] #1189 closed

[2022-04-04 13:49] #1120 closed

[2022-04-04 15:14] mathemancer opened #1264 "Grouping JSON uses column names"
## Description

The grouping information from the API uses column names.

## Expected behavior

The grouping information from the API should use column IDs instead.

## To Reproduce

Query the API to get records with some grouping. Observe a grouping info blob using column names:

[code]

## Additional context

See [this comment](https://github.com/centerofci/mathesar/pull/1141#issuecomment-106024

[2022-04-04 20:21] kgodey commented on #1258
@mathemancer I assigned this to you to follow up on and get this out of draft stage (or close if unnecessary). Please unassign yourself once complete.

[2022-04-04 23:05] A1O commented on #1014
I'd like to work on this issue.

[2022-04-05 00:08] kgodey commented on #1014
Go ahead, @A1O!

[2022-04-05 09:26] #1126 closed

[2022-04-05 13:29] kid-116 commented on #1145
Hey, @kgodey @pavish @mathemancer ! I would like to take up this issue. I've setup the codebase and I think I'm ready to work on a problem. Could I be assigned to it?

[2022-04-05 13:49] seancolsen commented on #1145
Thanks @kid-116 I've assigned it to you.

[2022-04-05 17:16] Anish9901 commented on #1096
@silentninja I have made a PR #1266 regarding this issue please take a look.

[2022-04-05 17:46] Anish9901 commented on #438
@kgodey Maybe we can use [pandas](https://pandas.pydata.org/) for our type inference and we can map the types used in pandas with the types we are using in Mathesar, I ran a few example files for type inference using pandas please take a look.
[code]

[2022-04-05 19:49] Jinxiao0302 commented on #1249
I can help with this feature~

[2022-04-05 20:13] seancolsen commented on #1249
Thanks @Jinxiao0302 I've assigned it to you. If you have any questions, feel free to ask here, or in [Matrix](https://wiki.mathesar.org/en/community#matrix)

[2022-04-06 00:39] kgodey commented on #438
@Anish9901 We're not yet ready to work on this issue. We first need to identify what the current problems with inference are, including coming up with concrete examples of current inference algorithm failures. We then need to come up with a new algorithm that fixes these issues.

The technology used to implement the new algorithm is a very small part of the problem we need to solve. We can't evalu

[2022-04-06 15:44] #1135 closed

[2022-04-07 08:42] mathemancer commented on #1258
@kgodey This needs some research, as the proposed solution didn't really make sense. I've added some steps that need to be taken (at least one needs to be workable) in order to get this out of draft status. I don't think it's high enough priority to do the research at the moment, but I'm open to seeing other proposed solutions from contributors.

[2022-04-07 12:48] A1O commented on #1258
A few thoughts after working on issue #1014

Description:
- a user has a file `headless_data.csv`
- the user knows that the file is HEADLESS

Problem: the user is forced to wait twice for a data type guess with current implementation.
![Untitled-2](https://user-images.githubusercontent.com/6394268/162195385-93c4af54-7e13-43cf-b407-b5f6e944545c.png)

Possible solution: move  (or add) check box `Use

[2022-04-07 12:56] A1O commented on #1258
Assuption: user imports the file  `patents.csv`
Problem: The backend does not take in to account that the CSV file is headed  and makes type guess on the 1st line.
Why Mathesar uses 1st line for type guess at all?

![Screenshot_2022-04-07_15-42-52](https://user-images.githubusercontent.com/6394268/162202316-67abed4e-e674-456b-bb0d-a74195d9d1f6.png)

[2022-04-07 16:03] #1003 closed

[2022-04-07 18:54] pavish commented on #475
Blocked by https://github.com/centerofci/mathesar/issues/1073

[2022-04-07 19:44] vorakunal commented on #1151
May I work on this issue?

[2022-04-07 21:00] kgodey commented on #1151
Go ahead @vorakunal, thanks!

[2022-04-07 21:05] kgodey commented on #1258
@A1O We can explore that option when we redesign the import preview page, see https://github.com/centerofci/mathesar/issues/934.

Users may not always know whether their CSV files have headers until they look at their data, though. Non-technical users may not know enough about CSV files to even know what that question means. So we'd still need a way to toggle it at the preview stage.

[2022-04-08 13:34] Jinxiao0302 commented on #987
I may try to help with this bug

[2022-04-08 13:41] kgodey commented on #987
Go ahead @Jinxiao0302!

[2022-04-08 14:44] Jyuart commented on #632
Hey 👋
I'd like to work on this one
May I?

[2022-04-08 14:59] seancolsen commented on #1249
Ok this is interesting. Thanks for the research, @Jinxiao0302.

Turns out I have a Samsung tablet! I just whipped up some HTML and tried this out on my tablet.

- With `inputmode='decimal'`, there's no way to enter a minus sign.

- With `inputmode='numeric'`, there's one button which reads `.-`. Pressing it once inserts a dot. Pressing it twice quickly inserts a minus sign. Pressing a holding does

[2022-04-08 14:59] #1249 closed

[2022-04-08 15:10] Jyuart commented on #632
Key points:
1. When switching between tabs scroll should be persisted (currently it's not)
2. When updating table or column properties scroll should be persisted (currently it is)
3. When adding filtering, sorting, or grouping it should **not** be persisted (currently it is)

Is everything correct?

https://user-images.githubusercontent.com/20342130/162470743-b5ceb751-6fb9-4ac8-af5c-ffe001c62563.m

[2022-04-08 21:10] ghislaineguerin opened #1274 "Design for Range Data Type"
## Problem
When a user builds a view, summary columns may be rendered as ranges, depending on the query configuration . We require a design for range type, which includes how it is represented as well as the filter and sort choices that are offered to the user. It is also necessary to describe the way in which the range data will be entered.

## Proposed Solution

[WIP]

## Additional Context
- [P

[2022-04-10 11:24] sahilsaini110 commented on #1107
Sorry for the late reply I was trying to solve this issue but was unable to understand how to proceed then I got stuck in some other work sorry for the inconvenience I will take care of that from now on. Also if possible I need some guidance for this issue that like how to start and proceed with this.

[2022-04-10 11:27] sahilsaini110 commented on #765
I would like to try it for some more time maybe 3-4 days. After that may someone else can work on this. Also, it will be very helpful if you provide me with some guidance regarding the issue.

[2022-04-10 15:55] Jyuart commented on #632
@pavish, hello!
So, these points (https://github.com/centerofci/mathesar/issues/632#issuecomment-1092975173) are done. Currently working on integration tests to validate the new behavior.

In the meantime, I noticed a few places, that were not in the ticket but I could work on additionally: changing pages and page size. What is the expected behavior if you think it's appropriate to work on them in

[2022-04-10 16:33] kgodey commented on #765
@sahilsaini110 There's information about the issue in the issue description and in the related PR, that is the guidance. If you have a specific question, please ask.

[2022-04-10 16:37] kgodey commented on #1107
@sahilsaini110 The related PR should provide guidance since it implements the same logic for the money data type. If you have a specific question, please ask.

If you're confused by this issue (or any other issue), it would be better to instead work on a different issue that you can grasp quickly. That would give you a better idea of the codebase before working on a more complex issue like this on

[2022-04-10 16:38] pavish commented on #632
@Jyuart Yes, when changing pages or pageSize, the scroll positions have to be reset.

[2022-04-11 12:26] pavish opened #1276 "500s when patching column to a different type"
## Description
When patching a column to a different type, having `display_options` or `type_options` in the request results in a 500 if the new type does not allow them.

### Scenario 1:
* Create a text column
* Patch the column to URI type with `null` values for display and type options:
[code]
* Notice the following response with status code 500:
[code]

### Scenario 2:
* Create a text column
*

[2022-04-11 12:28] kgodey commented on #1276
If `display_options` is set to an empty object, we should remove all display options.

[2022-04-11 13:35] silentninja opened #1277 "KeyError thrown and Incorrect display_options present when altering a column type from TEXT to DATE"
## Description
When patching a column from `TEXT` to `DATE`,
* Irrelevant `display_option "show_as_percentage"` is present on the column
* Further requests to `columns/` and `tables/` endpoints, throws a 500 with keyError.

## Reproduction
* Create a TEXT column
* PATCH it to DATE. (Alternatively, change type to DATE on the frontend).
[code]
* Notice that the table fails to loads on the frontend.

[2022-04-11 17:25] seancolsen commented on #1045
I'm working on this now because it's related to my work with cell-level errors

[2022-04-12 10:09] silentninja commented on #1021
Go ahead @ajitg25, thanks for the help!

[2022-04-12 21:30] seancolsen opened #1281 "Race condition prevents new row success status from being applied to row when added before columns data is loaded"
## Reproduce

1. Begin with no tables open.
1. In the sidebar, click on a table to open its tab.
1. Then _really fast_ click "New Record" (before the table data is loaded).
1. When all requests complete, expect to see the row highlighted green, indicating that is has been successfully added.
1. Instead, observe that the row does not get the green highlight.

## Notes

The columns data needs to be

[2022-04-13 01:25] seancolsen commented on #1281
I'm actually going to work on this because I sort of need a fix for #775 that will fix this too.

I'm going to disable the "New Record" button while tabular data is fetching.

[2022-04-14 10:30] yashpatwa60 commented on #1231
Hey I recently looked at this issue and tried some methods and got stuck mid-way

- First I created a folder of assets inside mathesar_ui and added a logo.
- Then I imported the logo with two methods from [Vite static asset handling docs](https://vitejs.dev/guide/assets.html)
                1. Using a new URL object, it worked perfectly fine but didn't pass the test because of import.meta.

[2022-04-14 11:26] dmos62 commented on #1224
My plate is full at the moment. Postponing this indefinitely.

[2022-04-14 12:30] seancolsen opened #1284 "Handle more cases within getCursorPositionAfterReformat"
(placeholder -- will flesh out soon)

[2022-04-14 12:43] Anish9901 commented on #1276
Can I work on this?

[2022-04-14 13:01] silentninja commented on #1276
@Anish9901 I have assigned the issue to you. This issue blocks a lot of frontend work, so a core contributor might take it if it takes too long to be completed(more than 2-3 days)

[2022-04-14 13:08] silentninja commented on #1276
Thanks! @Anish9901

[2022-04-14 13:17] #1248 closed

[2022-04-14 13:25] seancolsen commented on #1284
@priyang12 would you be interested in working on this as a continuation of your work on #1257?

[2022-04-14 14:20] kgodey commented on #1224
I'm going to close this issue. I'm sure it will happen again if it's still an issue, we can figure out reproduction steps if/when it happens.

[2022-04-14 14:47] pavish commented on #1231
@naveenvarma600 There hasn't been any update from you on this issue for a while, so I'm un-assigning you. Please feel free to pick another issue.

[2022-04-14 14:59] pavish commented on #1231
@yashpatwa60 I'm assigning this issue to you.

We do not need flexibility in styling the logo here. It is a static asset and is meant to be used directly. So, this is fine.

If you got it to work with dev mode, please also ensure that it works after the files are built. As mentioned in the issue description, this might require additional handling.

Inorder to build the files:
* Run `vite build` in

[2022-04-14 16:37] seancolsen commented on #1140
@pavish and I still disagree on this, but for the sake of moving forward, I'm closing this ticket. We will just avoid implementing the DropdownMenu within the column header menu any time soon.

[2022-04-14 16:37] #1140 closed

[2022-04-14 16:41] seancolsen commented on #1108
@pavish I've assigned this to you since you're taking the date/time portion of the data types milestone. I'm fine with picking either Luxon or date-fns. I'm pretty certain that whatever we pick, we'll end up regretting it later 😜

[2022-04-14 16:47] seancolsen commented on #936
@nk183 Are you still working on this? We'll be working to close out this milestone soon, so we'll need to re-assign it to a core team member if we don't get a PR by 2022-04-19. Thanks.

[2022-04-14 16:52] #1250 closed

[2022-04-14 16:54] seancolsen commented on #1115
@Cronus1007 We're trying to close out this milestone soon, so if we don't have a PR for this issue by 2022-04-19 we'll need to re-assign it to a core team member.

[2022-04-14 17:13] seancolsen opened #1285 "Increase Playwright timeout to 30s and re-enable flaky tests which are commented-out"
The test `test_import_from_file` has been failing in some PRs. For example

- https://github.com/centerofci/mathesar/runs/6013686657?check_suite_focus=true
- https://github.com/centerofci/mathesar/runs/5999506321?check_suite_focus=true

In those logs you'll see:

Why is the timeout 5s and not 30s like we've set with our `page` fixture override? I've tried to troubleshoot this but had a hard time f

[2022-04-14 18:57] pavish opened #1287 "Deleting existing rows duplicates newly added rows"
## Description
* Open a table with few rows so that there is only one page of rows. Say 10 rows.
* Add a few new rows. Notice the new rows highlighted in green.
* Delete a few existing rows, notice that the rows get refreshed and new rows are loaded in place of deleted rows.
* Notice that the previously added new rows which are duplicates do not get removed.

Resulting in this state:
![Screenshot

[2022-04-14 19:28] Cronus1007 commented on #1115
@seancolsen Sure. I am currently working upon my GSoC proposal so I was unable to complete it.

[2022-04-14 20:24] pavish commented on #1115
I'm picking this up as part of my boolean type PR, as it improves some interactions I'm implementing.

The new behavior is as follows:
* Inputs will not be visible on the placeholder cells by default.
* Inputs will become visible when the cell enters active state (when user enters the cell by keyboard interaction), thereby allowing users to enter value on the placeholder row.

[2022-04-14 20:32] kid-116 opened #1288 "Faulty test `test_import_from_file`"
#1270

## Description
The test `test_import_from_file` in `mathesar/tests/integration/test_imports.py` is failing. It can't be replicated locally and has been troubling in the past as well.

## Expected behavior
The test must give the same result when ran locally and when ran as a part of GitHub workflow checks.

## To Reproduce
Run the test locally and then as a part of GitHub workflows check.

[2022-04-15 03:40] kgodey commented on #1288
Thanks for opening this, @kid-116.

I think this should be covered by https://github.com/centerofci/mathesar/issues/1285, so I'm going to close this as a duplicate.

[2022-04-15 03:40] #1288 closed

[2022-04-15 07:55] #1045 closed

[2022-04-15 08:00] pavish opened #1289 "Deleting rows should not show loading indication on unrelated rows"
## Description
This was a regression introduced in recent PRs.

The previous behavior for deleting rows is as follows:

https://user-images.githubusercontent.com/11850603/163542683-5471799c-cdea-494d-95c9-b8ff98bade23.mov

Ignore the background colors and new row placeholder. They are not part of this issue.

The current behavior is as follows:

https://user-images.githubusercontent.com/11850603/1

[2022-04-15 20:00] ajitg25 commented on #1021
I will be adding exceptions other than the APIexceptions but these exception will lead them to which of the functions like u have already added some redirecting them to your set of code, can u plz guide how should i approach

[2022-04-16 04:59] sahilsaini110 commented on #1107
Yes, I think you are right this is a little bit complex issue since it involves lots of files to be changed so I think I have to first become more familiar with the codebase. Also right now I am busy writing the proposal so unable to give that much time to this.

[2022-04-16 07:01] manasa-sm commented on #1187
Can I work on this?

[2022-04-16 07:02] manasa-sm commented on #1231
can i do this

[2022-04-16 10:20] seancolsen commented on #1187
Yes, thanks @manasa-sm I've assigned you to it.

[2022-04-16 13:40] kgodey commented on #1231
@manasa-sm This is already assigned, so it's not available to be worked on.

[2022-04-16 13:41] kgodey commented on #1107
@sahilsaini110 Thanks for the update, I unassigned you.

[2022-04-16 13:43] kgodey commented on #453
I'm going to close this, we can reopen or open a new issue once we have a more detailed design for it.

[2022-04-16 13:43] #453 closed

[2022-04-16 13:52] manasa-sm commented on #1187
@seancolsen , I have a small question. Can I name the icons (iconCoffee, iconRocket, etc) similar to that of the fontawesome like this? Or should they be more meaningful
![image](https://user-images.githubusercontent.com/54235627/163677496-5b987a3d-b950-45cc-9b23-8298675c5aa2.png)

[2022-04-18 10:28] pavish commented on #1228
@silentninja @kgodey

I'm still the same error quite frequently for boolean type. But it's intermittent and I can't seem to reproduce it.

`"Got KeyError when attempting to get a value for field 'input' on serializer 'BooleanDisplayOptionSerializer'.\nThe serializer field might be named incorrectly and not match any attribute or key on the 'dict' instance.\nOriginal exception text was: 'input'."`

[2022-04-18 17:03] #632 closed

[2022-04-19 03:56] #257 closed

[2022-04-19 03:56] #1115 closed

[2022-04-19 03:58] kgodey commented on #247
Closing this since all sub-tasks are closed.

[2022-04-19 03:58] #247 closed

[2022-04-19 04:04] pavish commented on #500
I'm marking this as ready. The groundwork for all types are done, so we should be able to implement this.

However, the input shown for types will only reflect upon completion of each type implementation. At the time of this comment, only Text and Boolean are ready.

[2022-04-19 04:30] pavish opened #1296 "Display options for boolean not saved in staging env, contains invalid entries"
## Description
* Open 'Movies' table in staging
* Notice that we have a boolean column named 'Watched'
* Change Display options of the boolean column to dropdown and with custom labels
* Save the column, notice that the request is sent as expected and the response is received as expected.
  Request:
[code]
  Response:
[code]
* A subsequent request to fetch all columns is sent.
* Notice that the re

[2022-04-19 07:24] silentninja commented on #1228
@pavish I am able to reproduce the bug.

[2022-04-19 07:33] Jyuart commented on #1107
I'd like to work on this one.
I've read the discussions and see that it's not an easy one. And still, I'd start with getting acquainted with the codebase along with investigating parts that are necessary for this specific task.
Since this issue doesn't have priority labels, can I take some time to work on this? I'll ask questions whenever they occur and let you know if it turns out too difficult f

[2022-04-19 16:04] vrutik2809 commented on #934
While importing the data, one file named `<file_name>_<id>.csv` is created in `.media` directory.
So, when the user cancels the import then it would be better to delete that file from the directory to utilize the space efficiently.

[2022-04-19 18:00] kgodey commented on #1276
@silentninja I think if the frontend sends a request to remove all display options, the backend should treat it as a request to reset the display options to their default state (i.e. the user is removing all customizations). We should not let the display options end up in a unusable state.

Alternatively, you can validate required display options, but the first option seems more flexible.

[2022-04-19 18:28] Anish9901 commented on #1167
@kgodey @silentninja Can I work on this if this is not being worked on currently by @ratika-12?

[2022-04-19 19:16] ratika-12 commented on #1167
Yeah sure !!

[2022-04-19 19:36] kid-116 commented on #1296
Could I take up this issue?

[2022-04-19 22:28] kgodey commented on #1167
Thanks @Anish9901, assigned to you. And thanks for the update @ratika-12.

[2022-04-19 22:33] kgodey commented on #1296
Sure, go ahead @kid-116.

Since this is in our current milestone, this is pretty high priority.  Someone from the core team will probably take this over if there's no PR within a few days.

[2022-04-20 00:34] seancolsen opened #1300 "Number scale not persisting"
## Reproduce

1. In the front end, edit the DB options for a Number column.
1. Set "Number Type" to "Decimal". Set "Decimal Places" to "3". Click Save.
1. Observe a PATCH request to the columns API which specifies `type_options.scale` to `2`. Good.
1. In the response of this request (and also in the response of the subsequent GET request to the columns endpoint), expect the column to show `type_op

[2022-04-20 00:58] seancolsen opened #1301 "Use more intuitive labeling for Data Size in Integer in DB options"
## Current behavior

- Configuring a number column requires the user to understand the difference between 2-byte, 4-byte, and 8-byte numbers. Many non-technical users will be confused by this choice.
- The list is not ordered

![image](https://user-images.githubusercontent.com/42411/164123500-b69267d8-5424-40a2-84b4-3cdf1bb829ac.png)

## Desired behavior

- The field label is "Maximum Value"
- The

[2022-04-20 15:40] kid-116 commented on #1296
I'm not able to reproduce this locally. I'll unassign myself.

[2022-04-20 17:04] Jyuart commented on #1107
@mathemancer I'm making my way through the code, getting knowledge (https://github.com/centerofci/mathesar/pull/1137 is very useful for this one, thanks).
I just wanted to be clear about the specific type. **This issue is about casting just the PostgreSQL's `NUMERIC` type, right?** You are pretty clear about that in the description:

But the title of the issue still confuses me a lot. Maybe you me

[2022-04-20 17:22] kid-116 commented on #1287
Could I be assigned to this issue?

[2022-04-20 19:06] kgodey commented on #1107
@Jyuart "Number" refers to the Mathesar UI type, which is a grouping of all numeric type. Please read this wiki page for more context: https://wiki.mathesar.org/en/engineering/glossary/ui-types

[2022-04-21 01:33] seancolsen opened #1302 "Increase type safety for EventHandler callback values"
## Current behavior

- The `ColumnsDataStore` dispatches a `'columnDeleted'` event, and passes the id of the column deleted.
- In `TabularData`, we listen to that event, and respond by removing references to the column from the sorting/filtering/grouping. But the callback function is awkward because we need to specify the argument as `columnId: unknown` and then add type assertions `columnId as nu

[2022-04-21 01:55] #987 closed

[2022-04-21 05:38] mathemancer commented on #1107
@kgodey is correct in that all types under `Number` in the page she linked are handled. However, my original intent with this issue was about _detecting_ whether a column is of number type. For that, the only relevant target is `NUMERIC`, since that's the type in the DAG defined in `db/columns/operations/infer_types.py`.

So, to enable human readable number _imports_, changing the function for cas

[2022-04-21 05:40] nk183 commented on #1287
Can I work on this issue?

[2022-04-21 05:53] pavish commented on #1287
@nk183 Sure, go ahead!

[2022-04-21 07:18] kgodey commented on #1107
For inferring the type when importing data, we decided to only do `NUMERIC` for now. Once we have global inference, we might want to be smarter about this.

We should allow users to manually cast from `TEXT` to any number type, though.

Please make a separate issue if needed. I agree that this issue shouldn't be blocked.

[2022-04-21 11:59] Anish9901 commented on #1167
@silentninja Does the attnums have to be passed as a list of attnums to a db layer function or the `id` in validated_data is needed to be replaced with its corresponding attnum.

[2022-04-21 17:49] silentninja commented on #1167
This should be the preferred option `db` layer should not know about the Django model fields like `id`

[2022-04-21 22:32] silentninja commented on #1021
@ajitg25 I added few more information to the problem statement. Let me know if it is not clear.

[2022-04-21 22:38] silentninja commented on #1021
Please start by looking into the codebase for exceptions that are missing from the list. If the list gets repetitive, see if the APIException lookup can be automated.

[2022-04-22 20:58] Anish9901 commented on #1030
Can I work on this?

[2022-04-23 00:58] kgodey commented on #1030
Sure, go ahead @Anish9901

[2022-04-25 13:11] sahilsaini110 commented on #765
@pavish @kgodey I attempted to resolve this problem but was unable. I've tried the earlier approach as well, but I'm still unable to complete it. You can assign this issue to someone else.

[2022-04-25 16:20] pavish commented on #1289
@Jinxiao0302 Sure, go ahead!

[2022-04-26 00:23] seancolsen commented on #1285
Same with `test_import_from_clipboard` now. I've commented out that one too. Same problem.

[2022-04-26 06:14] mathemancer opened #1309 "Handle human readable number casting in general"
## Problem

Currently, casting from textual types (e.g., `TEXT`) to numbers relies on the default PostgreSQL number handling. This will be solved for the `NUMERIC` type once #1107 is solved, but we should also handle other number types.

## Proposed solution

We should write custom logic to allow handling casting more strings to number types.

- Casting to number types with decimals should use the

[2022-04-26 06:15] mathemancer commented on #1309
Marking this as blocked until #1107 is solved.

[2022-04-26 09:25] mathemancer opened #1310 "Grouping description endpoint"
## Problem

Currently, we're not exposing hints about how different grouping methods work in the API, so we'd need to hard code some of that information in the front end to make it possible to use grouping to the fullest extent. We shouldn't have to hard code information about how different grouping modes work in the front end.

## Proposed solution

We should use hints to give the front end infor

[2022-04-26 09:25] mathemancer commented on #1310
@dmos62 I think we can go back-and-forth in this issue about how this should look. Marking as draft until we have more details figured out (e.g., where the endpoint should go).

[2022-04-26 10:26] nk183 commented on #1287
hi Pavish is this the expected result

https://user-images.githubusercontent.com/58779460/165279926-ce3c7265-2740-4bc5-b45d-6fcbf07dc6cd.mp4

[2022-04-26 14:08] pavish commented on #1287
@nk183 The behavior varies based on pagination state.

Scenario 1: When the total number of records are within a single page.
* Upon delete, the deleted rows get removed, rows get fetched from server.
* The fetched rows would contain duplicates of the newly added rows.
* We look through the newly added rows and remove those duplicates from them.
* The status indicators get cleared for the rows tha

[2022-04-26 15:53] pavish commented on #1276
@silentninja  Here are my thoughts:

1. I think the default state should be `None`. Like you mentioned, an empty object is set by the client, for which currently we do not have any validation. But we might possibly have it in the future.
2. `display_options` and `type_options` are properties of the Column, so I think we should allow setting values for them for all columns, even though they depend

[2022-04-26 18:43] kgodey commented on #1276
Sounds good to me.

[2022-04-26 21:18] Cronus1007 commented on #1309
@mathemancer I would like to work upon this issue once it gets unblocked.

[2022-04-27 01:30] seancolsen opened #1316 "Unable to load Mathesar when a column contains an unrecognized type"
## Reproduce

1. Execute this SQL:

[code]

1. Restart Docker.

1. Try to load the base page.

1. Observe the following error:

[code]

    ![image](https://user-images.githubusercontent.com/42411/165419626-e6679a91-d543-4d03-9ed4-87425161b3ba.png)

## Notes

- I've tried this with a few different types, `integer[]`, `circle`, `jsonb`. I get the same behavior every time.
- After dropping the offen

[2022-04-27 01:46] seancolsen opened #1317 "Unable to convert text column to email"
## Reproduce

1. Create a new empty table.

1. Add new column. Name it "email".

1. Add a new record. Into the "email" field, enter `foo@example.net`.

1. Change the column type from "Text" to "Email".

1. Expect success.

1. Observe the error:

[2022-04-27 01:59] seancolsen opened #1318 "Unable to convert email column to text"
## Reproduce

1. "New Table" > "Import data" > "Copy and Paste Text" > paste the following and click "Continue"

[code]

1. Click "Finish Import"

1. Change the "email" column from type "Email" to type "Text".

1. Expect success.

1. Observe the error:

## See also

- #1317

[2022-04-27 02:08] seancolsen commented on #255
Most of the work here appears to be done, so I'm closing this ticket in favor of a few remaining tickets that are more specific.

To address this ticket's requirements:

- **_view data in columns that have the Mathesar email custom type_**

    - This appears to work

- **_see validation errors if the data they enter is not a valid email_**

    - This mostly works. Here's what the error looks lik

[2022-04-27 02:08] #255 closed

[2022-04-27 03:26] mathemancer commented on #1316
Assigning myself because this is a 15 second fix.

[2022-04-27 03:31] mathemancer commented on #1316
Actually, it's a bit more of a problem the Array problem is different than the non-array column.

[2022-04-27 11:46] vrutik2809 commented on #1317
I would like to work on this issue

[2022-04-27 11:50] seancolsen commented on #1317
Thanks @vrutik2809 I've assigned it to you.

Because this ticket is in our current milestone, we may need to re-assign it to a core team member if we don't see any progress from you by early next week. Feel free to open a draft PR so that we can see you're working on it, even if your changes are not fully ready for review. ,

[2022-04-27 12:04] vrutik2809 commented on #1317
Okay. Thank you

[2022-04-27 12:26] #1316 closed

[2022-04-27 13:27] seancolsen opened #1321 "Unable to load records with circle column type"
## Reproduce

1. Execute this SQL

[code]

1. Try to load that table.

1. Observe an API request to `/api/db/v0/tables/{id}/records/`

1. Expect a successful response.

1. Observe the following response:

[code]

[2022-04-27 13:53] silentninja commented on #1317
@seancolsen @vrutik2809 We already have an open issue #1276 and a PR #1293 related to this bug. Can we close those this issue?

[2022-04-27 13:54] seancolsen commented on #1317
Yep. Thanks @silentninja

[2022-04-27 13:56] #1318 closed

[2022-04-27 16:24] vrutik2809 commented on #1317
okay 👍

[2022-04-27 16:41] seancolsen opened #1322 "Make URL cells clickable"
## Reproduce

1. "New Table" > "Import Data" > "Copy and Paste Text" > paste the following

[code]

1. Load the table

1. Expect to find a way to click on the URL in the cell and load the page in my browser

1. Observe the URL is not clickable

## Specs

- The overall behavior should be similar to AirTable, as in this example:

    ![Peek 2022-04-27 12-33](https://user-images.githubusercontent.com

[2022-04-27 16:46] seancolsen commented on #256
I'm closing in favor of the following more specific tickets which should address all the remaining work needed here.

- #1322
- #1276
- #1073
- #1072

[2022-04-27 16:46] #256 closed

[2022-04-27 18:45] seancolsen commented on #659
@kgodey Can you clarify this text within the "Requirements" section of the ticket description:

Can you provide a specific example?

[2022-04-27 19:14] kgodey commented on #659
@seancolsen It's been too long since I wrote the ticket, I don't know. I _think_ I may have meant that if a data type had options you could set in the database (like scale and precision for `NUMERIC`) and if it was possible to expose them through the API somehow, you should be able to set them through the UI. If that is what I meant, it's technically infeasible anyway.

I think ignoring or removin

[2022-04-27 21:08] pavish commented on #1276
@silentninja  FYI, patch requests to the same type also seem to be failing with similar errors. I assume the fix for this issue would apply to that scenario as well.

[2022-04-27 21:39] seancolsen opened #1324 "Improve handling of non-Mathesar JSON types"
## Prerequisite data

Execute the following SQL to set up some sample data for reproducing these issues.

[code]

## Problem viewing data

1. Load the `json_test` table.

1. In the "json" column, expect to see a stringified version of the JSON sample data.

1. Observe `[object Object]`.

    ![image](https://user-images.githubusercontent.com/42411/165634244-7a508e82-91ba-4814-95a0-932d01624922.png

[2022-04-27 21:48] seancolsen commented on #659
I'm closing this because:

- I have chatted privately with @kgodey and reached an agreement that testing the following non-Mathesar types is sufficient to determine acceptance of the requirements in this ticket:

    - `jsonb`
    - `integer[]`
    - `circle`

- I've tested Mathesar with those three types, evaluating our current behavior against the requirements:

    - View data as text
    - Edi

[2022-04-27 21:48] #659 closed

[2022-04-27 21:50] pavish commented on #1324
For columns like JSON, JSONB etc., we'd have a `code` type on the frontend which allows editing code in the future. This would be after alpha.

We should probably do this for alpha, since architecturally all code on the frontend is based on Mathesar types and not on Db types, and we do not have Mathesar types for JSON columns. Handling each unknown type on the frontend for alpha seems is probably

[2022-04-27 22:55] Jayitha commented on #869
Hi, I'd like to work on this issue.

[2022-04-27 23:42] kgodey commented on #869
Sure, go ahead @Jayitha

[2022-04-28 01:01] silentninja commented on #1300
`Numeric` [column type signature](https://www.postgresql.org/docs/current/datatype-numeric.html#DATATYPE-INT) accepts `scale` along with `precision` only. I don't think it is possible to specify `scale` without `precision`.

Also, it is not possible for the backend to set a default value as the backend is not aware of the possible `type_options` for a particular type. So it would end up setting a

[2022-04-28 02:34] mathemancer commented on #1321
A couple of notes:

Changing the table creation to
[code]
avoids this issue, since order by the primary key if it exists.

That said, we currently fall back to ordering by the set of other columns when no default column exists, and run into the issue you found in case one of the columns is of a non-orderable type. Determining whether a type is orderable or not amounts to determining whether that t

[2022-04-28 10:52] nk183 commented on #1322
Hi @seancolsen  can I work on this

[2022-04-28 11:32] vrutik2809 commented on #1276
After a lot of debug on resolving [this](https://github.com/centerofci/mathesar/issues/1276) issue, i come to know that actual bug was on `SimpleColumnSerailizer`. This serializer is calling [DisplayOptionsMappingSerializer](https://github.com/centerofci/mathesar/blob/246ad98c4c714190c7a075e2a10b06a1d966ff0e/mathesar/api/serializers/shared_serializers.py#L127) which is extending [ReadWritePolymorp

[2022-04-28 11:33] vrutik2809 commented on #1276
And in addition to this, we need to define a display option serializer for each Mathesar data type which includes DisplayOptionsMappingSerializer so that in future this type of error could not occur. As currently, I am trying to change the data type of column from email to text then it is showing me the same error. Again the reason is the same: no entry for text type

[2022-04-28 12:09] #500 closed

[2022-04-28 12:48] silentninja commented on #1276
@vrutik2809 The source of error is correct, but instead of having a serializer for all the types, it would be better to have a default serializer that would ignore any display options for types that don't accept any display options

[2022-04-28 13:22] vrutik2809 commented on #1276
Can we do like if `display_options` is null then irrespective whether matching serializer is there or not just return else if `display_options` is not null and if matching serializer for that type is not found then only raise Exception? We can also add a prior check for `display_options` whether the respective type has a facility for that or not.

[2022-04-28 18:33] pavish opened #1325 "Type options dropdown ux is not feasible to use when all options are displayed"
## Description
* The type options dropdown (Column header -> Data Type) utilizes vertical space and when the options are all displayed, it exceeds the screen size.
* <img width="1127" alt="Screenshot 2022-04-28 at 11 33 21 PM" src="https://user-images.githubusercontent.com/11850603/165820858-11d882df-f2ea-4bea-9bd5-5bfc9e810b06.png">
* Adding a scrollbar to the options makes is harder to use since

[2022-04-28 18:34] pavish commented on #1300
I am going to re-open this issue and mark as draft, because scale is required for money type. However, there is no point in showing precision to the user, and the backend must assume a default value in that case.

It is much better to set a default value on the backend rather than on the frontend.

[2022-04-28 18:39] seancolsen commented on #1300
@pavish, Mukesh and I have been discussing this privately which has seemed appropriate to me since we're trying to encourage faster work and the responsibility for Numbers rests squarely within our two-person team for this sprint. We're still trying to sort out how we want to handle some of the challenges here, and at this point I'm planning to raise some discussion points with the whole core team

[2022-04-28 18:44] seancolsen commented on #1300
Can you elaborate?

[2022-04-28 18:48] pavish commented on #1300
I've been building/configuring the input components for all types to display in filters and groups, and they need to make use of the type and display options. I've already configured it for number in the last PR that was raised.

I assume we can leave the configuration of these input components to the owner of the data type, instead of me working on all of them.

[2022-04-28 18:49] seancolsen commented on #1300
I see. Thanks

[2022-04-28 20:24] seancolsen opened #1326 "Error when trying to load tables"
## Prerequisite data

[volumes.zip](https://github.com/centerofci/mathesar/files/8586108/volumes.zip)

## Reproduce

1. Go to `http://localhost:8000/mathesar_tables/2/?t=W1tdLG51bGxd` to load the "astronomy" schema.

1. Switch to the "public" schema.

1. Observe a 500 response from `/api/db/v0/tables/` with error code 4999 and the following message:

[2022-04-28 20:33] seancolsen commented on #1326
This appears to be a duplicate of #1277

[2022-04-28 20:33] #1326 closed

[2022-04-28 21:26] seancolsen opened #1328 "Change column type input to Select"
## Current behavior

In the screenshot below, the "Set Column Type" field is a scrollable list.

![image](https://user-images.githubusercontent.com/42411/165847702-1d08690a-895e-494a-b3ff-897f1c27d523.png)

As I've been playing with types, I've been frustrated with this interface because the window is so tiny that it's hard to scroll through the options to find the one I want.

## Desired behavior

[2022-04-28 21:26] seancolsen commented on #1328
@pavish @ghislaineguerin would this be okay with you?

[2022-04-28 22:02] seancolsen opened #1329 "Allow the user to hide grouping separators for Number and Money"
## Current behavior

- Look at this table of numbers. The right-most column is storing years as in integer, which I think will be common. But they are displayed with grouping separators. Ugh. That looks terrible!

    ![image](https://user-images.githubusercontent.com/42411/165846061-9648a4bd-2aac-4074-851b-882c77aa8bea.png)

- There is currently no way for the user to disable the display of group

[2022-04-29 00:20] pavish commented on #1328
I think we should discuss this later, preferably during the cool down period.

Here's another issue with the type selection dropdown: https://github.com/centerofci/mathesar/issues/1325 that I raised earlier.

I guess the entire dropdown needs to be re-thought once with these problems in mind.

[2022-04-29 00:23] seancolsen commented on #1328
Agreed. That's why I've put this in the next "Improvements" milestone, and not in the data types milestone.

[2022-04-29 00:39] seancolsen opened #1330 "Data type configuration sometimes ends up partially off screen"
## Reproduce

1. Open the data column header menu for a column positioned on the far right of the viewport.

1. Observe the menu to fit entirely within the viewport (good).

1. From the menu, open the type configuration UI

1. Expect the whole type configuration UI to be positioned within the viewport.

1. Observe some of it to be partially off-screen.

1. Horizontally scrolling via Shift+wheel (o

[2022-04-29 01:23] seancolsen opened #1331 "Use a separate Mathesar type for percentage display"
## Facts

- (A): The display option `show_as_percentage` exists for all Number types, regardless of DB type configuration or other display options.

- (B): We've [decided](https://github.com/centerofci/mathesar/discussions/1269) that the Postgres value `0.5` should be displayed to the user as `50%` when `show_as_percentage` is `True`, and I think we ought to stick to that.

- (C): Because of (B) w

[2022-04-29 02:06] seancolsen opened #1332 "Use display options (instead of db options) to format decimal places"
## Our current design

- When Postgres `scale` is **not** defined, the number is formatted with however many decimal places exist in the stored value.

- When Postgres `scale` **is** defined, the number is formatted to have exactly that number of decimal places, regardless of the stored value.

## Use cases that our design does not handle

### (A) Format with fewer decimal places than are stored

[2022-04-29 14:41] kgodey commented on #1021
@ajitg25 Are you still working on this?

[2022-04-29 14:42] kgodey commented on #1151
@vorakunal Are you still working on this?

[2022-04-30 02:07] #1277 closed

[2022-04-30 20:44] seancolsen opened #1337 "After saving, the cell should display the saved value from Postgres instead of the user input"
## Reproduce

1. Set up a number column with "Decimal Places = 2 and "Max digits" = 1000.

1. Edit a cell in this column. Enter `1.23` and save. Observe `1.23` to be displayed. Refresh the table. Observe `1.23` to be displayed. This is all good.

1. Now edit the cell and change the value to `1.239` and save.

1. Expect `1.24` to be displayed after the value is saved, because the saved value is rou

[2022-05-02 13:58] #1276 closed

[2022-05-02 15:32] seancolsen opened #1340 "Allow user to display numbers as percentages"
## Motivation

Users should be able to store numbers as percentages.

## Current behavior

- The Mathesar Number type has a display option "Show as Percentage". The option is saved but it is not yet utilized for any behavior.

## Desired behavior

- The exact implementation is still TBD.

## Status

- Blocked by #1331 where we may decide to change plans from our initial implementation strategy.

[2022-05-02 16:15] seancolsen commented on #258
I'm closing this in favor of more specific tickets and outstanding PRs:

- #1340
- #1337
- #1339
- #1300

[2022-05-02 16:15] #258 closed

[2022-05-02 16:29] seancolsen commented on #1134
At @pavish's suggestion, I have moved this to a later milestone. He is assigned to the PR and will finish out the work that's needed here.

[2022-05-02 16:42] pavish commented on #789
Closing this issue since it's no longer relevant. The filters are based on each column type and they contain the filter `is empty` which handles this usecase.

[2022-05-02 16:42] #789 closed

[2022-05-03 16:38] #1072 closed

[2022-05-04 12:39] #384 closed

[2022-05-04 13:18] seancolsen opened #1343 "Improve client-side validation within "Link Table" dialog"
## Current behavior

- Within the "Link Table" dialog, there are fields for the user to enter table names and column names. The form does not have any client-side validation on these fields.

- For example, in the many-to-many case, deleting the table name results in this strange UI state:

    ![Screenshot 2022-04-29 at 5 08 41 PM](https://user-images.githubusercontent.com/11850603/165937594-594f

[2022-05-04 13:19] seancolsen opened #1344 "Provide API functionality for the front end to see all reserved names in a schema"
## Problem

I'll explain with an example...

- When the user renames a table, [we have client-side validation](https://github.com/centerofci/mathesar/blob/ad0c9b0de9bc79b2497550bcd3c977e04926ad28/mathesar_ui/src/sections/table-view/actions-pane/RenameTableModal.svelte#L36) to ensure the table name does not conflict with another table name.

- Postgres also won't allow a table to have the same name

[2022-05-04 13:19] seancolsen opened #1345 "Design better UX in the Link Table dialog for self-referential links"
## Problem

- In the "Link Table" dialog, when the target table is the same as the base table, the UX gets a bit confusing.

- We have one yes/no question that's borrowed from the non-self-referential situation, and we display diagrams for "Many to Many" and "One to One" -- but I'm not sure this question and choice of diagrams are appropriate.

- A common use-case for self referential links is to

[2022-05-04 13:20] seancolsen opened #1346 "Eliminate superfluous API request when loading the Link Table dialog"
## Current behavior

- When the "Link Table" modal loads, there is an unnecessary API request to fetch the columns of the first listed table. This has to do with some logic within the Select component issuing unwanted 'change' events.

## Desired behavior

- The list of columns is only fetched when the user selects a target table.

[2022-05-04 13:21] seancolsen opened #1347 "Refactor cell background colors to allow multiple backgrounds to be applied to the same cell"
## Current behavior

- As discussed in #1282, the cell background color is derived from many different criteria.

- The background color is determined when _one_ of the criteria matches.

- The order in which the different criteria are evaluated is defined via the CSS cascade and cumbersome to maintain.

- It's possible we may even want to add more criteria to display backgrounds which indicate a

[2022-05-04 16:16] #408 closed

[2022-05-04 16:25] kgodey commented on #244
Closing this since all subtasks are done.

[2022-05-04 16:25] #244 closed

[2022-05-04 16:26] #248 closed

[2022-05-04 16:31] kgodey commented on #1296
I cannot reproduce this any longer. We've had several display options fixes merged in the last few days, so I assume it was fixed in one of them. Closing.

[2022-05-04 16:31] #1296 closed

[2022-05-04 17:54] kgodey commented on #245
Closing this since all subtasks are done.

[2022-05-04 17:54] #245 closed

[2022-05-04 17:54] kgodey commented on #246
Closing this since all subtasks are done.

[2022-05-04 17:54] #246 closed

[2022-05-05 01:38] silentninja commented on #972
@seancolsen I have described a rough API schema below, please do suggest changes if any.

[code]

[2022-05-05 11:53] seancolsen commented on #972
Hmmm. Now that I'm reading this ticket more closely, I'm a bit confused about some of the details in the "Ideas" section that @kgodey wrote in the ticket description. I apologize that I didn't catch this sooner and raise concern with it or propose an API spec.

As far as I can tell, we don't have a need to use a special API like the "links" API to list or delete links. And those operations can be

[2022-05-05 14:19] kgodey commented on #972
A few points, not all related to each other:
- @seancolsen's proposal is basically RPC API, not a REST API, which isn't consistent with the rest of our API, see [API standards](https://wiki.mathesar.org/en/engineering/architecture/api-standards). A REST API would model a Link resource and allow CRUD operations on it.
- The intent of my proposal was to establish a "Link" user-facing concept that co

[2022-05-05 20:44] seancolsen commented on #1300
@silentninja and I discussed this on a call today and agreed to move forward with setting the default precision on the back end. As such, I'm marking this ticket as ready.

[2022-05-05 20:59] silentninja commented on #972
interface OneToOneRequestParams {

    /** base table */
    referent_table_id: number;

    /** reference table */
    reference_table_id: number;
    reference_column: {
      name: string;
    }

}

interface ManyToManyParams {

    mapping_table: string;
    reference_objects: [{
        reference_table_id: number;
        reference_column: string;
    }]

}

interface LinkTablePostRequestPara

[2022-05-05 21:08] #1105 closed

[2022-05-05 22:13] kgodey commented on #972
@silentninja I'm not sure how to read this API schema, I'll leave it to you and @seancolsen to figure out. I think you should do whatever is fastest and we can figure out the best pattern later, during the cooldown. You can add it to the weekly meeting agenda for issues to figure out like @seancolsen has been doing.

[2022-05-06 01:33] seancolsen commented on #972
@silentninja Your proposal seems pretty similar to mine, so I'm glad to see that we seem to be close to working this out.

I don't envision ever needing to utilize the response from this API, so I'll continue my critique by focusing only on the request.

Critique:

- (A) Nesting the properties within the `data` object seems unnecessary to me, but I don't have a specific concerns with it either. I'

[2022-05-06 07:20] pavish opened #1356 "Improve behavior for PK values"
## Current behavior
* We allow editing/removing default values for all columns, including PK columns.
* We do not allow editing cells for PK columns.

## Bugs due to the current behavior
* Users are able to remove a dynamic default value for PK columns. Once removed, adding any new row will fail.
* If no default value is present for a PK column, adding a new row will fail. Since we do not allow ed

[2022-05-06 07:24] #951 closed

[2022-05-06 07:31] pavish opened #1357 "Improve behavior for applying filters"
## Current Behavior

* When a number of filters are added, if any of them is invalid, we do not apply any further changes until the state becomes valid again.
  * We have 3 valid filters applied -> filtered state (1)
  * We add one invalid/empty fourth filter.
    * This is not applied. We show an error as expected.
    * The state (1) is maintained.
  * We add one more valid fifth filter.
    * T

[2022-05-06 07:33] pavish opened #1358 "Add icons for each type"
We need to add icons for each Mathesar type.

The eventual plan is for the backend to provide all type related information. However, we currently have a intermediary frontend stubbing layer which hardcodes type related information. We need to add icons for each type here.

Related to https://github.com/centerofci/mathesar/issues/661.

[2022-05-06 14:09] seancolsen opened #1359 "Fix type_options validation for Money type"
## Reproduce

1. Set up a Money column.

1. Submit a `PATCH` request to the columns API, e.g. `/api/db/v0/tables/15/columns/52/`

1. Send:

[code]

    Expect success.

    Receive:

[code]

1. Send:

[code]

    Expect success.

    Receive:

[code]

[2022-05-06 14:10] seancolsen commented on #1359
@silentninja can you work on this?

[2022-05-06 14:16] seancolsen opened #1360 "Unable to set number_format to null for Money type"
## Reproduce

1. Set up a Money column.

1. Submit a `PATCH` request to the columns API, e.g. `/api/db/v0/tables/15/columns/52/`

1. Send:

[code]

    Receive success. Good.

1. Now change `display_options.number_format` to `null`, sending:

[code]

    Expect success.

    Receive:

[code]

[2022-05-06 14:42] seancolsen opened #1361 "Add context menu to set cell to default value"
## Current behavior

- Some columns may have dynamic default values defined in Postgres, for example to set a timestamp to the current time, or to set a number to a random value.

- The user is able to set a cell to the default value when adding a new record, but not after the record exists.

## Desired behavior

- The cell context menu (which already contains an option to set the cell to `NULL`)

[2022-05-06 14:59] seancolsen opened #1362 "Show DEFAULT in new record cells by default"
## "Limbo"

When adding a new record, there is a to which I'll refer as "limbo". The new record row is in limbo after it's been added to the UI but before it's been saved to the DB. Most times, the new record row only remains in limbo transiently, for a split second, while the request is loading. Any behavior of the row for such a short time is only of negligible concern. However, if there are err

[2022-05-06 15:00] seancolsen commented on #1362
@pavish @ghislaineguerin @kgodey Does the above plan sound okay to you?

[2022-05-06 15:01] seancolsen commented on #1356
Related: #1362, #1361

[2022-05-06 15:08] #1360 closed

[2022-05-06 15:32] ghislaineguerin commented on #1362
I think this makes a lot of sense. How is the default value set?

[2022-05-06 15:41] kgodey commented on #1362
Instead of all cells, can we only show `DEFAULT` for cells that have a default value explicitly set? If so, this sounds fine.

[2022-05-06 15:42] pavish commented on #1362
It sounds good to me and I think it makes sense.

I'm not sure how well users would be able understand it at first look though.

[2022-05-06 16:44] kgodey commented on #1014
@A1O are you still working on this?

[2022-05-06 16:45] kgodey commented on #1116
@shrey27tri01 are you still working on this?

[2022-05-06 16:46] kgodey commented on #1185
Unassigned due to inactivity.

[2022-05-06 16:47] kgodey commented on #1151
Unassigned due to inactivity.

[2022-05-06 16:51] silentninja commented on #1228
@pavish We had a few Display option bug fixes recently, have you faced this issue in the latest master branch?

[2022-05-07 12:31] Anish9901 commented on #1030
@seancolsen can you please confirm the following behavior?

This seems to be fixed.
### Request
[code]

### Response
[code]

Here, the schema seems to be correct but the error message seems wrong.
### Request
[code]
### Response
[code]

Gives a **500** error.

[2022-05-07 19:27] Anish9901 commented on #1185
Can I work on this?

[2022-05-07 21:58] kgodey commented on #1185
@Anish9901 Sure, go ahead!

[2022-05-08 11:09] Anish9901 commented on #1276
@pavish @silentninja Since this issue is now closed can we uncomment `test_set_column_default_value`?
https://github.com/centerofci/mathesar/blob/e33b5eed35882645f0344959fcc3f7e6c77662b6/mathesar/tests/integration/test_columns.py#L60-L79

[2022-05-08 18:51] seancolsen opened #1367 "Partial data loss when attempting to unset scale type_options independently of precision"
## Reproduce

1. Set up a Number column with "Decimal Places" = `2` and "Max Digits" = `100`.

1. Add row with a value of `1.23`.

1. Now imagine we'd like to also store the value `6.789` without loss of precision. We'll need to modify or remove the "Decimal Places" setting.

1. Edit the DB type options. Remove the `2` in the "Decimal Places" field (leaving the field blank) and save.

1. Observe a

[2022-05-08 18:53] #1300 closed

[2022-05-09 12:00] dmos62 opened #1368 "Improve pytest developer experience"
## Problem

- Our pytest test suites take too long to run. The `db/tests/` suite alone takes 15 minutes to run on my machine (my i5-4670K is dated, but not outdated). This degrades ability to quickly iterate.
- Also, our tests are brittle, in that whether they pass might depend on the order in which they are run. Them being order-dependent makes it hard to run tests out-of-order, which is often pr

[2022-05-09 12:45] silentninja commented on #1276
@Anish9901 Thanks for pointing it out. Can you send a PR to uncomment it out

[2022-05-09 15:00] Anish9901 commented on #1276
@silentninja Sure working on it.

[2022-05-09 18:26] seancolsen opened #1370 "Incorporate field name into error messages when relevant"
## Current behavior

1. We have the following [API error standards](https://wiki.mathesar.org/en/engineering/standards/api#errors), which allow us to return one response with multiple errors.

1. The front end has [code](https://github.com/centerofci/mathesar/blob/4ae21f29ce35380a089796f0be02cf67419ed705/mathesar_ui/src/utils/errors.ts#L73) which concatenates all the error _messages_ when stringif

[2022-05-10 07:57] Jayitha commented on #869
Hi,

Sorry for the delay, I spent some time playing around with the codebase. I think the whole types system is pretty neat! especially how it renders in Postgres. I created a PR for this issue to get things going. I currently only included support to provide type options for the target type. I'd actually like to work on this issue in tandem with #1138 if possible?

[2022-05-10 08:14] Jayitha commented on #1138
Hi,

I know this issue isn't labelled with the "good first issue" tag, but can I give this issue a go? I recently worked with this file and I'd like to understand Mathesar's types system better.

[2022-05-10 12:39] dmos62 commented on #1138
@Jayitha hey, thanks for volunteering! You're welcome to have at it, but there's a refactor being done of this code (by me), so I highly suggest you base off of that. Feel free to reach me on our matrix if anything. My handle is @dominykas:matrix.mathesar.org.

Mentioned refactor https://github.com/centerofci/mathesar/pull/1222

Also, see this recent issue where I outline a few problems with our t

[2022-05-10 16:26] seancolsen opened #1373 "Be explicit when displaying empty strings as cell values"
## Current behavior

- When a cell value is an empty string, the cell displays as empty.

    ![image](https://github.com/centerofci/mathesar/assets/42411/99bab495-be6c-4497-a6ef-7a80d69c82d0)

- Some users may not understand that an empty string is a distinct value from `NULL`, and the empty cell may lead them toward an incorrect assumption that the value of the cell is `NULL` (especially if no `

[2022-05-11 00:38] Jayitha commented on #1138
@dmos62 I will work off the refactor as specified. Thank you!

[2022-05-11 01:41] silentninja commented on #1359
Currently, the backend does not support `type options` for `MathesarMoney`, @seancolsen I am thinking of removing `type_options` as a temporary fix, is that okay or can we wait until a proper fix.

`MathesarMoney` data type is implemented using `DOMAIN` and AFAIK `DOMAIN` does not allow passing `type options`. @mathemancer Is this correct and do we have any idea to get around it?

I can think of u

[2022-05-11 02:07] mathemancer commented on #1359
This is correct. If we want to do some basic type options, we'd need to create different `DOMAIN`s for each type option setting and then use the python class to init columns with the proper domain. That said, I don't think we _should_ support type options for money.

What's the use case for storing money in reduced precision/scale? I believe the standard practice for accounting is to round at the

[2022-05-11 12:03] seancolsen commented on #1359
Thanks for the clarification @silentninja and @mathemancer.

@mathemancer said:

I agree. I'm not sure where I got the idea that the Mathesar Money type was a `NUMERIC`. I opened this ticket because I was continuing with an assumption that I now see was probably incorrect. And I don't have a high-priority use-case in mind for rounding user-entered Money values to fit within a lower scale than thei

[2022-05-11 12:03] #1359 closed

[2022-05-11 12:06] seancolsen commented on #1332
Note that in #1359 it became apparent to me that for the Mathesar Money type, we _need_ `display_options` to control the display of decimal places because we actually can't do it through `type_options`. As such, I see this ticket is being pretty important, because Money values will look pretty bad without it.

[2022-05-11 15:45] seancolsen commented on #1107
In Matrix, @Jyuart [asked](https://matrix.to/#/!UZILDSNKobkelUYwBp:matrix.mathesar.org/$6jhs-gNUJ9cDi18L2ZTSM8V9FVnhgGxy92GQ4Ozo5B0?via=matrix.mathesar.org&via=matrix.org) about which number formats should be considered and how to find all possible numeric representations in different locales. I'll respond here...

## Without grouping separators

Without grouping separators, the problem is fairly

[2022-05-11 18:13] shivams commented on #1218
@kgodey If this issue is still relevant, you may assign this to me.

[2022-05-11 18:16] kgodey commented on #1218
Go ahead @shivams

[2022-05-11 18:17] kgodey commented on #1218
The issue is still relevant, @silentninja made some updates to the description and the latest issue description should be accurate.

[2022-05-12 11:33] #943 closed

[2022-05-12 11:42] vrutik2809 opened #1377 "Check violation while changing data type from `text` to `email`"
## Description
While making `PATCH` request on `api/db/v0/tables/<table_id>/columns/<column_id>/` for changing data type from `text` to `email`, the following error comes up with 500:
[code]
## Expected behaviour
The request should return in a successful response

## To Reproduce
Make a `PATCH` request on `api/db/v0/tables/<table_id>/columns/<column_id>/` with payload:
[code]
Snapshot of my table

[2022-05-12 13:08] #1358 closed

[2022-05-12 17:17] silentninja commented on #869
Sure @Jayitha, that shouldn't be a problem

[2022-05-12 18:11] Cronus1007 commented on #1187
@kgodey @seancolsen Although this issue has been assigned to @manasa-sm but still can I take up this issue. Since this issue  as well as the PR has not shown any activity in recent times.

[2022-05-12 18:43] seancolsen commented on #1187
Ok @Cronus1007 that's fine with me. I've closed #1294 and re-assigned this ticket to you.

[2022-05-12 21:25] shivams commented on #1218
I've looked into this issue. The following rough code extracts the information from `currency_info.json` and returns the display options as defined in https://github.com/centerofci/mathesar/issues/1105:

[code]

I see that the issue is easy. However, I still have a few doubts:
1. Where should I integrate the logic? Should it go into `mathesar/api/display_options.py`? Or, should I create a new json

[2022-05-13 00:33] #1185 closed

[2022-05-13 10:38] vrutik2809 commented on #1377
The reason behind it was that I have appended a **newline character** at the end of every email id. That's why it was raising validation error. When I removed it, the request succussed in 200.

[2022-05-13 10:38] #1377 closed

[2022-05-13 11:06] vrutik2809 commented on #1095
@silentninja I would like to work on this issue.
Can you please elaborate on this?

[2022-05-13 17:20] seancolsen commented on #1020
Closing because we will update packages manually later on.

[2022-05-13 17:20] #1020 closed

[2022-05-13 17:20] seancolsen commented on #864
Closing because we will update packages manually later on.

[2022-05-13 17:20] #864 closed

[2022-05-13 17:20] seancolsen commented on #785
Closing because we will update packages manually later on.

[2022-05-13 17:20] #785 closed

[2022-05-13 17:20] seancolsen commented on #720
Closing because we will update packages manually later on.

[2022-05-13 17:20] #720 closed

[2022-05-13 17:24] seancolsen commented on #292
I'm closing this because it's been open for almost a year. All that's left here is to add tests. While additional test coverage would be nice for this component, I don't see it being a priority. We have plenty of front end code without test coverage, and this code doesn't strike me as any more important than other areas of our codebase where we could seek to improve test coverage.

[2022-05-13 17:24] #292 closed

[2022-05-13 17:25] seancolsen commented on #289
I'm closing this because it's been open for almost a year. All that's left here is tests and docs. While additional test/doc coverage would be nice for this component, I don't see it being a priority. We have plenty of front end code without test coverage or docs, and this code doesn't strike me as any more important than other areas of our codebase where we could seek those improvements.

[2022-05-13 17:25] #289 closed

[2022-05-13 17:25] seancolsen commented on #212
I'm closing this because it's been open for almost a year. We can create more specific tickets for some of this work when/if it becomes a higher priority.

[2022-05-13 17:25] #212 closed

[2022-05-13 17:26] seancolsen commented on #211
I'm closing this because it's been open for almost a year. We can create more specific tickets for some of this work when/if it becomes a higher priority.

[2022-05-13 17:26] #211 closed

[2022-05-13 17:52] seancolsen commented on #1285
Same with `test_add_column`

[2022-05-13 18:48] silentninja commented on #1218
@shivams https://github.com/centerofci/mathesar/discussions/1243#discussioncomment-2519195  has the display options spec for `MathesarMoney` type. We need to be able to pre-fill those display options(currency_symbol_location and number_format) with the correct value.

We infer the currency data in this line https://github.com/centerofci/mathesar/blob/b2467dcf63de786c0e8063821ff317ef608ec3a6/mathes

[2022-05-13 21:58] Cronus1007 commented on #1214
@mathemancer @dmos62 I have completed work of '"char"' from my side in the PR linked. Once the PR gets merged I would love to start the work for name key as well.

[2022-05-14 04:21] #1167 closed

[2022-05-16 08:03] #942 closed

[2022-05-16 10:25] Cronus1007 commented on #1214
@mathemancer The PR#1260 doesn't close this issue. I need to build the phthon class for name as well so can you please reopen this issue so that I will be able to complete that as well.

[2022-05-16 11:55] #1347 closed

[2022-05-16 12:37] vrutik2809 commented on #1095
@silentninja any update on this?

[2022-05-16 16:26] dmos62 commented on #280
As @eito-fis mentioned, this has been solved, and the solution has proven somewhat stable. There was a bug, where a cached engine might unexpectedly break when dropping and recreating a database, but that's fixed in https://github.com/centerofci/mathesar/pull/1222.

[2022-05-17 01:56] mathemancer commented on #1095
@vrutik2809 The code base is split into `mathesar` and `db` modules. This issue is to check for any function which is accessed from outside the `db` module (by a process of the `mathesar` module) which uses column name or column index to access a column, enumerate those functions, and rewrite each one to use `attnum` instead.

@silentninja may have more details, but perhaps that can get you starte

[2022-05-17 04:15] silentninja commented on #1095
@vrutik2809 Sorry for the late reply, I missed the Github notification.

I don't have much to add to @mathemancer's comment.

[2022-05-17 10:10] vrutik2809 commented on #1095
Okay. So functions which are accessed through `db` module are using `attnum` to access column and functions which are accessed outside the `db` module may or may not use `attnum`. Hence, I need to go through all the functions which are accessing the column and need to refactor them to use `attnum`.

@mathemancer or @silentninja  correct me if I'm wrong.

[2022-05-17 16:01] #982 closed

[2022-05-17 16:01] #1181 closed

[2022-05-18 10:44] #948 closed

[2022-05-18 14:22] mathemancer commented on #1214
Ah, that's correct.

[2022-05-19 05:14] mathemancer commented on #1095
I'm sorry, I don't quite understand your phrasing. Any function which is a part of the `db` module, but which is called from outside of the `db` module should use `attnum` as the argument that refers to a column. That should be converted to a column name or index at the last possible instant when the database itself is being accessed by the function internally. Does that help?

[2022-05-19 07:18] vrutik2809 commented on #1095
Okay. I think I got it.
For example consider [this](https://github.com/centerofci/mathesar/blob/master/db/columns/operations/alter.py#L60) function which using `column_name` to access column which I need to change to `column_attnum`. Similarly for other functions right?

[2022-05-19 20:41] seancolsen commented on #1285
I spent a good while troubleshooting this today and opened an upstream issue: https://github.com/microsoft/playwright/issues/14294 asking for more help.

[2022-05-20 01:27] mathemancer commented on #1095
@vrutik2809 Precisely. Please feel free to submit PRs a bit at a time instead of trying to solve all the functions at once. Thank you!

[2022-05-20 11:18] silentninja opened #1389 "Incorrect error is thrown when id field is not provided for a column object during a batch update"
## Description
The following `Patch` request to `/tables/{id}`

[code]

 fails with an error `{code: 4999, message: "local variable 'name' referenced before assignment", field: null, detail: null}`.

This is happening due to https://github.com/centerofci/mathesar/blob/a8bad8268c8634bc766fa2e4fde271f4ec1a165e/db/columns/operations/alter.py#L215

always expecting a name which is fetched from the `co

[2022-05-20 13:16] silentninja commented on #944
I had a call with @seancolsen, the options we came up with were

## Option 2 (part of tables API)

GET `/api/v0/tables/<id>/`

[code]

## Option 3 (separate entity)

GET `/api/v0/tables/<id>/settings/`

[code]

GET `/api/v0/tables/<id>/settings/<id>`

[code]

PATCH `/api/v0/tables/<id>/settings/<id>`

[code]

We decided to go with `Option 3` as it was easier to implement on the backend as well as

[2022-05-23 14:36] seancolsen commented on #1187
@Cronus1007 Are you still working on this?

[2022-05-23 14:49] Cronus1007 commented on #1187
@seancolsen Yes I am working upon this issue.

[2022-05-24 15:35] kgodey commented on #1329
This sounds fine to me, let's do it.

[2022-05-24 15:37] kgodey commented on #1332
The proposal sounds fine to me, let's do it.

[2022-05-24 15:39] kgodey commented on #1331
I'd like @mathemancer to see if there would be any technical issues with implementing this approach in the backend. If not, it sounds fine to me, let's do it.

[2022-05-24 16:05] mathemancer commented on #1331
If I'm understanding correctly, I think pushing the order of magnitude manipulation to the DB layer. I suggest using `NUMERIC` rather than `DOUBLE PRECISION` for the storage type, since that's our default number type, and also what we're using to back the `MATHESAR_TYPES.MATHESAR_MONEY` type.

To the implementer: just implement it as a `DOMAIN` in the DB. The only caveat is that such a column woul

[2022-05-24 16:10] seancolsen commented on #1331
@mathemancer

Hmmm, sorry if I was not clear. I'm not suggesting the DB layer handles the order of magnitude. Rather, I'm suggesting that a Percent type stores `0.5` and sends this value to the front end as `0.5`. Then the front end formats it as `50%`. Does that make sense?

[2022-05-24 16:28] seancolsen opened #1394 "Provide detailed error info when failing to disallow NULL for a column"
## Reproduce

1. Set up a column which contains a `NULL` value.

1. PATCH to `/api/db/v0/tables/1/columns/<id>/` with:

[code]

1. Expect a 4xx HTTP response code.

1. Observe a 5xx HTTP response code.

1. Expect the response body to contain a Mathesar error code specific to this situation.

1. Observe the response body to use the error code `4999` (`UnknownError`).

[2022-05-24 16:37] #949 closed

[2022-05-24 16:41] #1281 closed

[2022-05-25 05:48] mathemancer commented on #1331
I'm definitely confused. How will you avoid treating it as a number in the front end, than? I suppose you'd just use some string-wrangling to 'decode' and 'endode'? Further, why would we need a separate percent DB type? If we're storing and returning 0.5, then percent is precisely a display matter.

[2022-05-25 12:42] #1287 closed

[2022-05-25 17:11] seancolsen opened #1395 "Add API support for "Percent" UI type"
## Summary

Based on [previous design many months ago](https://github.com/centerofci/mathesar/issues/434#issuecomment-898404520), we have already implemented back end functionality for percentages as a display option on the "Number" UI type. We've now [decided](https://github.com/centerofci/mathesar/issues/1331) to change the design to use dedicated UI type called "Percent". This ticket describes

[2022-05-25 17:23] seancolsen opened #1396 "Add UI for Percent type"
## Current behavior

- The Number type has a "Show as Percentage" display option, which is only partially implemented.

- The user has no way to _actually_ format a number as a percent.

## Desired behavior

- The Number type no longer has a "Show as Percentage" display option.

- A new "Percent" UI type is implemented.

- Its display options are consistent with those described in #1395.

- Its ic

[2022-05-25 17:23] seancolsen commented on #1331
## "Percent" vs "Percentage"

We decided to go with "Percent" instead of "Percentage" based on the following research.

LibreOffice

![image](https://user-images.githubusercontent.com/42411/170307639-80ec967b-c29b-47e1-a6d7-ff980e4ba490.png)

AirTable

![image](https://user-images.githubusercontent.com/42411/170307891-44b5956a-d9b3-4f71-bc7f-2c87ecaab748.png)

Google Sheets

![image](https://user-

[2022-05-25 17:26] seancolsen commented on #1331
@mathemancer and I chatted about this on a call today. We agreed to move forward with my proposal.

I've created the following new tickets:

- #1395 (which has a clearer description of the proposal than above)
- #1396

I also updated the [UI Data Types wiki page](https://wiki.mathesar.org/en/engineering/glossary/ui-types) to document the planned new UI type.

I'm closing this ticket in favor of th

[2022-05-25 17:26] #1331 closed

[2022-05-25 17:27] seancolsen commented on #1340
Closing in favor of #1396 which is more specific

[2022-05-25 17:27] #1340 closed

[2022-05-25 17:53] seancolsen commented on #1331
Based on this [previous ticket](https://github.com/centerofci/mathesar/issues/434), I noticed that we seem to have been flip-flopping a bit on our design here. So for posterity's sake I'll document some more details about the call that @mathemancer and I had today...

- We considered two options:

    - **"Math in the DB layer"** - The multiplication and division for percentage display and parsing

[2022-05-25 19:58] kgodey commented on #1395
Updated title and labels to reflect that the work also involves creating a new DB type in the `db` module.

[2022-05-26 13:19] silentninja commented on #946
@seancolsen I am planning to use the following schema

[code]
`preview_data` property is a dictionary with the
- key denoting the `id` of the referrer foreign key column.
- value contains two properties `data` and `metadata`
  - `data` contains a list of the preview data for that column
  - `metadata` contains information about the column(pk column for now) which was used to match the foreign key

[2022-05-26 13:43] seancolsen commented on #946
@silentninja this is looking good. Both option are workable, but I like the second option a bit better.

[2022-05-27 10:11] #1100 closed

[2022-05-27 10:11] dmos62 commented on #1100
Resolved in #1222

[2022-05-27 18:25] seancolsen opened #1401 "Design UI for configuring separate minimum fraction digits from maximum fraction digits"
## Current behavior

- For Number and Money UI types, the API supports two display options: `minimum_fraction_digits` and `maximum_fraction_digits`.

- When formatting the cell values, these two display options are passed into [Intl.NumberFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat) as `minimumFractionDigits` and `maximumF

[2022-05-27 20:08] seancolsen commented on #1325
I just wanted to point out that this is even worse now that I have all the display options in place for the Money type

![image](https://user-images.githubusercontent.com/42411/170782654-ece19c77-6621-468f-aa90-e2b0795ced03.png)

[2022-05-27 20:50] seancolsen opened #1403 "Allow the user to work with Postgres MONEY values with our Money UI type"
## Current behavior

- Our Money UI type may not work very well with the built in Postgres `MONEY` type. Rather, it's built around our own type `MATHESAR_TYPES.MATHESAR_MONEY`.

- The precise shortcomings of the incompatibility between our UI type and the Postgres `MONEY` type are not yet known. The work to resolve this ticket includes further testing. You should use `psql` to manually set up a ta

[2022-05-28 11:32] kid-116 commented on #1394
Could I be assigned to this issue.

[2022-05-28 11:33] kid-116 commented on #1321
Could I be assigned to this issue.

[2022-05-28 23:34] silentninja commented on #1394
Thanks! @kid-116 I have assigned the issue to you.

[2022-05-31 07:27] #972 closed

[2022-05-31 13:55] #765 closed

[2022-05-31 13:57] #1302 closed

[2022-05-31 21:31] Jinxiao0302 opened #1407 "Support for JSON data type"
## Problem
Adding JSON as a supported data type for Mathesar will allow users to import JSON type data, change a database ﬁeld to a JSON object and enable data validation, modiﬁcation, and browsing. Also, it will allow the grouping, ﬁltering, and sorting operations based on JSON keys.

## Proposed solution
The JSON type of Mathesar will be designed without fixed schema restriction. We would use ei

[2022-05-31 21:53] Jinxiao0302 opened #1408 "Implement JSON reading"

[2022-06-01 04:43] Jinxiao0302 opened #1409 "Analyze how to implement JSON reading and writing"

[2022-06-01 04:43] Jinxiao0302 opened #1410 "Implement JSON filtering"

[2022-06-01 04:43] Jinxiao0302 opened #1411 "Test and Implement JSON sorting"

[2022-06-01 04:43] Jinxiao0302 opened #1412 "Implement JSON grouping"

[2022-06-01 14:02] seancolsen opened #1413 "Unhandled DataError exception when attempting to PATCH a date value with a format that Postgres does not recognize"
## Reproduce

1. Set up a column with a `DATE` type.

1. PATCH to a record within that table `/api/db/v0/tables/8/records/1/`, setting the value to "99/99/9999".

[code]

1. Expect an error response conforming to our [error standards](https://wiki.mathesar.org/en/engineering/standards/api#errors).

1. Observe a response with an HTML body (instead of JSON) and an HTTP status code of 500.

    ![ima

[2022-06-01 15:18] seancolsen opened #1414 "Add in-app documentation for "Support Time Zones" DB option"
## Current behavior

For "Time" and "Date & Time" UI types, we have a DB option "Support Time Zones". I suspect the behavior of this option will not be clear to most users. How does Mathesar behave differently when this box is checked? How do I decide whether to check the box, based on my needs?

## Desired behavior

The "Support Time Zones" checkbox has a help icon with the following content:

##

[2022-06-01 15:29] seancolsen opened #1415 "Don't submit cell value when editing time within date/time picker"
## Reproduce

1. Configure a column as "Date & Time".
1. Edit a `NULL` cell.
1. Select the hours field.
1. Enter `2`.
1. Click the minutes field.
1. Expect the date/time picker to remain open, allowing me to enter a minutes value (and submit it on blur).
1. Observe the date/time picker to close, submitting my value before I can enter the minutes.

## Work-around

- Entering the time values via the

[2022-06-02 15:28] Anish9901 opened #1416 "Backend support for importing data into existing tables"
## Problem

Currently, we only support creating a new table when a CSV or TSV file is imported. This limits the user's ability to append/store/view data from multiple files in one place. We would want to add support for importing data into existing tables to allow users to import data into existing tables seamlessly.

## Proposed solution

To implement the above we will use a mix of already implem

[2022-06-02 16:31] Jyuart opened #1417 "Add another number format when casting to Mathesar money type"
## Problem
`de-CH` locale format (`123'456.7`) is not handled when casting to the `Mathesar money` type

## Proposed solution
Add support for casting to `Mathesar money` when the numeric part of the text is represented in the `de-CH` locale format.
Update the `_build_mathesar_money_array_function` function in the `cast.py` and add one more regex option that is responsible for determining valid for

[2022-06-02 20:49] kgodey commented on #903
We have far fewer milestones now, this is not a problem.

[2022-06-02 20:49] #903 closed

[2022-06-02 20:51] kgodey commented on #583
I'm going to close this, we'll figure it out when we need it.

[2022-06-02 20:51] #583 closed

[2022-06-02 21:00] kgodey commented on #642
Closing, we can open more specific issues if needed.

[2022-06-02 21:00] #642 closed

[2022-06-02 21:01] kgodey commented on #641
Closing, we can open more specific issues if needed.

[2022-06-02 21:01] #641 closed

[2022-06-02 21:02] kgodey commented on #636
Closing, we can open more specific issues if needed.

[2022-06-02 21:02] #636 closed

[2022-06-02 21:02] kgodey commented on #637
Closing, we can open more specific issues if needed.

[2022-06-02 21:02] #637 closed

[2022-06-02 21:02] kgodey commented on #657
Closing, we can open implementation issues once we have a design.

[2022-06-02 21:02] #657 closed

[2022-06-02 21:03] kgodey commented on #504
We're going in a different direction with Views now, closing this.

[2022-06-02 21:03] #504 closed

[2022-06-02 21:07] kgodey commented on #1037
I assume this was resolved by the type refactor, closing.

[2022-06-02 21:08] kgodey commented on #456
Views will be read only.

[2022-06-02 21:08] #456 closed

[2022-06-02 21:09] #1027 closed

[2022-06-02 21:19] kgodey commented on #1368
@dmos62 Is this fixed by your refactor?

[2022-06-02 21:20] #291 closed

[2022-06-02 21:20] kgodey commented on #400
Closing this since we're not even sure we'll want this page.

[2022-06-02 21:20] #400 closed

[2022-06-02 21:22] #638 closed

[2022-06-03 06:25] #775 closed

[2022-06-03 06:25] #1362 closed

[2022-06-03 07:06] #1329 closed

[2022-06-03 08:55] #1107 closed

[2022-06-04 18:54] Anish9901 opened #1419 "Refactor the `TableViewSet` and `TableSerializer` to allow `table_to_import_to` field in the request payload and hence allow the creation of temp table."
## Problem
We want to be able to create temp tables so that we can import records from the temp table to the existing table with the help of `table_to_import_to` parameter.

## Proposed Solution
Since we want to be able to retain the information of the temp table in case the session abruptly ends we should create a regular table and the info that the table is 'temporary' will be in the Django `Tab

[2022-06-06 07:50] #1332 closed

[2022-06-06 12:00] seancolsen opened #1420 "Resolve UI confusion with two separate "Decimal Places" type options"
## Current behavior

- The "Number" UI type has a display option for "Decimal Places" which controls `minimum_fraction_digits` and `maximum_fraction_digits`?
- Additionally, within the DB options, when "Number Type" = "Decimal", it will have a DB option for "Decimal Places" to control the Postgres `SCALE` value.
- The two "Decimal Places" fields do different things, but together they are confusing

[2022-06-06 12:08] seancolsen opened #1421 "API to persist column widths"
## Current behavior

- The user can resize columns on the front end, but the sizes do not persist after the user closes the table tab within Mathesar.

## Desired behavior

- Column widths are saved via the API. We will need to design the API for this.

## Scope

- This ticket covers the API changes only.
- Front end changes are tracked via #3263

[2022-06-06 17:27] Anish9901 commented on #1389
Can I work on this issue?

[2022-06-06 17:57] Anish9901 commented on #1389
@silentninja should the exception be raised inside `_batch_alter_table_rename_columns` method or `_update_id_to_attnum` method?

[2022-06-06 18:33] kgodey commented on #1389
@Anish9901 assigned to you, thanks!

[2022-06-07 11:20] silentninja commented on #1389
@Anish9901 Ideally error should be raised in the serializer `validate` method, Currently, partial_update logic is done at the `view` instead of the `TableSerializer` if you want a challenge you can move the validation and update logic to the serializer. If not it should be validated before calling `table.update_sa_table(serializer.validated_data)`

[2022-06-07 13:41] kgodey commented on #1368
There is a separate issue for connection management: #592

@dmos62 Can you open separate issues for each of the other three items so that we can work on them separately?

[2022-06-08 09:50] dmos62 opened #1424 "Use no more than a single Engine per database"
Branched off of #1368.

We currently spin up new SQLAlchemy Engines whenever, which has a lot of overhead. Also, in testing this creates too many database connections (each Engine has its own connection pool), limiting the number of parallel testing threads we can run.

We should refactor for the codebase to use the minimum of Engines.

#592 is a closely related issue, though it talks about connec

[2022-06-08 12:08] dmos62 opened #1425 "Improve pytest fixture coherence/readability"
Branched off of #1368.

Fixtures are burdened by lack of coherence. We want better names, better namespacing, more predictable hierarchy, more reuse.

[2022-06-08 12:20] dmos62 opened #1426 "Consider using random order when running tests"
Branched off of #1368.

The concern here is finding (and removing) state carry-over between tests (tainted fixtures). We take care to teardown and rebuild fixtures between test runs, but we make some compromises for the sake of performance. Our goal is that all tests pass, *independent* of what order they are executed in.

A way to achieve an approximation of that is to use a pytest plugin that ha

[2022-06-08 12:27] dmos62 opened #1427 "Address test coverage overlap"
Branched off of https://github.com/centerofci/mathesar/issues/1368.

Our test suite is burdened by test coverage having a lot of overlap. In other words, we often test the same thing multiple times, in multiple places.

This was a bigger problem before test runtime was reduced, but this is still a problem, because if one aspect of the system is changed, it will often require changing a lot of test

[2022-06-08 12:29] dmos62 commented on #1368
Split this issue into four issues (see mentioned-in issues above).

[2022-06-08 12:29] #1368 closed

[2022-06-08 14:32] silentninja opened #1428 "Add API support for splitting a Table"
## Problem
Add support for splitting a Table by extracting columns of a Table and moving them into a new Table.
## Proposed solution
We already have db functions that handle the logic for splitting the table, we need to create a new Django API that builds on top of those functions.

[2022-06-13 14:58] silentninja opened #1431 "Add API support for moving columns"
## Problem
Add support for moving columns between related tables.
## Proposed solution
We already have db functions that handle the logic for moving columns between related Tables, we need to create a new Django API that builds on top of those functions.