[2021-11-25 06:04] pavish commented on #834
@ghislaineguerin I have a concern to keep in mind when we start work on the design for this.

I think materialized views should not be placed on the same level as normal views on the left pane, it might confuse the user since we do not support a lot of operations on materialized views for now. A clear distinction needs to be established before the user opens it, and not after.

[2021-11-25 11:24] dmos62 commented on #426
I'm surprised I missed that we're talking about bulk import. Needing to parse non-standard time formats on the backend as well as the frontend is complicated, since we want the parser/s to be consistent. It might make sense to consider retreating to parsing only standard formats or finding a way to parse only on the backend or on the frontend.

[2021-11-25 15:23] mathemancer commented on #783
My concerns from the view creation discussion still apply.  Other than that, I have nothing to add for this issue.

[2021-11-25 17:07] ghislaineguerin commented on #834
Looks good. I agree with @pavish in the need to differentiate the view type.

[2021-11-26 03:00] yankevn commented on #770
Hi pavish,

I actually have an initial implementation that seeks to solve the issues you're bringing up. Currently, I have it implemented so only the first filter in the list has the option of filtering by duplicates. DisplayFilter.svelte and the setRecordRequestParamsStore methods have been updated to accommodate for this special case. I don't expect my implementation to be perfect, but I will be

[2021-11-26 03:07] yankevn commented on #770
From my testing, it seems that the API still works if field is populated. Does field *for sure* need to be empty?

[2021-11-26 03:39] mathemancer commented on #805
Ah, okay.  We might consider separating those cases for user feedback in the UI.  We can let them know without a call to the DB about the length (or just not let them keep typing), and then the collision could be after they click "save" or "submit" or whatever.  Those being the invalid names makes sense, though.

[2021-11-26 03:52] mathemancer commented on #426
I see your point about the round-trip time, @dmos62 .  My biggest concern with the front-end (or service) doing the input parsing is that the DB will have to do input parsing whenever using `COPY` to bulk load data, and also when the user is using other clients to insert into or select from a table (e.g., `psql`).  This means we'd need to ensure that our front end parsing was identical to that, wh

[2021-11-26 17:04] dmos62 commented on #426
I'm good with doing parsing only on the backend at this point. Only thing to keep in mind is that we might have a hard time porting a non simple parser to frontend (if that's something we ever wanted to do), so format simplicity would still be a good priority.

[2021-11-26 17:21] kgodey commented on #805
I updated the issue description with more details about invalid name errors. I'm marking this issue as ready for design and moving to the backlog.

[2021-11-26 17:33] kgodey opened #845 "Spec for human readable date and time parsing"
## Problem

We'd like to support parsing human readable dates and times when users are interacting with data with date/time types. For example, a user might want to filter on a column "within the next 3 months" or "2 hours ago". However, we don't have a clear spec for what formats to support and how to make sure parsing is consistent across the frontend and backend.

## Proposed solution

We shoul

[2021-11-26 17:35] kgodey commented on #426
I've created a separate issue/discussion to figure out our parsing strategy since we haven't figured out what formats we want to support and how to make backend and frontend parsing consistent: #845. Ideally, someone on the frontend team and someone on the backend team will collaborate on it. cc @pavish @seancolsen

[2021-11-26 17:54] kgodey opened #846 "Duplicates filter should work with other filters"
## Problem

- Please see https://github.com/centerofci/mathesar/issues/770#issuecomment-978850882

## Proposed solution

Ideally, the duplicates filter should work with other filters. If this is not simple to do, we may need to reevaluate the UI for it.

## Additional context

- https://github.com/centerofci/mathesar/issues/501#issuecomment-899795976

[2021-11-26 17:55] kgodey commented on #770
@pavish I created a draft issue #846 so we don't forget about it. Once you've reviewed this PR, we can flesh it out further.

[2021-11-26 18:49] kgodey commented on #456
@mathemancer Yes, this was my idea. I think we should not worry about supporting inserting or updating into Views directly and instead use this approach.

@ghislaineguerin I think we need to treat columns whose data source is other views as read only. The user can update the data in the original view directly if they would like.

[2021-11-26 18:55] kgodey commented on #783
Yes. I added an additional scenario for it above.

[2021-11-26 18:58] kgodey commented on #834
@mathemancer Given that we won't be inserting or updating into views (see my comment here: https://github.com/centerofci/mathesar/issues/456#issuecomment-980290029), will we actually have less functionality for materialized views? It seems like the only difference will be that they might not have the latest data, whereas regular views will always have the latest data.

[2021-11-26 19:08] kgodey commented on #466
Assigning this to myself to add details about the new data source attribute for View columns. @ppii775 I'll be rewriting this section of the issue but everything else should stay the same.

[2021-11-26 19:10] kgodey commented on #455
Assigning to myself in case the discussion around #834 ends up necessitating a separate section for materialized views.

[2021-11-26 20:27] pavish commented on #770
@yankevn Turns out the api just ignores this param for get_duplicates so it doesn't matter what we provide at the moment.

Eventually, we'll expect this to work like the other filters as tracked by the issue #846

[2021-11-28 17:46] dmos62 commented on #846
I ran into this problem when working on the filtering API. At the moment we're trying to expose the duplicates-only filter through the `filters` query parameter, which is awkward (see `db/records/operations/select.py#_validate_nested_ops` and `db/records/operations/select.py#_validate_nested_ops`), because normally that parameter is parsed by `sqlalchemy-filters`, but now we have to parse it as we

[2021-11-29 06:47] pavish commented on #846
Inorder to do this, the UX for filters needs to be rethought.

[2021-11-29 14:32] mathemancer commented on #834
I think that's correct.  I didn't realize we were moving that direction for normal views (though I think that's a good move).  We might consider adding a way to refresh materialized views at some point, and the flow would be:

- click on cell
- record editor pops up; make desired changes to underlying table data
- click "refresh materialized view" button
- see changes in view.

One advantage of th

[2021-11-29 21:47] kgodey commented on #834
@mathemancer Thanks, makes sense. I've updated the description to include a refresh data action for materialized views.

@pavish @ghislaineguerin Given that we will not have reduced functionality for materialized views, I don't think we need to necessarily display them in a separate area. I'll put a note about them in #455 just in case.

[2021-11-29 22:05] kgodey commented on #846
@dmos62 I think it might make sense for us to move the filtering code into Mathesar's codebase instead of forking `sqlalchemy-filters` and using that fork. Filtering is a core part of our product and it would help us have more control. We won't have this problem then.

Are there any other problems that you foresee with that approach?

[2021-11-29 22:23] dmos62 commented on #846
@kgodey I like the idea to do filtering on our own! I think we're in a good place to make that refactor.

Only thing is that I'm having trouble defining what the duplicates-only filter is compared to the other filters/predicates we're currently defining. It seems to be in some other class. I'll have to digest this tomorrow.

[2021-11-29 22:36] kgodey commented on #846
Okay, thanks! It might make sense to talk to @mathemancer about removing the dependency on `sqlalchemy-filters`, he originally proposed it during a call we had.

[2021-11-29 23:26] kgodey commented on #560
I put a proposed structure and standards for API error handling in the [API standards](https://wiki.mathesar.org/e/en/engineering/architecture/api-standards) page based on @seancolsen and @mathemancer's ideas and some of my own.

@dmos62 @mathemancer @pavish @seancolsen @silentninja Please review and leave feedback here, unassign when done (or if you have no feedback). Feel free to also edit the w

[2021-11-30 05:45] silentninja commented on #834
It would be really nice if the last refreshed timestamp is available for Materialized views. Since it isn't straightforward to get the information I wouldn't want it as a core feature but maybe as an extension or a plugin.

[2021-11-30 08:10] mathemancer commented on #846
No hard feelings from me at all if we remove `sqlalchemy-filters`.  I just like to avoid reimplementing when possible (as we all do).  It seems like it's creating more work than it's saving in this case.

[2021-11-30 10:47] seancolsen commented on #560
@kgodey I made some small edits for clarity.

Suggested changes:

- I like the idea of providing a way to return multiple errors in one response. I don't really like having the response schema change to meet that goal though. I'd rather _always_ return an array of error objects, even if there is only one error. That would make the schema more consistent and thus more predictable for API consumers.

[2021-11-30 13:58] pavish commented on #560
@kgodey It looks great. I do have a comment:

I think it would be better to have a `meta` property which is a JSON object which can contain any data that is specific to each error. The `field` property can be enclosed within meta.

Only `details` and `error_code` would be mandatory. Each error may want to provide different/additional data to help the client understand the error more verbosely, whi

[2021-11-30 17:10] dmos62 commented on #846
Ok, I thought about this a lot (and discussed it with @mathemancer) and I don't see a way to treat the `duplicates-only` filter as the rest of the filters. The problem is that it's fundamentally different. It groups the table on the specified columns and then filters the groups based on their size (sizes bigger than 1), thus filtering out unique rows (unique on specified columns), whereas the rema

[2021-12-01 05:47] yankevn commented on #770
@pavish I've just pushed a new commit that hopefully addresses your comments, I'm not sure if I'm supposed to create a new PR or not. Let me know if I need to do anything special!

[2021-12-01 09:41] pavish commented on #770
@yankevn Thank you! I'll take a look.

The usual process is to re-request review or comment on the PR once changes are done.  You can find the option to re-request review on the right bar of the PR under 'Reviewers' section, next to the reviewer name.

It's not required at the moment, just mentioning it for future PRs. Here's the guidelines mentioned on our wiki: https://wiki.mathesar.org/en/engin

[2021-12-01 18:02] seancolsen opened #858 "Slow response time from records API when in violation of a not-null constraint"
## Reproduce

1. Use the front end
1. Open a table where every column _can_ be NULL.
1. Click the `+` icon at the bottom left of the table to begin adding a new record.
1. Observe a request to `http://localhost:8000/api/v0/tables/24/records/` that completes in under 100 ms. Good.
1. Disallow NULL for one column.
1. Click the `+` icon again.
1. Observe that same request taking longer than 10 second

[2021-12-01 18:11] seancolsen opened #859 "Error 500 from records API when in violation of a not-null constraint"
## Reproduce

1. Use the front end
1. Open a table where at least one column has a NOT NULL constraint set
1. Click the `+` icon at the bottom left of the table to begin adding a new record.
1. Observe a request to `http://localhost:8000/api/v0/tables/24/records/` that
1. Observe HTTP response code of 500. The response needs to conform to our error structure, to-be-decided in #560. In particular,

[2021-12-01 18:13] seancolsen commented on #775
I'm marking this as blocked by #859 because we'll need more granular error info from the API before we're able to display a warning inside the cell

[2021-12-01 19:27] pavish commented on #858
@seancolsen This only seems to take around ~1s in my local environment which is high but I assume it's because of the additional time taken by Django to print the debug error message.

I'm not sure what is causing 10s delay on your end. I'm marking this issue as draft until our backend team can take a look.

@centerofci/mathesar-maintainers

[2021-12-01 21:24] silentninja commented on #560
I like the spec. Have a few suggestions

1. Error Status code field - I would prefer to extend upon HTTP status codes rather than having our own subset.

At this point, I am not really sure if we really need a custom list as it would make a tight coupling with the frontend, we should rather be relying on the `detail` field to convey the message to the users.

2. One error per error object - The sp

[2021-12-01 22:01] seancolsen commented on #560
@silentninja

I'd prefer to maintain our own set of error codes. From my perspective, one use of the error code is to allow the front end to perform custom actions depending on the specific error. Say a request has two failure modes. In mode A I want to perform a special action, and in mode B I don't. I'd like to rely on the error code for that control flow logic so that changes to the message don

[2021-12-01 22:12] silentninja commented on #424
Timestamps data type cause a conflict with date type  when inferring a `date without time` value as it allows a lossy coercion, same with timestamp being able to accept a date without time. We can solve this problem by restricting only if the data contains exact details(date and time mandatory for timestamp).

There are two ways I can think of:

1.Restrict inference to timestamps - When inferring,

[2021-12-01 22:19] silentninja commented on #560
I am not opposed to it entirely, just trying to avoid it If possible. Do you have any specific API or scenario that we could use as an example?

[2021-12-02 04:36] mr-gabe49 commented on #292
@pavish I'll take the documentation

[2021-12-02 10:44] dmos62 commented on #424
For context (probably just for me), Postgres `date` contains date (no time of day) information; `Postgres `time` contains time of day (no date) information; Postgres `timestamp` contains date and time information. If we have date+time information, treating it as `timestamp` should be first priority. If we have only time or date information treating it as `time` and `date` respectively should be th

[2021-12-02 11:10] dmos62 commented on #560
I think that that is the proposal. Accurate HTTP status codes (4xx for bad input; 5xx for serverside bugs) and then a JSON `error_code` field to further identify what happened.

[2021-12-02 11:42] pavish commented on #292
Sure @mr-gabe49. Thanks!

[2021-12-02 11:53] silentninja commented on #424
By lossy I mean there is no way to get back the data once it has been coerced. For example

[code]
The time data is lost upon downcasting to date and upcasting to a timestamp.

[2021-12-02 12:25] mathemancer commented on #424
I've already been thinking along the lines of option (3) above.  I think we're going to need to have different casting functions based on whether we're trying to infer a type or not.  For now, I suggest using a custom function for casting that disallows lossy conversion (see the one for casting to integer, for example).  We already have an issue #402 involving setting up default casting behavior w

[2021-12-02 13:07] pavish commented on #789
@seancolsen I think this can wait until type configuration is complete as part of #500.

[2021-12-03 19:34] kgodey commented on #755
@seancolsen Assigned you to this per discussion in #836

[2021-12-03 19:37] kgodey commented on #424
Option 3 sounds fine to me. To confirm, this means that if we see both date and time information, we would infer it to be `TIMESTAMP` and only date information would be a `DATE`, correct?

[2021-12-03 19:40] kgodey commented on #834
@silentninja I agree but I don't think we should prioritize building that for the first release since our goal for the first release is just to display materialized views correctly rather than building in first-class support. I did add it to the "Design notes" section as something we might want to do in the future.

[2021-12-03 19:41] kgodey commented on #859
Moving this to the "Working with Tables" milestone since it blocks #775.

[2021-12-03 22:08] kgodey commented on #560
@silentninja For an example of error codes, imagine that you're updating the type of a column. You might run into a variety of errors:
(1) Type options are unavailable (e.g. you try to pass a `precision` argument for a `BOOLEAN` type)
(2) Type is invalid (e.g. you try to change the DB type to `PIZZA`)
(3) Type options are invalid (e.g. you try to pass a `abcd` value for a `precision` option for a

[2021-12-03 22:31] kgodey commented on #560
@dmos62 @mathemancer @pavish @seancolsen @silentninja Thanks for all your feedback. I've updated the spec, you can see the diff in the [wiki page's History](https://wiki.mathesar.org/h/en/engineering/architecture/api-standards). Major changes:

- Updated to say that the API should always return a list.
- Updated to mention that we'll create a separate page for what error codes mean and link to it

[2021-12-03 22:41] seancolsen opened #863 "`sort_by` API param should sort strings by unicode collation instead of byte value"
## Reproduce

1. Set up three tables named `Ångström`, `becquerel`, and `Coulomb`.
1. Request `/tables/?sort_by=name`.
1. Expect results to be ordered  `Ångström`, `becquerel`, and `Coulomb`.
1. Observe results to be ordered `Coulomb`, `becquerel`, `Ångström`.

This same behavior is present in multiple endpoints. I'm not sure of the exhaustive list.

## Notes

- Related to:
    - #691
    - #860
-

[2021-12-03 22:47] github-actions[bot] opened #864 "npm audit found vulnerabilities"
[code]

[2021-12-03 23:25] kgodey commented on #846
@pavish Could you explain in more detail why/how we need to rethink the UX if we make it a separate query parameter?

@dmos62 Can I assign this issue to you to come up with a spec?

Please note that the requirement for this filter came from the [Working with Columns](https://wiki.mathesar.org/design/specs/working-with-columns) spec, specifically " User changes column settings to disallow duplicate

[2021-12-03 23:27] silentninja commented on #424
@kgodey Yes, that's right.

[2021-12-06 09:01] mathemancer commented on #858
I took a quick look.  The problem is that the front end is sending a request to insert an empty row.  If there are `NOT NULL` columns without default values to insert, this causes an error.  I think we should
1. Avoid sending that request, _and_
2. handle that error more quickly on the back end.

[2021-12-06 09:32] dmos62 commented on #846
@kgodey yes, I'll assign myself.

As pointed out earlier, with our current setup, we can't consider `duplicates_only` as a filter in the same sense that `empty`, `equal`, etc. are filters.

A quick fix (to enable the user to diagnose duplicate entries) is to move it to a separate query parameter and consider it a preprocessing step, something that happens before "regular" filtering. On the backend

[2021-12-06 15:27] mathemancer commented on #560
Most of my concerns have been covered, except that I think `field` should be an array (perhaps called `fields`).  For example, uniqueness constraints can be multi-column, and you need to consider the whole constraint when reporting that a multicolumn uniqueness constraint has been violated.  Suppose we have a constraint on some table indicating that the `col1, col2` pair must be unique, and we alr

[2021-12-06 16:07] silentninja commented on #560
The reason I prefer to have `field` inside details is so that we could compose details as an object type based on the error code with each error code getting its own object type as each error will have its own set of requirements

[2021-12-06 16:53] dmos62 commented on #560
Seconded that `field` should be `fields`. Also, seconded that `fields` should be on the `details` subobject: it seems like a detail; especially since `field` will not make sense for all exceptions.

[2021-12-06 17:27] seancolsen opened #867 "`undefined` shown as `id` column type during import"
## Reproduce

1. Within the UI, click on "New table" at the top right.
1. Choose "Import data".
1. Upload [birds.csv](https://github.com/centerofci/mathesar/files/7662974/birds.csv).
1. During the preview step, observe `undefined` displayed as the column type for the `id` column.

    ![image](https://user-images.githubusercontent.com/42411/144892161-cd131122-35da-400c-899d-3d4c33c2fe5a.png)

## E

[2021-12-06 19:05] Carlosbogo commented on #867
Hi, I would like to work on this issue, but I haven't worked on this repository before. Where should I search to find the code for the GUI shown in your picture?

[2021-12-06 19:10] kgodey commented on #846
@dmos62 Let's go with the quick fix. I think we should hold off on the mechanics for generalizing until we have more use cases (see https://github.com/centerofci/mathesar/discussions/853#discussioncomment-1760411). I don't think we need it yet.

We can figure out what frontend changes are needed once @pavish is back.

[2021-12-06 19:13] kgodey commented on #863
I believe so, yes. [This SO question/answer](https://stackoverflow.com/questions/18935712/queryset-sorting-specifying-column-collation-for-django-orm-query) might be helpful.

[2021-12-06 19:14] seancolsen commented on #867
Hi @Carlosbogo Thanks for helping out! I've assigned this ticket to you and added some clarification in the origin ticket description that I hope will make it easier for you to reproduce. If you have any trouble, you can also find me on [Matrix](https://wiki.mathesar.org/en/community#matrix) with this same user name or in the "Code" channel.

[2021-12-06 19:14] silentninja commented on #867
Hello @Carlosbogo, Welcome to Mathesar!. You can set up the project using these [instructions](https://github.com/centerofci/mathesar/blob/7a5a8da293eed084ffd4bb1bc563a6a6aeb159a0/db/tests/types/operations/test_cast.py#L31). Once the project is set up you can reproduce the bug using the steps listed in the issue description.

[2021-12-06 19:18] seancolsen commented on #867
Also, to point you in the direction of the code you'll need to modify, see `Preview.svelte` which contains `PreviewColumn.svelte`. I think the changes will most likely end up being in `PreviewColumn.svelte`.

[2021-12-06 19:24] kgodey commented on #560
@mathemancer @silentninja @dmos62 I was thinking about `field` here as a single key mapping to a key provided in the request body. If an error spans more than a single field, then the `field` key would be `null`. `field` is also not the same as `column`, since it's not always referring to a table or a view record.

For example, imagine a request to rename and alter the type of a column via a PATCH

[2021-12-07 03:54] mathemancer commented on #560
Aha, I was completely misunderstanding.  So in my example with the multi-column constraint, the columns list would be in the details.  If that's correct (i.e., that `field` will only be used to refer to a key in a request, and the columns for a multicolumn constraint issue would go in the details), then I think this looks good.  We should probably add some documentation for that.  As for the name

[2021-12-07 09:35] dmos62 commented on #560
I had misunderstood what `field` meant too. The idea about `fields` (plural) still makes sense, since you might have constraints on what's a valid request that are based on the values of more than one request body field. At the same time, specifying which request fields are problematic can be awkward, since more of the code might need to be aware of the JSON. I'm a bit concerned that this can be h

[2021-12-07 11:16] Carlosbogo commented on #867
Thank you very much, but I have some doubts as I haven't used TypeScript before:

Would the issue be solved with an `if` statement that checks whether or not the column type is undefined in the following code to change the label acordingly?
https://github.com/centerofci/mathesar/blob/96856d92bd61b66d0c712e74f9fb332ec5c77394/mathesar_ui/src/sections/import-data/preview/PreviewColumn.svelte#L13-L16

[2021-12-07 13:02] silentninja commented on #867
A null coalescing operator should be used if you want to check for undefined during object initialisation, but from what I can see the problem is not with the `Column.type` being undefined, the selected option for `id` seems to be having `{'id': 'INTEGER', 'label': 'INTEGER'} when I tried printing the object to console.

[2021-12-07 13:36] seancolsen commented on #560
@kgodey's last message makes sense so I'm inclined to go with her approach. If we run into situations on the front end that are difficult we can re-evaluate as-needed. I'm confident that Kriti's spec is going to good enough for quite a while, and I'd like to get going on implementing it.

[2021-12-07 13:52] kgodey commented on #560
The idea behind `field` being singular is so that we can display errors in forms if needed. Forms are a common way to interact with APIs – each input is generally tied to a single field in the request. Having a single `field` key makes it easy to parse and display errors next to the corresponding input. If an error is not related to any particular field (or if it's related to multiple fields), the

[2021-12-07 15:26] silentninja commented on #858
@seancolsen I am not able to reproduce the bug, please check this [video](https://www.loom.com/share/cf2f8b0b9d9945a3ba5ebd63fc751d56) and let me know if what I am doing is right.

[2021-12-07 15:37] silentninja commented on #858
On the backend, the `null violation` error seems to be [captured](https://github.com/centerofci/mathesar/blob/f68e61b26d64d9c1d09cb779dbfebfb1479ea5bf/mathesar/api/viewsets/columns.py#L115) and converted into a `ApiException` which returns a text string and not the whole stack trace, so I am not sure if it is due to Django debug logs

[2021-12-07 15:44] seancolsen commented on #858
@silentninja in your video you don't appear to ever have the table in a state where a NOT NULL constraint is set. When you're clicking on "Allow NULL" (to un-check the checkbox) that request is failing (as expected) because the table contains rows with NULL values. Here's a [video](https://www.loom.com/share/2998d8a109284b93852d468550c46b60) of me reproducing the slow response. See how long the ro

[2021-12-07 16:47] silentninja commented on #858
I am able to reproduce the bug thanks!

[2021-12-07 18:39] silentninja opened #869 "Accept type_options when testing type casts, making it possible to test every type cast"
## Problem
Currently, [test case fixture](https://github.com/centerofci/mathesar/blob/f68e61b26d64d9c1d09cb779dbfebfb1479ea5bf/db/tests/types/operations/test_cast.py#L58)(db/tests/types/operations/test_cast.py:MASTER_DB_TYPE_MAP_SPEC) used to test casting of a column type do not seem to accept type options, so this makes it not possible to test certain type casts like `URI` to `CHAR`(CHAR without

[2021-12-08 16:59] seancolsen opened #873 "Fix github-actions bot applying incorrect labels to new tickets that it opens"
The github-actions bot is opening tickets like #864 and creating labels like `type:bug` in doing so. Unlike the labels we commonly use, the labels that the bot applies don't have spaces after the colon. I deleted the label `type:bug` a few weeks ago. Now it's back because of the bot and our labels are more cluttered. Can we make the bot use the labels with spaces? Or can we remove the spaces from

[2021-12-08 19:17] kgodey commented on #873
This is a bug with the upstream GitHub action, updating the version of the action should fix it. See https://github.com/centerofci/mathesar/pull/721#discussion_r724564546

[2021-12-08 19:54] #390 closed

[2021-12-08 19:54] #386 closed

[2021-12-08 20:00] dmos62 opened #874 "Makefile tasks for doing common tasks like first-time setup"
## Problem
We have some sequences of commands that every developer has to run at one point or another. For example, for first time setup you run:

[code]

Last two might depend on docker-compose having finished setting up.

## Proposed solution
Would be nice to have a way to perform such tasks by running a single command, or just having a way not to have to remember the specific python commands or

[2021-12-08 20:57] silentninja commented on #430
@kgodey Since the backend issues that block this issue have a PR, can I work on this or should I wait till the blocking frontend issues are sorted out.

[2021-12-09 11:36] dmos62 opened #876 "Multiple tables with the same oid"
## Description

Certain bugs or improper usage of django queryset reflection managers leads to the creation of multiple of Table objects for the same underlying table in the users table.

## To Reproduce
- Create a table directly on the user's database using `db.tables.operations.create.create_mathesar_table`, this won't create a Table object on mathesar's django database.
- Now create a Django Ta

[2021-12-09 14:59] mathemancer commented on #876
OIDs should be set to `unique=True` in the `DatabaseObject` model.  In fact, they should be globally unique on a per-DB basis.

[2021-12-09 15:12] silentninja commented on #876
Would definitely want this, we would still be getting an error but it should help us find the actual cause. Since the `oid` field is part of an abstract model, would want the unique to be in a meta object, so that it is easier to extend.

[2021-12-09 15:20] silentninja commented on #689
The problem seems to be that `schema` fixture using a reflection manager(`objects`) to create a `Schema` object rather than using the default manager(`current_objects`)

[2021-12-09 20:57] seancolsen opened #877 "Add CI pipeline workflow to check for TypeScript errors"
From what I can tell, we don't have any continuous integration checks in place to verify the absence of TypeScript errors.

I think we need to add:

- `svelte-check` to check `*.svelte` files
- `tsc --noEmit` to check `*.ts` files

Does that sound good, @pavish?

[2021-12-09 21:28] seancolsen commented on #531
@ghislaineguerin and I chatted about the design for this and agreed on the following:

- Build on the current Table Constraints modal.
- Insert an "Add" button above the list of constraints.
- When you click "Add", the whole contents of the modal slide to the left and are replaced by a form to add a new table constraint.
    - The form has "Cancel" and "Save" buttons at the bottom.
    - If you cl

[2021-12-10 06:43] mathemancer commented on #845
Here's the docs page with all info about how PostgreSQL parses dates and times:  https://www.postgresql.org/docs/13/datetime-appendix.html

[2021-12-10 15:38] seancolsen opened #878 "Get TypeScript working within Storybook stories components"
Currently we can't use TypeScript within a Storybook components.

This is a pain for the following reasons:

- I always seem to forget, and I begin writing my story with TypeScript only to get strange errors from Storybook.
- We miss out on catching bugs early during component development, only to find the bug later on once we're able to use the component in a TypeScirpt component.
- It's harder t

[2021-12-10 15:48] seancolsen commented on #878
I spent about 2 hours in a rabbit hole this morning trying to get TypeScript to work. I eventually gave up and moved on.

My approach was a bit of splatter paint, but I'll try to do a brain dump of the things I tried to the best of my recollection.

- Modify our `main.js` file to look more like [this one](https://github.com/storybookjs/storybook/issues/12754#issuecomment-708884287). (I tried _lots

[2021-12-10 16:12] dmos62 commented on #406
Should we have a way to filter in a case-insensitive manner?

[2021-12-10 19:08] mr-gabe49 opened #880 "Small bug in pagination component"
## Description

When there are exactly 8 pages, the first page does not become active when supposed to. When the user clicks on the second page, they both become active.

## Recommendation
- Changing  `<li class:active={page === pageInfo.start}>` to  `<li class:active={page === pageInfo.start - 1}>` in line 62 of `Pagination.svelte` file seems to fix the problem.

## Additional context

![Screensh

[2021-12-10 21:52] kgodey commented on #406
@dmos62 Yes, we should.

[2021-12-12 01:40] kgodey opened #883 "Implement new error structure in backend."
## Problem

We've agreed on a standard error structure for the API in #560. Now we need to implement it.

## Proposed solution

I'll format these in terms of desired outcomes. Whoever works on this can feel free to split these up into separate issues if that's helpful.
- All current API error responses should follow our error structure.
- All error codes and their corresponding `details` fields ar

[2021-12-12 01:40] kgodey commented on #560
I'm closing this issue. I've opened a new one for implementation: https://github.com/centerofci/mathesar/issues/883

[2021-12-12 01:40] #560 closed

[2021-12-12 17:11] seancolsen commented on #859
Marking this is unblocked since #560 is complete.

[2021-12-13 08:22] #426 closed

[2021-12-13 12:55] pavish commented on #877
@seancolsen We could configure `svelte-check` to also check ts files by passing the tsConfig file to it. Refer `--tsconfig` option in [docs](https://github.com/sveltejs/language-tools/tree/master/packages/svelte-check).

I'm not sure if this might introduce other issues, in which case we can go with `tsc --noEmit`.

[2021-12-13 13:16] dmos62 commented on #845
So far we've been talking about human-language (human-readable is a bit of a misnomer, since I, a human, can read ISO8601) relative time (e.g. 5 hours ago) and relative period (e.g. within last 5 hours) specification.

- Do we want to do other similar stuff, like "last Thursday"? It would be good to enumerate what uses we want to support;
- Notice how these relative specifications do not explicitl

[2021-12-13 13:57] pavish commented on #878
@seancolsen Writing TS within Storybook stories does not work well i.e whenever we try to specify or define types/interfaces on the story, it breaks storybook. I've previously tried fixing this but gave up, it was pain just to get the rest working without TS.

I should have made a note somewhere, I'm glad we have this open issue now. We can come back to this after Storybook's next major release.

[2021-12-13 15:03] seancolsen opened #884 "Evaluate the possibility of using SvelteKit to build our component library"
I recently learned that one of the design goals of [SvelteKit](https://github.com/sveltejs/kit) is to help [build and publish component libraries](https://kit.svelte.dev/docs#packaging).

Check out this [JS Party podcast episode published a couple days ago](https://changelog.com/jsparty/205). At around 36:48, they begin to talk about using Svelte for building component libraries. Rich says:

This

[2021-12-13 15:14] pavish commented on #884
I'd rather wait until SvelteKit is stabilized. It took Svelte multiple iterations (And everything changed from v2 to v3) before it was stable enough for us to use. I'm sure SvelteKit would have a much smaller cycle, but I'd still like us not to rush into it.

We can wait until we are ready to split our component library into a repo & package of it's own (only after Mathesar's initial release), and

[2021-12-13 17:25] pavish opened #887 "Table deletion is breaking on the frontend"
## Description
Table deletion is implemented on the frontend, but there seems to be no action when user clicks on Table -> Delete.

## Expected behavior
When clicking Table -> Delete, it should open up a modal and prompt the user to delete the table.

## Additional context
`DeleteTableModal.svelte` has the delete confirmation modal to which isOpen is not passed. Binding it down should fix this iss

[2021-12-13 17:45] #770 closed

[2021-12-13 17:58] pavish commented on #887
https://github.com/centerofci/mathesar/pull/836 should possibly fix this issue

[2021-12-13 18:17] #755 closed

[2021-12-13 18:17] #759 closed

[2021-12-13 18:17] #887 closed

[2021-12-14 10:39] #447 closed

[2021-12-14 13:53] dmos62 commented on #883
This seems up my valley. If @silentninja and @mathemancer don't mind, I'm taking this.

[2021-12-14 14:19] dmos62 commented on #859
Unless we split this into two issues, this is still blocked. The two issues would be:

1. handle the input, so that we would return an HTTP 4xx instead of 500;
2. adhere the API response to the new error spec.

Task 2 is still blocked pending error reporting implementation/concretization tracked in https://github.com/centerofci/mathesar/issues/883.

[2021-12-14 14:31] seancolsen commented on #859
@dmos62 As I see it, #883 is a large issue that requires many small tasks, one of which would be closing this ticket. To put that another way, to close #883 we'll need to make sure all our endpoints, and all the HTTP methods, and all error scenarios adhere to to the new structure. That's potentially a lot of small independent tasks. This ticket is tracking one error scenario for one HTTP method fo

[2021-12-14 14:52] silentninja commented on #883
I am planning to set up the necessary **infrastructure** so that it is easier to capture and define the error structure for the captured error. Which it be then followed by  each error getting then own error structure(sub-task list or individual issue), where #859 will be the priority

[2021-12-14 16:19] dmos62 commented on #413
The set of valid schemes is unknown. There's [a set of "official" URI schemes](https://en.wikipedia.org/wiki/List_of_URI_schemes), but a scheme can be unofficial too. I think we'll have to ask the user to input a scheme to filter against himself.

[2021-12-14 23:37] kgodey commented on #413
@dmos62 For the first version, let's use the official schemes. We want the UI to be user friendly, a non-technical user might not know what a scheme is so we should provide them some options.

[2021-12-14 23:40] kgodey commented on #883
@silentninja That's fine. please make small and incremental PRs so that changes are easy to review and merge. Getting #859 done to unblock the frontend soon should be a priority, so please organize your work so that we get to that ASAP.

[2021-12-14 23:41] kgodey commented on #623
@silentninja I assigned this to you based on the conversation in #883.

[2021-12-15 06:25] mathemancer commented on #845
You've pointed out a number of things that we will need to specify.

One quick note about:

I don't think the relative time has meaning beyond the `INTERVAL` type without the absolute time it's measured from.  I.e., "5 minutes ago" is an interval "-5 minutes" summed with the current time.  If we're not going to realize the absolute time, it's just an interval.

[2021-12-15 11:47] dmos62 commented on #413
@kgodey how should we expose the supported schemes to the client-side? Maybe hardcode a set on the clientside? Alternatively, we could introduce something like a `/known-uri-schemes` endpoint.

A more generalizable feature would be to expose information on things like unique schemes used in this URI column, or unique domains used in that email column. Then use that for autocomplete. That would pro

[2021-12-15 11:54] dmos62 commented on #845
Good point. I didn't realise `INTERVAL` can be negative.

[2021-12-15 15:09] silentninja opened #889 "Consistent error handling across the API"
## Problem
We need a way to consistently handle exceptions and assign specific error codes based on the exception raised on per view basis

## Proposed solution
Necessary components needed to handle the error spec:
1. Base components to assist with error handling and adhere exceptions to the API spec
2. The exception handler should support parsers to convert exceptions to a proper error response,

[2021-12-15 15:22] silentninja commented on #889
@dmos62 @mathemancer @kgodey Let me know if this list makes sense

[2021-12-15 15:24] dmos62 commented on #413
Quick update: `sqlalchemy-filters` don't support a more complex matching scenario like `host contains {x}`, since only `like` (and `ilike`) expressions are supported, which don't have matching expressive enough to differrentiate which of the two `string.com` occurances in `scheme://string.com/scheme://string.com/xyz` is the domain. That's presuming that we support non-escaped URIs.

`scheme is {x}

[2021-12-15 16:55] #445 closed

[2021-12-16 02:25] kgodey commented on #846
Thanks for the thorough explanation @pavish. I assigned this to myself to think more about it.

[2021-12-16 02:38] kgodey commented on #889
Looks fine to me.

[2021-12-16 02:38] kgodey commented on #883
Thanks @silentninja

[2021-12-16 02:40] kgodey commented on #413
I agree with this, perhaps it could be metadata on the column object in the column endpoint. I don't think we need anything else like a hardcoded list or a separate endpoint.

[2021-12-16 07:28] mathemancer commented on #846
A quick note:  While I'm okay with the quick fix in the short-term, I think the idea of a user trying to make, e.g., a non-null, unique column out of a column that's missing values and has some duplicates is not too odd.  The query for that would be something like ```
SELECT * FROM mytable WHERE col1 IS NULL OR is_duplicate(col1);
[code]

[2021-12-16 10:08] dmos62 commented on #889
Do we want error codes to vary based on API route? Say you're passing a filter or grouping specification and its parsing fails. It doesn't really matter which endpoint you're using, the problem is with the filter spec/parser. There might be cases where we want error codes to vary based on API route, but I can't think of one at the moment.

[2021-12-16 10:59] dmos62 commented on #846
I had a similar train of thought. It's still somewhat complex. Because inside the filtering spec you'd be defining what groupings you need: for example, `is_duplicate(column="x")` needs a grouping on the uniqueness of column `x`; and, you'd have to perform the groupings before the specified filtering is applied. I'm still leaning towards doing all of this more explicitly as discussed in #853, sinc

[2021-12-16 13:42] silentninja commented on #889
@dmos62 The filters should throw custom exceptions, which shows that the problem is with the filter spec. But custom code is more of an API requirement and the exceptions shouldn't have to be concerned about it. We cannot expect exceptions outside the service layer to know about the API requirement.

[2021-12-16 13:49] mathemancer opened #892 "`mathesar_temp_schema` should be hidden"
## Description

Currently, the system schema `mathesar_temp_schema` is returned as a standard schema, and ends up displayed as a result in the UI.  This is confusing, since that schema is used for system operations, and shouldn't be available to the user.

## Expected behavior

The schema `mathesar_temp_schema` should be hidden.

## To Reproduce

After starting the service and doing type inference

[2021-12-16 15:22] seancolsen opened #894 "Create UI localization system"
We need a system that allows us to translate text within the UI into different languages.

Error messages from the API would be covered by #895

[2021-12-16 15:34] seancolsen opened #895 "Create API localization system"
We need a system that allows us to translate text within the API response into different languages. This would only apply to text within the Mathesar source code such as error messages.

Most of the text that users will see will be translated at the UI level, and thus covered by #894

[2021-12-16 16:39] dmos62 commented on #413
@kgodey that's a good point. I'm looking into how to use `sqlalchemy-filters` with SQL functions.

[2021-12-16 16:54] seancolsen opened #896 "Modify records API to use column id instead of column name"
I'd like to be able to use the records API when all I know and care about is the column id for my columns.

## GET request params

The `order_by`, `group_count_by`, and `filters` params all expect references to columns to be given by name. For example:

- `order_by=[{"field":"name","direction":"asc"}]`
- `group_count_by=["name"]`
- `filters={"and":[{"field":"name","op":"eq","value":"Sean"}]}`

I'd

[2021-12-16 18:32] seancolsen opened #897 "Modify records API GET params to use column id instead of column name"
In the records API, the `order_by`, `group_count_by`, and `filters` params all expect references to columns to be given by name. For example:

- `order_by=[{"field":"name","direction":"asc"}]`
- `group_count_by=["name"]`
- `filters={"and":[{"field":"name","op":"eq","value":"Sean"}]}`

I'd like to the API to accept column references by `id`.

## As a breaking change

A simple way to address this ne

[2021-12-16 18:43] #897 closed

[2021-12-16 18:44] seancolsen commented on #897
I merged this ticket into `#896`

[2021-12-16 18:52] seancolsen opened #898 "Modify constraints API to use column id instead of column name"
The constraints API refers to columns by name in its response and its expected request. I'd like to use the column id instead.

## GET Response

Example of current response:

[code]

Example of desired response:

[code]

## Other requests and responses

The same logic should apply to all the requests/responses for the other HTTP methods on this endpoint. For example, if I add a constraint, I'd lik

[2021-12-16 19:01] dmos62 commented on #413
I did not find a way to use `sqlalchemy-filters` with SQL functions (namely, our custom SQL function that returns a URI's authority). Unless I've missed something, I'll be reimplementing `sqlalchemy-filters`. I could also extend it, but I don't think there's a good reason to continue using it.

[2021-12-16 22:17] kgodey commented on #413
@dmos62 Hopefully you can reuse some code from `sqlalchemy-filters` to make the implementation go faster.

[2021-12-17 08:20] mathemancer commented on #846
@dmos62 Thought:  With the new ranged grouping PR, you could in fact combine an arbitrary filter with `is_duplicate` by defining `is_duplicate` in terms of group size for a distinct grouping, and combining using our already-existing filtering logic.

[2021-12-17 08:23] mathemancer commented on #889
@silentninja This makes sense to me.

[2021-12-17 08:27] mathemancer commented on #895
Is this discussed somewhere?  I'm not convinced translating error messages is a good idea, since it inhibits searching, for solutions and so on.  Are error messages from Python itself ever localized, for example?

[2021-12-17 08:30] mathemancer commented on #896
I think the breaking change option is superior (though a bit of a pain).

[2021-12-17 08:33] mathemancer commented on #413
The way to do this with `sqlalchemy-filters` would be to create a CTE with a function result in a column, then filter the CTE using the normal `sqlalchemy-filters` method.  It's debatable whether that's a good idea, but it's possible.

[2021-12-17 08:39] mathemancer commented on #413
@dmos62 I assume you noticed the DB function that is installed with the URI type that returns the URI pieces (according to the RFC).  The regex used is directly from https://datatracker.ietf.org/doc/html/rfc3986/#appendix-B .  Combined with my previous comment, you should be able to achieve pretty expressive filtering.

[2021-12-17 08:59] dmos62 commented on #413
@mathemancer yeah, I was looking for a way to fully specify the filter via `sqlalchemy-filters` specification format, which doesn't seem possible if you need to use SQL functions. `sqlalchemy-filters` doesn't support regex either. If we're gonna alter the query pipeline then use `sqlalchemy-filters`, might as well drop `sqlalchemy-filters` altogether and filter directly. It will be simpler.

[2021-12-17 09:14] dmos62 commented on #846
@mathemancer interesting. Is that because the group-attribute columns are dropped/unselected after the filtering is done? It might be a UX challenge to expose those columns as choices when creating an `is_duplicate` filter. Maybe a bit complicated from user's point of view? Seems a lot like what we discussed in #853, but with meta-columns always hidden.

[2021-12-17 11:33] ghislaineguerin opened #902 "Define Keyboard Interactions for Browsing and Editing Tables"
## Problem
Keyboard interactions need to be defined for all possible table interactions (including checkboxes, dropdowns, calendars, and other input types).

## Proposed solution
We need to create a document with a set of guidelines for the keyboard user interface of Mathesar that will describe the following interactions:

- Navigating table content in a logical order (cells, fields, rows)
- Inter

[2021-12-17 11:50] kgodey commented on #896
Agreed re: breaking change.

[2021-12-17 12:12] kgodey commented on #895
@mathemancer It was discussed briefly on Matrix, only in enough detail to lead to this placeholder issue. We did talk about localizing API error messages making it hard to search for solutions, but it seems like we can mitigate that by also displaying the error code (which will remain the same).

Please note that this only applies to the API, not the rest of the source code (e.g. not the `db` modu

[2021-12-17 12:27] kgodey commented on #191
All sub-issues are complete, so I'm closing this.

[2021-12-17 12:27] #191 closed

[2021-12-17 12:56] kgodey opened #903 "Milestone sync only works for 30 milestones"
## Description

The tool we use for automatic milestone sync seems to only support 30 milestones. We'd like to sync all our milestones across all repos.

## Expected behavior

All milestones should sync. Also, open milestones should be open and closed milestones should be closed.

I think we may need to replace the original tool with a custom script.

## Additional context

- GitHub workflow: http

[2021-12-17 13:04] mathemancer commented on #902
Copied from an earlier discussion:

[2021-12-17 13:25] seancolsen commented on #895
@mathemancer Here's the [Matrix discussion](https://matrix.to/#/!xPrzlsyLMNbsMzrcrX:matrix.mathesar.org/$R0cmE1mF4n91cLaLf7p77zYuFw3BcMjPudib6dAqHao?via=matrix.mathesar.org) which inconveniently arose in a non-public channel. I shared some concerns very similar to yours.

At the very least I think we might all agree that translating API error messages is a much lower priority than translating the

[2021-12-17 13:42] pavish commented on #757
The tab system was refactored as part of https://github.com/centerofci/mathesar/pull/816, which fixes this issue. tabularData is now part of the tab and we do not use tab.id anymore to identify the table.

We have disabled the most problematic eslint rules for now. Typechecking using svelte-typecheck is supposed to be handled in https://github.com/centerofci/mathesar/issues/767.

I'm closing this

[2021-12-17 13:42] #757 closed

[2021-12-17 18:32] #631 closed

[2021-12-19 22:27] kgodey commented on #555
@arvind-1 Checking in on this since it's been a couple of months.

[2021-12-20 06:47] mathemancer commented on #413
Fair enough.  I'm also not convinced `sqlalchemy-filters` is saving much work at this point.

[2021-12-20 07:06] mathemancer commented on #846
I continued the conversation in the other thread you mentioned (#853 ).   Basically, the current set up is that all grouping metadata is "hidden" as a column from the user, and only exposed through the special UI elements for grouping.

[2021-12-20 08:45] #892 closed

[2021-12-20 09:20] mathemancer commented on #895
Agreed, but some users will (for example) ask about the error on stack overflow by message, and that won't be found by googling the error code.  We'd just be separating out the knowledge base.  If we want to localize errors, I'd rather have it reported initially localized, but have a non-localized version easily available ("click for something to google" or something), and encourage them to use th

[2021-12-20 17:32] seancolsen opened #906 "Make TS TableRecord interface contain the record response instead of extending it"
## Problem

[Here](https://github.com/centerofci/mathesar/blob/ad2f6b1d38157476f6656c43e68d626d5a9b3d3c/mathesar_ui/src/stores/table-data/records.ts#L23-L23) we have the following code:

[code]

That means that for one table cell, I might have an object like this:

[code]

This design leaves our internal front-end state data intermingled with the user data from postgres. What if I have a column na

[2021-12-20 17:52] pavish commented on #906
@seancolsen The solution mentioned sounds good to me. We may also want to restructure the TableRecord interface to better suit our new grouping model.

[2021-12-20 18:16] seancolsen commented on #906
Thanks @pavish I'll try to work on this as part of the front end changes for #862

[2021-12-21 01:48] seancolsen commented on #906
@pavish I decided not to get into this today because I didn't want to add more complexity than necessary to the range grouping PR. We can take up this refactoring later.

[2021-12-21 09:37] pavish commented on #906
@seancolsen That's fine. I was specifying the structure changes based on the new grouping model as a potential refactor we can do when this issue is picked up, we don't have to prioritize this right away.

[2021-12-21 18:18] seancolsen opened #914 "Create components for building in-app documentation and help content"
We need a Tooltip or Help component, akin to [Carbon's Tooltip component](https://carbon-components-svelte.onrender.com/components/Tooltip) that will allow us to add documentation and help messages within the UI.

[2021-12-21 18:51] pavish commented on #914
I think it would be better to implement `Tooltip` as an action, so that we can attach one to any element.

We could have a help component that uses Icon and Tooltip to provide similar functionality as Carbon's tooltip component.

[2021-12-21 19:17] seancolsen commented on #914
Using actions under the hood seems great. We'll need to be mindful about supporting rich text within tooltip content, which might be a little trickier with actions, but still worth going that direction I think.

[2021-12-21 19:58] pavish commented on #914
I don't think tooltips should support rich text. If we need support for rich text or custom components, it should rather be a popover component.

We already have the `popper` action which can convert any element as a dropdown or a popover, which can be used for such scenarios. We'd also probably be implementing `tooltip` on top of this.

[2021-12-21 21:08] ghislaineguerin opened #917 "UX for Selecting and Editing Cells"
## Problem
We need to define the user experience for selecting and editing cells in tables.

## Proposed solution
A set of guidelines for implementing cell selection and editing interactions for all types of data and selection controls (checkbox, dropdown) supported by Mathesar.
The design should also consider scenarios for multi-select, bulk editing, and other scenarios that involve multi-cell op

[2021-12-21 23:20] github-actions[bot] opened #918 "npm audit found vulnerabilities"
[code]

[2021-12-22 00:06] kgodey commented on #917
I was thinking more about the concerns about users being used to spreadsheet interactions brought up in https://github.com/centerofci/mathesar-wiki/pull/13. I do think those concerns make sense, but I'm also concerned about data integrity. I think a good solution might be to have two different editing modes:
– the default one can be focused on data integrity and require double clicks to edit a cel

[2021-12-22 06:47] mathemancer opened #920 "Visual oddities"
## Description

The "count" display for grouping looks editable, and is misaligned.

## Expected behavior

It should not look like you can edit the count, and it should be properly aligned.

## To Reproduce

Group a table by some columns, observe  the count.

## Environment
 - OS: (_eg._ macOS 10.14.6; Fedora 32)  Archlinux
 - Browser: (_eg._ Safari; Firefox)  Qutebrowser, also Firefox -- probably

[2021-12-22 06:49] mathemancer commented on #920
Whoops, this was introduced by front-end work in PR #862, which isn't yet merged.  Closing; we'll deal with it there.

[2021-12-22 06:49] #920 closed

[2021-12-22 11:01] mathemancer commented on #475
As a part of this issue, the implementer should try to fix the bug noted in my comment on #862 (the comment is [here](https://github.com/centerofci/mathesar/pull/862#pullrequestreview-838124530))

[2021-12-22 13:10] seancolsen commented on #475
@mathemancer [said](https://github.com/centerofci/mathesar/pull/862#pullrequestreview-838124530):

Thanks for pointing that out! In 33fab3b1960d99d6dd0b9c48ac3f97f692d34081 I was trying to make a quick fix to address the fact that previously the count was styled identically to the values meaning that if I group by a column with the name `count`, the presentation would be ambiguous. I agree that it

[2021-12-22 13:17] pavish commented on #475
@seancolsen The previous grouping implementation did not focus on the styling aspect.

We initially had an infinite scroll view which had a slightly different view for grouping with additional margin and padding for each group (similar to how it is in airtable), then we decided to go with pagination which shows group headers similar to how rows are displayed.

The UX for alignment of values and co

[2021-12-22 13:24] pavish commented on #475
@kgodey I'm removing `help wanted` for this issue and restricting it to maintainers because this issue involves having to handle showing/hiding rows on the virtual row list, which touches on the core part of how our tables are displayed. Our current pagination view is built on top of the virtual scroll making it performant when rows > 100 and have complex dom elements each.

@seancolsen This would

[2021-12-22 15:50] mathemancer commented on #475
Sorry, I should have been more precise:  I noticed that the vertical alignment was affected by the font differences (at least with the fonts installed on my system).  Here's a screenshot of the "after" with a line drawn to show the issue.

![image](https://user-images.githubusercontent.com/6829750/147118636-da05c059-9aaf-434d-b5a8-aaed86cfe5d3.png)

If you zoom in to view the image full-size, you'

[2021-12-22 16:05] mathemancer commented on #475
After some experimenting, the effect of the floating 38 is exacerbated if you zoom your browser window in further as well.

[2021-12-22 17:38] seancolsen commented on #880
I'm observing this bug too.

I'm also observing that changing `pageInfo.start` to `pageInfo.start - 1` seems fix it. But that seems weird to me. At the very least I think it's poor readability. At worst, I might consider it two bugs that cancel each other out.

Here's what I'd recommend:

- Modify `paginationUtils.ts` to fix the bug.
- Create a test for `calculatePages` with some basic assertions

[2021-12-22 17:45] mr-gabe49 commented on #880
@seancolsen @pavish I'm going to unassign myself for now because I'm still learning about writing tests. Just in case another contributor wants to take it right now.

[2021-12-22 19:20] seancolsen commented on #880
Wanna lean? Here's a great opportunity.

## Tests in general

- Run all our tests with

[code]

    If you should never see failures on the master branch.

- As you're developing, it can be helpful to re-run specific tests that you know to be failing (without running the whole suite, for time's sake). Do that with something like:

[code]

    In that example I used `TextInput`, which is a string w

[2021-12-22 19:29] mr-gabe49 commented on #880
@seancolsen Thank you so much for that info! I've been learning about jest and the testing library but its taking me sometime to get my ahead around what to test for. Not sure how long it will take me but I'll do it. :)

[2021-12-22 21:10] seancolsen opened #922 "Add namespace prefix to global CSS classes in our component library"
In #904, I said:

Today @pavish and I chatted about this and decided we should add a namespace prefix to all top-level global CSS classes in the component library.

## Reference example

For example's sake, let's say we have a `Foo` component as follows:

- `Foo.svelte`

[code]

- `Foo.scss`

[code]

## To do

- We should change `foo` to `PREFIX-foo` in the the `.svelte` file and the `.scss` file.

[2021-12-23 01:00] kgodey commented on #780
Assigned to myself to make implementation issues.

[2021-12-23 01:01] kgodey commented on #466
@ghislaineguerin Assigned you to this since you'll be collaborating with @ppii775.

[2021-12-23 07:06] #873 closed

[2021-12-23 07:20] pavish commented on #880
@seancolsen The comment on how to write tests is very well written. I think it would be useful to add it to our frontend README or as a wiki page. Would you mind copying it over to either of the places?

[2021-12-23 20:32] jjram20 commented on #898
Hi, I would like to work on this issue.

[2021-12-23 22:27] jjram20 commented on #869
Hi, I would like to help in this problem.

[2021-12-23 23:43] silentninja commented on #869
@jjram20 Thanks! I have assigned it to you.

[2021-12-27 18:56] #824 closed

[2021-12-28 19:55] ishqelliot commented on #290
@pavish @kgodey is this still unassigned? can I pick it up?

also was checking utils path mentioned in the description though couldn't find `common` folder under `mathesar/mathesar_ui/src/components/` (under master branch)

[2021-12-28 20:09] silentninja commented on #290
@ishqelliot  Sure, thanks! The components folder has been renamed to [component-library](https://github.com/centerofci/mathesar/tree/master/mathesar_ui/src/component-library/common/utils)

[2021-12-29 05:04] pavish commented on #290
@ishqelliot I've updated the description of this issue with the correct file path. Let us know if you have any questions. Please feel free to join our [Matrix channels](https://wiki.mathesar.org/en/community#matrix) for more impromptu discussions.

[2021-12-29 07:07] ishqelliot commented on #290
cool thanks, got the utils now, will start, have joined the matrix.

[2022-01-02 17:30] #880 closed

[2022-01-03 01:00] seancolsen opened #927 "Provide a clearer visual distinction between edit mode and select mode"
## Current behavior

1. Find a cell with a value set to an empty string.
1. Toggle between edit mode and select mode by alternately double clicking and pressing `Esc`.
1. Observe the presence of a cursor to change -- good.
1. Observe the border thickness to change -- good.
1. Observe no other changes.

## Goal

- I'd like it to be a bit clearer which mode I'm in.

## Desired behavior

- Add a drop

[2022-01-03 01:21] seancolsen opened #928 "Wait until user is done editing a cell before saving"
## Current behavior

1. Double click a cell to enter edit mode.
1. Modify the value by typing something new.
1. Wait 1 second.
1. Expect nothing.
1. Observe the value of the cell is saved.
1. Press `Esc`.
1. Mode changes from edit to select.
1. Expect the cell value to be its original value before edits began, because I pressed `Esc`.
1. Observe the cell value to be changed.

## Proposed behavior

[2022-01-03 01:32] seancolsen opened #929 "Blur via keyboard after entering edit mode on a NULL cell should cancel edits"
## Reproduce

1. Double click a NULL cell to enter edit mode.
1. Press `Esc` or `Tab` or `Enter`.
1. Observe the mode changing from edit to select.
1. Expect cell value to remain NULL.
1. Observe cell value is set to an empty string.

The expected behavior is described in [NULL Value Specs, scenario 2d](https://wiki.mathesar.org/design/specs/specs-null-values#steps-for-2d).

[2022-01-03 01:40] seancolsen opened #930 "Add context menu to set cell value to NULL"
## Current behavior

The user has no way to set a cell value to NULL.

## Desired behavior

1. Right click within a cell (or click-hold on a touch device).
1. The browser's native context menu is suppressed.
1. The cell is selected.
1. A Mathesar-specific context menu appears.
1. An item exists within the context menu labeled "Set to NULL".
1. The menu entry is disabled if any of the following con

[2022-01-03 01:40] seancolsen commented on #930
@ghislaineguerin the specs require the context menu entry to be "Set as NULL". That wording seems a bit awkward. Can we use "Set to NULL" instead?

[2022-01-03 01:44] seancolsen commented on #780
Now that we've defined the UX in [NULL Value Specs, scenario 3a](https://wiki.mathesar.org/design/specs/specs-null-values#steps-for-3a), I'm closing this ticket in favor of #930 which is a more specific follow-up based on the spec. I've confirmed that no further back-end work should be needed.

[2022-01-03 01:44] #780 closed

[2022-01-03 06:03] pavish opened #932 "DB Types in column.valid_target_types are not in sync with the types returned in database types endpoint"
## Description
* `valid_target_types` property of column returns "DOUBLE PRECISION"
   - Endpoint: /api/v0/tables/14/columns/
* Types endpoint returns mathesar types where Number has the db type "DOUBLE_PRECISION"
   - http://localhost:8000/api/v0/databases/1/types/
   - Mathesar type: Number

Note that "DOUBLE PRECISION" and "DOUBLE_PRECISION" differ from each other.

## Expected behavior
Both en

[2022-01-03 06:10] pavish opened #933 "Default value of column should have additional information to identify if default value is auto-generated"
## Description
When the default value is auto-generated, the returned value is a string representing the procedure call.

Eg., for all PKs for the default id column, the value for `default` is `"nextval('\"public\".data_types_id_seq'::regclass)"`.

We need additional information to help the client differentiate this from a normal string value.

## Expected behavior

It would be better if default r

[2022-01-03 06:12] pavish commented on #933
@kgodey Marking this issue as draft inorder to decide on the format for the default value returned in the columns endpoint.

[2022-01-03 06:34] pavish opened #934 "Redesign import preview UX"
Our import preview UX doesn't match the rest of the application, since it was one of the first pages designed. We should update it. Some specific problems and related issues/discussions are listed below.

## Column type selection in preview page varies entirely with the type selection on the table

### Description
Upon file upload, the preview page displays a list of database types.

![Screenshot

[2022-01-03 06:35] pavish commented on #934
@kgodey @ghislaineguerin Marking this issue as draft until both of you to take a look and add any additional detail if required.

[2022-01-03 14:21] seancolsen opened #936 "Add keyboard shortcuts for setting a cell to NULL"
## Desired behavior

1. Select a cell.
1. Press `Shift+Delete` or `Shift+Backspace`.
1. The cell value will be set to NULL, with Mathesar exhibiting the same loading, success, and error behavior as it currently does when the user updates a value within a cell.

## Notes

- The keyboard shortcuts should only be active when in **select** mode -- in **edit** mode there should not be any keyboard shor

[2022-01-03 14:25] kgodey commented on #928
This sounds good to me.

[2022-01-03 14:29] seancolsen commented on #928
Thanks @kgodey. I'm marking this as ready now that we have support from one other person.

@ghislaineguerin @pavish you two might still like to weigh in if you have any concerns here.

[2022-01-03 14:31] kgodey commented on #934
This is because we designed the import preview page way before we figured out data types. I think we should address this in the [UI Styling](https://github.com/centerofci/mathesar/milestone/42) milestone since that's where we'll be making sure what we've built is consistently styled (I've moved it there).

[2022-01-03 14:38] kgodey commented on #930
@seancolsen I think it's fine to use "Set to `NULL`".

[2022-01-03 14:39] seancolsen commented on #930
Thanks @kgodey I've updated the issue description to reflect that adjustment.

[2022-01-03 17:01] seancolsen opened #939 "Display NULL while editing a NULL cell"
## Current behavior

1. Find a NULL cell.
1. Double click to enter edit mode.
1. Observe that `NULL` no longer displays when in edit mode, leaving the user with no way to distinguish NULL from empty string while editing.

## Desired behavior

1. Double click to enter edit mode on a NULL cell.
1. `NULL` appears after the cursor, styled the same as when viewing the cell in select mode.
1. Begin ente

[2022-01-04 14:16] dmos62 commented on #932
This is an interesting one. Database types belong to multiple namespaces and they are clashing. More specifically, SQLAlchemy gives types what it calls a `__visit_name__`, which for the double precision is `DOUBLE_PRECISION`, but the rest of our code seems to expect that to be `double precision` (notice space instead of underscore; case doesn't seem to matter).

@mathemancer would you mind taking

[2022-01-04 18:32] kgodey commented on #398
Moving this back to the backlog for now since it's de-prioritized.

[2022-01-05 04:52] mr-gabe49 commented on #292
@pavish @seancolsen I would like some guidance on the behavior we are looking for on keyboard accessibility. I have seen different behaviors through the web:

- Left/up and Right/down arrow change the current page
- Left/up and Right/down arrow change the focused page, then clicking enter would change the current page
- Other ideas:
   -  double click left arrow sets current page to the first page

[2022-01-05 10:08] pavish commented on #292
@mr-gabe49 I prefer Left and Right arrow changing focused page and clicking enter would change current page. I would not use up and down since browsers by default use them for scrolling the webpage.

I think this would be more confusing and we can avoid this for now.

We could disable the arrows instead of removing them entirely. Removing the arrow would change a shift in layout causing a sudden j

[2022-01-05 12:09] seancolsen commented on #243
@kgodey @ghislaineguerin can we close this ticket now that the [Foreign Key Spec](https://wiki.mathesar.org/en/design/specs/foreign-key-constraints) is finalized? Or is there still more design work to do here?

[2022-01-05 13:05] ghislaineguerin commented on #243
@seancolsen I think we can close it.

[2022-01-05 13:06] #243 closed

[2022-01-05 13:32] mr-gabe49 commented on #292
@pavish Sounds good, thanks!

[2022-01-05 14:12] mathemancer commented on #933
@pavish I have a quick implementation that uses:

[code]

Does that work?

[2022-01-05 14:16] kgodey commented on #243
@seancolsen I left it open as a reminder that we needed to make tickets to cover implementation (that's why the `work` label is set to `product`), but since you're working on those actively, I don't think there's any need to reopen it.

[2022-01-05 15:06] pavish commented on #933
@mathemancer I think this format works. We could always extend this object when we need to provide additional information.

[2022-01-05 15:32] #932 closed

[2022-01-05 18:39] seancolsen opened #942 "Modify constraints API to support creating foreign key constraints"
## Current behavior

- I can't create FK constraints.
- I can create a _unique_ constraint with a POST to `/tables/{table_id}/constraints/` and `type: "unique"`.

## Desired behavior

- Creating FK constraints should function similarly to creating unique constraints.

## Notes
- The API for creating unique constraints is currently in flux due to #898. We should be sure to follow the same pattern f

[2022-01-05 18:40] seancolsen commented on #942
@kgodey I'm assigning this to you to help answer the above questions and loop others in as needed.

[2022-01-05 18:41] seancolsen opened #943 "Modify constraints API to list foreign key constraints"
## Current behavior

- I can see unique and primary key constraints with a GET to `/tables/{table_id}/constraints/`, but the response does not include FK constraints.

## Desired behavior

- FK constraints should be included in the constraints response.
- Additional FK-specific details about each FK constraint should be present too, including:
    - Target columns of the FK
    - `ON DELETE` behav

[2022-01-05 18:41] seancolsen commented on #943
@kgodey I'm assigning this to you to help answer the above questions and loop others in as needed.

[2022-01-05 18:42] seancolsen opened #944 "API support for storing table-level settings"
## Description

- To support the [Record Selector](https://wiki.mathesar.org/en/design/specs/foreign-key-constraints#scenario-5-user-edits-the-values-of-a-column-with-a-foreign-key-constraint-applied) and [Record Preview](https://wiki.mathesar.org/en/design/specs/foreign-key-constraints#scenario-4-user-sees-a-preview-of-the-linked-record-in-a-column-with-a-foreign-key-constraint-applied) features

[2022-01-05 18:42] seancolsen commented on #944
@kgodey @ghislaineguerin @mathemancer @silentninja @dmos62 @pavish I've assigned this ticket to you to review the questions above and comment with any thoughts. Please comment and/or unassign yourself.

[2022-01-05 18:43] seancolsen opened #945 "API support for searching from the record selector"
## Problem

- The Record Selector needs to search across multiple columns and return a response fast-enough to provide good UX within an auto-complete.

## Special cases to consider

### Query split across multiple columns

- A `person` table has the following data

    | id | first_name | last_name |
    | -- | -- | -- |
    | 101 | Emma | Watson |
    | 102 | Emma | Stone |

- The user has confi

[2022-01-05 18:43] seancolsen commented on #945
@kgodey I'm assigning this to you to help solidify an approach and loop others in as needed.

[2022-01-05 18:43] seancolsen opened #946 "Modify records API to return preview data for foreign key columns"
## Problem

- For cells in columns with foreign keys, the front end will sometimes need to display a preview of the referenced record instead of the value stored in the column.
- Separate API calls to retrieve that record preview data would result in poor performance because we'd need to issue one call per row. Ideally the records API would return that data within the same response as the table da

[2022-01-05 18:44] seancolsen commented on #946
@kgodey I'm assigning this to you to help answer the above questions and loop others in as needed.

[2022-01-05 18:44] seancolsen opened #947 "Add "Link Table" dialog"
## Goal

- The Link Table dialog will guide users through the process of creating a foreign key constraint.

## Limitations

- Multi-column FK constraints will _not_ be supported in the Link Table dialog.

## Specs

- In the [Foreign Key Constraints Spec](https://wiki.mathesar.org/en/design/specs/foreign-key-constraints), see:
    - the video for Scenario 1
    - the notes for Scenario 1a
    - th

[2022-01-05 18:52] seancolsen opened #948 "Front end support for manually creating foreign key constraints"
## Goal

- Allow users to create foreign key constraints through the Table Constraints dialog.

## Limitations

- Multi-column FK constraints will _not_ be supported yet. We may add support for that at some point in the future ([discussion](https://matrix.to/#/!xInuTkBwjXZXYatIlm:matrix.mathesar.org/$ZMwTJrIU7sWuqtrSndMHaRZ3hR2rAW9A8JEemqQOW6w?via=matrix.mathesar.org&via=matrix.org)) but we'll let

[2022-01-05 18:52] seancolsen opened #949 "Display FK-specific details about FK constraints in the table constraints dialog"
## Current behavior

- The table constraints dialog displays foreign key constraints.
- Each FK constraint shows a type of `FOREIGNKEY`.
- There's no way to see the target table and target column.

## Desired behavior

- Once #943 is implemented, the API will return more details about each FK constraint. Exactly _what_ the API will be returning is still TBD.
- We should display those details withi

[2022-01-05 18:53] seancolsen opened #950 "Add visual cues to foreign key columns"
## Current behavior

- When viewing a table, the user has no indication which columns have foreign key constraints.

## Desired behavior

- Column header displays referenced table and referenced column.
- Column header menu displays referenced table.
- Cell values are stylized differently.

## Notes

- If two columns are both part of the same multi-column FK, then they should both receive the fore

[2022-01-05 18:53] seancolsen commented on #950
@ghislaineguerin one small concern -- the cell styling of a background and border radius on the text looks great with simple numbers -- and I imagine styling will suffice in the vast majority of cases. But I wonder if it's worth considering the scenario where the FK value is a text that wraps within the cell. In that case the border radius won't look so good. Would it be better to apply the backgr

[2022-01-05 18:54] seancolsen opened #951 "Allow user to remove a foreign key constraint from the column header menu"
## Current behavior

- To remove a FK constraint, the user must open the Table Constraints dialog.

## Desired behavior

- Find a column associated with a single-column foreign key constraint.
- Click on the column header to open the column header menu.
- Choose "Remove Table Link".
- Observe the same loading/success/error behavior as when clicking on the "Allow NULL" option in the column header m

[2022-01-05 18:54] seancolsen commented on #951
@kgodey I put this in the same milestone as all the other FK tickets, but I think we could safely defer it until later. I'll leave it to you to re-prioritize if you so choose.

[2022-01-05 18:55] seancolsen opened #952 "Add visual cues to help users distinguish multi-column foreign key constraints from single-column ones"
## Problem

- A pair of columns associated with one multi-column foreign key is indistinguishable from a pair of columns associated with two single-column foreign keys.

## Potential solutions

- The [Foreign Key Constraints Spec](https://wiki.mathesar.org/en/design/specs/foreign-key-constraints) has a proposal in Scenario 3b for applying distinct colors to the multi-column pair.

I've intentional

[2022-01-05 18:55] seancolsen opened #953 "Display record previews for foreign key cells"
## Current behavior

- A cell within a column having an FK constraint only displays the value of the target column.
- Because the target column is usually a primary key, users cannot easily identify linked records while viewing a table.

## Desired behavior

- A "Record Preview" setting can be enabled.
- When Record Preview is enabled, the cell will show additional fields from the record, with spe

[2022-01-05 18:55] seancolsen commented on #953
@ghislaineguerin @kgodey Should we support record previews for multi-column FKs? This seems like a pretty clear "no" to me, but just thought I'd check.

[2022-01-05 18:56] seancolsen opened #954 "Use record selector when editing cells in FK columns"
## Current behavior

- Editing a cell within a FK column requires the user to know the value of the target column which is usually a meaningless id number. This makes it tedious for users to link records.

## Desired behavior

- Editing a cell within a FK column will open a record selector, allowing the user to search and select a record from the target table.

## Specs

- [Foreign Key Constraints

[2022-01-05 18:57] seancolsen commented on #954
@ghislaineguerin @kgodey The specs read:

I don't think we should enable the record selector for multi-column FKs. Is that okay? If it becomes a problem we could address it as-needed.

[2022-01-05 18:57] seancolsen opened #955 "Front end support for configuring table settings"
## Current behavior

- User has no way to configure the behavior of the record previews (within foreign key columns) and record selector (while editing data in foreign key columns).

## Desired behavior

- The [Foreign Key Constraints Spec](https://wiki.mathesar.org/en/design/specs/foreign-key-constraints) briefly talks about "Table Link Preferences" in the video for Scenario 5.
- Some details of

[2022-01-06 05:34] gagan2005 commented on #939
I would like to work on this

[2022-01-06 07:22] mathemancer opened #956 "Default ID column's dynamic default can be altered"
## Description

As noted in [this comment](https://github.com/centerofci/mathesar/pull/941#pullrequestreview-844879976) by @kgodey on #941 , it's currently possible to alter default columns via the API through `PATCH` requests.

## Expected behavior

It should be impossible to change the default generator of the default `id` column via the API.  In particular, if the user alters the default value,

[2022-01-06 12:46] seancolsen commented on #939
Thanks @gagan2005! I've assigned this ticket to you. Let us know if you need any help. Feel free to ask questions here or in [Matrix](https://wiki.mathesar.org/en/community#matrix) (our chat system).

[2022-01-06 15:08] kgodey commented on #956
@mathemancer I don't think this should be specific to the `id` column, we should not allow static defaults for any column with a unique or primary key constraint.

I don't think we need any specific behavior for the `id` column, it's fine if users change the name or other attributes.

[2022-01-06 15:23] #933 closed

[2022-01-06 15:47] mathemancer opened #957 "Explore short-circuiting for casting functions"
## Problem

The casting functions get run a _lot_ (especially when doing type inference).  We need them to be efficient.

## Proposed solution

One potential option is to use `RETURNS NULL ON NULL INPUT` for all casting functions.  It may be that this actually doesn't result in better performance (in fact it might be worse).  We need to set up some big data, and check whether this improves things

[2022-01-06 15:49] mathemancer commented on #956
Okay, I'll alter this issue accordingly.

[2022-01-06 16:00] mathemancer opened #958 "Secure Mathesar against SQL injection"
## Problem

We have not audited the codebase for potential security problems, e.g., from SQL injection attacks.

## Proposed solution

We should do an initial round of research and auditing for any such problems.  If possible, we should add some automated testing for SQL injection problems into our pipeline to make sure no vulnerabilities are added in the future.

## Additional context

This isn't

[2022-01-06 22:23] #424 closed

[2022-01-07 19:12] kgodey opened #960 "Split Date & Time data type into three Mathesar types"
## Problem

Based on the new definition of [Mathesar Data Types](https://wiki.mathesar.org/en/engineering/architecture/mathesar-types), it makes sense to split up the Date & Time type into three types:
- Date
- Time
- Date & Time

## Proposed solution

We need to update the data type design specs to create specs for `Date`  and  `Time` and update the `Date & Time` specs to remove the options for d

[2022-01-07 19:22] silentninja commented on #960
I think `Date` and `Date & Time` can be under the same Mathesar type similar to `FLOAT` and `INTEGER`. The `Time` type seems like an odd one as the cast with another type will change the meaning drastically

[2022-01-08 00:18] kgodey commented on #960
I think it will be confusing for `Date` to be in `Date & Time` but not `Time`, it's inconsistent.

[2022-01-09 16:43] gagan2005 commented on #939
#961

[2022-01-10 06:47] github-actions[bot] opened #964 "npm audit found vulnerabilities"
[code]

[2022-01-10 15:42] #602 closed

[2022-01-10 16:35] #603 closed

[2022-01-10 19:17] pavish commented on #123
I initially thought this was a good idea but now I don't think it is. We already have GH's dependabot which messes up the entire package-lock.json file trying to force update packages, breaking other parent packages.

I have already mentioned reasons behind ignoring Depandabot's PR on several occasions adding a reference to [Dan Abramov's blog post](https://overreacted.io/npm-audit-broken-by-desig

[2022-01-10 19:21] pavish commented on #290
Hey @ishqelliot, checking in on this issue to see how it's going. Is it going well? Do you require any help?

Please let us know if you need any additional support from us.

[2022-01-10 19:29] seancolsen commented on #123
@pavish  Agreed

[2022-01-10 20:00] kgodey commented on #123
Sounds good.

[2022-01-10 20:29] #123 closed

[2022-01-10 21:10] kgodey commented on #942
@seancolsen I've updated the ticket description to resolve questions. I'm going to mark the ticket as blocked until #898 is resolved and the API for constraints stabilizes.

[2022-01-10 21:20] kgodey commented on #943
Updated description to handle open questions.

[2022-01-10 21:34] kgodey commented on #955
Yes, we're assuming the user will be likely to want to change them at the column level while searching.

[2022-01-10 21:37] kgodey commented on #951
I think it's important to do this with the rest of the feature to make it friendlier for non-technical users. It seems like it would be pretty quick to implement.

[2022-01-10 21:44] kgodey commented on #953
You are correct, not right now.

[2022-01-10 21:46] kgodey commented on #954
Agreed, I don't think there should be any special behavior for multi-column FKs, it should be treated as a text field. @ghislaineguerin Can you remove the part that Sean quoted in the spec to avoid confusion?

[2022-01-10 21:48] ghislaineguerin commented on #950
@seancolsen I worry about how that might communicate the fact that the records are 'linked', meaning they exist elsewhere. My idea with separating them visually from the table was that. I believe that if we merge them into the cell we are losing that. I'll test it out and see if we can work something out, or test with wrapping as well to see how that looks.

[2022-01-10 21:51] ghislaineguerin commented on #954
@kgodey I agree, we should just treat it as text input. I'll update the spec.

[2022-01-11 07:25] pavish commented on #950
@seancolsen @ghislaineguerin
For cases where the FK value is a lengthy text, I'd suggest that we rather add ellipsis to the end instead of wrapping it.
1. The cell height has to be explicitly mentioned and not controlled by the browser, to support virtual scrolling.
2. Spreadsheets do not wrap text usually.
3. The cell styling from the UX would work for all cases when we do not wrap the text.

[2022-01-11 13:27] mathemancer commented on #944
As far as the `use_preview_in_references` question goes, I'll abstain; seems like a UX question.  Regarding the choice of preview columns:
- You can't identify a row unless the presented tuple is unique.
- This has a bonus effect:  We'd end up with the potential to define a unique index on the preview column tuple, greatly increasing performance.

The downside is that if we go that route, it would

[2022-01-11 14:41] pavish commented on #944
@mathemancer I assume this issue was accidentally closed. I'm reopening this.

[2022-01-11 16:16] ghislaineguerin commented on #944
@seancolsen I think you make a good point in keeping preferences at the table level only. I'm wondering if record preview could be treated only as a display mode for the column, meaning it will work the same if the FK points to a different table.

[2022-01-11 18:33] kgodey commented on #950
@pavish Won't we need to support different cell heights for the record preview feature? Also, how would editing the value work if the user can't see the whole value?

[2022-01-11 18:54] kgodey commented on #945
Updated description with details of approach.

[2022-01-11 19:00] kgodey commented on #946
Updated issue description to resolve questions.

[2022-01-11 19:31] pavish commented on #950
@kgodey

* Yes, we will be supporting this. This is possible because the cell heights for the preview feature can be calculated prior to rendering, considering that each key value pair takes a single line for itself within the cell. However, if the text is wrapped and can take any arbitrary number of lines per key value pair, we cannot estimate the space it would possibly take without rendering it

[2022-01-11 19:33] kgodey commented on #944
Here's the schema I would suggest:

[code]

This namespaces the settings, allowing us to add different types of settings in the future. It also shortens setting names.

This is now `show_link_previews`. I think this should be `true` to make the product friendlier for non-technical users by default. Later, once we have users, what the default is could be a user-specific setting.

This is now `colum

[2022-01-11 19:34] kgodey commented on #950
Okay, thanks, @pavish, sounds good to me.

[2022-01-11 22:15] pavish opened #970 "NumberInput component improvements"
## Problem
The NumberInput component implemented as part of https://github.com/centerofci/mathesar/pull/915 is a low level component with few practical uses. The basic version was implemented inorder to support the form-builder component. Inorder to make it usable, it requires a number of improvements.

## Proposed solution
The following contents are taken from @seancolsen's comments on the [form-

[2022-01-11 22:15] pavish commented on #970
Blocked by https://github.com/centerofci/mathesar/pull/915

[2022-01-11 22:40] pavish opened #971 "Improve focus indicator of `InputGroup` component"
The [form-builder PR](https://github.com/centerofci/mathesar/pull/915) introduced the `InputGroup` component, which helped make the input components more cleaner but lead to a stylistic regression.

Comments from @seancolsen on the PR:

## Proposed solution

1. We need to analyze if it's worth it to bind focus indicator between the InputGroup component and the slotted input components.
2. [Bootstr

[2022-01-11 22:41] pavish commented on #971
Blocked by https://github.com/centerofci/mathesar/pull/915

[2022-01-12 17:12] seancolsen opened #972 "API support for "Link Table" dialog"
## Problem

- In the ["Link Table" dialog](https://wiki.mathesar.org/en/design/specs/foreign-key-constraints#scenario-1a-automatically-adding-foreign-key-constraints-from-the-link-table-dialog), the front end needs to create a new foreign key reference between two tables.

    - For the one-to-one case, we need to add a column, add a foreign key constraint, and add a unique constraint.
    - For t

[2022-01-12 18:19] seancolsen commented on #944
## Auto-creating indexes

I said:

@mathemancer said:

But @kgodey said:

@kgodey has convinced me that we should not automatically create indexes. And I think we can focus on this topic later when we design Mathesar's indexing features.

## Choosing default preview columns

@mathemancer said:

I'm having a bit of an intuitive knee-jerk reaction against this idea, but I'm not yet able to fully rat

[2022-01-12 18:28] kgodey commented on #972
Assigned to myself to review.

[2022-01-12 18:34] kgodey commented on #944
@seancolsen Sorry for the confusion, I was responding to each of your questions in turn and not all together. I think the actual schema should be:

### `/api/v0/tables/0/settings/`

[code]

### `/api/v0/tables/0/columns/`

[code]

[2022-01-12 18:35] kgodey commented on #944
I think it would be better to have it in the columns API since it's a display setting of a column and we already have a `display_options` provision for columns. That way, every formatting choice related to columns is in one place.

[2022-01-12 18:57] pavish commented on #946
@kgodey Since we will have to store `show_link_preview` as mentioned in https://github.com/centerofci/mathesar/issues/944#issuecomment-1011338408, would it make sense to use that in the records endpoint to determine if or not to send the preview data additionally?

We could let the client control it via a query param as mentioned but that would mean the client would first have to fetch columns and

[2022-01-12 19:16] kgodey commented on #946
@pavish I like that idea, I've updated the ticket description to specify those details.

[2022-01-12 19:18] kgodey commented on #944
Note: I revised my schema in https://github.com/centerofci/mathesar/issues/944#issuecomment-1011338408 to change the setting name to `show_fk_preview` to be consistent with the query parameter name in #946.

[2022-01-12 19:46] kgodey commented on #972
Added some ideas about how to design the API.

[2022-01-12 19:46] kgodey opened #973 "Ensure integrity of columns with foreign key constraints applied"
## Problem
Users may try to change the data type of columns with foreign key constraints applied, which may break the foreign key.

## Solution
The API should not allow the data type of a column with a foreign key constraint to be changed.

[2022-01-12 20:32] ghislaineguerin commented on #455
Assigned to Kriti to add additional implementation details.

[2022-01-12 22:32] silentninja commented on #973
Is this meant to be a validation step?

[2022-01-13 00:42] kgodey commented on #973
I'm not sure what you mean.

[2022-01-13 01:15] seancolsen commented on #944
@pavish I unassigned you since it seems like you already weighed in

[2022-01-13 06:50] #428 closed

[2022-01-13 09:24] mathemancer commented on #944
Some clarifications / responses to things that weren't clear in my original comment:

@pavish said

I'm not suggesting we do.  The user selections would be kept separate, and not altered in any way.  We would fill in the remaining preview columns with suggestions.  The purpose for this is to do our best to help the user come up with unique tuples so they can actually identify rows in the preview.

[2022-01-13 09:58] silentninja commented on #973
If we change the datatype of a foreign key, I think it will cause an error, so I am not sure where this scenario would occur. Will it be a validation we do on the service layer before it gets to the database since the database won't allow this anyway

[2022-01-13 09:58] mathemancer commented on #973
This will be blocked at the DB layer whenever it creates an actual problem (i.e., when it would break the link).  For performance and flexibility, I suggest letting the user make the request, and presenting a "nice" version of the error if it's disallowed by the database.  This would allow, for example, altering the foreign key column and the column it references to a `BIGINT` if there's danger of

[2022-01-13 16:39] dmos62 commented on #944
I'm sorry to join the discussion at such a late stage.

I've a concern about these settings being global and possibly user-specific at the same time, which is a conflict. What I mean by global is that if one user sets one of these settings to X, any other user's respective setting will then be X too. And, if one of the users prefers a different setting than another user, that will result in a conf

[2022-01-13 17:34] kgodey commented on #944
@dmos62 I think it's fine to set them globally for now, when we introduce users, we can allow users to override global settings.

@mathemancer It seems like you're suggesting having a separate list of suggested preview columns that we can suggest to the user. I think this is a good idea, we should expand the API schema to:

### `/api/v0/tables/<id>/settings/`

[code]

`suggested_columns` should be

[2022-01-13 17:36] kgodey commented on #973
@silentninja @mathemancer This is just a requirement from the product side, I did not consider whether the database allowed this or not when creating this ticket. If the DB doesn't allow it, handling this should just be creating the proper exception and error code and showing it in the API.

[2022-01-13 20:00] pavish commented on #292
The pagination component is very similar to a navigation header, in terms of markup and usage. There are a few things we need to handle to ensure proper accessibility:
1. The entire component should be enclosed in a `nav` which should contain an `aria-label`.
2. The nav's aria-label should have a value "Pagination" by default and we should allow a prop to be passed for it, since a page could have

[2022-01-14 07:42] mathemancer commented on #944
I'm not too sold on limiting the user either, though we might consider a hepful infobox extolling the benefits of uniqueness constraints if they've chosen poorly.  I do think we should choose the _suggested_ columns to help fill out a unique set, in combination with the user's selected columns when possible.  For example, suppose the tuples formed by values in the columns
[code]
are unique.  It wo

[2022-01-14 07:49] mathemancer commented on #973
@kgodey Would you be okay with altering types whenever it wouldn't break the link?  I.e., when it creates no error at the DB layer?

[2022-01-14 12:47] ghislaineguerin commented on #944
@mathemancer as far as I know, in the context of tables we will only have unique FK values per field. If many-to-many then the record preview will show the records belonging to the mapping table, in which case the design doesn't change. Or am I missing something?
I believe we'll be able to show summaries only in views.

[2022-01-14 14:13] silentninja commented on #944
@kgodey Boolean columns have the most non-unique values, so shouldn't they be the opposite?

@ghislaineguerin The user would actually be trying to search the column the mapping table refers to, so should we have provision to search through the referred column of mapping table or point them to visit the mapped table and search there.

[2022-01-14 14:21] dmos62 opened #974 "Restructure our URLs into a hierarchy"
## Problem
Our API router:

[code]

We are treating tables, schemas and databases as being on the same hierarchical level. However, in terms of Postgres, there's [a non-flat hierarchy between these entities](https://www.postgresql.org/docs/9.1/ddl-schemas.html). In specific terms, if we are addressing a table in Postgres (or in Mathesar), it will necessarily belong to a schema, which will belong t

[2022-01-14 15:04] silentninja commented on #944
@mathemancer This is a bit confusing. You mean to suggest we find a unique row pair even though the column itself is not unique but when combined could be unique, is that right?

[2022-01-14 15:25] silentninja commented on #974
I prefer to have it as flat as much as possible. My reasons are:

1. Django prefers to have a flat hierarchy and is structured around it. I would avoid fighting an opinionated framework as much as possible
2. Drf nested routers do not pass the related parent object automatically, so the advantages are pretty limited.
3. It is easier to store the `identifier` of an object and let the object know ab

[2022-01-14 17:09] kgodey commented on #973
@mathemancer Yup, that's fine.

[2022-01-14 17:30] kgodey commented on #974
The flattening of the URL structure was a deliberate choice, see point #4 in our [API standards' "URLs" section](https://wiki.mathesar.org/en/engineering/architecture/api-standards#urls). This follows general RESTful URL standards where resources are at the top level wherever possible (also see [White House API standards](https://github.com/WhiteHouse/api-standards#restful-urls) which inspired our

[2022-01-14 17:49] kgodey commented on #944
@mathemancer I recommend opening a new design issue to consider this after the alpha release so we don't forget about it. It is not part of the current spec.

I like this addition to the algorithm for choosing suggested columns, I will leave it to @seancolsen to make the necessary updates to the issue.

We will not support this per the current spec, the user will have to add FKs in the mapping tab

[2022-01-14 17:55] silentninja commented on #896
I have a few concerns with this change

1. I assume we would use the same format for views too and views might be having computed columns that would not go well with `id`.
2. This would be useful if `filters` are long-lived, but I think we would be creating views rather than storing the filter queries
3. I think we discussed having tables filtered/sorted by a user-specified default in which case w

[2022-01-14 18:04] kgodey commented on #896
We can figure out how to reflect Views when it comes to it, I don't know if we'll end up following the same format or not.

The frontend saves the filter queries that a user was last looking at. We might also cache this in the backend at some point.

I'm not sure what you're getting at here, can you elaborate?

---

The general principle here is the column only has a single identifier throughout t

[2022-01-14 18:19] dmos62 commented on #974
Thanks for the feedback. I'll keep those things in mind.

I did notice that I didn't provide a why. I had a knee jerk reaction to our url scheme, but didn't examine it. If I think about it now, I expected the table index, for example, to uniquely identify the table within a database or a schema, but not within the database cluster. In other words, the universal resource locator didn't seem univers

[2022-01-14 19:19] kgodey commented on #974
Table IDs are indeed universal, they don't depend on the database or schema. The URL wouldn't work otherwise.

Suggesting reforms is totally fine, but perhaps you could instead structure it as a discussion along the lines of? "why are URLs structured this way? it makes more sense to me to structure them in this other way because of reasons X, Y, and Z." I'm wary of creating issues since people not

[2022-01-14 19:33] silentninja commented on #896
We discussed that a table can be sorted by a column and that sorting order can be saved as a table default. So in case we end up not using `id`  I was suggesting an alternate solution where the frontend would send it as `name` and backend would store it internally as `id`

[2022-01-14 20:38] ghislaineguerin opened #978 "Design for List data type"
## Problem
So far, we've been assuming that users will only store a single point of data in any given table "cell". However, PostgreSQL (the database we use) supports the ability to store a list instead of a single point of data.

Lists will be useful in both Tables and Views.

### Lists in Tables
As an example, see this table that stores the mapping between movies and actors:

| ID | Movie | Acto

[2022-01-14 23:02] kgodey commented on #978
Assigned to @ghislaineguerin to review. @ghislaineguerin when this looks good, please change label to `status: ready` and assign to @ppii775.

[2022-01-15 16:34] ppii775 commented on #978
@kgodey @ghislaineguerin

A few questions:
- Are users generating lists from other cells? Or we are just displaying lists for now?
- For a single column, do we allow users to have list data type with different item data types?
- Can one list have items in different data types?
- If these are answered on a PostgreSQL page I can just read that (a link would be appreciated). In general, is Mathesar t

[2022-01-15 22:10] kgodey commented on #978
In Tables, users will be entering list data in individual cells manually, they will not be generating lists from other cells.

When we use lists in Views, users will be generating data from other cells but that is out of scope here and will be handled in a separate design issue.

No, all list items for a single column will be the same data type.

No, all list items in a single list will have the s

[2022-01-16 00:41] ppii775 commented on #978
@kgodey Thanks for your reply!

In other words, users only need to configure the entire column data type at once?

[2022-01-16 02:42] kgodey commented on #978
Users will need to pick the List data type first and then configure the data type of list items once they have picked that. But all the configuration should take place at once, yes.

[2022-01-17 16:33] dmos62 commented on #974
@kgodey I think we're on the same page. I'm closing the issue.

[2022-01-17 16:33] #974 closed

[2022-01-17 19:06] ishqelliot commented on #290
Hey @pavish sorry for responding this late, was caught up in something. have already covered tests for filterUtils, have started on CancellablePromise, will wrap it up in couple of days.

[2022-01-17 20:48] ghislaineguerin opened #981 "Design for handling long lists of tables and views in the sidebar"
## Problem
A design is needed to complete a requirement defined in #723. The requirement is for a design that will solve problems with a long list of tables or views and allow for partial loading of those objects. Additionally, the design needs to define how the full list will be displayed and which navigation controls are needed to navigate from and to that list.

## Proposed solution
Define the

[2022-01-17 20:56] ghislaineguerin commented on #723
Long list handling will be addressed in #981

[2022-01-18 02:39] #387 closed

[2022-01-18 19:52] kgodey commented on #723
Assigning to myself to make implementation issues

[2022-01-18 19:53] kgodey commented on #974
Thanks @dmos62!

[2022-01-19 15:14] mathemancer commented on #973
In that case, I suggest just using the default DB behavior and handling errors gracefully.

[2022-01-19 15:19] mathemancer commented on #944
Yes, exactly.

[2022-01-19 15:21] seancolsen opened #982 "Records fail to load after renaming a table twice"
## Steps to reproduce

1. Rename a table once
1. Observe that the records remain loaded
1. Rename it again
1. Expect records to remain loaded
1. Observe records attempting to load and never succeeding

## Demo

![Peek 2022-01-19 10-17](https://user-images.githubusercontent.com/42411/150160077-dacd3b45-522c-4cf2-a3fa-2ef9c7b06100.gif)

[2022-01-19 15:27] pavish commented on #867
Hey @Carlosbogo, just checking in to see the status of this issue. How's it coming along? Do you need any help from our team?

Please feel free to reach out to us if you do.

[2022-01-19 15:28] mathemancer commented on #896
Views have their own `oid` and the columns in views have their own `attnum`, so it's perfectly fine (with me at least) to give them `id`s.  I.e., we should be creating view column models which inherit from normal table columns, and have a couple extra attributes for their other metadata.  @kgodey If we set things up in Django properly, is it possible for the standard generated Django ids to be "gl

[2022-01-19 15:29] mathemancer commented on #896
Alternatively, we could extend the column model to simply note whether it's a column of a table or of a view, and have some optional fields for view-specific metadata.

[2022-01-19 16:33] kgodey commented on #896
Yup, we can have it be the same Django `Column` model if we want.

I think that's the same thing, not an alternative. We could have separate models for `TableColumn` and `ViewColumn` if we want alternatively.

[2022-01-19 16:45] silentninja opened #983 "Basic components to assist with error handling and adhere exceptions to the Api spec"
## Problem
We need a basic set of components to help with converting existing exceptions to new error spec.
1. A exception handler that is able to capture all exceptions and provide the ability to  extend as needed
2. Error structure that conforms to the API spec to be used when constructing an error
3. Error code unique `Enum` to refer to

## Proposed solution

1. We can override the default Drf

[2022-01-19 16:49] pavish opened #984 "Text overflow should be represented by ellipsis in schema selector"
## Description
In the schema selector, if the name of the schema is large, text overflows and visually breaks abruptly.

<img width="476" alt="Screenshot 2022-01-19 at 10 11 08 PM" src="https://user-images.githubusercontent.com/11850603/150175641-31e48206-afb8-408c-a971-ba50941c4765.png">

## Expected behavior
Overflown text should be truncated and ellipsis should be displayed, as represented in t

[2022-01-19 16:58] pavish commented on #927
I'll defer to @ghislaineguerin to comment on this before we pick up the frontend changes for it.

[2022-01-19 17:15] pavish opened #985 "Clicking on the name in 'Manage Schemas' page should set is as the current schema and redirect to base page"
In the 'Manage Schemas' page, upon clicking on the schema name, we should make it the active schema and redirect to the main page.

<img width="528" alt="Screenshot 2022-01-19 at 10 38 04 PM" src="https://user-images.githubusercontent.com/11850603/150180008-8098932a-73f7-41c7-91e0-117d1d517731.png">

### Expected behaviour
* Click schema selector -> Manage schemas
* The list of schemas in the data

[2022-01-19 18:05] ghislaineguerin commented on #927
@pavish @seancolsen
I think this looks good. I particularly like the idea of having the drop-shadow. Additionally, we should also consider how we represent a cell that might not be editable. Border color makes sense to me and I agree with not having the square.

[2022-01-19 19:07] seancolsen commented on #927
Thanks @ghislaineguerin I'm making this as ready now

[2022-01-19 19:10] pavish commented on #927
We use a gray border when the cell is non-editable. So, I'm concerned about using a black border while editing the cell. Anyone who works on this issue should feel free to experiment.

[2022-01-19 20:16] seancolsen commented on #984
Suggestion to implementer: do this in CSS via `text-overflow: ellipsis;`

[2022-01-19 20:20] seancolsen commented on #982
Here's a very similar bug I just found which I think probably stems from the same underlying problem.

1. Rename a table
2. Sort the table by a column
3. Expect the rows to change position to reflect the sort
4. Observe the row positions do not change

If fixing the "rename twice" issue does not also fix this "sort after rename" issue, then please open a new ticket to track it.

[2022-01-19 20:37] seancolsen opened #987 "Filter/Sort/Group are broken when referencing a deleted column"
## Reproduce

1. Sort a table by one column.
1. Delete that column.
1. Expect the column to be removed from the sort criteria.
1. Observe the sort criteria to still contain the column.
1. Refresh the table.
1. Expect the records to load.
1. Observe an error 400 from the records API when attempting to fetch the records because the sort criteria is now invalid.

## Implementation

- The `Columns` st

[2022-01-19 20:41] silentninja commented on #896
My only concern is that this would limit us from using dynamically computed columns that could be generated by various means like `group_by` but general consensus is to use views, so I am okay with this change.

[2022-01-19 21:14] kgodey commented on #896
If we do expose dynamically computed columns, we won't be using the same models as table columns or view columns to do so since they represent different underlying DB concepts. We can figure out the appropriate architecture for those when we get to them.

[2022-01-19 21:50] #767 closed

[2022-01-20 00:34] silentninja opened #989 "Polymorphic Serializer does not have access to the mapped Serializer"
## Description
Polymorphic Serializer uses a map of Serializers to change the Serializer used based on the mapping field which depends on the data being serialized but custom validators within this mapped serializer do not have access to the fields as the class of the Serializer remains the same as the `PolymorphicSerializier` instead of the mapped serializer.

## Expected behavior
The mapped seri

[2022-01-20 08:04] mathemancer opened #992 "Column selecting operations should use attnum"
## Problem

Currently, most column selection operations are using name or index to identify columns.  This is brittle, and we've decided to change to using the `attnum` property of columns instead.

## Proposed solution

Each function in `mathesar/db/columns/operations/select.py` should use `attnum` instead of `column_index`, and should properly use the `table_oid, attnum` pair to identify columns

[2022-01-20 08:24] mathemancer opened #993 "Column dropping operation should use attnum"
## Problem

Currently, the column dropping function uses the column index to identify columns.  This is brittle, and we've decided to change to using the `attnum` property of columns instead.

## Proposed solution

The function in `db/columns/operations/drop.py` should use `attnum` instead of `column_index`, and should properly use the `table_oid, attnum` pair to identify columns for its logic.  U

[2022-01-20 08:30] mathemancer opened #994 "Column alteration operations should use attnum"
## Problem

Currently, most column alteration operations are using name or index to identify columns.  This is brittle, and we've decided to change to using the `attnum` property of columns instead.

## Proposed solution

Each function in `db/columns/operations/alter.py` should use `attnum` instead of `column_index`, and should properly use the `table_oid, attnum` pair to identify columns for its

[2022-01-20 08:44] mathemancer opened #995 "Column creation and copying should use attnum"
## Problem

Currently, most column creation and copying operations are using name or index to identify columns.  This is brittle, and we've decided to change to using the `attnum` property of columns instead.

## Proposed solution

Each function in `db/columns/operations/create.py` should use `attnum` instead of `column_index`, and should properly use the `table_oid, attnum` pair to identify colum

[2022-01-20 08:54] mathemancer commented on #992
N.B. the `get_column_indexes_from_table` function actually gets `attnum`s, and should be renamed accordingly.

[2022-01-20 09:02] mathemancer opened #996 "Remove `column_index` from MathesarColumn class"
## Problem

Currently, column operations use `column_index` to identify columns.  This is brittle, and leads to bugs.  We've decided to change to `attnum`.  Once this is done, the `column_index` attribute will be extraneous.

## Proposed solution

We should remove the `column_index` attribute of the `MathesarColumn` class in `db/columns/base.py` and make sure nothing breaks.

## Additional context

[2022-01-20 14:16] silentninja opened #997 "Move validation and business logic out of Viewsets"
## Problem

Views should not be dealing with business or validation logic, rather it should be part of serializers or models.
## Proposed solution
1. Move validation logic into respective field validation methods of the serializer if related to a specific field or into the `validate` method of the serializer.
2. Creation and update logic should go into the `create` and `update` methods of the seri

[2022-01-20 15:31] mathemancer commented on #869
@jjram20 Hey, are you still making progress on this issue?

[2022-01-20 19:52] dmos62 opened #1001 "Switch frontend to new filtering API"
Over on the backend, we seem to have converged on a filtering API that we're happy with (relevant [PR](https://github.com/centerofci/mathesar/pull/921)). The purpose of this thread is to discuss the proposal with the frontend team.

To understand the new filtering API, it's probably best to forget about the current/previous API, since there's hardly any things in common. The new API is more powerf

[2022-01-20 20:41] #989 closed

[2022-01-20 21:17] kgodey opened #1002 "Support preexisting PostgreSQL generated columns"
## Problem

Tables can have generated columns. Mathesar does not handle these currently.

## Proposed solution

For the alpha release, we will not worry about allowing users to create generated columns through Mathesar.  However, users may connect Mathesar to a pre-existing database with a table that contains generated columns and we should show those correctly in the UI.

## Additional context

h

[2022-01-21 01:17] pavish opened #1003 "Preview table creation fails for headerless csvs when first row's column value is empty"
## Description
The post request to create the preview table fails when using a headerless csv which has empty values for some columns in the first row. While from a table creation standpoint this is expected, we should rather be generating column names ourselves for such cases.

## To Reproduce
* Upload the headerless file from `/mathesar/tests/data/headerless_patents.csv`
   * The first row for t

[2022-01-21 01:23] pavish opened #1004 "Infinite requests from frontend when file upload preview fails"
## Description
When uploading files, if the preview load fails, the frontend keeps sending requests to load the preview while it should stop after a single error.

## To Reproduce
* Click New Table -> Import Data -> File
* Upload the headerless_csv file from `/mathesar/tests/data/headerless_patents.csv`
* Preview table creation for this file fails due to bug mentioned in https://github.com/centero

[2022-01-21 11:21] pavish commented on #1001
@dmos62 I really really like the hints representation and I imagine it must have been quite fun implementing it.

It suits all usecases from the backend and api perspectives, if a user is to manually look at things and form the query. However, we would require additional information and possibly some change in the json structure for being able to use this on a client.

Following are some of my top

[2022-01-21 11:23] pavish commented on #1001
## 1. Provide a role for each function.

**Problem:**

From any frontend client perspective, it is absolutely essential to know what each function does i.e what kind of function it is.

Both `and` and `empty` returns boolean but they differ significantly on what they do, so it's hard for clients to differentiate them. This will lead to having to hardcode the functions on the client, making the pur

[2022-01-21 11:27] pavish commented on #1001
## 2. Hints seem to represent both properties and arguments for functions. Split hints into `properties` and `parameters` and represent `properties` as JSON object.

**This is only regarding the json and not the internal representation.**

Problem:
* Hints as an array makes it very hard for clients to manipulate, since hints represent everything from functions, arguments, properties of functions.

[2022-01-21 11:28] pavish commented on #1001
## 3. Provide additional properties for specific functions. (This builds on top of [2](https://github.com/centerofci/mathesar/issues/1001#issuecomment-1018422896))

Problem: Certain functions like `list` might require additional restrictions such as what type of properties to accept. We do not have a way to represent it yet.

Suggestion:

  Add additional meta information like `allowed_parameter_t

[2022-01-21 11:30] pavish commented on #1001
## 4. If possible, add names for parameters, so that requests can use the name instead of relying on index. (This builds on top of [2](https://github.com/centerofci/mathesar/issues/1001#issuecomment-1018422896))

Problem: Relying strictly on index would make it hard to use the api in the long run, especially when complex functions are involved and index strictly matters. This is not a priority but

[2022-01-21 11:31] pavish commented on #1001
## 5. For the db_types endpoint, rename `hints` and alter structure for better readability.

Readability suggestions:
* Rename `hints` to something more readable like `extends` or `implements`.
* Change structure from `array.{id}` to just an array with ids, since this endpoint only represents what each db type is.

[code]

[2022-01-21 11:52] pavish commented on #1001
I'm also assigning the backend team to this issue since the suggestions include some significant changes in the JSON structure.

[2022-01-21 13:54] silentninja opened #1008 "Set up style guide and tooling for consistency in backend code"
## Problem
Right now the backend code has inconsistent styling in few places though they are all valid according to flake8. We should aim to have a style guide that should be followed as much as possible and convert the existing codebase to follow that styleguide

## Proposed solution
Come up with a draft of style guide + associated tooling (linters, formatters, etc.), then discuss with the rest o

[2022-01-21 14:13] dmos62 commented on #1001
Thanks for the detailed and very well structured feedback, @pavish!

Reading your suggestions I think I know where you're coming from. I wrote the previous revision of this refactor in a spirit similar to what you're talking about. I'd sum it up with the word strict, maybe? After discussing that previous revision amongst ourselves, we decided to go for another iteration, aiming for something relax

[2022-01-21 15:12] dmos62 commented on #1008
Part of this is a copy-paste of a comment I left in Matrix.

The issue is called "Backend Codebase should follow consistent coding style", but I think that's too strong of a statement. I was expecting to discuss adding automatic formatting rules.

Style is not a very well defined term. I'd say we should discuss the formatting we use and/or want to enforce.

[2022-01-21 16:21] silentninja commented on #1008
We definitely cannot expect 100% consistent codebase, but we can add a few rules that would choose one style over the other when given two sensible options

[2022-01-21 17:23] pavish commented on #1001
Okay, I understand the hints structure more clearly now. But there are a few points I feel strongly about and few more lingering questions.

It's relaxed and simple on the backend and a ton of work on the frontend and for clients. :)
We aren't removing load, we're placing it on a different area.

## Some questions first

1. By using the hints structure, this cannot be constructed easily: `extract_

[2022-01-21 17:38] kgodey commented on #1001
@pavish @dmos62 I haven't read through all the earlier comments but I'd like to reiterate my idea from the other thread of keeping the `functions` endpoint as-is and setting up a separate frontend client specific API that uses the same backend code but designed to solve the problems of the frontend more easily. Perhaps something like `/client-api/v0/filters/`. (note the new `client-api` namespace,

[2022-01-21 17:42] pavish commented on #1001
@kgodey Makes sense. I would suggest taking a look at the format mentioned [in this comment](https://github.com/centerofci/mathesar/issues/1001#issuecomment-1018711281) for the frontend specific API.

[2022-01-21 19:53] #983 closed

[2022-01-21 20:26] kgodey commented on #1001
I'll leave it to @dmos62 to come up with a proposal for this.

[2022-01-24 03:15] mathemancer commented on #1008
As I argued on Matrix:  I think the easiest way to get this off the ground quickly would be with the [`black`](https://pypi.org/project/black/).  I recognize that it's overly opinionated, and we may disagree with some of its formatting (I know I do).  I also remember that these reasons are why we removed it from the pipeline initially.  However, `black` is also completely hands-off.  We just run i

[2022-01-24 03:26] mathemancer commented on #1002
Note that generated columns can only be generated by operations on other columns of the same table or immutable functions that take other columns of the same table as their only input.  So, the "data source" concept should take that into account.  They also can't be written to, unlike some columns of views.

[2022-01-24 12:24] pavish commented on #376
Hey @HenryRocha, just checking in to see the status of this issue. Are you working on it? Do you need any help from the team?

[2022-01-24 12:30] pavish commented on #789
This issue also depends on the new filters structure.

Blocked by #1001 and #500

[2022-01-24 13:10] mathemancer commented on #430
@kgodey I don't think we should add any parsing in python for this, since the libraries you mentioned are less featureful than the native PostgreSQL parsing.  Both understand fewer strings.  For output and viewing, I think we should actually use strings rather than the default python `datetime`.  Unless we have reason to work with these in python, that is.  The reason is that the `datetime` in pyt

[2022-01-24 13:24] pavish commented on #918
This issue is closed, and is followed up by https://github.com/centerofci/mathesar/issues/964

[2022-01-24 13:24] #918 closed

[2022-01-24 14:57] dmos62 commented on #1001
@pavish

It's because of how `DbFunction` works. We can either have a complicated (hard to maintain, etc.) deserialization and application scheme, or we can simplify the interface, where a list, a column reference and a literal are explicit DbFunction subclasses and the corresponding logic is defined on the subclass just like it is for any other DbFunction like `In` or `StartsWith`. Then there are

[2022-01-24 14:57] dmos62 commented on #1001
I would be interested in hearing @mathemancer's opinion.

[2022-01-24 15:00] dmos62 commented on #1001
I realised that on the frontend you do know the type of the referenced column. Duh. Generics is starting to look more useful.

[2022-01-24 15:30] dmos62 commented on #1008
I wish we could have personal setups and a single neutral rule-set for the repository. We apply black to what we check out to personalize the code, then we apply black to de-personalize when commiting. Not sure if that's feasible.

Totally tangential, but I feel like code versioning systems should account for the fact that there's a lot of changes you can make to code that only affects its formatt

[2022-01-24 16:11] pavish commented on #1001
@dmos I am quite fine with the backend code keeping things simple with the hints structure, what I do not want is for the API to behave the same manner.

I do not understand why the API needs to be loose. When you say users may want it, who does "users" refer to?

As far as I can see, the whole "functions" endpoint is only useful for those building "General purpose" clients, and never for specific

[2022-01-24 17:04] kgodey commented on #430
@mathemancer and I discussed this during our check-in today and it sounds fine to me. The plan is to create a custom SQLAlchemy type to handle `INTERVAL` DB types.

[2022-01-24 17:11] kgodey commented on #1008
@mathemancer and I discussed the usage of `black` during our check in call today. I don't think the issues we've been facing with code reviews are because of formatting, it's because of different views on code structure and readability. It's better to address those issues as they come up and creating a style guide and using as much linting as we can to enforce the style guide. This will probably i

[2022-01-24 17:36] pavish commented on #1001
@dmos62 I can see that you agree with (or atleast consider) the usefulness of `generics` and `named parameters`. So, I'll skip further arguments in support of them.

Let me focus on the point we disagree upon. Also, let us refrain from talking about the internal representation on the backend. I'm only concerned on the API representation.

I am in favour of a more obvious API where:
* Function decl

[2022-01-24 19:05] seancolsen opened #1014 "Continue looking for available names when an auto-generated constraint name is unavailable"
## Summary

When the API receives a POST request at `/tables/{table_id}/constraints/` without a `name` parameter, it will auto-generate a constraint name. If the name it auto-generates isn't available, it will give up, returning an error.

## Reproduce

1. Add a new empty table named `foo_bar_key`.
1. Add a new table with imported data by pasting the following and setting the table name to `foo`.

[2022-01-24 21:46] dmos62 commented on #1001
That's a good summary of your position, I think.

------

That's a good point. I'll see if I can minimize the "specialness" down to inputs of `column_reference` and `literal`. Hints with ids like `column_id` and `literal`.

-----

Yes, that's one of the goals of this revision. Ultimately we want an interface (or at least we were imagining an interface) where the user is unconstrained in what expre

[2022-01-25 03:59] pavish commented on #1001
The ideal UI for the hints structure would be a query editor based UI with suggestions, where the user can directly write queries and the editor should show hints.

Any other UI (eg., our current UX) _cannot_ be implemented **if the functions are invalid or incomplete**. If I do not know the return type of a function, I cannot compose it in other functions. Similarly if I do not know acceptable pa

[2022-01-25 05:30] silentninja opened #1018 "Replace Generic exceptions with Custom Exception"
## Problem
Generic exceptions with error messages are difficult to map to an APIException with the correct error code which is needed to conform to the API error spec since `Exception` raised contains only an error message.

## Proposed solution
Replace `Exception` calls with the custom Exception class inherited from the `Exception` class. This helps in distinguishing the error that is thrown inst

[2022-01-25 08:03] silentninja opened #1019 "Meta APIException classes to convert broad exception into specific exceptions"
## Problem
Errors like `IntegrityError` are broad and encompasses specific exceptions which can be found by inspecting `orig` field. So we end up having to use repeating logic to get the specific exception
## Proposed solution

We can have an `APIException` class that can take in an `IntegrityError` for example and in runtime using the magic of `MetaClass` can convert into proper `APIException` cl

[2022-01-25 08:15] #1018 closed

[2022-01-25 08:18] silentninja commented on #1018
Closed it as all the generic exceptions seem to be covered by [Error handler PR](https://github.com/centerofci/mathesar/pull/1016)

[2022-01-25 09:06] dmos62 commented on #1001
I'll just make two quick points.

User developers are users that happen to be developers too. They might not be the primary user group, but we're looking for a way to accommodate them as well.

A totally hint-constrained UI can be constructed too: just disregard database functions that aren't described fully enough. That would suit the current UX design. I presumed that that's what we would do in

[2022-01-25 10:54] silentninja commented on #839
@kgodey Should these be part of the `Initial data type` milestone or improvements as the broken down issues seem to be part of improvements?

[2022-01-25 11:35] github-actions[bot] opened #1020 "npm audit found vulnerabilities"
Edit: **Blocked because our direct dependencies have not been updated yet (eg., Storybook).** ([discussion](https://matrix.to/#/!UnujZDUxGuMrYdvgTU:matrix.mathesar.org/$lQjgziZVH6pbMYGIKRkEE3TC6ApAV05doQDtuaVc2LM?via=matrix.mathesar.org&via=matrix.org))

[code]

[2022-01-25 11:43] silentninja opened #1021 "Add exceptions to the error handler's exceptions map"
## Problem
We need a [standardised error format](https://wiki.mathesar.org/en/engineering/standards/api#errors) for the API's but most of the exceptions don't have a standardised format, so we have a wrapper APIException around the known exceptions(IntegrityError, ProgrammingError). Most of the exceptions are handler by Serializer or gets captured by the Views and get converted into APIException.

[2022-01-25 11:45] silentninja commented on #1021
Blocked by #1016

[2022-01-25 12:26] silentninja opened #1023 "Categorize errors more specifically instead of throwing broad exception"
## Problem
Most of the errors are very broad(`IntegrityError`, `DataError`), we would need to split them up into specific errors so that we could point the user to the correct call-to-action

## Related Context
* #1019 - Intentions are similar but implementation details are different, can co exists with each other.

[2022-01-25 13:03] dmos62 commented on #1001
@pavish There's another tid bit to consider.

Even novice users will probably want to do things like `contains(extract_uri_authority(column_reference("some_uri_column_id")), "authorityx")`. I don't think that our current UX designs support multi-step filtering, where you first preprocess some data (e.g. extract the authority part from a URI) and then apply a boolean-returning function to it (e.g.

[2022-01-25 13:13] pavish commented on #1001
@dmos62 Our current UX cannot support multi-level composition and we will have to design another for advanced users (note: advanced _does not mean_ technical).

We can figure out when we might want such an UX, I'd say probably right after the alpha. @kgodey We'd like your thoughts on this.

I've not been focusing on the UX we have at hand for this discussion, but rather the ability to support comp

[2022-01-25 16:38] kgodey commented on #1001
We had a call about this, [notes and next steps are here](https://wiki.mathesar.org/en/meeting-notes/2022-01).

I think it probably makes sense to close this issue and open a new one for implementing the filtering API @dmos62.

[2022-01-25 18:43] #290 closed

[2022-01-25 20:48] kgodey commented on #839
@silentninja nice catch, I moved the broken down issues to `Initial Data Types` as well. I think it makes sense there since we're expanding the usage of columns through display options in that milestone.

[2022-01-26 01:02] silentninja commented on #1019
Blocked by #991

[2022-01-26 01:03] silentninja commented on #1023
Blocked by #991

[2022-01-26 12:27] #1001 closed

[2022-01-26 22:44] kgodey opened #1027 "Create engineering implementation issues for Views"
## Problem

Once design specs are completed for #442, we need to create issues for the engineering team to actually implement the feature.

## Proposed solution

Create GitHub issues that cover all aspects of the spec.

## Additional context

Design specs to cover (will be updated as new specs are created):
- https://github.com/centerofci/mathesar-wiki/pull/16
- https://github.com/centerofci/mathe

[2022-01-26 22:45] kgodey commented on #1027
Blocked by design issues being completed.

[2022-01-26 22:46] kgodey commented on #455
I'm tracking creating implementation issues in #1027 so I'm closing this issue.

[2022-01-26 22:46] #455 closed

[2022-01-26 22:46] kgodey commented on #723
I'm tracking creating implementation issues in #1027 so I'm closing this issue.

[2022-01-26 22:46] #723 closed

[2022-01-26 23:15] kgodey opened #1028 "Improve support for finding duplicate rows"
## Problem
We have implemented a filter to identify duplicate rows. However, after implementing it, we've realized that it doesn't make sense as a filter like our other filters.

Our other filters work the same regardless of the order in which they are applied. This is not the case for "has duplicates". Depending on the other filters applied, we may end up returning different results and confusing

[2022-01-26 23:21] kgodey opened #1029 "Split up existing APIs into "DB" and "UI" namespaces"
## Problem

During [a recent meeting](https://wiki.mathesar.org/en/meeting-notes/2022-01#2022-01-25), we decided to split up the APIs into two namespaces.

## Proposed solution

We should split up our API into two namespaces, e.g. `/db-api/v0/` and `/ui-api/v0/` or something like that.

### UI API
This is for Mathesar UI-specific abstractions and functionality, examples include:
- Mathesar data ty

[2022-01-26 23:23] kgodey commented on #1029
I'm putting this in the "Links between Tables" milestone. Since one of the APIs listed is the linking tables API, it seems like a good target to have the APIs split up by then.

[2022-01-27 01:06] seancolsen commented on #1029
Will the two namespaces be versioned separately? If so, then `/db-api/v0/` and `/abstractions-api/v0/` make sense. However, if they'll be versioned together, then I think `/api/v0/db/` and `/api/v0/abstractions/` would be more semantic.

[2022-01-27 03:29] kgodey commented on #1029
I think they should be treated as separate APIs and versioned separately. `/api/v0/db/` and `/api/v0/abstractions/` also seem like `db` and `abstractions` are resources offered by the API (like tables, schemas, etc.)

[2022-01-27 12:37] dmos62 commented on #1029
I think so. An abstraction endpoint can change without anything in the db API changing and vice-versa.

[2022-01-27 13:16] mathemancer commented on #845
After fiddling / struggling with the `INTERVAL` type quite a bit, my preferred option is to use a string conforming to ISO8601 as the canonical representation for all date, time, datetime (timestamp), and duration (interval) types.  When querying / selecting, this would be what's returned by the API.  For inserts, the front end could either send along the string as the user inputs it, or optionall

[2022-01-27 13:29] kgodey commented on #1029
I updated the issue description to change the names to `db-api` and `ui-api`, I think that's more concise and less ambiguous.

[2022-01-27 14:13] seancolsen commented on #845
@mathemancer

Just to make sure I understand your question correctly, you're proposing that we standardize the API to always transfer date, time, date-time, and duration data as a string in conformance with ISO-8601. Correct? This would be opposed to, say, transferring a date as a unix timestamp number or as a formatted string like "Jan 27, 2022". If I'm understanding correctly, then yes! That sou

[2022-01-27 14:28] mathemancer commented on #845
@seancolsen Yes, that's what I'm proposing.  Note that the ISO8601 format is pretty ugly by default.

[2022-01-27 14:34] mathemancer commented on #845
It wouldn't break anything to introduce later.  It would be strictly additive.  The reason I want to hold off is that only a few countries care about week numbers, and it adds a bunch of pain to the implementation.  However, it _is_ a feature that Germans using the product would probably expect.

[2022-01-27 15:35] kgodey commented on #845
I think it's fine to use ISO8601 representations in the API and rely on the frontend to do date/time parsing when interacting with the API.

We will still need to parse dates, times, and durations in the backend while doing imports. @mathemancer, it sounds like we're going to rely on default Postgres parsing here. Can you document what formats it supports or link to it when you write the spec? We

[2022-01-27 17:16] silentninja commented on #640
@seancolsen Can this issue be marked as started?

[2022-01-27 17:22] seancolsen commented on #640
@silentninja sure, I just marked it as started.

[2022-01-27 19:39] seancolsen opened #1030 "Improve failure behavior of constraints endpoint"
## Description

This ticket lists many small (somewhat independent) problems with the response of the constraints API when subjected to POST requests containing invalid data.

## Caveats

- I tested the constraints API using the changes for #1026, which I'm presuming will soon be merged.
- I'm not mentioning some of the more obvious failure cases which also have the problems with non-conformant re

[2022-01-27 21:47] kgodey commented on #846
I'm going to close this issue since we've opened a new design issue to reevaluate the design. See #1028.

[2022-01-27 21:47] #846 closed

[2022-01-28 05:57] pavish commented on #845
I also agree that it is better to always use one particular format, in this case ISO8601, for data returned by our APIs.

The frontend can format it for display however required.

[2022-01-28 08:50] mathemancer commented on #845
Sure thing.

[2022-01-28 13:26] dmos62 commented on #1028
I'll reiterate how I see a transformation like duplicates-only working in the distant future.

In general, to see only duplicates, you have to perform these steps:
- Look at which rows are unique on some column
- Group them together
- Introduce a new column containing the group-size of that row
- Filter based on whether the group-size is more than 1

At the moment, we are encapsulating all of the

[2022-01-28 18:47] #877 closed

[2022-01-31 19:45] #939 closed

[2022-01-31 22:53] #883 closed

[2022-02-01 19:08] seancolsen commented on #775
This should be ready to implement now that #859 is closed

[2022-02-02 10:04] dmos62 opened #1036 "Inconsistent database type name casing in backend code"
## Description

At the moment database type names have inconsistent casing applied in different parts of our code. Namely:

- our enums in`db.types` have lowercase values,
- while `db.columns.base.MathesarColumn.plain_type` returns uppercase values,
  - which effectively means that our Django models use uppercase database type names.

Also, interestingly `db.types.operations.cast::get_robust_suppo

[2022-02-02 10:25] dmos62 opened #1037 "Add database type alias information to database type endpoint"
## Problem
We have some db types that are equivalent. In such cases, we want to tell the frontend which of those types is the default or canonical one, so as to prevent it from having to hardcode it. E.g. `DECIMAL` and `NUMERIC` are [different in the SQL standard, but equivalent in Postgres](https://stackoverflow.com/questions/33730538/difference-between-decimal-and-numeric-datatype-in-psql) and t

[2022-02-02 15:40] dmos62 opened #1038 "Automatic Hint Reflection"
## Problem
We’re currently working on a hint system that would allow us to assign useful information to functions and types. Currently, the hints are compiled by-hand, which could become cumbersome if the number of functions or types exploded. Also, user developers might find the hint system a barrier to using their own functions or types (though we're working to minimize that).

## Proposed solut

[2022-02-02 15:59] kgodey commented on #1037
I like option 1 because the frontend will have a "canonical" type to default to when a user is creating a new column.

[2022-02-02 17:33] seancolsen opened #1039 "Suggest additional columns to users when customizing the Record Selector"
## Problem

If the user customizes the column list for a table's Record Selector, the user might not understand the importance of choosing a list of columns which _uniquely_ identifies records.

### Example

1. We have a `person` table as follows:

    | id | prefix | first_name | middle_name | last_name | suffix | birth_date |
    | - | - | - | - | - | - | - |
    | ... | ... | ... | ... | ... |

[2022-02-02 17:35] seancolsen commented on #944
I opened #1039 to splinter off the feature of suggesting additional columns to users during the column customization process.

[2022-02-02 17:38] seancolsen commented on #944
I've updated the description to reflect resolution of all the above discussion and marked this as ready for implementation now. We also had a brief [discussion in Matrix](https://matrix.to/#/!vAyoAQoixqNrvBuIcH:matrix.mathesar.org/$DDsuYVz0frNeitHm504a9IqELPHWnq7erkDM6Oi5r1A?via=matrix.mathesar.org&via=matrix.org) about this today, making sure everyone is copacetic.

[2022-02-02 20:03] mr-gabe49 opened #1040 "Focus state being reset by browser in pagination component"
Pagination component improvement:

_Originally posted by @pavish in https://github.com/centerofci/mathesar/pull/963#discussion_r797843537_

Issue:

1. Ellipsis is shown and user clicks on it (i.e the arrow).
2. The page number changes but ellipsis/arrow is now not present because it is not required. Eg., Ellipsis is present when active page is 7. Clicking on it changes active page to 2, and ellips

[2022-02-02 20:44] kgodey commented on #944
@seancolsen I made a small update about the API paths, right under the "Specs" heading.

[2022-02-03 03:16] #497 closed

[2022-02-03 03:21] #531 closed

[2022-02-03 03:24] #914 closed

[2022-02-03 05:21] pavish commented on #292
The following still needs to be handled as part of this issue:

* Write tests for the Pagination svelte component

We already have tests for paginationUtils as part of https://github.com/centerofci/mathesar/pull/925

[2022-02-03 10:23] #623 closed

[2022-02-03 18:45] seancolsen opened #1042 "Refactor CSS to avoid `!important` in component library"
For example, the `InputGroup` component introduces CSS which uses `!important`. I'm fine using `!important` in Mathesar CSS, but I think we should strictly avoid it within the component library since we are aiming for components which can be re-styled.

[2022-02-03 18:46] seancolsen commented on #971
I splintered off some of the content that was originally in the body of this ticket and put it into #1042

[2022-02-03 18:47] seancolsen opened #1043 "Refactor CSS to avoid unnecessarily specific selectors in Help.scss"
## Problem

In #1024 I had to use a couple awkward CSS selectors, `button.dropdown.trigger.no-arrow.help-trigger` and `.dropdown.help-content` because I was fighting against the specificity of the CSS within the lower-level components.

Ideally the `Button` and `Dropdown` components would be structured to allow other components to compose them without needing such lengthy CSS incantations to reset

[2022-02-03 19:03] silentninja opened #1044 "Add new docker service for integration tests"
## Problem
#639 Introduces integration testing environment which brings a new `DockerFile` and uses a different Linux image, which takes time to build. Moreover having to switch between different `Dockerfile` makes development harder.
## Proposed solution
Use a different docker service for integration tests.

## Additional context
- Discussion on https://github.com/centerofci/mathesar/pull/746

[2022-02-03 19:20] kgodey commented on #1044
I updated the issue with a link to the (long) discussion we had on this topic in the E2E setup PR. Whoever is working on this should read through that thread because @pavish tried a lot of different things before settling on this setup.

[2022-02-03 19:47] seancolsen opened #1045 "Gracefully handle new API error structure in toast messages"
## Reproduce

1. Use the front end
1. Attempt to disallow duplicates for a column that contains duplicate values.
1. Observe a toast message:

1. Using dev tools, observe that the server is responding with the following JSON which is why we see "[object Object]" in the toast message.

[code]

1. Expect a toast message:

## Solution

We should handle this at a low level automatically so that Svelte

[2022-02-04 00:20] silentninja commented on #944
@dmos62 Can you remove your assignment if you finished sharing your feedback on this issue?

[2022-02-04 03:12] mathemancer commented on #1036
The goals of the current setup are as follows:

- input should be case-insensitive (this is because non-quoted `name`s in PostgreSQL are case-insensitive).
- Display (output) should be upper-case.

The first behavior listed is part of the SQL spec, and I strongly recommend we avoid changing it.  This is the reason for the "robust" type name mapping.  It generates a type map that's case-insensitive

[2022-02-04 08:43] mathemancer commented on #1038
Function signatures (including output type) can be easily(ish) reflected for any DB function that I'm aware of (including infix operators).  Irritatingly, infix operators are implemented under the hood as non-overloaded prefix-notation functions, so sorting out the overlap there might prove a bit tedious (since the operators are overloaded and point to multiple prefix-notation functions).  The sig

[2022-02-04 09:07] mathemancer commented on #1037
A couple of quick notes/details:

- There's a "canonical SQL name" for each type available from the `pg_catalog.format_type` system function.  (we'd have to do a bit of mapping from aliases to their OIDs to look this name up).
- Oddly, while it's not too hard to find the OID of, e.g., `VARCHAR`, I can't figure out how to find the OID of `DECIMAL`.  Hmm.

[2022-02-04 10:52] dmos62 commented on #1008
I've looked at black's style guide: https://black.readthedocs.io/en/latest/the_black_code_style/current_style.html and I really liked it. It should solve some pain points that I've been experiencing.

I'm antsy to try it out on our codebase to get a better picture of the effect. I don't feel like I have an hour to burn at the moment. If anyone would like to do it, go ahead!

[2022-02-04 15:07] dmos62 commented on #1037
@mathemancer Do you think this is worth reflecting? I think at the moment the only types that are equivalent are `DECIMAL` and `NUMERIC`, so let's hardcode it backend.

By the way, I'd say that `DECIMAL` should be canonical. The difference between an integer and a "numeric" is ambiguous, but the difference between an integer and a decimal is obvious.

[2022-02-04 15:17] dmos62 commented on #1036
I guess a way to satisfy both those goals is to always uppercase type names. That would include:
- when an API ingests a type name, uppercase it
- uppercase the `db.types.base` enum values

[2022-02-04 15:57] kgodey commented on #1037
@dmos62 Those are not the only types that are equivalent, there's also `VARCHAR` and `TEXT`, IIRC. Please do some research and find any others.

We should use whichever type Postgres uses as canonical as canonical in our API.

[2022-02-04 16:02] kgodey commented on #1038
This issue is meant to be a GSoC project, let's defer further work until someone shows interest.

[2022-02-04 16:09] seancolsen commented on #619
We made some progress towards this ticket in #826 but there's still quite a bit more work to do cleaning up errors before we can turn on strict mode.

It's a little hard do imagine finding the time to prioritize that clean-up work before our Alpha release.

Also, I'm noticing new code that will add more type errors once we turn on strict mode, so we might find ourselves chasing a moving target to

[2022-02-04 16:22] kgodey commented on #1008
@dmos62 I'm very skeptical of `black`, see my previous comment. Please wait until I have time to work on this, hopefully in the next week or two. Once there's a concrete proposal for styling, it will be easier to discuss.

[2022-02-04 17:08] dmos62 commented on #1008
@kgodey my idea is let's run black and look at the output. Then we have something to talk about.

I haven't looked at its style configuration, but it mentions that it purposefully doesn't offer a lot of options.

[2022-02-04 17:11] kgodey commented on #1008
@dmos62 We already did that early on in the project and then disabled it. I've also used it at previous workplaces.

[2022-02-04 17:37] pavish commented on #619
@seancolsen I think this approach sounds good. Let's move forward with it.

[2022-02-04 22:43] kgodey commented on #960
Now that the design for this is done, we need to make sure the backend reflects the new types correctly. We should make sure the Mathesar Types API, display options, etc. all work correctly based on the new design.

[2022-02-07 13:56] dmos62 opened #1050 "Fix checks for whether a database type is installed"
## Problem description

While reviewing #1022, @mathemancer noticed that some of our methods used to determine whether or not a database type is installed on the database are problematic. The following comment by @mathemancer gives hints:

Mentioned code areas:

- `db/types/base.py::get_available_types`;
- `db/types/operations/cast.py`.

## Expected outcome
Refactor relevant files and methods to h

[2022-02-07 14:06] dmos62 commented on #1050
@mathemancer To be clear, the problem is using `engine.dialect.ischema_names` to check whether a type is on the database? Since the "engine mapping", as you've called it, is not proxy for what is installed on the database?

So is this `get_available_types` method the root of the problem?

[code]

Below is what I did to get the installed functions.

[code]

Is the solution to do the same for types?

[2022-02-07 14:32] mathemancer commented on #1037
Some examples are:

- `CHARACTER` and `CHAR`
- `CHARACTER VARYING` and `VARCHAR`
- `BOOL` and `BOOLEAN`

Maybe more.  I really think we should reflect; I'm not sure how else we can be confident we've caught most cases.

[2022-02-07 14:45] seancolsen commented on #475
@kgodey Can we defer this feature until after the alpha release? Users should be able to use Mathesar without this feature, and as @pavish [mentioned above](https://github.com/centerofci/mathesar/issues/475#issuecomment-999574743), there are some tricky considerations to take into account during implementation.

[2022-02-07 15:22] #964 closed

[2022-02-07 16:30] seancolsen opened #1051 "Provide detailed error info for POST to records API when in violation of a not-null constraint"
## Current behavior

1. Set up a table which contains a `NOT NULL` column.
1. POST an empty request (`{}`) to the `records` API (e.g. by clicking the `+` icon to add a new row to the table).
1. Observe the following response:

[code]

1. Within the response, observe no easy way to identify _which column_ (or columns) was responsible for the error.

## Expected behavior

- For #775, we need enough

[2022-02-07 16:33] seancolsen commented on #858
@silentninja

Cool thanks. I'll close this ticket then.

[2022-02-07 16:33] #858 closed

[2022-02-07 16:55] kgodey commented on #1051
@seancolsen Since there's already a draft for #896, I think it's fine to wait until it's complete.

[2022-02-07 16:56] seancolsen commented on #1051
Cool thanks @kgodey I'm marking this as blocked by #896 then.

[2022-02-07 16:57] seancolsen commented on #896
I moved this to [06] Working with Tables](https://github.com/centerofci/mathesar/milestone/8) because it it blocking some other work in that milestone.

[2022-02-07 16:58] kgodey commented on #1037
@mathemancer I guess I didn't recall correctly. We still need a way to let the frontend know that the options for `TEXT` and `VARCHAR` are the same, though (unless they're different? If so, how are they different?)

[2022-02-07 17:04] silentninja opened #1052 "Slow Response Time in case of unhandled Exception"
## Description

When an exception is raised on the backend and does not get captured on the backend, the error response takes a long time to be generated.

## Expected behavior
The Error Response should not take too long

## To Reproduce
1. Remove the catch block so that the exception is unhandled.  https://github.com/centerofci/mathesar/blob/5a6db9fa8e34bedd921304fe87f51d785a1e85ec/mathesar/api/v

[2022-02-07 20:44] seancolsen commented on #1044
Yes. I want to reiterate this point and elaborate a bit in case others are not seeing the difficulty here.

I've been toggling between different git branches as I work on different tickets. I've frequently had to run `docker-compose up --build`. Because I'm using the E2E Dockerfile, every time I need to build, I need to:

1. edit `docker-compose.yml`
2. `sudo rm -rf .volumes/`(Wiping away the samp

[2022-02-08 11:53] dmos62 commented on #1037
I agree that we'd want to reflect this in the long run. But, I'm still suggesting to hardcode it (for the time being), _if_ that will save time in the short run.

[2022-02-08 13:12] pavish opened #1054 "Remove url prefixing on frontend"
## Description

Currently, the frontend appends a url prefix `/api/v0` in the api util. This was implemented earlier for two reasons:
* Inorder to easily update the api version for future releases, considering the client updates it all with each release.
* Inorder to avoid explicitly adding this to everywhere we need to make a request.

However, with the changes done for https://github.com/centero

[2022-02-08 15:57] seancolsen opened #1055 "Fix all ignored TypeScript errors"
## Historical context

We started the Mathesar frontend with pretty loose TypeScript rules. Then in #619 we decided to enable strict mode. However at that point we already had a substantial amount of code so we decided to explicitly ignore most of the strict errors in the codebase just so that we could get strict mode turned on.

## Current behavior

- The codebase has over 100 errors explicitly i

[2022-02-08 23:28] kgodey commented on #1037
Agreed on hardcoding if it will save time.

[2022-02-09 01:21] seancolsen commented on #775
In a separate [discussion](https://github.com/centerofci/mathesar/pull/1053#issuecomment-1032841315), we came to the conclusion that we should shift the "NOT NULL" validation responsibility to the front end. This means that before sending the API request to create an new empty record, we'll check the columns store to see which columns have a NOT NULL constraint. Then we'll provide some UX for the

[2022-02-09 04:03] sanjeevbhusal commented on #1054
Hey, is anyone assigned to it?

[2022-02-09 05:26] kgodey commented on #1054
@sanjeevbhusal Not yet, do you want to work on it?

[2022-02-10 01:51] seancolsen opened #1059 "Provide detailed error info for POST to records API when in violation of a unique constraint"
## Current behavior

1. Begin with the following data:

[code]

1. View the table in Mathesar.

1. On row 8, edit the value for `instrument`, changing "vocals" to "drums".

1. Observe a PATCH request to the records API.

1. Observe the response to have HTTP status code 500. Expect a 4xx code instead.

1. Observe the response body as:

[code]

1. Expect the response to give the client a way to dete

[2022-02-10 12:41] dmos62 commented on #1008
I'll include another link here to the code-style guidelines/tooling discussion thread, since we seem to be discussing this on two threads simultaneously: https://github.com/centerofci/mathesar/discussions/1007.

[2022-02-10 18:54] #1029 closed

[2022-02-11 02:53] #619 closed

[2022-02-14 07:51] #420 closed

[2022-02-14 11:16] kgodey opened #1063 "Money type design updates"
## Problem

We have updated our custom money type implementation plan and we need to update our design specs accordingly. Currency will now be set using display options instead of database options.

We will show existing columns using the PostgreSQL Money type under Money types as well. That type does not support changing the currency - the currency is set at the database level.

## Proposed solut

[2022-02-14 11:17] kgodey commented on #417
I'm going to close this issue since we decided against a custom money type after trying a couple of implementations. We'll be using display options on Number types to represent money (for now), see https://github.com/centerofci/mathesar/issues/1063.

[2022-02-14 11:17] #417 closed

[2022-02-14 11:31] kgodey opened #1064 "Ensure that we can set, get, and delete default values for all types"
## Problem

We need to make sure that we can set, get, and delete default values for all supported DB types.

## Proposed solution

Ensure that tests exists for this functionality for all supported DB types, write new ones if needed.

## Additional context

If support for any DB types are not yet complete by the time this issue is complete, then responsibility for writing tests for those types fal

[2022-02-14 12:47] kgodey commented on #775
@seancolsen Is this unblocked since we decided on client side validation (#1057)?

[2022-02-14 13:17] kgodey opened #1065 "Design for visual query builder ("Data Explorer")"
# The Feature
Mathesar should support a visual query builder to allow users to construct more complex SQL`SELECT` queries than can be supported with filters or sorts in a single table or view.

Limitations:
- To keep the query builder simple, we will only be supporting a subset of SQL functionality. We plan to build a textual SQL editor for advanced users in the future.
- For now, we will only sup

[2022-02-14 13:19] seancolsen commented on #775
@kgodey Indeed! Thanks for the follow-up. I've marked this ticket as unblocked now. Although I'll also mention that before resuming work on this ticket, I'd like to complete our (hopefully quick) planned synchronous discussion on "UX for failure to save a cell" at this Wednesday's [meeting](https://hackmd.io/OEXWY519TceOUi53q0Ay1A).

[2022-02-14 13:41] silentninja opened #1068 "Add Detailed Exception parsing for Custom API exception classes"
## Problem
#986 Introduces custom API exceptions that convert exceptions into proper API exceptions whose error body conforms to API error spec. But as of now, the information from the API exception classes just contain the string representation of the exception that was raised or the custom error message passed when initializing. Many important details are missed out during the conversion.

## Pr

[2022-02-14 18:47] seancolsen opened #1070 "Improve UX and discoverability for selecting rows on touch devices"
## Current behavior

- On a mouse device:
    - When I hover on a row, I see a checkbox in the first column, allowing me to select the row.

- On a touch device:
    - Without the ability to hover, new users will will be unlikely to discover the row selection feature.
    - I _can_ click the spot where the checkbox appears, and about 50% of the time, I'm able to move the checkbox from unchecked to

[2022-02-14 19:07] seancolsen opened #1071 "Infinite loop when displaying software keyboard to edit cell on touch device"
## Steps to reproduce

1. Begin on a touch device with a software keyboard. (On an Android tablet, I can reproduce this with Firefox and Chrome.)
1. View a table.
1. On a cell near the bottom of the table, double-tab to enter edit mode.
1. Observe the device's software keyboard slide up from the bottom of the screen, making the browser viewport shorter, causing the cell to be scrolled out of view.

[2022-02-14 19:09] seancolsen commented on #1071
@pavish Maybe this has to do with our use of `VirtualList`?

[2022-02-14 19:55] kgodey commented on #1070
Marking as draft until we figure out the exact behavior.

[2022-02-14 20:20] kgodey commented on #1008
@seancolsen We have no backend conventions documented anywhere. The action item for this issue is to first document backend style and formatting conventions, and then set up tooling to support those conventions.

I plan to create a draft of our backend style guide first before spending more time on this conversation; I think we'll have a more productive discussion when we actually have a concrete

[2022-02-15 02:13] #1051 closed

[2022-02-15 02:48] pavish commented on #1071
@seancolsen I'm not sure, it will require testing.

If it is due to our use of `VirtualList`, the fix would be to scroll into view of focused input when the keyboard opens or to increase the overscanCount.

[2022-02-15 05:18] pavish opened #1072 "Frontend implementation for type specific filtering options"
## Problem
Users should be able to view and select valid filters for each column.

## Proposed solution
The frontend should fetch the set of possible filters for each mathesar type from the endpoint: `/api/ui/v0/databases/${DB}/filters/`, created in https://github.com/centerofci/mathesar/pull/1061.

Based on the response, the frontend should display the filters, and the user should be able to form

[2022-02-15 05:25] pavish opened #1073 "Frontend implementation for type specific grouping options"
## Problem
Users should be able to view and apply type specific grouping for each column.

## Proposed solution
We have a set of backend tickets to implement grouping options for each type. A few:
* https://github.com/centerofci/mathesar/issues/408
* https://github.com/centerofci/mathesar/issues/411
* https://github.com/centerofci/mathesar/issues/384

The backend would provide the set of possible

[2022-02-15 09:31] mathemancer commented on #1037
`VARCHAR` takes a length `type_option`, whereas `TEXT` does not.

[2022-02-15 11:10] dmos62 commented on #1008
@kgodey you've mentioned disliking `black` for this. The rest of us aren't familiar with it though and it's such a low effort alternative that I think it's worth looking at (collectively). It would be nice to have its output around for comparison when discussing other options, for example.

[2022-02-15 13:58] kgodey commented on #1037
Ah okay, then they should not be aliases.

[2022-02-15 14:23] kgodey commented on #1008
@dmos62 Turning on `black` is low effort but it has huge consequences across the codebase since it reformats everything and wipes out all existing formatting. Please have patience until the style guide is ready.

You are free to experiment with `black` or other tools locally if you want to see their output for comparison when discussing other options.

[2022-02-15 14:39] dmos62 commented on #1008
Didn't mean to hurry. I don't think this is a high priority.

[2022-02-15 15:44] seancolsen opened #1074 "Only hide the tab close button on hover-capable devices"
## Current behavior

- Our tabs only display the close button while the user hovers over the tab.
- Users on devices that cannot hover (e.g. tablet, phone) may have difficulty discovering how to close a tab.

## Desired behavior

- Use the [hover media query](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover) to show the close button by default, only hiding it for devices with the capa

[2022-02-15 18:08] kgodey commented on #1028
This is blocked by #1065 since we'll probably be using the query builder to identify duplicate rows.

[2022-02-16 08:04] #430 closed

[2022-02-17 10:22] dmos62 opened #1077 "Extend functions API to allow for the mathesar namespace to add DBFunctions, like `column_id`"
## Problem
The functions API lives in the db layer, and we want to use it by specifying columns via their Django IDs, which is a mathesar layer concept. To maintain separation between the db and mathesar (also referred to as "ui" recently) layers, we're not making the db layer aware of column IDs and instead we're having column ids replaced with column names in the mathesar layer, before passing t

[2022-02-17 10:42] dmos62 opened #1078 "Syntax of parameters in JSON used to submit a DBFunction"
Functions API's DBFunctions are used to build and represent SQLAlchemy expressions and are used, for example, for the frontend to describe row filters.

The functions API JSON syntax (that describes the DBFunction) is such that parameters are always a list. Even when there's only a single parameter to be added, it must be enclosed in a list:

[code]

This is less information dense than (the hypoth

[2022-02-17 18:01] #385 closed

[2022-02-21 07:23] mathemancer opened #1085 "Assess database type infrastructure"
## Problem

As we near the end of the initial round of implementing database types, we should reassess our current setup and look for improvements.  Especially since some GSoC projects involve adding types or adding features to types.

## Proposed solution

We should make it as easy and obvious as possible to

- Add a new custom type
- Add support for native PostgreSQL types
- Add support for comm

[2022-02-21 09:11] mathemancer opened #1086 "Return RFC 3339 (ish) style date / time values from API"
## Problem

Currently, the style of date/time values returned by the API is whatever the Django default for handling `python` date / time types is.  Further, since the dates and times are made into `python` types during the process, precision is lost, as well as functionality around dates before the common era, and dates with years containing more than 4 digits.

## Proposed solution

We should pa

[2022-02-21 14:25] dmos62 commented on #418
Closing, since [it was decided not to use a custom money type](https://github.com/centerofci/mathesar/issues/417#issuecomment-1038962542).

[2022-02-21 14:40] kgodey commented on #418
Yes, we do.

[2022-02-22 10:11] dmos62 commented on #427
A brief survey on Matrix suggests that we don't need `time x is before time y` phrasing and can do with `time x is lesser than time y`. This simplifies implementation, since under-the-hood we're using a simple `x < y` comparison. An alternative would have been to make up a mechanism for providing filter name aliases for when parameters match some pattern (like them being time-like).

[2022-02-22 14:28] kgodey commented on #427
Since the conversation in that Matrix channel has moved on, I'll comment here.

@dmos62 I think "21 January is less than 4 February" is not as intuitive for non-technical users, people don't regularly say that in English. I'd like to stick to the original phrasing.

[2022-02-22 15:12] dmos62 commented on #960
@pavish @seancolsen currently the display options for the `datetime` UI/Mathesar type look like this (excerpt from UI types endpoint):

[code]

What should the display options for the upcoming `date`, `time` and `datetime` UI types be? Should they be the same? I.e.:

[code]

[2022-02-22 16:53] dmos62 commented on #427
Ok, I'll set up filter name aliases in a dedicated PR.

[2022-02-22 17:03] dmos62 commented on #960
@kgodey I'm still wrapping my head around display options and their current state. I guess `date_format` and `time_format` can be boiled down to just `format`, like it is for `datetime` currently. So, date and time types would have the same display options declared in this endpoint as `datetime` does now: `{"name": "format","type": "string"}`. Does that make sense?

I see @mathemancer submitted a

[2022-02-22 17:24] kgodey commented on #960
@dmos62 I think we need separate date and time formats for Date & Time (so that the user can set separate formats for the date and time component). Dates would just use the date format and Times would use the time format.

The single `format` attribute came from https://github.com/centerofci/mathesar/issues/428, but that ticket was written before the new design specs. As you can see [in the design

[2022-02-22 17:42] dmos62 commented on #960
@kgodey oh, my monitor is in profile and the datetime prototypes were out of view so I couldn't see it until I started panning.

Ok, I'll create `date_format` and `time_format` display options.

[2022-02-22 17:57] dmos62 opened #1092 "Implement filter name aliases for specific parameters"
## Problem

We have filters that are quite generic and operate on various types. E.g. the filter `greater` can compare points in time, but its name is `x is greater than y`, which is not particularly well suited to describe the comparison of points in time. We'd prefer to have this filter's human-friendly name be something like `x is after y`, but only when comparing point-in-time types.

## Propo

[2022-02-23 00:52] #1086 closed

[2022-02-23 19:38] kgodey opened #1094 "Custom money type"
## Problem

We've decided to implement a custom Mathesar money type that is an alias to `NUMERIC` types. Currency will be specified through display options.

## Proposed solution

- Create a `Money` friendly type name in the service
- Create a `MATHESAR_TYPES.MONEY` type in the database that store currency amounts.  The amount should be a `NUMERIC` type.
- Users should be able to use the API to ch

[2022-02-24 00:34] silentninja opened #1095 "Public functions should use attnums instead of column index or column name"
## Problem
Currently, most public functions are using name or index to identify columns. This is brittle, and we've decided to change to using the attnum property of columns instead.

## Proposed solution
Each public function in the `db` module should use attnum instead of column_index, and should properly use the table_oid, attnum pair to identify columns for its logic.

## List of functions (WIP

[2022-02-24 00:52] silentninja opened #1096 "Reduce db functions to one SQLAlchemy operation per function"
## Problem
We have decided to use `attnums` when passing a column reference as arguments but most of the SQLAlchemy operations use column name, so we need to fetch the column name before an SQLAlchemy operation, this can lead to referencing a wrong column in case there are multiple SQLAlchemny operations within a single function and one of those happens to change a column name.

## Proposed soluti

[2022-02-24 12:12] dmos62 opened #1097 "Suggest popular/standard URI schemes as values for appropriate filter parameters"
## Problem
We have a filter (`UriSchemeEquals`) that takes a URI scheme as its second parameter (first too, but that's irrelevant). We want to provide suggestions for when a user is entering/choosing a scheme to filter for.

## Proposed solution
Alter the filters endpoint so that it includes suggested values for that specific parameter.

Use [this Wikipedia article](https://en.wikipedia.org/wiki/L

[2022-02-24 18:14] #640 closed

[2022-02-25 14:07] seancolsen opened #1099 "Refactor Select and SimpleSelect components, merging them into one"
## Current

- We have `Select` and `SimpleSelect` components which appear identical to the user but have different props structure.

    Why? Because `Select` came first, and then we decided on a different approach to structuring the props in order to specify the options.

## Desired

- We have only one component named `Select`.

- The props of `Select` behave exactly as the props of `SimpleSelect

[2022-02-25 14:35] dmos62 opened #1100 "Resolve logic duplication in the db.types namespace"
## Problem
@mathemancer [pointed out](https://github.com/centerofci/mathesar/pull/1079#discussion_r814765795) that some of the logic in `db.types.base::_build_db_types_hinted` is a duplicate of logic in `db.types.operations.cast` (see global variables `TEXT_TYPES` and `NUMBER_TYPES`). Specifically it's the logic that describes which types are string-like and which are number-like. This suggests th

[2022-02-25 23:07] kgodey commented on #845
@mathemancer Please close this once you're done with the spec updates.

[2022-02-25 23:11] #433 closed

[2022-02-28 14:23] #1063 closed

[2022-02-28 14:43] kgodey opened #1105 "Implement display options for the custom Money type"
## Problem
We need to implement support for display options for the custom Money type.

## Solution
The custom money type supports the following display options. We need to represent them in the API, validate them, and also set them automatically on inference of Money types.

### Format Type
This stores the currency that the Money type should be displayed as. We will store a pre-set number of curr

[2022-02-28 17:46] #406 closed

[2022-02-28 17:46] #413 closed

[2022-02-28 21:16] #410 closed

[2022-03-01 14:57] mathemancer opened #1107 "Handle more human readable number imports"
## Problem

Currently, we only detect a column as a number type if the entries can be cast to a `NUMERIC` using the default PostgreSQL casting functionality.  This is a problem in certain locales, and also can't handle numbers with grouping separators (e.g., the `,` in `1,000.00`).

## Proposed solution

We should write custom logic to allow handling more strings when casting to number types.

##

[2022-03-01 15:59] seancolsen opened #1108 "Decide on date/time formatting string syntax"
## Context

When displaying dates and times, the front end will recieve the following two pieces of info:

- a string representation of the value in [canonical form](https://wiki.mathesar.org/en/engineering/architecture/dateandtime).
- a "formatting string", containing information about how to display the value to the user.

The front end needs to take these two strings and combine them into a for

[2022-03-01 17:23] kgodey commented on #260
Marking this as ready since filtering and grouping have been moved to other issues and remaining backend work is done.

[2022-03-01 17:25] kgodey commented on #258
Marking this as ready since filtering and grouping have been moved to other issues and remaining backend work is done.

[2022-03-01 17:27] kgodey commented on #261
Marking this as ready since filtering and grouping have been moved to other issues and remaining backend work is done.

[2022-03-01 17:28] kgodey commented on #255
Marking this as ready since filtering and grouping have been moved to other issues and remaining backend work is done.

[2022-03-01 17:28] kgodey commented on #256
Marking this as ready since filtering and grouping have been moved to other issues and remaining backend work is done.

[2022-03-01 17:55] kgodey commented on #742
I moved this to "Initial Data Types" since it's blocking other issues in it.

[2022-03-02 02:19] seancolsen commented on #928
#1080 seems to have fixed this, so I'm closing it.

@pavish I noticed you marked that PR as "related to" this issue instead of "fixes" this issue. Is that just because of the difference in behavior with regard to the Esc key? (If so, I'm planning to open a separate issue for that where we can discuss it.)

[2022-03-02 02:19] #928 closed

[2022-03-02 02:20] seancolsen opened #1112 "Front end text length validation is more strict than back end"
## Summary

In #1080 we made `TextBoxCell.svelte` and `TextAreaCell.svelte` set the `maxlength` attribute based on the field length from Postgres. This change introduces a problem (which I previously described in #1057 as a hypothetical) where the client and server use slightly different algorithms to perform the same validation.

## Steps to reproduce

1. Execute the following SQL on the Mathesar

[2022-03-02 02:21] seancolsen commented on #1112
My opinions:

In #1057, I initially argued for (01).

However, after considering the UX in more detail I'll admit that the hardline approach of (01) lacks pragmatism. Specifically, in a situation where the user has entered a value that's too long, the user needs to have a clear understanding of where the limit is within their text so that they can shorten it. This is like composing a tweet. The UX

[2022-03-02 02:23] seancolsen opened #1113 "Eliminate TypeScript types like `undefined | null`"
Types which contain unions like `undefined | null` are the sort of type I was trying to avoid by starting the discussion in #825. Indeed, now we have a [code standard](https://wiki.mathesar.org/en/engineering/architecture/front-end-standards#null-vs-undefined) to this effect.

However, #1080 introduced these problematic types in the following places:

- [TextArea.svelte](https://github.com/centero

[2022-03-02 02:24] seancolsen opened #1114 "Don\'t toggle checkbox when clicking on selected cell background"
## Reproduce

1. Set up a boolean column with a checkbox interface.
1. Select a cell in the column.
1. Click the cell background (not the checkbox).
1. Expect nothing to happen.
1. Observe the state of the checkbox to toggle

## Rationale

- I'd rather not assign any functionality to that action because I think that users will end up inadvertently toggling their checkboxes. I'd rather keep the che

[2022-03-02 02:25] seancolsen commented on #1114
I've put this in `[Beta] Better Editing Experience` because I don't think it's a high priority.

[2022-03-02 06:29] pavish commented on #1114
@seancolsen This is not a bug but rather I behaviour I intended. I followed the behaviour that is present in airtable.

I'm marking this as an UX issue and we could ask @ghislaineguerin and @kgodey for their opinions on this.

[2022-03-02 07:00] pavish commented on #1113
@seancolsen I'll try to explain with an example.

`TextBoxCell` is displayed on the sheet when the column is of a short text type. This component takes care of both displaying the content of the cell in select mode and then editing the cell by displaying a TextBox in edit mode.
1. The `value` accepts a `string`.
2. The `value` can accept `null` because we display the NULL component when it does.
3

[2022-03-02 13:33] seancolsen opened #1115 "Remove input elements from columns in new record placeholder row"
## Current behavior

For a boolean checkbox column, the new record placeholder row at the bottom of the table displays an unchecked checkbox. This makes it appear as though there may be another record in the table.

## Desired behavior

The new record placeholder does not show any checkbox at all, no matter if there is a default value for the column or if the column does/doesn't allow NULL.

## Ad

[2022-03-02 13:33] seancolsen commented on #1115
@ghislaineguerin Can you give an opinion before we proceed?

Personally I'd really like to remove the checkbox from the new record placeholder. I don't see the value that it adds.

[2022-03-02 13:34] seancolsen opened #1116 "Esc key should cancel edits instead of saving"
## Steps to reproduce

1. Begin editing a text cell.
1. Modify the contents.
1. Press the Esc key.
1. Expect the cell to transition to select mode, restoring the value before you began making your edits.
1. Observe the cell to transition to select mode, saving the value you entered.

## Expected behavior
1. For stepped input columns (all string based columns, number etc.,) which contain an edit mo

[2022-03-02 13:34] seancolsen commented on #1116
@ghislaineguerin Can you give an opinion before we proceed? If you want to maintain consistency with spreadsheets, then we can change the status of this issue to "ready" and move forward with implementation. If you want to maintain consistency with AirTable, then we can close this issue.

Personally, I lean towards maintaining consistency with spreadsheets, but I'll defer to @ghislaineguerin.

[2022-03-02 13:37] kgodey commented on #1115
@seancolsen How do you see the UX working for adding a new record? As an extreme example, imagine a table with only `id` and one or more `boolean` columns.

[2022-03-02 13:46] seancolsen commented on #1115
Here is the UX I have in mind for adding a new record in a table with a boolean checkbox column:

1. Observe the "new record placeholder row" as an additional row, entirely _blank_.
1. Click anywhere within the new record placeholder row.
1. Observe that above the new record placeholder row, a "record insertion row" appears.
1. Within the "record insertion row", the checkbox displays.
    - If the

[2022-03-02 13:55] ghislaineguerin commented on #1115
@seancolsen what you describe makes sense and it would be consistent with the NULL behavior as you've mentioned. It doesn't make sense to show input elements unless the user is ready to interact with them.

[2022-03-02 13:57] seancolsen commented on #1115
Cool, thanks @ghislaineguerin. Now that we have the go-ahead from you, I've changed the status to "ready".

[2022-03-02 13:59] pavish commented on #1116
We cannot do that for columns like Boolean, Select, Multi-select etc., because they have widely different interaction mechanisms.

We need to take into account all the different column types before we finalize this UX.

[2022-03-02 14:03] seancolsen commented on #1116
I'll try to frame the rule that I'm proposing in a way that would allow us to consistently follow the same rule across our product:

- If you've transitioned from "select mode" to "edit mode", then `Esc` should transition you back to "select mode" without saving the edits you made while in "edit mode"

Columns like Boolean, Select, Multi-select won't have an "edit mode", right? So the above rule w

[2022-03-02 14:06] pavish commented on #1116
My argument is that this would produce an even more confusing user experience. It will lead to the user not understanding what esc actually does. Whatever mechanism we fix on, I'd want it to be consistent across our product instead of trying to be consistent with spreadsheets.

[2022-03-02 14:22] kgodey commented on #1116
From a data integrity point of view (regardless of consistency with other tools), I think it's better to have `Esc` revert to the saved value in the DB rather than try to save something partial. I think it would be consistent to do this in any field that accepts text input.

I don't think it would produce a confusing user experience – users would understand that "Esc" = revert to the saved value.

[2022-03-02 14:26] kgodey commented on #1112
Makes sense.

[2022-03-02 14:40] seancolsen commented on #1113
I see. Ok. I'm fine with this. Thanks for explaining @pavish

I do think it would be nice to have some code comments explaining why that code deviates from our standard. But I'm not going to push it.

[2022-03-02 14:40] #1113 closed

[2022-03-02 14:51] #427 closed

[2022-03-02 16:40] #418 closed

[2022-03-02 16:40] #388 closed

[2022-03-02 19:47] seancolsen opened #1118 "Improve UX for configuring Text type DB settings"
## Context

In #1080 we added support for the text type, but today @pavish @kgodey and I identified some behavior that requires UX adjustments. This ticket lays out more specific specs for the UI to configure database type for the Mathesar Text type.

## Background

- The following Postgres types all map to the "Text" Mathesar type. ([Reference](https://wiki.mathesar.org/en/engineering/architectur

[2022-03-02 19:47] seancolsen commented on #1118
@ghislaineguerin you might like to look over this to make sure it's in-line with your expectations. @pavish and @kgodey and I discussed it today on an impromptu call.

[2022-03-02 21:04] seancolsen opened #1120 "NULL values do not display within newly-added column"
## Reproduce

1. "New Table" > "Import Data" > "Copy and Paste Text"

1. Paste the following data and proceed to create and view the table.

[code]

1. Add a new column called `last_name`.

1. Expect to see `NULL` values for all the cells in the `last_name` column.

1. Observe the cells in the `last_name` column to be blank.

1. Click "Refresh".

1. Observe `NULL` values for all the cells in the `

[2022-03-02 21:14] seancolsen opened #1121 "The type inference algorithm should use `TEXT` rather than `VARCHAR`"
## Reproduce

1. "New Table" > "Import Data" > "Copy and Paste Text"

1. Paste the following data and proceed to create and view the table.

[code]

1. From the `columns` API, expect the response for the `first_name` column to have `"type": "TEXT"`

1. Observe instead that the column is `VARCHAR` without a length set.

## Rationale

- I spoke with @kgodey about the Mathesar Text type today and she

[2022-03-02 22:12] seancolsen opened #1122 "Add second round of new E2E tests"
In #640 we added some initial E2E test coverage. This ticket is to track progress towards a second push of E2E tests for existing features.

## Tests to add

- [x] #1123
- [x] #1124
- [x] #1125
- [x] #1126
- [ ] #1127
- [x] #1128
- [x] #1129
- [x] #1130
- [x] #1131

## How to add an E2E test

- See [documentation](https://github.com/centerofci/mathesar/tree/master/mathesar/tests/integration#readme

[2022-03-02 22:13] seancolsen opened #1123 "Add E2E test for deleting a table"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "deleting a table" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 16-41](https://user-images.githubusercontent.com/42411/156454399-fe524794-2fba-46ef-b459-35f0d9c6585a.gif)

## Tips

- Assert that the modal closes, that the tab is no

[2022-03-02 22:14] seancolsen opened #1124 "Add E2E test for renaming a table"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "renaming a table" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 16-44](https://user-images.githubusercontent.com/42411/156454623-61b79c98-7b74-43e3-875b-7f8f06e96d60.gif)

## Tips

- Assert that the modal closes, that the tab title

[2022-03-02 22:14] seancolsen opened #1125 "Add E2E test for trying to to rename a table to the name of another table"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "trying to to rename a table to the name of another table" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 16-45](https://user-images.githubusercontent.com/42411/156454830-358873c4-dab6-4500-b4ae-0839bb71642a.gif)

## Tips

- Assert t

[2022-03-02 22:15] seancolsen opened #1126 "Add E2E test for grouping by a column"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "grouping by a column" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 16-54](https://user-images.githubusercontent.com/42411/156455977-833063aa-12d3-4c59-92a5-d2b2c4585d7d.gif)

## Tips

- Assert that the count of the first listed gr

[2022-03-02 22:15] seancolsen opened #1127 "Add E2E test for converting a boolean column to a text column"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "converting a boolean column to a text column" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 16-59](https://user-images.githubusercontent.com/42411/156456692-36e549f4-2da3-4450-bc3c-2eac00b353ff.gif)

## Tips

- Assert that the text

[2022-03-02 22:15] seancolsen opened #1128 "Add E2E test for converting a text column of numbers to a number column"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "converting a text column of numbers to a number column" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 17-04](https://user-images.githubusercontent.com/42411/156457343-6078bc4c-5213-44e3-9bbe-273463d66204.gif)

## Tips

- Assert tha

[2022-03-02 22:16] seancolsen opened #1129 "Add E2E test for trying to convert a text column of words to a number column"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "trying to convert a text column of words to a number column" fails. Here's a visual demo of what the test should do:

![Peek 2022-03-02 17-01](https://user-images.githubusercontent.com/42411/156456897-c3266e94-ceea-4c37-9c5c-64ed4bd78a26.gif)

## Tips

- Assert that the t

[2022-03-02 22:16] seancolsen opened #1130 "Add E2E test for moving the selected cell with arrow keys"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "moving the selected cell with arrow keys" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 17-07](https://user-images.githubusercontent.com/42411/156457837-213d7e3b-5d35-4ffd-8272-33a46babb694.gif)

[2022-03-02 22:16] seancolsen opened #1131 "Add E2E test for toggling an indeterminate checkbox to true, false, true"
## Context

See #1122 for more info and instructions on writing E2E tests.

## This test

Write an E2E test which asserts that "toggling an indeterminate checkbox to true, false, true" works as-expected. Here's a visual demo of what the test should do:

![Peek 2022-03-02 17-09](https://user-images.githubusercontent.com/42411/156458049-275c4d7d-30d9-40b8-8d45-09e21ed90887.gif)

[2022-03-03 00:45] #992 closed

[2022-03-03 01:34] #993 closed

[2022-03-03 07:53] ghislaineguerin commented on #1116
I agree with @kgodey on restoring the saved DB value and making this a standard behaviour for text inputs. Boolean and select don't have an edit mode since they can be interacted with directly (assuming, I couldn't test this in staging). I think this applies to leaving edit mode without saving changes, in which case, edit mode should behave consistently.

[2022-03-03 13:33] pavish commented on #1116
All three of you seem to be in agreement, so I think we can proceed with the behaviour from @seancolsen's and @kgodey's comments.

I'm editing the issue description and marking it as ready.

[2022-03-03 15:08] kgodey commented on #1120
I moved this to the Initial Data Types milestone since everything else in the `NULL` spec is there.

[2022-03-03 15:38] #1092 closed

[2022-03-03 16:40] seancolsen opened #1134 "Insert newlines in TextAreaCell only via keyboard shortcut"
## Current behavior

(When column has Mathesar Type of "Text" and TextAreaCell is displayed)

- If the Text data type is configured without a field size restriction or with a higher limit, a textarea is displayed. Pressing `Enter` in edit mode on the textarea will insert a newline.

## Desired behavior

- Pressing `Enter` with any combination of the following modifier keys inserts a newline at the

[2022-03-03 19:28] seancolsen opened #1135 "Change .d.ts files to .ts files"
## Context

- We have an undocumented front end coding standard of placing TypeScript types in `*.d.ts` in certain specific scenarios.
- Shortly after I joined the team I raised a concern with this practice when talking to @pavish. At the time, my concern was only mild. I mentioned that the practice seemed unconventional, but I didn't have any specific problems with it. Pavish wanted to continue w

[2022-03-03 19:55] #499 closed

[2022-03-03 19:56] #327 closed

[2022-03-04 00:05] #995 closed

[2022-03-04 08:01] mathemancer commented on #1094
@kgodey It turns out that the previous custom type was called `MATHESAR_TYPES.MATHESAR_MONEY`.  The reason for this is that it keeps the key `money` reserved for the default PostgreSQL `MONEY` type in a few auto-generated dictionaries.  So, I've kept this for the new custom money type:  It's called `MATHESAR_TYPES.MATHESAR_MONEY`.

[2022-03-04 13:27] mathemancer opened #1138 "Split casting tests for speed"
## Problem

Currently, we have some tests in `db/tests/types/operations/test_cast.py` that run quite slowly, and are parameterized to run many times.  We should split them up.  For example, the test `alter_column_casts_data_gen` is set up to test that we can alter columns correctly, and that data is correctly cast from one type to another. This is inefficient at scale, since it mixes testing that

[2022-03-04 13:29] mathemancer commented on #1107
Marking as "help wanted" and "good first issue" since it should be largely an extension of the work done for the `MATHESAR_MONEY` type.

[2022-03-04 13:30] mathemancer commented on #869
Unassigning due to lack of progress / feedback.

[2022-03-04 14:55] kgodey commented on #1094
@mathemancer Sounds good.

[2022-03-04 16:19] seancolsen opened #1140 "Can we move the column type config UI to a modal?"
## Context

- This is the column header menu:

    ![Peek 2022-03-04 08-50](https://user-images.githubusercontent.com/42411/156775279-e47628b9-e6e4-4e74-9840-b316b4868de9.gif)

- In #1076, I added a `Menu` component. I'd like to use that component for the column header menu because it has some new features like "disabled" and separate icon/form-element. The `Menu` component has support for _almost

[2022-03-04 16:26] seancolsen commented on #1140
For reference during implementation, here's the code I used to generate the mockup above:

<details>
<summary>Code:</summary>

[code]

</details>

[2022-03-04 16:35] kgodey commented on #1140
Some questions before I form an opinion.

I assume we can keep the "Data Type: <blah>" in the menu and still use a modal to configure/change the data type? This would additionally address this shortcoming.

Other questions:
- One concern is that if we need to show errors or confirmations within the modal, I'd like to avoid a double-modal pattern. Do you see this as a potential issue?
- I think the

[2022-03-04 17:16] seancolsen commented on #1140
@kgodey

First, just so we're clear on my proposal: The column header menu for all column types would look exactly as in the mockup above. If the column type is "Number", the menu will not have the text "Number" anywhere.

I'm not confident I understand what you're proposing. Are you proposing that we use text like "Number" (i.e. the name of the column type) as the label for the menu item that ope

[2022-03-04 17:53] kgodey commented on #1140
@seancolsen I was picturing something like this:
![New Wireframe 1](https://user-images.githubusercontent.com/287034/156816056-3934bb21-e1cc-4579-b867-5653938375dd.png)

[2022-03-04 17:56] seancolsen commented on #1140
Yeah I played with that exact thing too as I was working on this. That's super easy to implement, so yeah we could definitely do it. What's a little awkward is that our current styling for the menu heading (in following the precedent set by the current column header menu) makes the heading text smaller than normal. So it looks a little off. But I think that with some styling adjustments it might w

[2022-03-04 18:01] kgodey commented on #1140
I'll wait for @ghislaineguerin and @pavish to weigh in before my final opinion but I don't see any problems with following this approach temporarily.

I do think we should strongly consider a sidebar inspector pattern in the upcoming UI styling milestone, for one, it will allow users to see the changes in their data as they are making them (rather than being obscured by a modal).

[2022-03-04 19:10] ghislaineguerin commented on #1140
@seancolsen I think the modal makes sense. We had initially considered that, but there were some concerns regarding hiding the table contents behind it. Sidebar inspector seems like a better solution (better table visibility), but since we are already using modals I think it's better to stick with that, otherwise we'll have to make additional decisions over what goes on sidebar vs modal.

[2022-03-04 23:15] kgodey commented on #978
@ghislaineguerin mentioned that additional examples of where users might use list data types could be useful. Here are some:

1. Using a List column to keep track of movie watches (list item type is Date), e.g.

| Movie Title | Watched On |
|-|-|
| Batman Begins | `2015-01-12`, `2022-02-01`|
| The Dark Knight | `2022-02-08` |
| The Dark Knight Rises | _NULL_ |
| Spider-Man | `2015-06-07`, `2017-05

[2022-03-04 23:17] kgodey commented on #978
@ppii775 Also, please note that this issue does not deal with nested lists (Lists of Lists, or Lists of Lists of Lists, or so on). Although PostgreSQL does support column types that nest lists, creating a UI that works well for nested lists is not within scope of our initial release. You can ignore that use case for your work on this issue.

[2022-03-04 23:20] ppii775 commented on #978
Thanks @kgodey
I assume by "no nested lists" you meant all Lists are one-dimensional?
What are the List creation scenarios that I need to explore for this release? Are we assuming users already have a delimiter information format in a cell or do they have to aggregate data? If they need to aggregate data could you point me to the current design?

[2022-03-04 23:28] kgodey commented on #978
Yes, that's accurate.

The creation scenarios are:
- The user creates a new column and configures it as a List. In this case, the column data will be blank and users will start entering new list items from scratch.
- The user transforms an existing column with a text data type into a List. In this case, we would parse existing text and turn it into a List. We can assume that the delimiter is a com

[2022-03-05 03:52] kgodey commented on #555
@arvind-1 I've unassigned you since we haven't heard from you in a few months.

[2022-03-05 03:53] kgodey commented on #867
@Carlosbogo I've unassigned you from this issue since we haven't heard from you in a couple of months. Please let us know if you're still interested in contributing to the project.

[2022-03-05 03:54] kgodey commented on #376
@HenryRocha I've unassigned you from this issue since we haven't heard from you in a couple of months. Please let us know if you're still interested in contributing to it.

[2022-03-05 03:59] kgodey commented on #934
We need an updated design for this, so marking as draft.

[2022-03-06 17:10] pavish commented on #1135
The arguments make sense to me regarding not having to use `.d.ts` and stick with `.ts`.

However, I do believe we need to try and separate type definition exports from code files wherever possible, for the time-being. Here are my reasons:

We've always had to import types with:
[code]
instead of:
[code]
because our build system does not support it as default, even though it is the typescript conv

[2022-03-06 17:25] pavish commented on #1140
@seancolsen I don't think a modal should be used here. I personally hate modals so I'm a little biased, but in this particular scenario I believe the current design offers a better experience than using a modal. I do not think we should ever compromise on the UX for DX.

If this is all about the `Menu` design, I remember mentioning that I purposely wanted `Dropdown` and `Menu` to be separate compo

[2022-03-06 18:00] seancolsen commented on #1135
I'm sorry @pavish I still don't understand :confused:

Would you be able to provide a concrete example of the problem which I can reproduce (like I did in the "More type safety and easier refactoring" section of my comment)?

[2022-03-07 06:12] mathemancer commented on #1121
If we _do_ want to always set a length for `VARCHAR` columns (@kgodey is there a place where you've made it clear why you prefer that?), then I strongly suggest using `TEXT` for the default textual database type. Inferring the length based on some subset of the data is going to be quite brittle.