[2022-11-04 17:41] seancolsen commented on #1890
Without having yet looked at any code, my inclination would be to fix this by making the `DateInput` component (and similar components) bind its value to `null` or `undefined` (whichever is most appropriate, given the existing design of the component) when the user-entered value appears to be incomplete. This is somewhat tricky though. User-entered values like `today` cannot be parsed by the front

[2022-11-04 18:19] seancolsen commented on #1858
Ugh. You've run into https://github.com/sveltejs/svelte/issues/5604. I've hit this before and it's annoying.

Here's the way I'd like to fix this...

- In `NameAndDescInputModalForm.svelte` we should have only

[code]

    (We should should _not_ be rendering `Alert`.)

- Also, in `Alert.svelte`, we should should change `<slot name="content" />` to `<slot />` because there is only one slot. We'll

[2022-11-04 22:43] silentninja commented on #1764
@kgodey Should be in the Live Demo milestone?

[2022-11-05 10:49] KAIMonmoy commented on #1858
@seancolsen I have opened a PR-[1903](https://github.com/centerofci/mathesar/pull/1903). That should close fix/close this issue. Thanks for all the help.

[2022-11-06 19:36] AlekLefebvre commented on #1790
I'd like to help with this issue. I drafted PR #1904 which fixes the issue and would like some feedback to improve it.

[2022-11-07 13:01] mathemancer opened #1906 "Live demo checklist"
## Problem

This is a meta-issue to track things @mathemancer needs to get done for the live demo, in descending order of priority
- [x] Set up multitenancy at the DB level
- [x] Document how that works, ask other devs to try it.
- [x] Set up actual infrastructure for demo. (just use staging?)
- [x] Change demo username / password to `demo` / `demo` - @mathemancer
- [x] Figure out how website -->

[2022-11-07 14:48] #1858 closed

[2022-11-07 16:45] kgodey commented on #1764
Moved to post-release improvements.

[2022-11-07 17:31] dmos62 commented on #1866
We discussed implementation progress with @mathemancer and discovered that the algorithm needs to be respecified to account for other transforms. More specifically, before we had simplified requirements by saying that, at this time, we'll not support multiple summarization transformations in the same query, but didn't realise that that will break transformations like "select a subset of columns".

[2022-11-07 17:40] dmos62 commented on #1880
Discovered that the algorithm that automatically places columns needs to be more involved to be fully compatible with other summarizations (even if we only want to support a maximum of one summarization per query): https://github.com/centerofci/mathesar/issues/1866#issuecomment-1305953008

This is dragging on. I'll look for ways to merge an implementation that is correct in most cases and to come

[2022-11-08 14:42] #1814 closed

[2022-11-08 16:17] silentninja commented on #1596
The possible scenarios for these errors and their solution are:
- The `base_table` is deleted
    - Using Mathesar - Call `/tables/<id>/ui_dependents/` API, ask the user to take action regarding the query.
    - Directly from the database - The `Query` object is deleted due to an invalid foreign key reference. Not something we can provide a reasonable fix for right now.
- The `initial_columns` is

[2022-11-08 17:05] #1754 closed

[2022-11-09 10:54] dmos62 commented on #1890
@seancolsen I was imagining that frontend would throw its queries at our `run` endpoint, without parsing that date input, and only keep our response if it's a 200. Minimizing how often you hit the `run` endpoint is nice, but not strictly necessary, I think.

[2022-11-09 11:23] #1883 closed

[2022-11-09 11:39] pavish commented on #1890
We decided (after several to-and-fro conversations) that we will not be performing any sort of date validation on the frontend, since we'd want to be able to accept any string that the backend (right now it's postgres) can parse. The DateInput component is built around this. Restricting values to only what the frontend can parse will severely limit the functionality of the component.

We do not kn

[2022-11-09 13:21] seancolsen commented on #1890
@dmos62

I'm confused by this message. The `run` endpoint is for the Data Explorer, right? This ticket is about the `records` endpoint used by the Table Page and the Record Selector. I don't see how we could use the `run` endpoint here.

It's also worth mentioning that when reproducing this issue, the `records` endpoint takes about 13 seconds to issue that 500 response. That slowness makes it diff

[2022-11-09 21:01] seancolsen opened #1911 "Keyboard fails to move active cell after clicking a column header or row header"
## Steps to reproduce

1. Go to a table page.
1. Click on a cell to select it.
1. Press `Up`, `Down`, `Left`, `Right`, `Tab` and `Shift+Tab`.
1. Observe the active cell to move in response to the keyboard. Good.
1. Click on a column header to select all the cells within the column.
1. Press those keyboard keys again.
1. Expect the active cell to move as before.
1. Instead, observe that the active

[2022-11-09 21:11] seancolsen opened #1912 "No row should be selected when a cell within the placeholder row is selected"
## Steps to reproduce

1. Go to a table page.
1. Select a cell within the last row of the table.
1. Observe that, in addition to the cell being highlighted, the row header is also highlighted, indicating that a cell within the row is selected. Good.
1. Press the `DownArrow` keyboard key.
1. Observe the cell selection to move into the "placeholder" row (that you can use to create new records). Good

[2022-11-09 21:16] #1717 closed

[2022-11-09 21:16] #1750 closed

[2022-11-09 21:16] #1873 closed

[2022-11-10 12:11] dmos62 commented on #1890
:astonished: I thought we had minimized our response times to milliseconds for all frequently used endpoints; I'm confused. You mean when a user loads the table page, he's having to wait at least 13 seconds to see the records?

I was under the false impression that we have replaced table `records` endpoint with query `run` endpoint, but now that I think about it it's the query `records` endpoint t

[2022-11-10 13:22] seancolsen commented on #1890
@dmos62 no, the records endpoint doesn't _always_ take 13 seconds -- it just takes 13 seconds _when reproducing this issue_. So if we're going to "throw it at Postgres and see what sticks", we'll need to find a way to do that in a more performant manner.

[2022-11-10 13:27] dmos62 commented on #1890
I'd say that the performance of records endpoint and how to deal with invalid filter specs are two different problems. Former might be latter's prerequisite though.

[2022-11-10 18:56] #1790 closed

[2022-11-10 19:19] #1784 closed

[2022-11-10 19:24] seancolsen opened #1917 "Cell selection is stuck in drag mode after closing the record selector"
## Steps to reproduce

1. Navigate to the table page for a table with an FK column.
1. Double on a cell that opens record selector.
1. Choose an entry within the record selector using the mouse or keyboard.
1. Observe that the record selector closes and the cell value is modified. (Good.)
1. Move the mouse around without clicking.
1. Expect no changes to the cell selection.
1. Instead, observe tha

[2022-11-10 19:51] seancolsen opened #1918 "Be smarter about how to handle Enter key within the Record Selector"
## Steps to reproduce

1. Use our Library Management schema.
1. From the schema page, open the record selector for the Publications table to navigate to a Publications record.
1. Press `Tab` to select the Publisher column.
1. Press `Enter` to open the Publishers record selector.
1. Choose the first Publishers record by pressing `Enter`, closing the Publishers record selector.
1. At this point, exp

[2022-11-10 19:52] seancolsen commented on #1918
@pavish Can you read over my "Desired behavior" and see how you like it?

[2022-11-10 20:04] seancolsen opened #1919 "Dropdown arrow for boolean cell is improperly positioned"
## Steps to reproduce

1. Navigate to the table for for a table containing a boolean column.
1. Configure the data type to display the value as a dropdown.
1. Select a boolean cell.
1. Observe a downwards facing chevron dropdown arrow.
1. Expect the dropdown arrow to be positioned at the right of the cell.
1. Observe the dropdown arrow is underneath the value.

![image](https://user-images.githubu

[2022-11-10 21:03] seancolsen commented on #1906
I'd like to request the following modifications to column names to make them simpler and more intuitive.

| Table | Current name | Desired new name |
| -- | -- | -- |
| Authors | Author First Name | First Name |
| Authors | Author Last Name | Last Name |
| Authors | Author Website | Website |
| Publications | Publication Year | Year |
| Publishers | Publisher | Name |

_(Instead of creating a new

[2022-11-10 21:08] seancolsen commented on #1906
As for "display options" (or perhaps "metadata" is more appropriate) to configure...

- It would be nice to customize the record summary template for both "Authors" and "Patrons" to show `{First Name} {Last Name}`.
- We might want to put a couple saved explorations in there to give the user a quick sense of what is the Data Explorer is capable of.
- Eventually, I'd like to customize all the column

[2022-11-11 07:29] #1552 closed

[2022-11-11 07:29] #1553 closed

[2022-11-11 07:29] #1639 closed

[2022-11-11 07:29] #1683 closed

[2022-11-11 14:04] rajatvijay opened #1921 "Add skeleton loader in schema page"

[2022-11-11 14:06] rajatvijay opened #1922 "Persist schema page's tab name in the url"

[2022-11-11 18:46] kgodey commented on #1906
I think we should make the database names more human readable since the name is displayed very prominently on the DB page. We could do `mathesar_demo_{num}` or `mathesar_demo_{random_word}` or something like that. If we can do spaces instead of underscores, that would be great too.

![Screenshot 2022-11-11 at 13-44-27 mathesar_dviiwc8o Library Management Mathesar](https://user-images.githubusercon

[2022-11-11 18:52] kgodey opened #1923 "Show banner throughout application when "live demo mode" is turned on."
We should show a banner at the top of the screen on all pages that explains that Mathesar is in live demo mode and that each session has its own copy of demo data and that data will be deleted regularly.

Assigning this to @mathemancer to make sure it gets implemented at some point, @ghislaineguerin for the design, and @pavish for the frontend.

[2022-11-11 18:57] kgodey commented on #1906
We need to add a barcode ID column to the `Items` table. The items table also needs a better record summary, it's currently using the publisher name which is just confusing. I would expect it to be configured as `{Publication Title} ({Barcode ID})` or something similar.

[2022-11-11 21:06] AlekLefebvre commented on #1701
@seancolsen like you suggested in #1904, I can help with this issue. I have implemented the FK selection and the toast message. I'm working on scrolling to the new FK and then I'll submit a PR.

[2022-11-11 21:28] kgodey commented on #1906
We may also want to set display options to 12 hour time for all `TIMESTAMP` fields for clarity.

[2022-11-11 21:34] kgodey opened #1924 "API for nested record selector is returning an error"
## Steps to reproduce
1. Go to https://staging.mathesar.org/mathesar_dviiwc8o/692/tables/4845/
2. Click on the record selector dropdown for record ID 1
3. Click on the record selector dropdown for the author in the search row
4. Type "an"
5. Select author "Hannah Jensen"
6. Observe the record selector stuck on loading.

## Context
The app makes a `GET` request to `https://staging.mathesar.org/api/

[2022-11-11 21:44] seancolsen commented on #1924
Note: I was able to reproduce this on staging and I was _not_ able to reproduce this locally within the master branch.

[2022-11-11 21:49] seancolsen commented on #1906
Two things are wrong here:

![image](https://user-images.githubusercontent.com/42411/201435514-25aea99e-8765-4e01-ad2c-a1be4ebe57a0.png)

1. There are no foreign keys.
2. And the columns are out of order compared to the data I just loaded from the playground repo. ("Title" should be the first non-PK column).

[2022-11-11 21:53] seancolsen commented on #1906
@kgodey said:

I think this will be partially fixed if we fix the column ordering problem that I mentioned above. For me locally, all tables have a sensible choice for the first non-PK column. But on staging the columns are ordered differently. When the "Publications" table has its first non-PK column as "Title" and the "Items" table has its first non-PK column as "Publication", then the item will

[2022-11-12 06:54] pavish opened #1925 "Improve serialization & de-serialization of Data Explorer query instance"
The PR https://github.com/centerofci/mathesar/pull/1850 introduces some changes to serialization & de-serialization of a query instance to and fro to a hash url param. [This review comment](https://github.com/centerofci/mathesar/pull/1850#discussion_r1020532971) on the PR needs to be handled.

[2022-11-12 06:55] #1649 closed

[2022-11-12 15:28] steve-lgtm commented on #1896
Hi I just started working on this issue and I didn't notice that this issue is for maintainers only. Can I continue or work rather on another issue?

[2022-11-12 17:15] kgodey commented on #1653
[Design on Figma](https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34/Styling?node-id=1384%3A6672)

[2022-11-12 17:15] #1653 closed

[2022-11-12 17:16] kgodey commented on #1655
[Design on Figma](https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34/Styling?node-id=1384%3A6672)

[2022-11-12 17:16] #1655 closed

[2022-11-12 17:16] kgodey commented on #1656
[Design on Figma](https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34/Styling?node-id=1384%3A6672)

[2022-11-12 17:16] #1656 closed

[2022-11-12 17:16] kgodey commented on #1654
[Design on Figma](https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34/Styling?node-id=1714%3A12860)

[2022-11-12 17:16] #1654 closed

[2022-11-12 17:29] #398 closed

[2022-11-12 17:31] #1411 closed

[2022-11-12 17:33] #1416 closed

[2022-11-12 18:46] steve-lgtm commented on #1919
is this issue available?

[2022-11-12 18:48] seancolsen commented on #1919
Yes it is, @steve-lgtm. Feel free to submit a PR. Note that this ticket is somewhat high priority at the moment, so if we don't see a PR from you within the next week, then we may need to re-assign it. Thanks for your help!

[2022-11-12 19:51] ghislaineguerin opened #1926 "Design Icons"
We need icons for the following concepts:

- [ ] Table
- [ ] Schema
- [ ] Database
- [ ] Record
- [ ] Multiple records (shown in the Record Page table widget)
- [ ] Exploration
- [ ] Search
- [ ] Record Search
- [ ] Add
- [ ] Delete
- [ ] Edit
- [ ] Save
- [ ] Cancel / Close
- [ ] User
- [ ] Data Types
  - [ ] Text
  - [ ] Number
  - [ ] Date and Time
  - [ ] URL
  - [ ] Email
  - [ ] List
  - [ ]

[2022-11-12 21:52] steve-lgtm commented on #1919
@seancolsen I create pull request

[2022-11-14 00:57] kgodey commented on #1906
The data explorer seems broken entirely in live demo mode (works fine locally).

[2022-11-14 02:53] mathemancer commented on #1906
It's working for me! (ha.)

Can you provide more details about how it's not working? I clicked around, and successfully made our overdue checkouts report on staging.

[2022-11-14 02:54] mathemancer commented on #1906
It's working for me! (ha.)

Can you provide more details about how it's not working? I clicked around, and successfully made our overdue checkouts report on staging.

[2022-11-14 03:32] kgodey commented on #1906
@mathemancer does https://staging.mathesar.org/mathesar_dviiwc8o/692/data-explorer/ work for you? Once I select `Patrons` as the table, the column list does not load.

The GET API call to https://staging.mathesar.org/api/db/v0/tables/4844/joinable_tables/ fails (500 error) with traceback:

[code]

[2022-11-14 03:33] kgodey commented on #1906
May be related to #1924, which is also a GET request returning an error only in live demo mode.

[2022-11-14 07:36] mathemancer commented on #1924
@seancolsen @kgodey Were you able to reproduce this without going to that specific key? I had to filter available objects in APIs based on your session ID. In particular, @seancolsen I would _expect_ that you can't succeed at that URL, since you'd have a different session ID cookie.

[2022-11-14 08:07] mathemancer commented on #1924
Update: I've managed to reproduce on staging with my own sessionid cookie, and trying to access an appropriate table. I'll investigate from there.

[2022-11-14 19:54] kgodey opened #1930 "Set up mathesar.org website"
### Design
- [ ] Home
- [ ] About Us
- [ ] How it Works - Dev
- [ ] How it Works - Non-dev
- [ ] FAQ
- [ ] Community
- [ ] Roadmap
- [ ] Request installation

### Setup
- [ ] Create repo
- [ ] Set up Jekyll site

[2022-11-15 09:32] mathemancer commented on #1924
After tinkering with this for a while on our new demo server, I think this is solved there. I'm assuming this was caused by some cruft left around in staging, so this issue can be closed.

Please reopen and ping me if this is happening at some point on the demo server.

[2022-11-15 09:32] #1924 closed

[2022-11-15 09:36] mathemancer commented on #1906
@kgodey Have you experienced this on the demo server? I'm hoping the clean environment will solve this.

[2022-11-15 09:44] #1868 closed

[2022-11-15 13:22] dmos62 opened #1935 "`makemigrations` always creates a new migration"
Multiple people reported that running `docker exec mathesar_service sh -c "python manage.py makemigrations"` always creates a new migration, even if you run it multiple times in sequence, that looks like this:

[code]

Subsequent runs create migrations that have the previous migration as its dependency. That's the only difference between these redundant migrations.

The STDOUT is:

[code]

[2022-11-15 13:24] dmos62 commented on #1935
My untested theory is that this has to do with validations. Some fields on `UIQuery` declare validators and they are the fields mentioned in the generated migration. We use validator factories to create those validators, which might be messing up Django's introspection.

I'll note that it's unclear to me why migrations should care about field validators.

[2022-11-15 13:42] seancolsen commented on #1926
Before you go make _all_ the icons, I'd like to be involved in reviewing the first couple of them, just to make sure the format works well. I've done a lot of work with SVG and have some opinions about how best to make icons.

[2022-11-15 13:51] seancolsen commented on #1924
@mathemancer

Then, it it a problem that I can view the whole page at that URL?

![image](https://user-images.githubusercontent.com/42411/201935991-30fda9ae-ec71-402c-81f6-4cd7b6bd6e74.png)

[2022-11-15 14:54] #1919 closed

[2022-11-15 15:55] #1343 closed

[2022-11-15 17:22] kgodey commented on #1906
@mathemancer No, I have not. I think it's fine to ignore it unless it happens again.

[2022-11-15 17:24] kgodey commented on #1906
In general, I think it makes sense to focus on getting the test data sets, display options, explorations, and launch mechanism for the live demo figured out before looking too deeply into bugs.

[2022-11-15 21:49] Anish9901 commented on #1935
Here is a link for a post related to this issue: https://stackoverflow.com/questions/55089705/django-keeps-creating-new-migrations-even-when-model-has-not-changed

[2022-11-15 22:38] #1701 closed

[2022-11-16 02:29] #1802 closed

[2022-11-16 10:43] Dhruvi16 commented on #1926
Hey @ghislaineguerin! How have you been? Just saw this issue and seems like can be done independently with fewer reviews. Is this something I can work on?

[2022-11-16 14:03] mathemancer commented on #1924
@seancolsen It's not a problem. The partitioning is specifically _not_ intended to be for security. The reason I'd expect there to be problems in some API calls to an inappropriate DB for your `sessionid` key is that I had to inject a `database` parameter and filter on it for a number of request types. However, for speed and efficiency, I didn't bother to enforce that filtering when getting a spec

[2022-11-16 15:54] seancolsen commented on #1926
Since more people are getting involved in this conversation I'll try to express some of my thoughts async. Creating icons involves quite a bit of tedious work and it would be great to get our process ironed out ahead of time.

I'm looping @pavish into this thread because he recently did some work, adding these new [custom icons](https://github.com/centerofci/mathesar/blob/e827ed9bdccebf9789b61087d

[2022-11-16 16:03] seancolsen commented on #1926
@ghislaineguerin, in looking over your list at the top of this ticket, I'm wondering: do you want to create custom icons for everything?

- If so, there will be many more to create than listed above. See `src/component-library/common/icons.ts` and `src/icons/index.ts`. There are currently 74 icons total.

- If not, then I think we could safely eliminate many of the entries above where we already h

[2022-11-16 16:13] rajatvijay opened #1941 "Update the designs for column `data type` section."

[2022-11-16 16:28] ghislaineguerin commented on #1926
@seancolsen I don't know if we'll have enough time to create all of the icons if we want to get this done for the live demo release. I'm guessing that if we limit ourselves to follow the visual style of the current icons closely, we can get use a combination of the existing icons and some new ones.

By suitable, I'm assuming you mean icons that are consistent with the current icons, right?

[2022-11-16 16:36] seancolsen commented on #1926
@ghislaineguerin

That would be my preference too.

What I mean is: your checkbox list at the top of this ticket includes unchecked to-do items for icons like Search, Add, Delete, Edit, Save, Undo, Redo, etc... and I would argue that the FontAwesome icons that we have already selected so far are suitable. It's not worth our time to create a new "Add" icon. I mention this because if we're going to

[2022-11-16 17:08] dmos62 opened #1942 "Implement a more complete variant of the partial summarization algorithm"
Algorithm specified in: https://github.com/centerofci/mathesar/issues/1866

Current variant is implemented in #1900. Its shortcoming are that only the first summarization will receive interesting defaults and only if there isn't a prior "select subset of columns" transformation in the pipeline.

A more complete variant should solve these shortcomings.

[2022-11-16 17:20] kgodey commented on #1926
@seancolsen This issue is a draft (not ready for work), we're writing down icons as we encounter them in the designs. It's not meant to be comprehensive and the checkboxes aren't meant to represent "we need a custom icon for this".

I imagine the next step before we mark this as ready for work would be:
(1) ensuring the list contains all icons in the product
(2) figuring out which icons we can reu

[2022-11-16 22:03] ghislaineguerin commented on #1923
Link to design in figma: https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34/Styling?node-id=3066%3A21916

[2022-11-17 09:33] ghislaineguerin commented on #1658
Link to design: https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34/Styling?node-id=2405%3A16114

[2022-11-17 09:33] #1658 closed

[2022-11-17 09:33] ghislaineguerin commented on #1643
Link to Design: https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34/Styling?node-id=2295%3A22252

[2022-11-17 09:33] #1643 closed

[2022-11-17 13:58] seancolsen commented on #1773
More conversation here about toast errors vs inline errors and an idea to extend our toast system to allow to toast-like inline errors.

https://www.figma.com/file/xHb5oIqye3fnXtb2heRH34?node-id=3014:21410#308886403

[2022-11-17 14:45] seancolsen commented on #1855
I'm not seeing this error anymore so I'm closing this ticket :crossed_fingers:

[2022-11-17 14:45] #1855 closed

[2022-11-17 14:59] mathemancer opened #1950 "Per-request metadata cache"
## Problem

Currently, our `metadata` caching is global over the entire app. This may create problems if we have users simultaneously accessing different DBs.

## Proposed solution

We should use https://github.com/anexia/django-request-cache to cache metadata per-request only.

## Additional context

We occasionally run into state-based bugs that this would probably solve.

[2022-11-17 17:31] seancolsen opened #1951 "Unable to use the API to reset the record summary template to default"
## Steps to reproduce

1. Begin with a table that has never had its record summary template customized. The response from `/api/db/v0/tables/<table_id>/` looks like:

[code]

    Good.

1. Customized the record summary template with a request like:

[code]

[code]

    This works. I get those same `preview_settings` back from the API.

1. Revert back to the default behavior wherein the server will

[2022-11-17 17:35] silentninja opened #1952 "Improve error reporting for Deleted columns of a Query"
## Problem

When we run a query which contains multiple Deleted Columns using the `/queries/run/` API, the backend throws an exception that only contains the first column. This doesn't seem to be a good UX.

## Proposed solution

We should return an array of all the deleted columns that are part of the query.

## Additional context

[Comment in issue #1905](https://github.com/centerofci/mathesar/p

[2022-11-17 17:48] IyadElwy commented on #1151
@kgodey @silentninja
I'm currently looking into this issue.
I've tried a couple of things but here's an example of an error before and after my changes.

**Before:**
[code]

**After:**
[code]

This way, when running on Debug mode the developer gets a lot more to work with, which was the intended goal after all. I'm still working on making it better but would appreciate anyone telling me if I'm on

[2022-11-18 13:21] IyadElwy commented on #1151
You could assign me to the issue and I'll continue working on it.
I think a good addition to the stacktrace would be numbering so I added line numbers for a better visualization.

[code]

I could do a PR if you'd like.

[2022-11-18 16:29] IyadElwy commented on #1520
This should be easy enough. Should I go ahead and start working on it ?

[2022-11-18 17:05] kgodey opened #1954 "Don't allow public schema to be edited"
We currently allow editing the public schema's name and description from the schema page. We should disable this.

<img width="968" alt="Screen Shot 2022-11-18 at 12 03 58 PM" src="https://user-images.githubusercontent.com/287034/202761131-265da99a-6f76-4f02-b680-7a98851427b3.png">

[2022-11-18 17:06] kgodey commented on #1954
Marking this as both backend and frontend so we can make sure to disable this at an API level as well.

[2022-11-18 17:43] seancolsen commented on #1520
Sure, @IyadElwy feel free to start work and submit a PR when you have one. Thanks!

[2022-11-18 19:16] IyadElwy commented on #1520
@seancolsen
I wanted to ask about the favicon locations. Right now I've been able to only locate `logo.svg` in  `mathesar_ui/src/static-assets/logo.svg`, which is the mathesar logo. Are there any other local svg's or should I search a 3rd party provider like FontAwesome for the rest of the icons like for example the database page ?

I thought I'd ask first to adhere to any conventions.

[2022-11-18 19:22] seancolsen commented on #1520
@IyadElwy You'll need to look in our `src/icons.ts` to find the name of the FontAwesome icon that we're currently using to represent the entity. Then you'll need to go to the FontAwesome website and download that icon as an SVG. Then save those files alongside `mathesar_ui/src/static-assets/logo.svg`

[2022-11-18 19:23] seancolsen commented on #1520
And actually we have started using custom icons for some of the entities (e.g. Exploration). You'll need to create an SVG for that. The simplest way is to inspect the DOM when viewing a page with that icon and then copy the HTML that gets generated for it. You can use that same process for all the icons actually (including the FontAwesome ones).

[2022-11-19 16:47] Anish9901 opened #1955 "Typecating column to JSON_List/Map doesn't work."
## To Reproduce

1. Create an empty table.
2. Create a new column and add a JSON array to it.
3.  Try to typecast the column to JSON List.
4. Notice there is no error/change to the data type of the column.

## Additional context

![Screenshot from 2022-11-19 22-09-51](https://user-images.githubusercontent.com/52523023/202862061-f447aeb4-9af0-4054-b398-f3288ba50a5c.png)

[2022-11-19 18:56] pavish opened #1956 "We need a way to specify Preproc function for base_grouping_column"
## Description
In partial summarization, when the `grouping_expressions` also include the `base_grouping_column`, "guessing" does not work.
* We need a place to specify `preproc` functions for the `base_grouping_column`. We should either allow additionally specifying it within `grouping_expressions` or extend `base_grouping_column` to include `preproc`.
* If we do not allow it within `grouping_exp

[2022-11-19 19:21] kgodey opened #1957 "Test issue"
Testing workflow, will delete

[2022-11-19 19:21] #1957 closed

[2022-11-19 19:34] kgodey commented on #1952
@silentninja Please add _some_ details to this issue, it's not at all clear what this is about. Also "bug reporting" implies (to me) that it's an external user reporting a bug, whereas (I think) this issue refers to improving user recovery from errors when columns are deleted.

[2022-11-20 13:15] IyadElwy commented on #1520
I got the favicons to appear like so:
![mathesar_tables _ public _ Mathesar - Google Chrome 11_20_2022 2_45_10 PM (2)](https://user-images.githubusercontent.com/83036619/202903889-2007238d-a2b5-4fed-b2d2-7a7d4426335d.png)
But I struggled to understand how to use the `icons.ts` file and I'm not sure if the implementation adheres to your style guides but I tried to do it in a modularised manner.
I s

[2022-11-20 15:16] AlekLefebvre commented on #1584
I'd like to help with this issue.

[2022-11-20 18:33] seancolsen opened #1959 "Make Links section within table explorer clickable"
## Current behavior

- The Table Inspector has a "Links" section which shows other tables

    ![image](https://user-images.githubusercontent.com/42411/202919488-903b16d5-d91e-46ba-8f20-f5a04b6d298b.png)

- Clicking on these links does nothing

## Desired behavior

- Each entry should be a hyperlink to the Table Page for that table.

CC @rajatvijay

[2022-11-21 01:43] seancolsen opened #1960 "Pick better columns to show within the list of table links"
## Reproduce

1. Use the Library Management schema.

1. Open the Publication table page and look at the Links section within the table inspector.

    ![image](https://user-images.githubusercontent.com/42411/202919488-903b16d5-d91e-46ba-8f20-f5a04b6d298b.png)

1. Expect the column shown under "Authors" to be "Author", but observe it to be "id"
1. Expect the column shown under "Publishers" to be "P

[2022-11-21 01:49] pavish commented on #1960
This is mentioned as a review comment on the PR: https://github.com/centerofci/mathesar/pull/1876#discussion_r1027396659, where incorrect logic is used to identify the linked columns.

[2022-11-21 10:03] Dhruvi16 opened #1964 "Design for Importing data into existing tables"
## Problem
Users can import CSV files into Mathesar to create a new table. We want to extend this functionality so that they can import data into an existing table. We already have much of the backend work needed for this feature.

We need designs for:
UI for importing data into an existing table
UI to let users map columns from the file to the table
UI to preview data and confirm it looks good
Er

[2022-11-21 10:11] Dhruvi16 commented on #1964
Hey, @Anish9901 I have created this draft issue. And I am working on the design for this importing data into the existing table journey (for more info you can read the above details). I just had some questions for you. It will be great if you could answer them here.

1. How does column mapping actually work? Not sure about the cases that we have considered. It will be great if I could see some res

[2022-11-21 10:31] Dhruvi16 commented on #1964
I tried this user journey in Airtable - Just adding it here.
## Data preview
<img width="1792" alt="C9258FFB-4B17-49CA-8AA9-600A9541F8F0" src="https://user-images.githubusercontent.com/34674462/203027586-dbf80815-6f77-4825-ad8f-e900b8310e58.png">

## Column mapping
<img width="1792" alt="92187754-40B8-4B7E-8D10-68A727621BFB" src="https://user-images.githubusercontent.com/34674462/203027620-aba0965

[2022-11-21 14:39] seancolsen opened #1966 "Improve type safety for array indexed access."
## Problem

In this code, `myNumber` has type `number`, when its runtime value is actually `undefined`:

[code]

This can lead to bugs, ([example](https://github.com/centerofci/mathesar/pull/1876#discussion_r1027411805)).

## Potential solutions

- `(A)` Enable [noUncheckedIndexedAccess](https://www.typescriptlang.org/tsconfig#noUncheckedIndexedAccess) within tsconfig. This would likely lead to ma

[2022-11-21 14:52] seancolsen commented on #1520
@IyadElwy I see you have a [`adding_favicons` branch](https://github.com/centerofci/mathesar/compare/master...IyadElwy:mathesar:adding_favicons) within your fork, but I don't see a PR open for this work. The next step here is to open a PR with those changes. Then we can discuss your implementation within that PR.

[2022-11-21 14:57] seancolsen commented on #1584
This is going to be a heavier lift than the other things you've worked on so far, especially since it will require both front end changes _and_ back end changes (in Python). If you're up to the challenge, we'd love to have your help! Feel free to begin work and submit a PR when you're ready. I would strongly recommend submitting a back-end only PR first so that we can review/merge it before you sp

[2022-11-21 16:10] seancolsen commented on #1523
@pavish since you're more familiar with the filtering than me, would you be able to offer any tips/answers on the best implementation strategy here?

[2022-11-21 17:05] pavish commented on #1523
@LFLATH I wouldn't want to create a new type for FKs, because the columns themselves have associated data types which we need to preserve.

We should be checking if the column is a PK or an FK while choosing the filters. An approach already in place for our Cell component can be found in `getCellCap` and `getDbTypeBasedInputCap` functions within `cell-fabric/utils.ts`.

The change should not be do

[2022-11-21 18:56] LFLATH commented on #1523
Thank you!! That’s very helpful. I will start looking at that in a minute. Thanks for the rapid replies.

[2022-11-21 19:01] #1476 closed

[2022-11-22 01:44] LFLATH commented on #1523
Hello! I have a "working" solution for this problem, but I think that it is very inelegant. I am attaching two images of what the behavior currently looks like on my end. If this is what is envisioned, I can submit a PR, for review. Sorry for all the messages!!

<img width="629" alt="Screenshot 2022-11-21 at 8 42 06 PM" src="https://user-images.githubusercontent.com/63031670/203196338-346bd71d-a18

[2022-11-22 05:44] kgodey commented on #1520
@seancolsen the PR is #1958

[2022-11-22 09:43] pavish commented on #1523
@LFLATH The behavior from your screenshots is what we expect. Please raise a PR so that we can take a look at the code. Thanks!

[2022-11-22 12:48] #1951 closed

[2022-11-22 12:55] AlekLefebvre commented on #1584
@seancolsen Yes, no problem working in Python. I'll prepare a PR for the back end first.

[2022-11-22 14:20] Dhruvi16 commented on #1964
Understood! Thanks, @Anish9901 for the answers. Also exploring Airtable helped me a lot here to understand all of this.

[2022-11-22 16:49] seancolsen commented on #1520
Thanks, @kgodey. Not sure why I didn't see that before.

[2022-11-22 17:50] #1866 closed

[2022-11-22 18:53] pavish opened #1974 "Schema page requires an option to delete an exploration"
## Description
* We currently cannot delete an exploration from a schema page -> Exploration tab.
* We provide an option to delete tables, and we should do the same for explorations.

[2022-11-23 17:50] #1923 closed

[2022-11-24 01:04] kgodey opened #1978 "On schema page, entire table card should be clickable"
Currently, only the "Go to Table" area takes you to the table. But the entire card should be clickable and take you to the table (except for the "..." button and the "Find Record" button.

[2022-11-24 08:18] silentninja opened #1979 "Creating a Table with round brackets results in API error"
## Description
Creating a Table whose name contains round brackets, for example, a Table with the name "Cycle 6 (Release)" and then creating a foreign key referencing the Table causes most of the APIs to return an error. This happens due to a bug SQLAlchemy foreign key parsing regex.

## Expected behavior
Since the bug is due to SQLAlchemy, it is not feasible to fix it. So we should prevent creati

[2022-11-24 17:44] kgodey commented on #1979
I moved this to the first release milestone because this is a pretty severe bug, it ends up making the entire schema unusable.

It might also be worth creating an upstream issue for SQLAlchemy.

[2022-11-24 18:53] #1956 closed

[2022-11-24 19:24] pavish opened #1981 "Two different joinable paths to the same target, at the same depth, results in an error in Data Explorer"
## Description
* The following data results in an error on the frontend: `Failed to fetch column information: Multiple links present for the same column: 61051`
[code]

The table has two different columns pointing to the same target table.

[2022-11-25 05:39] lakshya-dhariwal commented on #1912
Hey @seancolsen I would like to take a stab at this.
Can I be assigned?

[2022-11-25 06:11] kgodey commented on #1912
Go ahead and submit a PR, @lakshya-dhariwal!

[2022-11-25 12:02] rajatvijay opened #1982 "Create a new tooltip component in the components library"
This component will also be used to show database config tooltip in table inspector

[2022-11-25 12:54] dmos62 opened #1983 "Fix hint system so that it doesn't have to be stubbed"
We're currently hardcoding on the frontend what filters, preproc functions are available and/or how they can be used. We designed the hint system for that, but there was some problem with that, so we ended up hardcoding, and postponed fixing the actual problem.

I don't recall what the actual problem was. @pavish do you have insights?

[2022-11-25 12:55] Dhruvi16 commented on #1964
So after analyzing and benchmarking the Airtable journey I feel these will be my steps to conquer this task (Very similar to initially laid out requirements) -
1. Figuring out the discovery journey of the data import option through CSV while adding records.
2. Figuring out import options (Might use the same journey/design as the current import but worth a revisit)
3. Preview the table data view wi

[2022-11-25 14:21] Anish9901 commented on #1979
I'd like to take this one. I have already figured out how to implement the solution proposed by @silentninja.

[2022-11-25 22:20] kgodey opened #1985 "Users & Permissions design"
# New pages

## New Admin section
We need a new section of Mathesar that's only accessible to administrators. For the purposes of this issue, we'll only be designing the "Users" sub-section but we'll be adding other sections as part of our installation and deployment work.

- [x] Main admin panel page
- [x] Users sub section
    - [x] See list of users
    - [x] See list of permissions for each us

[2022-11-25 22:49] kgodey opened #1986 "GitHub workflows are not actually updating fields correctly"
Reminder to myself to fix this at some point.

[2022-11-25 23:09] kgodey commented on #1964
@Dhruvi16 I'd like to see a complete checklist of requirements organized by new pages and changes to existing pages, e.g. see https://github.com/centerofci/mathesar/issues/1985. I think that will ensure that we're all on the same page and that the design is solving the right problems.

[2022-11-26 23:29] kgodey commented on #1986
Fixed in https://github.com/centerofci/mathesar/commit/8f95787ba5a58e3ba55ca769966580c673ca5325

[2022-11-26 23:29] #1986 closed

[2022-11-28 06:18] pavish commented on #1890
I'm not sure why this issue is categorized as 'frontend'. I believe we need further discussion before we have an action item to perform as part of this issue. I'm marking this as draft.

[2022-11-28 08:26] Dhruvi16 commented on #1964
Hey @kgodey! I have added a checklist. These are the changes and addition that I feel will be needed.

[2022-11-28 17:25] #1950 closed

[2022-11-28 19:04] pavish opened #1990 "Support descriptions for tables on the frontend"
* This issue is to track the implementation of descriptions for tables on the frontend.

[2022-11-28 19:08] pavish opened #1991 "Re-enable 'class-methods-use-this' eslint rule"
## Action item
The eslint rule [class-methods-use-this](https://eslint.org/docs/latest/rules/class-methods-use-this) needs to enabled, and files that do not follow the rule need to be fixed.

Related discussion: https://github.com/centerofci/mathesar/pull/1876#discussion_r1026673906

[2022-11-28 19:40] #1660 closed

[2022-11-28 19:40] #1960 closed

[2022-11-28 22:12] kgodey commented on #1964
@Dhruvi16, thanks for adding the checklist. From reading the checklist, I'm not fully understanding what you have in mind.

For example, I'm not sure what you mean by "Explore add record button for import." or "Explore table actions for import." or "Explore modal or full-screen view options." If I'm understanding them correctly, these seem more related to the design process than the output. Other

[2022-11-29 00:41] ayao451 commented on #1954
@kgodey Can I tackle this issue!

[2022-11-29 00:45] ayao451 commented on #1897
@seancolsen Can I tackle this issue!

[2022-11-29 01:06] kgodey commented on #1897
Sure, go ahead @ayao451!

[2022-11-29 01:07] kgodey commented on #1954
Sure, go ahead @ayao451!

[2022-11-29 12:20] #1766 closed

[2022-11-29 13:18] rajatvijay commented on #1897
Given how easy is to create a schema from FE, I expect this list to grow in the future. It will be better if we handle it on the BE, I think the effort is going to be somewhat similar

[2022-11-29 14:15] rajatvijay commented on #1966
I prefer option `A` since this is the most reliable one and can be enforced easily.

Adopting option `B` will lead to more conventions, one more thing to check while reviewing the PR. Also might get out of hand when we get more outside PRs.

Having said that: Since option `A` will take a LONGER time to implement, how about having a convention for option `B` for now and deprecating it when option `

[2022-11-29 14:59] #1596 closed

[2022-11-29 15:00] #1880 closed

[2022-11-29 15:07] dmos62 commented on #1795
When #1973 is merged, all major building blocks from the backend's side will be implemented, afaik. @pavish can we squeeze this into cycle 6?

If I recall correctly, we decided on finding a design that, when adding a one-to-many initial column, would ask the user if he wants us to add a default summarization.

[2022-11-29 15:17] dmos62 commented on #1803
This seems to already be done on backend. Removing `work: backend` label. Readd if I misunderstood something.

[2022-11-29 19:14] #1523 closed

[2022-11-29 20:54] seancolsen commented on #1702
This was addressed in #1932

[2022-11-29 20:54] #1702 closed

[2022-11-29 23:10] silentninja commented on #1985
@kgodey I have a few questions

- What does `For everyone` mean? For example in the case of database permission, can some user not having any role related to the database see the list of people with access to the database?

- > - Users with Viewer permission - Disable creating / deleting / editing explorations

    The [Permissions Spec](https://wiki.mathesar.org/en/product/specs/users-permissions

[2022-11-29 23:38] kgodey commented on #1985
Also thanks for catching these, @silentninja.

[2022-11-30 01:23] LFLATH commented on #1978
@kgodey Hello! I was thinking of taking on this issue. I messed around with it a little bit and have the current behavior. The whole card is clickable and takes the user to the table and the other sections are still working as before. I was wondering if you wanted the card to also have an altered style on hover. Currently, when hovering over it you wouldn't know the card is clickable unless you cl

[2022-11-30 03:02] kgodey commented on #1978
@LFLATH I do think it makes sense to transform the cursor and have a different background color. @ghislaineguerin, what should the background color for the main card body be?

[2022-11-30 16:17] #1151 closed

[2022-11-30 16:38] dmos62 opened #2001 "Make list of things that aren't reflectable and we want to backup"
We don't have a simple way to know which parts of Mathesar service state are not reflectable from a user database (e.g. queries or column display options). We want to have a comprehensive list, because those are the things we'll be backing up.

Related feature/issue: #1815

[2022-11-30 16:44] dmos62 commented on #2001
@silentninja do we need to backup anything that can't be reflected in relation to users and permissions?

[2022-11-30 16:56] dmos62 commented on #1815
Proposal we arrived at so far:

- CLI-only interface;
- database-level backups (schema-level harder to do, because of dependencies);
- dump user database with `pg_dump`;
- dump relevant Mathesar state (like queries and display options; see #2001) to a JSON structure;
- the JSON will mostly consist of regular serializations of our service layer structures, but it will also include a mapping from ba

[2022-11-30 17:04] dmos62 opened #2002 "Investigate putting JSON inside an SQL dump"
Related issue: #1815

When making backups, we need to store an SQL dump (probably from `pg_dump`) and some JSON describing non-reflectable Mathesar state, like queries and display options. It would not be ideal to keep these two pieces of data in two separate files. Another non-ideal solution is to archive the two files.

This issue is about investigating putting that JSON inside the SQL dump, in

[2022-11-30 17:05] kgodey commented on #1815
@dmos62 how will restoring work? Will the entire database be over-written, or will we need to implement a UI for switching between databases?

[2022-11-30 17:08] kgodey commented on #2001
Quick note that @mathemancer might have done some work related to this while making Explorations and display options part of the dataset for the live demo.

[2022-11-30 17:10] kgodey commented on #1815
Okay, so for the new user database to be accessible in the UI, we'll need to do some design and frontend work for a mechanism to switch between databases. Please add that to the requirements, it shouldn't be much work.

[2022-11-30 17:14] silentninja commented on #2001
All the Models in the [users module](https://github.com/centerofci/mathesar/blob/23595de7864098468ebe2d1501f89182aa45adc9/mathesar/models/users.py) can't be reflected

[2022-11-30 17:16] dmos62 commented on #1815
Edited the [first comment](https://github.com/centerofci/mathesar/issues/1815#issuecomment-1332464972).

[2022-11-30 17:35] #1867 closed

[2022-11-30 18:59] #1869 closed

[2022-11-30 19:00] LFLATH commented on #1978
I messed around a little bit in the styles and currently have it looking like this. There is that awkward white bar at the bottom which I don't think looks great.

<img width="520" alt="Screenshot 2022-11-30 at 1 51 57 PM" src="https://user-images.githubusercontent.com/63031670/204883691-ad00b815-56b9-4ed5-8bb7-ce254aeb4762.png">

When I applied the styles to the whole container it looks like this

[2022-11-30 19:53] mathemancer commented on #1897
Also, we're paginating (or can paginate) the results on the back end (if there are enough of them). This would require sorting them consistently in the back end.

[2022-11-30 19:57] kgodey commented on #1897
I removed the frontend label from the issue.

[2022-11-30 20:00] kgodey commented on #1978
I'm pretty terrible at frontend stuff but @seancolsen or @rajatvijay should be able to help with applying the hover. I agree that we only want it to apply to the card area and not the buttons, and we don't want the white bar.

[2022-11-30 20:32] LFLATH commented on #1978
I have messed around with the styles a little bit and have reached the current look.
<img width="1116" alt="Screenshot 2022-11-30 at 3 31 51 PM" src="https://user-images.githubusercontent.com/63031670/204901948-2f0f77a5-c44f-451c-8045-fa3a8ca3ddaa.png">
I think this is similar to what is desired, but I am not sure. There is probably a way better way to do this though!

[2022-11-30 20:38] #1602 closed

[2022-11-30 20:48] seancolsen commented on #1978
@LFLATH without seeing your CSS it's hard to offer much critique. Feel free to open a PR with your changes and we can continue the conversation there.

That said, here are a few thoughts about the approach we ought to take...

- The card needs to have a hyperlink covering its entire area.

- _Within_ the card, we need to have a couple buttons.

- That combination of requirements is tricky because

[2022-11-30 21:58] LFLATH commented on #1978
@seancolsen  I am super sorry for not considering that! I am still getting used to working with other people. I made a PR for my current approach, but when I get a second I will implement what you have mentioned. Sorry about this again!

[2022-11-30 23:45] kgodey opened #2004 "Record summaries of `NULL` values should not show "null" text."
## Reproducing
1. See Author in https://staging.mathesar.org/mathesar_tables/318/tables/19749/17. The record summary is configured to be `{first name} {last name}` and this author (who has no first name) is showing up as `null Abu'l-Fazl`
1. Also see Language in https://staging.mathesar.org/mathesar_tables/318/tables/19749/1, which is showing up as "null"

## What I'd expect
1. The record summary

[2022-11-30 23:47] kgodey commented on #2004
Not sure if this is a backend or frontend issue so assigning both to @silentninja and @seancolsen.

[2022-11-30 23:47] kgodey commented on #2004
Also this is the data set we're going to be using for the demo video, so this is high priority.